{% extends "base.html" %}
{% block page_content %}

<div style="min-width: 800px;margin-left: 9vw;">

	<div class="row">
		&nbsp;&nbsp;&nbsp;
		<h2 style="margin-right: 345px;">论坛</h2>
		<h2>当前人数：{{user_num}}</h2>
	</div>

    <hr>

     <div class="row">
      
	  <div class="column1">
	  	        
        {% for category in categories1 %}

        <h2 style="padding:0 120px 0 15px;"><a style="color: #00008B;" href="{% url 'blog_category' category.name %}">
        {{ category.name }}
        </a>&nbsp;<h2>
        {% endfor %}
	  </div>
	  <div class="column2">
	  	        
        {% for category in categories2 %}

        <h2><a style="color: #00008B;" href="{% url 'blog_category' category.name %}">
        {{ category.name }}
        </a>&nbsp;<h2>
        {% endfor %}
	  </div>
	</div> 
        
</div>

{% endblock %}
