{% extends "base.html" %}
{% block page_content %}

<div class="col-md-8 offset-md-2">

    <h1>{{ category | title }}</h1>

    <hr>

    {% if user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'create_blog' category%}">新建帖子</a>
    {% else %}
        <h4>登录发帖</h4>

    {% endif %}

    {% for post in posts %}
        <h2><a href="{% url 'blog_detail' post.pk%}">{{ post.title }}</a></h2>
        <small>
            {{ post.author }} |&nbsp;
            {{ post.created_on.date }} |&nbsp;
            Categories:&nbsp;
            {% for category in post.categories.all %}
            <a href="{% url 'blog_category' category.name %}">
                {{ category.name }}
            </a>&nbsp;
            {% endfor %}
        </small>
        <p>{{ post.body | slice:":400" }}...</p>
    {% endfor %}
</div>

{% endblock %}