{% extends "base.html" %}
{% block page_content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style type="text/css">
	* {
	  box-sizing: border-box;
	}

	/* Style the search field */
	form.example input[type=text] {
	  padding: 10px;
	  font-size: 17px;
	  border: 1px solid grey;
	  float: left;
	  width: 60%;
	  height: 20%;
	  background: #f1f1f1;
	}

	/* Style the submit button */
	form.example button {
	  float: left;
	  width: 20%;
	  height: 20%;
	  padding: 10px;
	  background: #2196F3;
	  color: white;
	  font-size: 17px;
	  border: 2.5px solid #2196F3;
	  border-left: none; /* Prevent double borders */
	  cursor: pointer;
	}

	form.example button:hover {
	  background: #0b7dda;
	}

	/* Clear floats */
	form.example::after {
	  content: "";
	  clear: both;
	  display: table;
	}
</style>

<div style="min-width: 900px;margin-left: 200px;">

	<div class="row">
		&nbsp;&nbsp;&nbsp;
		<h2 style="margin-right: 15%;">论坛</h2>
		<h2 style="margin-right: 15%;">当前人数：{{user_num}}</h2>
		
		<form class="example" action="{% url 'blog_search' %}" method="get">
  			<input type="text" placeholder="Search.." name="search_result">
  			<button type="submit"><i class="fa fa-search"></i></button>
		</form>
	</div>

    <hr>

     <div class="row">
      
	  <div class="column1">
	  	        
        {% for category in categories1 %}

        <h2 style="padding:0 120px 0 15px;"><a style="color: #00008B;" href="{% url 'blog_category' category.name %}">
        {{ category.name }}
        </a>&nbsp;<h2>
        {% endfor %}
	  </div>
	  <div class="column2">
	  	        
        {% for category in categories2 %}

        <h2><a style="color: #00008B;" href="{% url 'blog_category' category.name %}">
        {{ category.name }}
        </a>&nbsp;<h2>
        {% endfor %}
	  </div>
	</div> 
        
</div>

{% endblock %}
