{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>{{ post.title }}</h1>
    <small>
        {{ post.author }} |&nbsp;
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p>{{ post.body | linebreaks }}</p>

    {% ifequal finished False %}

    {% else %}
    <a style="font-weight: bold; font-size: 25px;" href="{% url 'blog_category' post.categories.all.0.name %}">
            返回
        </a>&nbsp;
    
    {% endifequal %}
    
    <h3>评论:</h3>
    {% for comment in comments %}
    <p>
        On {{ comment.created_on.date }}&nbsp;
        <b>{{ comment.author }}</b>
    </p>
    <p>{{ comment.body }}</p>
    <hr>
    {% endfor %}

    <h3>发表评论:</h3>
    <form action="/blog/{{ post.pk }}/" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">提交</button>
    </form>
</div>
{% endblock %}