{% extends "base.html" %}
{% block page_content %}
{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style type="text/css">
	* {
	  box-sizing: border-box;
	}

	/* Style the search field */
	form.example input[type=text] {
	  padding: 10px;
	  font-size: 17px;
	  border: 1px solid grey;
	  float: left;
	  width: 60%;
	  height: 80%;
	  background: #f1f1f1;

	  margin-top: 12px;
	}

	/* Style the submit button */
	form.example button {
	  float: left;
	  width: 20%;
	  height: 80%;
	  padding: 10px;
	  background: #2196F3;
	  color: white;
	  font-size: 17px;
	  border: 2.5px solid #2196F3;
	  border-left: none; /* Prevent double borders */
	  cursor: pointer;

	  margin-top: 12px;
	}

	form.example button:hover {
	  background: #0b7dda;
	}

	/* Clear floats */
	form.example::after {
	  content: "";
	  clear: both;
	  display: table;
	}


	.container .box { 
	    width:730px; 
	    margin:0 auto;
	    display:table; 
	} 
	.container .box .box-row { 
		display:table-row; 
	} 
	.container .box .box-cell { 
		display:table-cell; 
		border-style: groove;
		padding:10px; 
		
	} 
	.container .box .box-cell.box1 { 
		background: url("{% static "img/sketch/a3.png" %}") top left no-repeat, 
                url("{% static "img/sketch/a4.png" %}") bottom left no-repeat;
		
		box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);

		text-align:justify; 
	} 
	.container .box .box-cell.box2 { 
		background: url("{% static "img/sketch/a6.png" %}") top left no-repeat, 
                url("{% static "img/sketch/a0.png" %}") bottom left no-repeat;
		box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);

		text-align:justify 

	} 

	#blog_top {
		background: url("{% static "img/sketch/a6.png" %}") top left no-repeat, 
                url("{% static "img/sketch/a0.png" %}") bottom left no-repeat;
		box-shadow: inset 0 0 0 1000px rgba(200,247,216,.9);
		margin:0 auto;
		border-style: groove;
	}
	

</style>

<br>
<div >

	<div class="container" > 
	<div id="blog_top" class="row" align="center" style="width: 730px;margin:0 auto;">

		
		<h2 style="margin-right: 160px; margin-left: 10px; margin-top: 8px; font-weight: bold;">当前人数：{{user_num}}</h2>
		
		<form class="example" action="{% url 'blog_search' %}" method="get">
  			<input type="text" placeholder="Search.." name="search_result">
  			<button type="submit"><i class="fa fa-search"></i></button>
		</form>
	</div>

    </div>

<div class="container"> 
    <div class="box"> 
        <div class="box-row">

            <div class="box-cell box1" style="width: 50%;" > 
            	
            	{% for category in categories1 %}

		        <h2 ><a style="color: #7FFFD4;" href="{% url 'blog_category' category.name %}">
		        {{ category.name }}
		        </a>&nbsp;<h2>
		        <hr>
		        {% endfor %}
                
            </div> 
              
            <div class="box-cell box2" > 
            	{% for category in categories2 %}

		        <h2><a style="color: #7FFFD4;" href="{% url 'blog_category' category.name %}">
		        {{ category.name }}
		        </a>&nbsp;<h2>
		        <hr>
		        {% endfor %}
           
            </div> 
        
        </div> 

    </div> 
    
</div>

<br>
        
</div>

{% endblock %}
