{% extends "base.html" %}
{% load static %}
{% block page_content %}

<html lang="zh">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<head>
		<meta charset="utf-8" />

		<style>

		.me, .doge, .han, .bob, .sy, .bancheng, .ziyuan, .shehuizhu, .weisuo, .jihexue, .A126, .rmlx, .ZV, .shayu, .muday, .wuyu, .star, .yehen, .bairen, .yubanqiu, .xiaochunjie, .dagezi, .caibi, .mushi, .shuidongle, .suli, .qie, .zochary, .bhjk, .canglong, .jingling, .moyu, .yanmie, .youlun, .shaobing, .laer, .wanghun, .letme96, .zhuyan, .hk007, .zuomu, .yuba, .wuxian, .hexie, .qiuqiu, .huaji
		{
		    width: 120px;
		    height: 120px;
		    margin-right: 30px;
		}

		h5 {
			width: 600px;

		}
		div .row {
			min-width: 900px;
			height: 150px;
		}

		#thanks {
			height: 80px;
		}

		</style>

	</head>


	<body style="min-width: 1000px;">
		</br>
		<div class="container" align="justify">
		
		<div class="row">
		<img class="me" align="left" src="{% static "img/me.jpg" %}">
		</br>
		<h5>
		烧碱：烧碱教派创始人，本站作者。
		</h5>
		</div>
		

		<div class="row">
		<img class="doge" align="left" src="{% static "img/doge.jpg" %}">
		</br>
		<h5>
		Doge：烧碱教派创始人，现烧碱教派教主。
		</h5>
		</div>

		
		<div class="row">
		<img class="han" align="left" src="{% static "img/han.png" %}">
		</br>
		<h5>
		憨批：烧碱教派创始人，现烧碱教派教皇。
		</h5>
		</div>

		<div class="row">
		<img class="weisuo" align="left" src="{% static "img/weisuo.jpg" %}">
		</br>
		<h5>
		猥琐：烧碱教派创始人，现烧碱教派护教法王。
		</h5>
		</div>

		<div class="row">
		<img class="A126" align="left" src="{% static "img/A126.jpg" %}">
		</br>
		<h5>
		A126：烧碱教派创始人，现烧碱教派光明左使。
		</h5>
		</div>

		<div class="row">
		<img class="jihexue" align="left" src="{% static "img/jihexue.jpg" %}">
		</br>
		<h5>
		几何学：烧碱教派创始人，现烧碱教派光明右使。
		</h5>
		</div>

		<br>

		<div id = "thanks" class="row">
		<h4>
		特别鸣谢：
		</h4>
		<br>
		<br>
	    </div>

	    <div class="row">
		<img class="wanghun" align="left" src="{% static "img/wanghun.jpg" %}">
		</br>
		<h5>
		亡魂：红色警戒顶尖高手。培养过数位高手，帮助过大批新人，留下数篇经典教程，为红色警戒的发展做出极大贡献。
		</h5>
		</div>

		<div class="row">
		<img class="bob" align="left" src="{% static "img/bob.jpg" %}">
		</br>
		<h5>
		Bob：红色警戒顶尖高手，对游戏的理解登峰造极，擅长多线分兵，坦克操作极其强大，精通所有阵营及战术。
		</h5>
		</div>

		<div class="row">
		<img class="sy" align="left" src="{% static "img/sy.jpg" %}">
		</br>
		<h5>
		SY：尤里复仇顶尖高手，实战经验丰富，精通各种地图的打法，RT战队队内赛冠军。
		</h5>
		</div>

		<div class="row">
		<img class="canglong" align="left" src="{% static "img/canglong.jpg" %}">
		</br>
		<h5>
		钎月苍龙：烧碱教派内阁，原版1.006顶尖高手，T18新人接待，游戏理解出神入化，冰天雪地炉火纯青，冰天雪地对战型AI创始人。
		</h5>
		</div>


		<div class="row">
		<img class="shehuizhu" align="left" src="{% static "img/shehuizhu.jpg" %}">
		</br>
		<h5>
		社会猪：原版1.006顶尖高手，T18战队总考官，战术多样打法风骚，曾在T18队内赛战胜全国冠军97，冰天雪地地图具有全国前八的实力（社会猪本人认为是第一）。
		</h5>
		</div>

		<div class="row">
		<img class="ziyuan" align="left" src="{% static "img/ziyuan.jpg" %}">
		</br>
		<h5>
		紫源：红色警戒顶尖高手，操作无与伦比，观看其比赛是一种享受，巅峰时期曾和红色警戒全国第一高手黑鹰月亮3可以一战。
		</h5>
		</div>

		<div class="row">
		<img class="star" align="left" src="{% static "img/star.jpg" %}">
		</br>
		<h5>
		星星：尤里复仇顶尖高手，红色警戒MOD制作人，对尤里复仇的发展作出巨大贡献，尤里的使用徒步天下。
		</h5>
		</div>


		<div class="row">
		<img class="bancheng" align="left" src="{% static "img/bancheng.jpg" %}">
		</br>
		<h5>
		半城：红色警戒原版1.006及尤里复仇顶尖高手，运营能力十分强悍，对战时的防守近乎完美，现NSP战队总考官。
		</h5>
		</div>

		<div class="row">
		<img class="hk007" align="left" src="{% static "img/hk007.jpg" %}">
		</br>
		<h5>
		007：红色警戒尤里复仇顶尖高手，鹰眼战队队长，其拉牛战术在尤里复仇范围内令各路高手闻风丧胆。
		</h5>
		</div>

		<div class="row">
		<img class="wuyu" align="left" src="{% static "img/wuyu.jpg" %}">
		</br>
		<h5>
		无语：红色警戒1.006知名高手，黑鹰战队前队长，为人低调，实力强大，热衷复读。
		</h5>
		</div>

		<div class="row">
		<img class="shuidongle" align="left" src="{% static "img/shuidongle.jpg" %}">
		</br>
		<h5>
		RBQ：红色警戒资深玩家，尤里复仇及心灵终结知名高手，RT战队上将，尤里3V3顶尖高手。
		</h5>
		</div>

		<div class="row">
		<img class="zuomu" align="left" src="{% static "img/zuomu.jpg" %}">
		</br>
		<h5>
		柞木：红色警戒尤里复仇知名高手，精通各种打法，B站知名红警主播，精通各种换家战术。
		</h5>
		</div>

		<div class="row">
		<img class="youlun" align="left" src="{% static "img/youlun.jpg" %}">
		</br>
		<h5>
		东约特兰：红色警戒知名地图制作人，曾为红色警戒非官方地图池贡献多个地图，其地图风格在国内独树一帜。
		</h5>
		</div>

		<div class="row">
		<img class="shaobing" align="left" src="{% static "img/shaobing.jpg" %}">
		</br>
		<h5>
		烧饼：红色警戒知名女装大佬，地图制作人，红色警戒理论大师，曾在苏军任务第八关首都之辱中创下了1分41秒的通关纪录。
		</h5>
		</div>

		<div class="row">
		<img class="zhuyan" align="left" src="{% static "img/zhuyan.jpg" %}">
		</br>
		<h5>
		主演：红色警戒1.006资深玩家，幻影战队元老，操作强大，进攻犀利，冰天雪地造诣极深。
		</h5>
		</div>

		<div class="row">
		<img class="laer" align="left" src="{% static "img/laer.jpg" %}">
		</br>
		<h5>
		拉尔：红色警戒知名高手，CR战队顶尖战力，操作极其强大，曾吊打过各路知名高手。
		</h5>
		</div>

		<div class="row">
		<img class="yanmie" align="left" src="{% static "img/yanmie.jpg" %}">
		</br>
		<h5>
		湮灭之狼：尤里复仇高手，CR战队分部部长，GL堂堂主，精通养猪之道，常常将对手养到生活不能自理。
		</h5>
		</div>

		<div class="row">
		<img class="letme96" align="left" src="{% static "img/96.jpg" %}">
		</br>
		<h5>
		Letme（96）：红色警戒原版1.006和尤里复仇高手，T18战队队员，战术思路清晰果断，小图打法风骚，冰天雪地打法多种多样，叱咤风云。
		</h5>
		</div>

		<div class="row">
		<img class="qiuqiu" align="left" src="{% static "img/qiuqiu.jpg" %}">
		</br>
		<h5>
		球球：红色警戒1.006及尤里复仇高手，操作强大，打法风骚，完美战队组织部部长。
		</h5>
		</div>

		<div class="row">
		<img class="qie" align="left" src="{% static "img/qie.jpg" %}">
		</br>
		<h5>
		企鹅：烧碱教派内阁，红色警戒高手，bob杯冠军，对坦克阵型有很深的研究，尤里复仇破要塞流第一人。
		</h5>
		</div>


		<div class="row">
		<img class="dagezi" align="left" src="{% static "img/dagezi.jpg" %}">
		</br>
		<h5>
		大鸽子：红色警戒全能玩家，精通原版1.006，尤里复仇，共和国之辉，MO等四个版本的打法。
		</h5>
		</div>


		<div class="row">
		<img class="moyu" align="left" src="{% static "img/moyu.jpg" %}">
		</br>
		<h5>
		摸鱼：尤里复仇知名高手，RT战队元老，精通3线操作，强大的分兵能力经常令对手难以应对。
		</h5>
		</div>

		<div class="row">
		<img class="xiaochunjie" align="left" src="{% static "img/xiaochunjie.jpg" %}">
		</br>
		<h5>
		小纯洁：烧碱教派内阁，红色警戒地图制作人，全局意识强大，精通坦克微操。
		</h5>
		</div>

		<div class="row">
		<img class="shayu" align="left" src="{% static "img/shayu.jpg" %}">
		</br>
		<h5>
		鲨鱼：烧碱教派内阁，尤里复仇知名高手，精通尤里复仇各种小地图。
		</h5>
		</div>

		<div class="row">
		<img class="jingling" align="left" src="{% static "img/rthexie.jpg" %}">
		</br>
		<h5>
		和谐：红色警戒尤里复仇玩家，地图制作人，对于地图的设计有很深的研究。
		</h5>
		</div>

		<div class="row">
		<img class="suli" align="left" src="{% static "img/suli.jpg" %}">
		</br>
		<h5>
		酥梨：烧碱教派内阁，尤里复仇玩家，擅长盟军快攻，盟军骚扰。
		</h5>
		</div>

		<div class="row">
		<img class="yehen" align="left" src="{% static "img/yehen.jpg" %}">
		</br>
		<h5>
		夜痕：尤里复仇玩家，擅长尤里的使用，尤里复仇全能王4强，3v3配合顶尖。
		</h5>
		</div>

		<div class="row">
		<img class="yubanqiu" align="left" src="{% static "img/yubanqiu.jpg" %}">
		</br>
		<h5>
		御坂球：尤里复仇知名玩家，尤里复仇埃及之旅顶尖高手。
		</h5>
		</div>

		<div class="row">
		<img class="huaji" align="left" src="{% static "img/huaji.jpg" %}">
		</br>
		<h5>
		滑稽：尤里复仇玩家，擅长战术总结分析，对很多地图都有独到的见解。
		</h5>
		</div>

		<div class="row">
		<img class="caibi" align="left" src="{% static "img/caibi.jpg" %}">
		</br>
		<h5>
		彩笔：烧碱教派内阁，红色警戒玩家，擅长分兵，精通伊拉克及尤里的使用。
		</h5>
		</div>


		<div class="row">
		<img class="jingling" align="left" src="{% static "img/jingling.jpg" %}">
		</br>
		<h5>
		精灵：烧碱教派内阁，精通YR大型混战地图，埃及之旅尤里内战独树一帜。
		</h5>
		</div>

		<div class="row">
		<img class="jingling" align="left" src="{% static "img/wuxian.jpg" %}">
		</br>
		<h5>
		无弦之琴：B站红色警戒主播，专治各种电脑，对于红色警戒单机战术有很深的研究，对战中非常擅长心理战。
		</h5>
		</div>

		<div class="row">
		<img class="zochary" align="left" src="{% static "img/zochary.jpg" %}">
		</br>
		<h5>
		Zochary：烧碱教派内阁，尤里复仇玩家，擅长暴兵暴重拉基地拉牛等不寻常打法。
		</h5>
		</div>

		<div class="row">
		<img class="mushi" align="left" src="{% static "img/mushi.jpg" %}">
		</br>
		<h5>
		沐诗：烧碱教派内阁，尤里复仇玩家，操作迅猛，劣势下往往能够翻盘。
		</h5>
		</div>

		<div class="row">
		<img class="muday" align="left" src="{% static "img/muday.jpg" %}">
		</br>
		<h5>
		Muday：烧碱教派内阁，红色警戒资深玩家，尤里复仇高手。
		</h5>
		</div>


		<div class="row">
		<img class="ZV" align="left" src="{% static "img/ZV.jpg" %}">
		</br>
		<h5>
		ZV：烧碱教派内阁，尤里复仇玩家，精通使用红色警戒开源库OpenRa。
		</h5>
		</div>

		<div class="row">
		<img class="rmlx" align="left" src="{% static "img/rmlx.jpg" %}">
		</br>
		<h5>
		Rmlx：红色警戒玩家，打法灵活战术多样。
		</h5>
		</div>


		<div class="row">
		<img class="bairen" align="left" src="{% static "img/bairen.jpg" %}">
		</br>
		<h5>
		白人：尤里复仇玩家，白色战队队长，利比亚选手，精通自爆卡车的各种使用方式，为红色警戒国家的多样性作出不可磨灭的贡献。
		</h5>
		</div>


		<div class="row">
		<img class="bhjk" align="left" src="{% static "img/bhjk.jpg" %}">
		</br>
		<h5>
		BHJK：尤里复仇玩家，擅长各种偷家战术，偷袭过多位高手，曾战胜白色战队队长白人，一战成名。
		</h5>
		</div>

		</div>

	    </br>
		</br>

		</br>
		</br>
		</br>

	</body>

</html>
{% endblock %}
