{% extends "base.html" %}
{% load static %}
{% block page_content %}

<html lang="zh">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<head>
		<meta charset="utf-8" />

		<style>

		.me, .doge, .han, .bob, .sy, .bancheng, .ziyuan, .shehuizhu, .weisuo, .jihexue, .A126, .rmlx, .ZV, .shayu, .muday, .wuyu, .star, .yehen, .bairen, .yubanqiu, .xiaochunjie {
		    width: 120px;
		    height: 120px;
		    margin-right: 30px;
		}

		</style>
	</head>

	<body>

		<img class="me" align="left" src="{% static "img/me.jpg" %}">
		</br>
		<h5>
		烧碱：烧碱教派创始人。本站作者。
		</h5>
		</br>
		</br>
		</br>
		</br>

		<img class="doge" align="left" src="{% static "img/doge.jpg" %}">
		</br>
		<h5>
		Doge：烧碱教派创始人。红色警戒知名高手。现烧碱教派教主。
		</h5>
		</br>
		</br>
		</br>
		</br>
		
		<img class="han" align="left" src="{% static "img/han.png" %}">
		</br>
		<h5>
		憨批：烧碱教派创始人。红色警戒知名高手。现烧碱教派教皇。
		</h5>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>

		<h5>
		特别鸣谢：
		</h5>
		</br>
		</br>

		<img class="bob" align="left" src="{% static "img/bob.jpg" %}">
		</br>
		<h5>
		bob：红色警戒顶尖高手，擅长多线分兵，坦克操作极其强大，精通 1v1 2v2 3v3。
		</h5>
		</br>
		</br>
		</br>
		</br>

		<img class="sy" align="left" src="{% static "img/sy.jpg" %}">
		</br>
		<h5>
		sy：尤里复仇顶尖高手，精通各种地图，RT战队队内赛冠军。
		</h5>
		</br>
		</br>
		</br>
		</br>

		<img class="bancheng" align="left" src="{% static "img/bancheng.jpg" %}">
		</br>
		<h5>
		半城：红色警戒原版1.006及尤里复仇顶尖高手，NSP战队总考官。
		</h5>
		</br>
		</br>
		</br>
		</br>

		<img class="ziyuan" align="left" src="{% static "img/ziyuan.jpg" %}">
		</br>
		<h5>
		紫源：红色警戒顶尖高手，巅峰时期和红色警戒全国第一高手黑鹰月亮3实力不相上下。
		</h5>
		</br>
		</br>
		</br>
		</br>

		<img class="star" align="left" src="{% static "img/star.jpg" %}">
		</br>
		<h5>
		星星：尤里复仇顶尖高手，红色警戒MOD制作者，尤里的使用徒步天下。
		</h5>
		</br>
		</br>
		</br>
		</br>

		<img class="shehuizhu" align="left" src="{% static "img/shehuizhu.jpg" %}">
		</br>
		<h5>
		社会猪：红色警戒原版1.006顶尖高手，T18战队招兵部长，冰天雪地全国前十。
		</h5>
		</br>
		</br>
		</br>
		</br>


		<img class="weisuo" align="left" src="{% static "img/weisuo.jpg" %}">
		</br>
		<h5>
		猥琐：尤里复仇知名高手，埃及之旅出神入化。
		</h5>
		</br>
		</br>
		</br>
		</br>

		<img class="jihexue" align="left" src="{% static "img/jihexue.jpg" %}">
		</br>
		<h5>
		几何学：尤里复仇知名高手，红色警戒几何学创始人。
		</h5>
		</br>
		</br>
		</br>
		</br>

		<img class="A126" align="left" src="{% static "img/A126.jpg" %}">
		</br>
		<h5>
		A126：尤里复仇知名高手，红色警戒战网管理员。
		</h5>
		</br>
		</br>
		</br>
		</br>

		<img class="wuyu" align="left" src="{% static "img/wuyu.jpg" %}">
		</br>
		<h5>
		无语：红色警戒知名高手，黑鹰战队前队长，为人低调，实力强大，热衷复读。
		</h5>
		</br>
		</br>
		</br>
		</br>

		<img class="xiaochunjie" align="left" src="{% static "img/xiaochunjie.jpg" %}">
		</br>
		<h5>
		小纯洁：尤里复仇知名高手，全局意识强大，精通坦克微操。
		</h5>
		</br>
		</br>
		</br>
		</br>

		<img class="yehen" align="left" src="{% static "img/yehen.jpg" %}">
		</br>
		<h5>
		夜痕：尤里复仇知名高手，擅长尤里的使用，3v3配合顶尖。
		</h5>
		</br>
		</br>
		</br>
		</br>

		<img class="rmlx" align="left" src="{% static "img/rmlx.jpg" %}">
		</br>
		<h5>
		rmlx：尤里复仇知名高手，打法灵活战术多样。
		</h5>
		</br>
		</br>
		</br>
		</br>

		<img class="yubanqiu" align="left" src="{% static "img/yubanqiu.jpg" %}">
		</br>
		<h5>
		御坂球：尤里复仇知名高手，埃及之旅顶尖高手。
		</h5>
		</br>
		</br>
		</br>
		</br>

		<img class="ZV" align="left" src="{% static "img/ZV.jpg" %}">
		</br>
		<h5>
		ZV：尤里复仇知名高手，精通使用红色警戒开源库OpenRa。
		</h5>
		</br>
		</br>
		</br>
		</br>

		<img class="shayu" align="left" src="{% static "img/shayu.jpg" %}">
		</br>
		<h5>
		鲨鱼：尤里复仇知名高手，精通尤里复仇各种小地图。
		</h5>
		</br>
		</br>
		</br>
		</br>

		<img class="bairen" align="left" src="{% static "img/bairen.jpg" %}">
		</br>
		<h5>
		白人：尤里复仇知名高手，白色战队队长，精通自爆卡车的各种使用方式。
		</h5>
		</br>
		</br>
		</br>
		</br>

		<img class="muday" align="left" src="{% static "img/muday.jpg" %}">
		</br>
		<h5>
		Muday：尤里复仇知名高手，红色警戒资深玩家。
		</h5>
		</br>
		</br>
		</br>
		</br>


	    </br>
		</br>

	    </br>
		</br>

		<i class="fa fa-wechat" style="font-size:48px;color:#00FF00;margin-right:30px"></i>
		<i class="fa fa-qq" style="font-size:48px;color:black;margin-right:30px"></i>
		<i class="fa fa-facebook-official" style="font-size:48px;color:blue;margin-right:30px"></i>

		<i class="fa fa-twitter" style="font-size:48px;color:#A9D8FF;margin-right:30px"></i>

		<i class='fa fa-amazon' style="font-size:48px;color:black;margin-right:30px"></i>

		<i class='fa fa-apple' style="font-size:48px;color:black;margin-right:30px"></i>

		<i class='fa fa-instagram' style="font-size:48px;color:purple;margin-right:30px"></i>

		<i class='fa fa-google' style="font-size:48px;color:blue;margin-right:30px"></i>

		<i class='fa fa-snapchat' style="font-size:48px;color:#FFFF00;margin-right:30px"></i>

		<i class='fa fa-git-square' style="font-size:48px;color:black;margin-right:30px"></i>

		<i class='fa fa-imdb' style="font-size:48px;color:#CCCC00;margin-right:30px"></i>

		<i class='fa fa-linkedin' style="font-size:48px;color:#3498db;"></i>

		</br>
		</br>
		</br>

	</body>
</html>
{% endblock %}
