{% extends "base.html" %}
{% block page_content %}
{% load static %}
<html lang="zh">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">

</style>

<head>
    <meta charset="utf-8" />
    <style>
    	  .logo2 {
		      width: 130px;
		      height: 65px;
		      margin-right: 30px;
		    }

        h5 {
            max-width: 850px;
        }

        h4 {
            width: 850px;
        }
        
    </style>
</head>
<body>
<br/>

<div >
<img class="logo2" align="left" src="{% static "img/NaOH.png" %}">

<h1>NaOH Group 烧碱教派</h1>
<br/>
<br>
<h4 align="justify">
  <p>
  烧碱教派成立于2019年8月，由红警爱好者自由组成，成员分布于各个战队。我们致力于为广大玩家提供一个技术交流及交友的平台，同时我们也将数字技术应用在红色警戒中。烧碱教派秉承着和谐友爱的精神，致力于红色警戒的推广以及提升用户体验。我们热爱红警，我们是一群有理想的有志青年。
  </p>
  <br/>
  <p>我们提供的服务：</p>
  <p>1. 为您提供游戏的下载及安装指导。</p>
  <p>2. 为您提供对战平台的下载及安装指导。</p>
  <p>3. 如果您是新玩家，我们将会为您提供单机教学及新手对战教学。</p>
  <p>4. 为您解决游戏安装问题如win10系统兼无法兼容等问题的指导。</p>
  <p>5. 根据您的对战习惯为您提供1对1的个性化指导。</p>
  <p>6. 为您提供详细的地图池介绍及相应战术。</p>
  <p>7. 为您提供军衔预测服务。</p>
  <p>8. 根据海量数据分析的结果为您提供各个地图各阵营的优劣势统计。
</h4>

<br/><br/>

<h4 align="justify">
  <p>
  Founded in 2019, NaOH Group is an organization dedicating to provide a platform for Red Alert players to communicate with each other and promote the spread of Red Alert all over the world. Meanwhile, we apply digital business transformation to the game, providing customer solutions for various users. We are all composed of Red Alert players and are welcome more players to join us! We love Red Alert and we are people with dreams!
  </p>
  <br/>
  <p>Our service: </p>
  <p>1. Provide guide for game download and installation.</p>
  <p>2. Provide guide for game platform download and installation.</p>
  <p>3. Provide guide for single-player mode and multi-player mode. </p>
  <p>4. Help solve installation problems such as Win10-incompatible.</p>
  <p>5. Provide personalized teaching according to customer's advantages.</p>
  <p>6. Provide comprehensive tutorials for all official maps.</p>
  <p>7. Provide level prediction service.</p>
  <p>8. Provide statistical reports for maps and camps according to massive data analysis results.</p>

</h4>
<br/><br/>


<h4>  

    商务合作-QQ: 1968985535 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Business Cooperation-QQ: 1968985535

    <br/><br/>

    加入我们-QQ群: 818167896 &nbsp&nbsp&nbsp&nbsp&nbsp Join us-QQ Group: 818167896

</h4>

<br/>
<br/>
<br/>
<br/>
</div>

<div style="width: 1000px;">

<i class="fa fa-wechat" style="font-size:48px;color:#00FF00;margin-right:30px"></i>
<i class="fa fa-qq" style="font-size:48px;color:black;margin-right:30px"></i>
<i class="fa fa-facebook-official" style="font-size:48px;color:blue;margin-right:30px"></i>

<i class="fa fa-twitter" style="font-size:48px;color:#A9D8FF;margin-right:30px"></i>

<i class='fa fa-amazon' style="font-size:48px;color:black;margin-right:30px"></i>

<i class='fa fa-linkedin' style="font-size:48px;color:#3498db;margin-right:30px"></i>

<i class='fa fa-apple' style="font-size:48px;color:black;margin-right:30px"></i>

<i class='fa fa-instagram' style="font-size:48px;color:purple;margin-right:30px"></i>

<i class='fa fa-google' style="font-size:48px;color:blue;margin-right:30px"></i>

<i class='fa fa-snapchat' style="font-size:48px;color:#FFFF00;margin-right:30px"></i>

<i class='fa fa-git-square' style="font-size:48px;color:black;margin-right:30px"></i>

<i class='fa fa-imdb' style="font-size:48px;color:#CCCC00;margin-right:30px"></i>
<br>
<br>
<br>
<br>

<!-- <i class='fa fa-internet-explorer' style="font-size:48px;color:#3492db;"></i>
 -->

</div>

</body>
</html>
{% endblock %}
