{% extends "base.html" %}
{% block page_content %}
{% load static %}
<html lang="zh">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">

</style>

<head>
    <meta charset="utf-8" />
    <style>
    	  .logo2 {
		      width: 130px;
		      height: 65px;
		      margin-right: 30px;
		    }

        #main {
            min-width: 650px;
        }

        #design_map1, #design_map2, #design_map3,#design_map4,#design_map5,#design_map6
        {
          width: 100%;
        }

        #food1, #food2, #food3 {
          width: 200px;
          height: 250px;
        }

        #food4, #food5, #food6 {
          width: 200px;
          height: 160px;
        }

        #jiangli, #distribution, #version, #technology{
          width: 100%;
        }

        ul.timeline {
          list-style-type: none;
          position: relative;
      }
      ul.timeline:before {
          content: ' ';
          background: #d4d9df;
          display: inline-block;
          position: absolute;
          left: 29px;
          width: 2px;
          height: 100%;
          z-index: 400;
      }
      ul.timeline > li {
          margin: 20px 0;
          padding-left: 20px;
      }
      ul.timeline > li:before {
          content: ' ';
          background: white;
          display: inline-block;
          position: absolute;
          border-radius: 50%;
          border: 3px solid #22c0e8;
          left: 20px;
          width: 20px;
          height: 20px;
          z-index: 400;
      }

      h2 {
        font-weight: bold;
      }
              
</style>

</head>

<body>


<div id="main">
<br>

<div>
  <img class="logo2" align="left" src="{% static "img/NaOH.png" %}">

  <h1 style="font-weight: bold;">NaOH Group 烧碱集团</h1>
  <br/>
  <br>
  <h4 align="justify">
    <p>
    烧碱集团成立于2019年6月，由红警爱好者自由组成，成员分布于各个战队。我们致力于为广大玩家提供一个技术交流及交友的平台，同时我们也将数字技术应用在红色警戒中，为玩家提供个性化指导。烧碱集团秉承着和谐友爱的精神，致力于红色警戒的推广以及提升用户体验。我们热爱红警，我们是一群有理想的有志青年。
    </p>
    <p>
    Founded in 2019, NaOH Group is an organization dedicating to providing a platform for Red Alert players all over the world to communicate with each other and promoting the spread of Red Alert culture. Meanwhile, we apply digital business transformation to the game, providing customer solutions for various users. We are all composed of Red Alert players and are welcome more players to join us! We love Red Alert and we are people with dreams!
    </p>
    <br/>
    
  </h4>

</div>




<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-12 ">
      <h2 align="center">烧碱集团大事记</h2>
      <br>
      <ul class="timeline">
        <li>
          <h4>2019-06-23</h4>
          <h4>烧碱集团成立。</h4>
        </li>

        <li>
          <h4>2019-08-26</h4>
          <h4>烧碱集团获得数十元的A轮融资。</h4>
        </li>

        <li>
          <h4>2019-08-31</h4>
          <h4>烧碱集团与RT战队建立友好合作关系，多名RT队员加入烧碱集团。</h4>
        </li>

        <li>
          <h4>2019-09-02</h4>
          <h4>烧碱集团与卡奇奇势力建立友好合作关系。</h4>
        </li>

        <li>
          <h4>2019-09-04</h4>
          <h4>烧碱集团内阁正式成立。</h4>
        </li>

        <li>
          <h4>2019-09-07</h4>
          <h4>烧碱集团与爷势力建立友好合作关系。</h4>
        </li>

        <li>
          <h4>2019-09-10</h4>
          <h4>烧碱集团与白色战队建立友好合作关系。</h4>
        </li>

        <li>
          <h4>2019-09-21</h4>
          <h4>烧碱集团与T18战队建立友好合作关系，T18战队多名高手加入烧碱集团。</h4>
        </li>

        <li>
          <h4>2019-09-24</h4>
          <h4>烧碱集团与CR战队达建立友好合作关系，CR战队分部部长加入烧碱集团。</h4>
        </li>

        <li>
          <h4>2019-09-27</h4>
          <h4>烧碱集团在红色警戒吧进行宣传活动，并获得积极反馈。</h4>
        </li>

        <li>
          <h4>2019-09-30</h4>
          <h4>烧碱集团获得数十元的B轮融资。</h4>
        </li>

        <li>
          <h4>2019-10-05</h4>
          <h4>烧碱集团与航船保护组织建立友好合作关系。</h4>
        </li>

        <li>
          <h4>2019-10-08</h4>
          <h4>烧碱集团与红色警戒女装组织建立友好合作关系。</h4>
        </li>

        <li>
          <h4>2019-10-11</h4>
          <h4>烧碱集团与鹰眼战队建立友好合作关系。</h4>
        </li>

        <li>
          <h4>2019-10-15</h4>
          <h4>烧碱集团与幻影战队建立友好合作关系。</h4>
        </li>

        <li>
          <h4>2019-10-20</h4>
          <h4>烧碱集团与完美战队建立友好合作关系。</h4>
        </li>

        <li>
          <h4>2019-10-23</h4>
          <h4>烧碱集团体系制度正式出炉。</h4>
        </li>

        <li>
          <h4>2019-10-25</h4>
          <h4>烧碱集团获得数十元的C轮融资。</h4>
        </li>

         <li>
          <h4>2019-11-01</h4>
          <h4>烧碱集团与艺术战队建立友好合作关系。</h4>
        </li>
        
      </ul>
    </div>
  </div>
</div>


<div style="background-color: lightyellow;" align="center">

  <br>
  <h2>业务范围</h2>
  <br>
  <h4>
  <p>游戏及对战平台的下载及安装指导</p>
  <hr>
  <p>所有官方任务的教学指导</p>
  <hr>
  <p>为新玩家提供单机教学及对战教学</p>
  <hr>
  <p>帮助解决如win10系统兼无法兼容等游戏安装问题</p>
  <hr>
  <p>根据用户的对战习惯提供1对1的个性化指导</p>
  <hr>
  <p>为用户提供详细的地图池介绍及相应战术</p>
  <hr>
  <p>设计创意性的个性化地图</p>
  <hr>
  <p>设计团队型任务战役</p>
  <hr>
  <p>提供军衔预测服务</p>
  <hr>
  <p>提供各地图各阵营的数据统计</p>
  <hr>
  </h4>
  <br>

</div>


<br/><br/><br>


<h2 align="center">烧碱集团管理流程图</h2><br>
<div>
  <img id="distribution" src="{% static "img/management.png" %}">
</div>
<br/><br/><br><br>

<h2 align="center">烧碱集团晋升流程图</h2><br>
<div>
  <img id="distribution" src="{% static "img/jiaozhong.png" %}">
</div>
<br/><br/>



<br/><br/><br>


<h2 align="center">成员地理位置分布</h2><br>
<div>
  <img id="distribution" src="{% static "img/distribution.jpg" %}">
</div>
<br/><br/><br><br>

<h2 align="center">成员游戏技术水平统计分布</h2>
<br>
<div>
  <img id="distribution" src="{% static "img/shuiping.png" %}">
</div>
<br/><br/><br>

<h2 align="center">成员游戏版本统计分布</h2>
<br>
<div>
  <img id="version" src="{% static "img/pie.png" %}">
</div>
<br/><br/><br><br>

<h2 align="center">成员游戏阵营统计分布</h2>

<br>
<div>
  <img id="technology" src="{% static "img/heatmap.png" %}">
</div>
<br><br><br>



<div style="background-color: lightyellow;" align="center">

  <br>
  <h2>成员技术范围</h2>
  <br>
  <h4>
  <p>数据分析</p>
  <hr>
  <p>Linux开发</p>
  <hr>
  <p>网站开发</p>
  <hr>
  <p>计算机安全</p>
  <hr>
  <p>游戏开发</p>
  <hr>
  <p>数据库设计</p>
  <hr>
  <p>服务器维护</p>
  <hr>
  <p>网络渗透</p>
  <hr>
  <p>Web测试</p>
  <hr>
  <p>Mod设计</p>
  <hr>
  <p>地图设计</p>
  
  <hr>
  <p>OpenRa开源技术</p>
  
  <hr>
  </h4>
  <br>

</div>
<br>
<br>

<h2 align="center">成员作品</h2>
<br>
<div>
  <div>
    <img id="design_map1" src="{% static "img/map2/chuan.jpg" %}">
    <h3 align="center">沙暴（作者：东约特兰）</h3>
    <br>
  </div>
  <div>
    <img id="design_map2" src="{% static "img/map2/shaobing.jpg" %}">
    <h3 align="center">惹不起之村（作者：烧饼）</h3>
    <br>
  </div>
  <div>
    <img id="design_map3" src="{% static "img/map2/xiaochunjie.jpg" %}">
    <h3 align="center">RuaRua之城（作者：小纯洁）</h3>
    <br>
  </div>

  <div>
    <img id="design_map4" src="{% static "img/map2/hanma2.jpg" %}">
    <h3 align="center">孟斐斯（作者：韩妈）</h3>
    <br>
  </div>

  <div>
    <img id="design_map4" src="{% static "img/map2/hanma1.jpg" %}">
    <h3 align="center">雪虐風饕（作者：韩妈）</h3>
    <br>
  </div>

  <div>
    <img id="design_map4" src="{% static "img/map2/hanma3.jpg" %}">
    <h3 align="center">日月重开大宋天（作者：韩妈）</h3>
    <br>
  </div>
</div>

<br>
<br><br>

<h2 align="center">成员工作时间统计分布</h2>
<br>
<div>
  <img id="version" src="{% static "img/huoyue.png" %}">
</div>
<br/><br/><br>


<div style="background-color: lightyellow;">
  <br>
  <h2 align="center">成员正餐</h2>
  <br>
  <div class="row" align="center">
    <div class="card-body">
      <img id="food1" src="{% static "img/food1.png" %}">
      <h3>丰富</h3>
    </div>
    <div class="card-body">
      <img id="food2" src="{% static "img/food2.png" %}">
      <h3>健康</h3>
    </div>
    <div class="card-body">
      <img id="food3" src="{% static "img/food3.png" %}">
      <h3>足量</h3>
    </div>
  </div>

  <br>
  <br>
  <h2 align="center">成员下午茶</h2>
  <br>
  <div class="row" align="center">
    <div class="card-body">
      <img id="food4" src="{% static "img/food4.png" %}">
      <h3>绿色</h3>
    </div>
    <div class="card-body">
      <img id="food5" src="{% static "img/food5.jpg" %}">
      <h3>绿色</h3>
    </div>
    <div class="card-body">
      <img id="food6" src="{% static "img/food6.jpg" %}">
      <h3>绿色</h3>
    </div>
  </div>

  <br>

  <br>

</div>

<br><br><br><br>



<div align="center" >
<h2 style="font-weight: bold;">关于我</h2>
</div>


<hr>

<h4 align="justify">写在前面</h4><hr>

<h5 align="justify">距离我上一次中文写作可能已经有五六年了。动笔之前，我用了大概六个小时去回忆，来确保我叙述的完整性以及准确性。我这个人，一向愿意以旁观者自居。不过这次，我想以第一视角去记录下那些我所经历过的故事。</h5>

<hr>

<h4 align="justify">卷一</h4><hr>

<h5 align="justify">那个年代电脑还没那么普及，幸运的是，我爷爷家里就有一台。那时看着大人们坐在电脑前做着些什么，不免有些好奇。于是渐渐地，每次当大人们离开之后，我就会坐到椅子上去，模仿着他们的操作。那个时候，还不知道这是什么，也不知道这个东西叫什么，只知道，屏幕中间的那个被一圈小东西围着的那个相对大一点的东西双击后可以变得更大，那些小的东西可以移动。其实能做到这些，对于当时的我来说，其实就已经很满足了。<br><br>
  那时我应该是6岁。<br><br>

再大一点，慢慢地，我也能成功造出一些新的东西了，对建筑的理解局限于矿场，电厂，坦克营，兵营。对兵种的理解局限于矿车和最基本的坦克。最愿意干的事情就是囤积，不管什么东西，当然是越多越好。我也把这个习惯延续到了生活中。所有的玩具，不管是什么种类，玩具车，娃娃，包括厨具，在我眼里都是我的兵力。每一个组代表一个阵营，最后，我的阵营会击败所有的阵营，一统天下。<br><br>

那时候，每周末最高兴的事情就是去玩电脑。慢慢地，我认识了更多的单位，能够完整的打一局游戏了。那时候最喜欢的颜色是深绿色，最讨厌的是白色，没什么特殊原因。最讨厌的建筑是电厂，因为它太容易碎了。最喜欢的建筑是雷达，因为那个白色的球闪闪发光地，真的很漂亮。最害怕的是原子弹车，因为那个东西太厉害了。最愿意做的事情是用核弹去炸那个大虫子坦克。<br><br>

这就是红色警戒初代，即红色警戒95，不过它是96年发布的，95指的是WINDOWS 95版红警。在那个互联网的初期，它给那个年代的人们带来了无尽的欢乐。</h5>

<br>

<br>
<img  src="{% static "img/ra95.jpg" %}" style="display: block;
    margin: 0 auto; width: 500px; height: auto;">
<br><br><br>

<hr><hr>

<h4 align="justify">卷二</h4><hr>

<h5 align="justify">不知道什么时候，家里的电脑也装了红警，不过好像和之前自己见到的不太一样。不过，有的玩总比没有的好。后来，我知道了这是红色警戒2。这是我第一次接触到了任务，也是我第一次对红色警戒有了完整的概念。从苏军第一关摧毁五角大楼，我开始了漫长的通关之旅。<br><br>
那时候，即使是第三关，大苹果，对那时的我来说，也是痛苦不堪。那个作战实验室好像远在天边，这辈子都无法到达一样。就这样，一次次的保存，一次次的载入，一次次的失败，一次次的探索，也不知道过了多少天，我终于到了第九关，狐狸与猎犬（The Fox and the Hound）。</h5>

<br><br>
<img  src="{% static "img/mission/soviet9.png" %}" style="display: block;
    margin: 0 auto; width: 500px; height: auto;">
<br><br>

<h5 align="justify">海豹部队的存在颠覆了我以前的认知，我不知道这个东西为什么如此的变态。愤怒而又无助的我占领了机场，然后等待着一波又一波的伞兵，我不相信100对1的比例我还会输。<br><br>

然后，我就明白了任务开始前那些送死的伞兵就是为了告诉你：笨蛋，行不通的！<br><br>

又不知道过了多少天。那应该是一个阳光明媚的下午，那两个半吊子尤里在城市的大道上喝着小酒，哼着小调，散着小步，好不自在。看到这两个半吊子，我气就不打一出来，我不知道开局送我这两只废物到底有什么用。在闲逛之中，就来到了东北角。那里有两个破败的碉堡，里面坐着一位戴着帽子而又有些驼背的绅士。他好像并不怎么愿意说话，于是，出于本能，尤里控制了他..... </h5>

<br><br>
<img src="{% static "img/snipper.png" %}" style="display: block;
    margin: 0 auto; width: 500px; height: auto;">
<br><br>

<h5 align="justify">绅士就是绅士，杀人从来不用第二枪，也从来没留下过尸体。海豹部队在绅士的眼里就是个渣，不过绅士杀的兴起，抬手一枪，顺手把那个穿蓝色西装的一起给做掉了......<br><br>

就这样，经过重重的障碍，咱度过了最大的难关，一路来到了11关红色革命（Red Revolution）。
</h5>

<br><br>
<img src="{% static "img/mission/soviet11.png" %}" style="display: block;
    margin: 0 auto; width: 500px; height: auto;">
<br><br>

<h5 align="justify">尤里背叛了我们，目标：摧毁克林姆林宫。<br><br>一直以来的盟友突然背叛，这确实令人难过。但是，任何背叛者的下场只有死路一条。这个光荣的使命，将由我来完成。<br><br>不过，我的确低估了尤里的厉害。一波接着一波的铁幕装置加上无休止的基洛夫令我喘不过气。出于无奈，我只好去请了我所认识的大师，一个亲戚家的哥哥。虽然坚持的时间比我长的多，不过，即使是他，也抵不过那橙色军团和紫色军团的双重夹击，败下阵来。<br><br>

好在天无绝人之路，那是一个漆黑的夜晚，我的侦察兵发现了一条小路。</h5>

<br><br>
<img src="{% static "img/xiaolu.png" %}" style="display: block;
    margin: 0 auto; width: 500px; height: auto;">
<br><br>

<h5 align="justify">这条小路直通核电站，于是在那个漆黑的夜晚，我和我的手下从这条小路，绕过了敌军主力，切断了敌军的电力供应，橙色军团的铁幕装置报废，而我也如愿成功发射出了第二枚核弹。之后，我没有遇到激烈的抵抗，在扫平了盟军的超时空传送之后，这场旷日持久的斗争以苏军的胜利宣告结束。<br><br>

任务体现出了开发者们智慧的结晶。它不仅一步一步给新人介绍了每个单位的作用，让新人通过不断的思考通关，而且通过任务建立了完整的时间线，架起了游戏的剧情，让你一边享受游戏的同时，又能体会到作为故事主人公的快感。每张任务的地图都极具代表性而又充满了政治色彩。对于我来说，任务让我真正的理解了红警，也帮我打下了基本功。可以说，没有玩过任务的红警生涯是不完整的。</h5></h5>

<br><br><br>

<hr><hr>

<h4 align="justify">卷三</h4><hr>

<h5 align="justify">在完成了所有的任务之后，我开启了遭遇战之旅。其实，虽然官方地图有那么多，大多数却都默默无闻。即使是单机，也很少有人能说自己玩过了所有的地图。和很多人一样，我打遭遇战也是从北极圈和冰天雪地开始。<br><br>

北极圈差不多是红色警戒2里面最大的一张地图，由于资源丰富，桥梁众多，这个图吸引了各种类型的单机玩家。对于防守型玩家来说，桥梁是天然的防守资源，有的玩家开局就会把桥炸断，然后龟缩，当然这里面就包括我。对于囤积型玩家，这么大的地图，不把它铺满实在是不舒服，于是就开始了浩浩荡荡的囤积之旅，直到电脑卡死为止，这里面也包括我。</h5>

<br><br>
<img src="{% static "img/map/beijiquan.png" %}" style="display: block;
    margin: 0 auto; width: 500px; height: auto;">
<br><br>

<h5 align="justify">知乎上有篇帖子叫你在红警里干过的最牛的事是什么？一个回答是这样的：“以前经常开北极圈地图打七个冷酷的电脑…从来都是选美国，把中间那一大块地方占领之后就一直在那降伞兵攒着，攒到一百个左右的时候拖着所有的伞兵去挨个国家打，打到最后只剩一个伞兵的时候就搞一群坦克直升机去接他走…回基地给他开个颁发荣誉勋章的小仪式然后给他配一架直升机一条狗和两个谭雅把他们送到最北边的小岛上去让他们幸福的生活在一起…” 由此可见，北极圈这张图给人们带来了多少欢乐。当时的我由于水平一般，所以都是选择自由交战的7冷酷。一般情况下，冷酷对冷酷会僵持不下，但是苏军冷酷的杀手锏，基洛夫x3，往往会直接干死一家冷酷。所以当我打掉离我最近的一家冷酷时，别的冷酷基本也剩不了多少了，我要做的就是趁冷酷交战时，背后捅刀，然后一统北极。这当然算不上什么1打7，不过当时还是觉得自己厉害的不得了。<br><br>

在我认为我已经在北极圈这张地图天下无敌了之后，我开始了另一张赫赫有名的地图-冰天雪地。
开始的时候，必然是各种不适。在熟悉了北极圈那舒适优雅的环境之后，没有桥梁的冰天雪地一度让我束手无策，取而代之的是开局几乎和我挨在一起的冷酷AI。在一段时间的摸索之后，我发现了一个秘密。原来开局的右上位置开局阶段不会有AI攻击。仅次于右上的是右下。因为下面的那个三角地段，右中的冷酷会和小岛的冷酷率先开战。相反，最难的位置是小岛，不但处在死亡三角，而且还要面对右上位置的进攻，可谓是四面受敌。于是，不愿面对挑战的我每次开局如果发现不是右上位置或右下位置，就会退出重开。在别的地方打的不亦乐乎的时候囤积大量的光棱，然后一举收官。那个时候不得不说，3级的光棱实在是令人叹为观止。而光棱配幻影，9个坦克超时空走一波，成为了当时我最得意的手段。

</h5>

<br><br>
<img src="{% static "img/map/bingtianxuedi.png" %}" style="display: block;
    margin: 0 auto; width: 500px; height: auto;">
<br><br><br>

<hr><hr>

<h4 align="justify">卷四</h4><hr>

<h5 align="justify">
  之后，我应该是有一段时间没有接触过电脑。在之后的某个暑假里，当我重新打开游戏时，我发现国家里面多了一个国家-中国。<br><br>
  中国实在是太厉害了，那个解放军可以单挑坦克，矿车水陆两栖，连超级武器都比别人多一个。<br><br>

  我发现，原来使用中国，我可以抵抗7个冷酷的联合进攻，这是好的。<br><br>

  而我也发现冷酷的AI似乎变弱了，在中国面前，他们显得那样无力，是待宰的羔羊，我可以把他们全部打个半死，然后收兵，等他们恢复过来，再去打死。<br><br>
  这是好的，但是和之前没有中国的时候比，总是感觉少了点什么。
</h5>

<br><br>
<img src="{% static "img/gongheguo.png" %}" style="display: block;
    margin: 0 auto; width: 500px; height: auto;">
<br><br>


<h5 align="justify">
  那仍然是互联网发展的初期，在那个年代，互联网上的随便一个谣言，就可以让整个市的人惶惶不安，都市传说什么的也盛极一时。
  <br><br>
  所以那时，让人分清什么是官方原版，什么是官方资料片，什么是Mod，实在是强人所难。就这样，共和国之辉成为了国人眼中的正统红色警戒，受欢迎程度甚至超过了官方原版。中国的强大，让无数玩家为之自豪。<br><br>

  因此，很多红色警戒的玩家们也为之愤怒，将共和国之辉称为垃圾，狗屎。<br><br>

  这里，还是要提一句，“在那个年代”。那时，很多人可能连下载游戏都不会操作，但已经有人尝试着去制作Mod，在几乎没有任何资源的情况下。如今，无论是资源，教程，还是素材都已经趋于完善。显然，拿如今的Mod去和共和国之辉对比实在是多此一举。<br><br>
  共和国之辉本身有错吗，显然是没有的。共和国之辉的玩家们有错嘛，显然也是没有的。如果遇到了分不清什么是原版什么是Mod的玩家，可以和他科普，但是请不要谩骂，嘲讽。
  你可以不喜欢它，但请允许它的存在。
</h5>

<br><br>

<hr><hr>

<h4 align="justify">卷五</h4><hr>


<h5 align="justify">
  又不知道是哪一个假期，当我再次打开电脑时，发现游戏的图标似乎变了。其实直到这个时候，我还是分不清这些版本的区别的，也不会下载游戏，电脑里下了什么版本，就只能玩什么版本。在这个版本里面，我酷爱的8人地图似乎多了一些，而中国好像也消失了，取而代之的是一个都是奇奇怪怪单位的国家，这里面咱只可以认出小尤里和复制中心。苏军似乎多了一个静止的大盒子，盟军似乎多了一个会动的大盒子。经过一段时间的实验，我终于找到了一个我所钟爱的地图；我一般把它称为停尸厂。
  <br><br>
  <img src="{% static "img/map/tuochewu.jpg" %}" style="display: block;
      margin: 0 auto; width: 500px; height: auto;">
  <br><br>

  由于对单位的不熟悉，我选择了从3打5开始。面对那个新的阵营，我明显束手无策。那个圆球控制了我的坦克，那个盘子抢走了我的电和我的钱。不过，我很快就发现了这两个大盒子的好处。其实之前一直觉得苏军的防守有点吃亏，没有美国大兵和幻影那种可以守住一个路口的单位。不过，这些个大盒子成功地帮我守住了一波又一波的进攻。就这样，在新单位的帮助下，在一段时间内，我已经可以成功地做到3打5了。<br><br>虽然说以我以前的习惯，应该是怎么怂怎么来的，不过，不知道为什么，有一天，我居然鼓起了勇气，选择了2打6。不过，我和我的盟友AI都是必须都是尤里，而且位置背靠背。我负责上路，它负责下路，然后一起守中路。显然，我发现资源是个问题。吃完我自己这一点点钱，我就穷了，但为什么我的盟友好像，emmm，过的还可以？终于，我发现了回收厂这个东西。这个东西真是好用，先用尤里把别人的变成自己的，然后再把它变成钱，原价返还，嘻嘻嘻。发现了这个秘密，2打6也不是什么难事了。于是，最终，我开始了挑战停尸厂1打7冷酷。开局不偷，就用最传统的方式，先防守，再进攻。在这期间，我开发了一套自己发明的打法。开局出8个装坦克的方块儿，400一个，然后出回收站和控制塔把敌军变现，是终极龟缩打法。只要守住了前期，后期就可以躺着拿钱，毕竟，冷酷的天启一来就是4个。。<br><br>

  就这样，我成功的实现了1打7冷酷。这也应该是我个人单机的巅峰时期。而后来我也知道了这个是官方资料片，尤里的复仇。

</h5>

<br><br>

<hr><hr>

<h4 align="justify">卷六</h4><hr>

<h5 align="justify">又不知道过了多少年。当时的我高二，选择了去北美上大学，所以并没有参加高考。就在别人为高考而努力的时候，我在家里成了一个废人。废人过起了没有朋友，放弃学习，终日与床为伴的日子。这个绝不是什么值得羡慕的事，毕竟，高中是人一生唯一一次那么不顾一切的，为了目标而努力的阶段。而废人只能默默地望着曾经的同学们，为了目标而努力着，一个人。废人曾经引以为傲的一切都已经荡然无存。望着自己，废人已经记不起自己曾经也是一个好学生。当时，脱离了社会，脱离的集体废人的身体状态和精神状态都很差。在这之前，废人的心理状态就已经出了问题，也曾自暴自弃。不过，即使是这样，废人的心中依旧没有忘记红警。<br><br>

这种执念驱使着我再一次的打开了电脑。认为自己已经称霸了单机的我这次选择了下载对战平台。当时，腾讯对战平台应该是主流，于是进去之后，我进入了共和国之辉的房间，因为这个人最多。说来，即使到了这个时候，咱还是不太清楚版本间的关系。<br><br>
自信满满的我开始了那令人窒息的操作。因为是冰天雪地，我熟的很，于是开始了我最擅长的操作顺序，重工之后，雷达，然后高科，然后卫星，然后。。。我心里：？？？？ 别的玩家心里：傻逼。</h5>

<br><br>
<img src="{% static "img/gh_bt.png" %}" style="display: block;
      margin: 0 auto; width: 500px; height: auto;">
<br><br>

<h5 align="justify">
  有一点好处是，咱不会放弃学习别人的优点，于是，接下来的十盘，我都选择了开局自爆，然后观战。原来，重工的数量和出坦克速度是有关系的，原来矿车个可以达到几十辆的，原来建筑是可以延伸的。于是，在不断的学习之下，我成为了一名合格的混战玩家。混战多了，偶尔也会单挑，基本都是冰天。咱最喜欢的11战术是开局双矿，然后2路兵海。偷袭成功，获得巨大的前期优势。偷袭失败，也延缓了对方的采矿时间和注意力，不亏。有时也会拉拉中，不过容易被对方带着矿车强偷。那个时候，斗鱼有几个共和国之辉的主播，我记得我有一段去过一个叫黑影追梦的女主播直播间里玩，还和直播间里的朋友讨论过电影，记得是1994年的那3部至今霸占豆瓣榜单的电影，《阿甘正传》，《这个杀手不太冷》和《肖申克的救赎》。那时候，共辉也有冰天王，记得当时的秋风战队，共和战队，都很厉害。不过除了中国，的确见不到别的国家。
  不过后来就见不到她了。红警的主播，大多数工资少到可以忽略不计。虽然有人是为了爱好，不过大多数人都是为了生计。
</h5>

<br><br>

<hr><hr>

<h4 align="justify">卷七</h4><hr>

<h5 align="justify">一天的下午，在等人的时候，偶然间去了一个网吧。记不清什么原因了，总之，那天我进入了原版1.006专房。老规矩，先自爆，观战。于是，我就被法国惊艳到了。满屏的巨炮，真是吸引人。建筑的延伸，简直就是一门艺术。这都是我之前从未体会过的。于是，我毅然地扎进了原版1.006的对战圈。</h5>

<br><br>
<img src="{% static "img/jupao.jpg" %}" style="display: block;
      margin: 0 auto; width: 500px; height: auto;">
<br><br>

<h5 align="justify">开始肯定是不易的，毕竟从延伸到运营都要重新学起。不过，在混战中苟且偷生还是做的到。先从伊拉克开始，然后是法国。渐渐地，我会了基本的运营法。<br><br>其实，早期的我非常愿意偷家，毕竟这个战术是AI的。从单机过来的我学会了这招，于是乎沉迷偷家，无法自拔。后来就很少偷了。不过有一说一，我向来都是反对禁偷。偷是一个战术，而且是完全合理的战术，既然AI也偷的话那说明官方是偷这个战术的创始人，毕竟工程师的职责就是占领。当时的一些高手，包括当时的第一黑影月亮3，在比赛中都是偷家战术的使用者。我一直觉得一种打法能产生较大优势就把它禁掉显然有些勉强。当然，偷家的弊端一样明显。首先，偷家会对玩家的体验造成非常不好的影响。毕竟，被人偷了基地，然后在你家放了个巨炮，肯定不会舒服。其次，偷家容易出现以下克上的情况，即对战中，对手明明比你弱，却靠偷家赢了，你同样不会舒服。这就是为什么会有那么多的偷家反对者。我个人不提倡禁偷的原因是从游戏设定的根本出发，和强制建造不同，偷家没有任何违反游戏设定的地方。工程师占领建筑，无奈自身速度太慢。多功能车和煤球速度快，攻击力却又太弱。但二者一旦结合，破坏力就大大增强，所以偷家其实是多兵种结合很好的典范。<br><br>

当时的原版1.006是黑鹰月亮3的天下。在战胜了寒光97之后，国内再也没有人能够捍卫月亮3冰天王的位置。之后，伊拉克也是盛极一时，在面对法国时，已经很少有人认为法国的前期可以顶得住伊拉克的进攻。破法国拉中的战术也越来越多，比如直接偷家，比如1牛两重卖基地，比如拖家带口带基地强冲，比如动员兵被译文绑炸弹后进煤球做成炸弹车强炸。所以，法国在面对伊拉克时逐渐落入了下风。当时虽然完美战队的08曾经数次在决赛和月亮3相遇，但每次都败下阵来，被人称为千年老二。不过二人的比赛视频也成为经典，是极高价值的教学资源。之后，在国际赛上，月亮3又战胜了国外的诸多高手。虽然在小图上，月亮3和老外们互有胜负，不过在冰天这个图上，月亮3仍旧没有人可以战胜。最终，月亮3夺得了国际赛的冠军。其实当时还有一个并不被人所熟知的比赛，就是熊猫直播的炮王比赛（当时熊猫直播还没倒闭）。选手必须使用法国，然后通过法国一决胜负。必须有直接拉中和空指部拉中。事实证明，法国内战时，直接拉中是非常吃亏的，因为空指拉中的法国可以出飞行兵，这样拉中的法国必须出爱国者防空，导致无法出巨炮。而空指拉中面对原地法国时，虽然没有直接拉中那么大的劣势，不过也是两面受敌，而且比赛并没禁偷，这也大大增加了空指拉中法国两面防守的难度。在这个比赛中，月亮3又一次夺得了冠军，在中间对炮的过程中展示了其无与伦比的反应速度和操作。其实，因为操作过于强大，有些场次月亮3的法国几乎就是当伊拉克用的，不过，这并不足以让他的对手取得胜利。<br><br>

当时的我在对战中认识了一个叫不作弊的人（后来的社会猪）。虽然后来社会猪成为了原版1.006的顶尖高手，曾在t18战队队内赛中打死了97，具备全国冰天的顶尖水平，但当时还叫不作弊的他却常常输给我。后来，偶然间，不作弊把我拉进了幻影战队群，于是我第一次有了红警战队。当时的幻影人才济济，帅胖，麻雀，开，787等人都是当时原版1.006中鼎鼎大名的高手。我也在不作弊的介绍下成为了麻雀的徒弟。麻雀是原版1.006第一女高手，在当时的冰天也是全国前十的有力候选人。不过，记得在比赛中，面对芒果（芒果也拿过冰天王冠军）时，由于芒果的偷实在太厉害，麻雀被偷的叫苦不迭。最后无奈，只好拿围墙围住重工，只留出坦克的一个口。当时的游戏情景很有喜剧色彩。<br><br>

于是，在幻影战队中，我逐渐地进步，终于在考试中考到了旅长的位置。虽然有水分，被朋友们称为女长和最菜旅长，不过当时确实也具备一定的实力。</h5>

<br><br>
<img src="{% static "img/gonggao.png" %}" style="display: block;
      margin: 0 auto; width: 500px; height: auto;">
<br><br>




<h4 align="justify">写在最后</h4><hr>

<h5 align="justify">我不确定我这是不是在和红色警戒说再见。也许是，也许不是。但如果有一天，我重新打开了那熟悉的界面，我也并不会感到意外。你以为它早已消失地无影无踪，一回头却发现，原来，它一直都在。人嘛，往往会低估自己对某个事物的执念。<br><br>对了，如果未来的某一天，在某个平台上出现了一个包含NaOH的ID，那个人或许就是我。<br><br><br>


<h3 align="right" style="margin-right: 30px;">烧碱<br>2019-11-04</h3>



<br/><br/>
<br/><br/>

<div>
  
  
    
</div>


<hr>
<br>

<div align="center">

<i class="fa fa-wechat" style="font-size:48px;color:#00FF00;margin-right:15px; margin-left: 15px;"></i>
<i class="fa fa-qq" style="font-size:48px;color:black;margin-right:15px;margin-left: 15px;"></i>
<i class="fa fa-facebook-official" style="font-size:48px;color:blue;margin-right:15px;margin-left: 15px;"></i>

<i class="fa fa-twitter" style="font-size:48px;color:#A9D8FF;margin-right:15px;margin-left: 15px;"></i>


<i class='fa fa-linkedin' style="font-size:48px;color:#3498db;margin-right:15px;margin-left: 15px;"></i>

<br>
<br>
<br>
<br>


</div>

</div>


</body>
</html>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}
