{% extends "base.html" %}
{% block page_content %}
{% load static %}

<style>

    #p_1 {
        width: 250px;
        
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    #p_2 {
        width: 248px;
        height: 248px;
    }


    #main {
        width: 820px;
        margin: 0 auto;
    }

    #p_1 h3 {
        font-weight: bold;
    }
    #p_1 h5 {
        font-weight: bold;
    }

    
</style>

<html lang="zh">


<body>
<br/>

<div>

<div id= "main" class="row">

<div id = "p_1" style="border:1px solid black;" >
    <img id = "p_2" class="rt" align="left" src="{% static "img/rt.png" %}">
    <div  class="card-body">
        <h3 align="center">
        RT战队
        </h3>
        <h5 align="justify">
        RT战队是红色警戒尤里复仇战队，历史悠久，专注于尤里复仇在红色警戒范围内的推广。队中拥有大批高手，并奠定了很多尤里复仇的战术和传统，为尤里复仇的发展作出极大贡献。
        </h5>
    </div>
</div>

<div id = "p_1" style="border:1px solid black;" >
    <img id = "p_2" class="t18" align="left" src="{% static "img/t18.jpg" %}">
    <div  class="card-body">
        <h3 align="center">
        T18战队
        </h3>
        <h5 align="justify">
        T18战队是红色警戒原版1.006战队，队中拥有大批原版高手和资深玩家，培养了大批的原版新人并极大地丰富了原版战术，为红色警戒原版1.006的推广做出极大贡献。
        </h5>
    </div>
</div>


<div id = "p_1" style="border:1px solid black;" >
    <img id = "p_2" class="cr" align="left" src="{% static "img/cr.jpg" %}">
    <div  class="card-body">
        <h3 align="center">
        CR战队
        </h3>
        <h5 align="justify">
        CR战队是红色尤里复仇战队，专注于红色警戒尤里复仇，队中拥有大批尤里复仇高手，对尤里复仇的战术打法的丰富和人才培养做出极大贡献。CR战队公众号：红警CR战队。
        </h5>

    </div>
</div>

</div>

<div id= "main" class="row">

<div id = "p_1" style="border:1px solid black;" >
    <img id = "p_2" class="nsp" align="left" src="{% static "img/nsp.png" %}">
    <div  class="card-body">
        <h3 align="center">
        NSP战队
        </h3>
        <h5 align="justify">
        NSP战队是红色警戒原版1.006战队，专注于红色警戒原版，历史悠久，队中的神州系列是原版中的顶尖系列。同时，NPS战队也为招募新人及原版的推广做出了极大贡献。
        </h5>
    </div>
</div>
<div id = "p_1" style="border:1px solid black;" >
    <img id = "p_2" class="huanying" align="left" src="{% static "img/huanying.jpg" %}">
    <div  class="card-body">
        <h3 align="center">
        幻影战队
        </h3>
        <h5 align="justify">
        幻影战队是红色警戒原版1.006战队及红色警戒Mod共和国之辉战队，专注于红色警戒原版及共和国之辉的推广，为红色警戒早期在国内的发展奠定了基础。
        </h5>
    </div>
</div>
<div id = "p_1" style="border:1px solid black;" >
    <img id = "p_2" class="heiying" align="left" src="{% static "img/heiying.jpg" %}">
    <div  class="card-body">
        <h3 align="center">
        黑鹰战队
        </h3>
        <h5 align="justify">
        黑鹰战队是红色警戒原版1.006战队，专注于红色警戒原版。黑鹰战队的黑鹰月亮3曾在国际赛中获得冠军，展示了国内玩家的实力，并提升了国内红警在世界范围内的知名度。
        </h5>
    </div>
</div>

</div>

<div id= "main" class="row">

<div id = "p_1" style="border:1px solid black;" >
    <img id = "p_2" class="yg" align="left" src="{% static "img/zhuifeng.png" %}">
    <div  class="card-body">
        <h3 align="center">
        追风战队
        </h3>
        <h5 align="justify">
        追风战队是红色警戒原版1.006战队，是国内早期红色警戒战队，拥有大批资深高手。红警战队的先驱，其运营模式为后续红色警戒战队的发展起到了关键的导向作用。
        </h5>
    </div>
</div>



<div id = "p_1" style="border:1px solid black;" >
    <img id = "p_2" class="yg" align="left" src="{% static "img/hk.jpg" %}">
    <div  class="card-body">
        <h3 align="center">
        鹰眼战队
        </h3>
        <h5 align="justify">
        鹰眼战队是红色警戒尤里复仇战队，近年来为尤里复仇培养了大量新人，鹰眼周赛是尤里复仇知名赛事，队长007开发的拉牛战术更是在尤里复仇范围内独树一帜。
        </h5>
    </div>
</div>

<div id = "p_1" style="border:1px solid black;" >
    <img id = "p_2" class="yg" align="left" src="{% static "img/wm.jpg" %}">
    <div  class="card-body">
        <h3 align="center">
        完美战队
        </h3>
        <h5 align="justify">
        完美战队是红色警戒原版1.006战队，拥有大批老牌高手，其中队员08曾多次和黑鹰月亮3在各项比赛决赛相遇，留下无数经典对局，为红色警戒历史留下了浓墨重彩的一笔。
        </h5>
    </div>
</div>

</div>

<div id= "main" class="row">

<div id = "p_1" style="border:1px solid black;" >
    <img id = "p_2" class="yg" align="left" src="{% static "img/yuansu.jpg" %}">
    <div  class="card-body">
        <h3 align="center">
        元素战队
        </h3>
        <h5 align="justify">
        元素(装逼)战队是红色警戒心灵终结战队，专注于心灵终结的推广，当前国内心灵终结最强战队，创造了大量心灵终结的战术并培养了大批新人，为心灵终结的发展做出巨大贡献。
        </h5>
    </div>
</div>


<div id = "p_1" style="border:1px solid black;" >
    <img id = "p_2" class="yg" align="left" src="{% static "img/yg.jpg" %}">
    <div  class="card-body">
        <h3 align="center">
        阳光战队
        </h3>
        <h5 align="justify">
        阳光战队是红色警戒原版1.006战队，拥有众多顶尖高手和资深玩家，创始人阳光超人是红色警戒知名高手，创新了大量的战术及打法，为红色警戒的发展做出了巨大贡献。
        </h5>
    </div>
</div>


<div id = "p_1" style="border:1px solid black;" >
    <img id = "p_2" class="yg" align="left" src="{% static "img/ziyueshe.jpg" %}">
    <div  class="card-body">
        <h3 align="center">
        紫月社战队
        </h3>
        <h5 align="justify">
        紫月社是红色警戒心灵终结战队，专注于红色警戒心灵终结，近年来培养了大批心灵终结玩家，汇集了大量心灵终结的资料，为心灵终结的推广起到了不可或缺的作用。
        </h5>
    </div>
</div>


</div>


<div id= "main" class="row">

<div id = "p_1" style="border:1px solid black;" >
    <img id = "p_2" class="white" align="left" src="{% static "img/art.jpg" %}">
    <div  class="card-body">
        <h3 align="center">
        艺术战队
        </h3>
        <h5 align="justify">
        艺术战队是红色警戒尤里复仇战队，专注于红色警戒尤里复仇，创始人梵高是尤里复仇知名高手。艺术战队近年来培养了很多尤里复仇玩家，为尤里复仇的发展做出不可或缺的贡献。
        </h5>
    </div>
</div>

<div id = "p_1" style="border:1px solid black;" >
    <img id = "p_2" class="white" align="left" src="{% static "img/white.png" %}">
    <div  class="card-body">
        <h3 align="center">
        白色战队
        </h3>
        <h5 align="justify">
        白色战队是红色警戒尤里复仇战队，创始人白人是尤里复仇知名玩家。白色战队是国内唯一专注于利比亚的战队，为红色警戒国家的多样性做出了不可磨灭的贡献。
        </h5>
    </div>
</div>



</div>


</div>





<br/>
<br/>



<br>
<br>
<br>

</body>
</html>
{% endblock %}
