{% extends "base.html" %}
{% block page_content %}
{% load static %}

    <style>


    #p_1 {
        width: 250px;
        height: 500px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    #p_2 {
        width: 248px;
        height: 248px;
    }

    #main {
        margin-left: 8vw;
    }
     </style>

<html lang="zh">



<body>
<br/>

<div align="center">
<div id= "main" class="row">
<div id = "p_1" style="border:1px solid black;" >
    <img id = "p_2" class="rt" align="left" src="{% static "img/rt.jpg" %}">
    <div  class="card-body">
        <h5>
        RT战队
        </h5>
    </div>
</div>
<div id = "p_1" style="border:1px solid black;" >
    <img id = "p_2" class="t18" align="left" src="{% static "img/t18.jpg" %}">
    <div  class="card-body">
        <h5>
        RT战队
        </h5>
    </div>
</div>
<div id = "p_1" style="border:1px solid black;" >
    <img id = "p_2" class="cr" align="left" src="{% static "img/cr.jpg" %}">
    <div  class="card-body">
        <h5>
        RT战队
        </h5>
    </div>
</div>

<div id = "p_1" style="border:1px solid black;" >
    <img id = "p_2" class="nsp" align="left" src="{% static "img/white.jpg" %}">
    <div  class="card-body">
        <h5>
        RT战队
        </h5>
    </div>
</div>
<div id = "p_1" style="border:1px solid black;" >
    <img id = "p_2" class="huanying" align="left" src="{% static "img/huanying.jpg" %}">
    <div  class="card-body">
        <h5>
        RT战队
        </h5>
    </div>
</div>
<div id = "p_1" style="border:1px solid black;" >
    <img id = "p_2" class="heiying" align="left" src="{% static "img/heiying.jpg" %}">
    <div  class="card-body">
        <h5>
        RT战队
        </h5>
    </div>
</div>
<div id = "p_1" style="border:1px solid black;" >
    <img id = "p_2" class="yg" align="left" src="{% static "img/yg.jpg" %}">
    <div  class="card-body">
        <h5>
        RT战队
        </h5>
    </div>
</div>
<div id = "p_1" style="border:1px solid black;" >
    <img id = "p_2" class="white" align="left" src="{% static "img/white.png" %}">
    <div  class="card-body">
        <h5>
        白色战队
        </h5>
    </div>
</div>

<div id = "p_1" style="border:1px solid black;" >
    <img id = "p_2" class="st1" align="left" src="{% static "img/st1.jpg" %}">
    <div  class="card-body">
        <h5>
        RT战队
        </h5>
    </div>
</div>
</div>
</div>


<br/>
<br/>



<br>
<br>
<br>

</body>
</html>
{% endblock %}
