{% load static %}


<link rel="stylesheet" href={%static "css/style.css" %}>

<html lang="zh">
<head>
    <meta charset="utf-8" />

    <style>

    .logo {
      
        width: 80px;
        height: 40px;
        
        margin-right: 13px;
        display: block;
        
    }

    #a1, #a2, #a3 {
        color: #0080FF;
    }


    a {
        font-family: 'Libre Baskerville', serif;
    }

    #main_bar {
      background: 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-color: #E8E8E8;
    }


    </style>
    
</head>

<body>


{% if user.is_authenticated %}

{% if language == "Chinese" %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
          <img class="logo" src="{% static "img/NaOH.png" %}">
    </a>
    

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'home' %}">主页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog_index' %}">论坛</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'project_index' %}">档案馆</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'map' %}">地图池</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'data_predict' %}">测试</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'view_essays' %}">专栏</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'view_videos' %}">视频</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'chat_index' %}">聊天室</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'info_team' %}">战队简介</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'info_index' %}">烧碱集团</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'author_index' %}">关于我们</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'setting' %}">设置</a>
          </li>

        </ul>

    </div>
    {% if not user.is_authenticated %}
        <a  id = "a1" class="nav-link" href="{% url 'login' %}">登录</a>
        <a id = "a2" class="nav-link" href="{% url 'register' %}">注册</a>
    {% else %}
        
        <a id = "a3" class="nav-link" href="{% url 'logout' %}">退出</a>
    {% endif %}
  </div>
</nav>




{% else %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
          <img class="logo" src="{% static "img/NaOH.png" %}">
    </a>
    

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog_index' %}">Forum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'project_index' %}">Archive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'map' %}">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'data_predict' %}">Test</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'view_essays' %}">Column</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'view_videos' %}">Video</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'chat_index' %}">Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'info_team' %}">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'info_index' %}">NaOH Group</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'author_index' %}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'setting' %}">Setting</a>
          </li>

        </ul>

    </div>
    {% if not user.is_authenticated %}
        <a  id = "a1" class="nav-link" href="{% url 'login' %}">Log in</a>
        <a id = "a2" class="nav-link" href="{% url 'register' %}">Register</a>
    {% else %}
        
        <a id = "a3" class="nav-link" href="{% url 'logout' %}">Exit</a>
    {% endif %}
  </div>
</nav>


{% endif %}

{% else %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
          <img class="logo" src="{% static "img/NaOH.png" %}">
    </a>
    

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog_index' %}">Forum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'project_index' %}">Archive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'map' %}">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'data_predict' %}">Test</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'view_essays' %}">Column</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'view_videos' %}">Video</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'chat_index' %}">Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'info_team' %}">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'info_index' %}">NaOH Group</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'author_index' %}">About Us</a>
          </li>
          

        </ul>

    </div>
    {% if not user.is_authenticated %}
        <a  id = "a1" class="nav-link" href="{% url 'login' %}">Log in</a>
        <a id = "a2" class="nav-link" href="{% url 'register' %}">Register</a>
    {% else %}
        
        <a id = "a3" class="nav-link" href="{% url 'logout' %}">Exit</a>
    {% endif %}
  </div>
</nav>



{% endif %}

<div class="container">
    {% block page_content %}{% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>

