{% extends "base.html" %}
{% block page_content %}

<style type="text/css">
    img {
        width: 100%;
    }

    .btn-group button {
      background-color: #EDF5E1; /* Green background */

      color: black; 
      padding: 3px 8px; /* Some padding */
      cursor: pointer; /* Pointer/hand icon */
      float: left; /* Float the buttons side by side */
    }

    .btn-group button:not(:last-child) {
      border-right: none; /* Prevent double borders */
    }

    /* Clear floats (clearfix hack) */
    .btn-group:after {
      content: "";
      clear: both;
      display: table;
    }

    /* Add a background color on hover */
    .btn-group button:hover {
      background-color: #3e8e41;
    }

    .rate a {
        background-color: #EDF5E1;
        color: black; 
        padding: 3px 8px;
    }
</style>

<div style="width: 800px; margin: 0 auto;">

  
    <div align="center">
        
        <br>
        <h1 style="font-weight: bold;">{{rating.name}}</h1>

        <h3 id="body_des">{{rating.body}}</h3>
        <br><br><br>

        <h3 style="font-weight: bold;">Rate this Player</h3>
        <br>
        <div class="rate">
            <a href="{% url 'r_one_star' rating.pk%}" class="btn btn-default">&#9734;</a>&nbsp;&nbsp;
            <a href="{% url 'r_two_star' rating.pk%}" class="btn btn-default">&#9734;&#9734;</a>&nbsp;&nbsp;
            <a href="{% url 'r_three_star' rating.pk%}" class="btn btn-default">&#9734;&#9734;&#9734;</a>&nbsp;&nbsp;
            <a href="{% url 'r_four_star' rating.pk%}" class="btn btn-default">&#9734;&#9734;&#9734;&#9734;</a>&nbsp;&nbsp;
            <a href="{% url 'r_five_star' rating.pk%}" class="btn btn-default">&#9734;&#9734;&#9734;&#9734;&#9734;</a>
          
        </div>



    </div>

    <br><br>

</div>

<div style="width: 800px; margin: 0 auto;">
{% ifequal finished False %}

{% else %}
<div align="center"><a style="font-weight: bold; font-size: 25px;" href="{% url 'ranking' %}">
        Return
    </a></div>

{% endifequal %}

<br><br><br>
<h3 style="font-weight: bold;">评论:</h3>
{% for comment in comments %}
<p>
    On {{ comment.created_on.date }}&nbsp;
    <b>{{ comment.author }}</b>
</p>
<p style="color: black;">{{ comment.body }}</p>
<hr>
{% endfor %}

<h3>发表评论:</h3>
<form action="/ranking/{{ rating.pk }}/" method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form.body }}
    </div>
    <button type="submit" class="btn btn-primary">提交</button>
</form>

</div> 

<script type="text/javascript">
  function urlify(text) {
    var urlRegex = /(https?:\/\/[^\s]+)/g;
    return text.replace(urlRegex, function(url) {
        return '<a href="' + url + '">' + url + '</a>';
    })
    // or alternatively
    // return text.replace(urlRegex, '<a href="$1">$1</a>')
  }
  var des = document.getElementById("body_des");
  var urlRegex = /(https?:\/\/[^\s]+)/g;
  des.innerHTML = des.innerHTML.replace(urlRegex, function(url) {
      return '<a href="' + url + '">' + url + '</a>';
  })
</script>



{% endblock %}