{% extends "base.html" %}
{% load static %}

{% block page_content %}

<style type="text/css">
    h5 {
        width: 800px;
    }
</style>
</body>
<br>
    <h5>


    战网平台:  http://www.ra2ol.com/ <br><br>
    CnCNet:  https://cncnet.org/yuris-revenge<br><br>
    腾讯对战平台: https://dz.qq.com/<br><br>
    XWIS官网: https://xwis.net/<br><br>

    命令与征服系列正版购买: https://www.origin.com/usa/en-us/store/command-and-conquer/command-and-conquer-the-ultimate-collection#store-page-section-description<br><br>

    红色警戒2档案馆: https://cnc.fandom.com/wiki/Red_Alert_Universe<br><br>

    红色警戒2时间线: https://cnc.fandom.com/wiki/Red_Alert_universe_timeline<br><br>

    CNCNET地图资源汇总: https://forums.cncnet.org/topic/3806-ra2-yr-maps-a-ginormous-collection-of-maps/<br><br>
    单位数据查询: https://www.unitstatistics.com/red-alert2/<br><br>

    尤里复仇官方地图查询: http://sniperxpx.com/mapdb/browse.php<br><br>
    
    红色警戒2苏军任务通关教学: https://www.bilibili.com/video/av2375986?from=search&seid=1364520228542080247<br><br>

    红色警戒2盟军任务通关教学: https://www.bilibili.com/video/av2378848?from=search&seid=1364520228542080247<br><br>

    Mod心灵终结档案馆: https://moapyr.fandom.com/wiki/Mental_Omega_APYR_Wiki<br><br>

    红色警戒95档案馆: http://ra.afraid.org/<br><br>

    地图&Mod编辑器下载: http://www.cnclabs.com/downloads/redalert2/modding-and-mapping.aspx<br><br>

    战队公示板: http://bbs.ra2ol.com/thread-637-1-1.html<br><br>

    尤里的复仇单位语音列表: https://gamefaqs.gamespot.com/pc/476890-command-and-conquer-red-alert-2-yuris-revenge/faqs/20018<br><br>

    命令与征服系列开源库OpenRa: https://github.com/OpenRA/OpenRA<br><br>
  </h5>
</body>

{% endblock %}