{% extends "base.html" %}
{% load static %}

{% block page_content %}

<style type="text/css">
    h5 {
        width: 800px;
    }

    a {
        color:  #00008B;
    }

    #col1, #col2 {
        margin-left: 7vw;
    }
</style>
</body>
<br>
<div class="container">
<div class="row">

    <div id="col1">
  
    <h3><a href="http://www.ra2ol.com/">战网平台</a></h3>

    <h3><a href="https://cncnet.org/yuris-revenge">CnCNet</a></h3>

    <h3><a href="https://dz.qq.com/">腾讯对战平台</a></h3>

    
    <h3><a href="https://xwis.net/">XWIS官网</a></h3>
    

    <h3><a href="https://www.origin.com/usa/en-us/store/command-and-conquer/command-and-conquer-the-ultimate-collection#store-page-section-description">命令与征服系列正版购买</a></h3>


    <h3><a href="https://cnc.fandom.com/wiki/Red_Alert_Universe">红色警戒2wiki</a></h3>

    <h3><a href="https://www.moddb.com/games/cc-red-alert/mods">Moddb</a></h3>

    <h3><a href="https://cnc.fandom.com/wiki/Red_Alert_universe_timeline">红色警戒2时间线</a></h3>

    <h3><a href="http://www.uc129.com/yuanchuang/">红警之家</a></h3>

    

    <h3><a href="https://forums.cncnet.org/topic/3806-ra2-yr-maps-a-ginormous-collection-of-maps/">CNCNET地图资源汇总</a></h3>
    

    <h3><a href="https://www.unitstatistics.com/red-alert2/">单位数据查询</a></h3>

    
    </div>


    <div id="col2">

    <h3><a href="https://moapyr.fandom.com/wiki/Mental_Omega_APYR_Wiki">Mod心灵终结档案馆</a></h3>

    <h3><a href="http://sniperxpx.com/mapdb/browse.php">战尤里复仇官方地图查询</a></h3>

    <h3><a href="https://www.bilibili.com/video/av2375986?from=search&seid=1364520228542080247">红色警戒2苏军任务通关教学</a></h3>


    <h3><a href="https://www.bilibili.com/video/av2378848?from=search&seid=1364520228542080247">红色警戒2盟军任务通关教学</a></h3>

    <h3><a href="https://www.bilibili.com/video/av41856368?from=search&seid=379006523463213992">冰天雪地1v7冷酷教学</a></h3>


   
    
    <h3><a href="http://ra.afraid.org/">红色警戒95档案馆</a></h3>

    <h3><a href="http://www.cnclabs.com/downloads/redalert2/modding-and-mapping.aspx">地图&Mod编辑器下载</a></h3>

    <h3><a href="http://bbs.ra2ol.com/thread-637-1-1.html">战队公示板</a></h3>

    <h3><a href="https://gamefaqs.gamespot.com/pc/476890-command-and-conquer-red-alert-2-yuris-revenge/faqs/20018">尤里的复仇单位语音列表</a></h3>


    <h3><a href="https://github.com/OpenRA/OpenRA">命令与征服系列开源库OpenRa</a></h3>

    </div>
    
</div>

</div>
</body>

{% endblock %}