{% extends "base.html" %}
{% load static %}

{% block page_content %}

<style type="text/css">
    

    a {
        color:  #00008B;
    }

    #col1 {
        margin-left: 75px;
    }
    #col2 {
        margin-left: 90px;
    }
</style>
</body>
<br>

<div class="row" style="width: 900px; margin: 0 auto; border: groove;border-color: black;">


    <div id="col1" style="margin-top: 10px; margin-bottom: 10px;">
  
    <h3><a href="http://www.ra2ol.com/">战网平台</a></h3>

    
    <h3><a href="https://xwis.net/">XWIS官网</a></h3>

    <h3><a href="https://www.origin.com/usa/en-us/store/command-and-conquer/command-and-conquer-the-ultimate-collection#store-page-section-description">命令与征服系列正版购买</a></h3>

    <h3><a href="http://sniperxpx.com/mapdb/browse.php">尤里复仇官方地图查询</a></h3>


    <h3><a href="https://cnc.fandom.com/wiki/Red_Alert_Universe">红色警戒2wiki</a></h3>

    <h3><a href="https://www.moddb.com/games/cc-red-alert/mods">Moddb</a></h3>

    

    <h3><a href="https://forums.cncnet.org/topic/3806-ra2-yr-maps-a-ginormous-collection-of-maps/">CNCNET地图资源汇总</a></h3>
    

    <h3><a href="https://www.unitstatistics.com/red-alert2/">单位数据查询</a></h3>


    <h3><a href="http://www.cnclabs.com/downloads/redalert2/modding-and-mapping.aspx">地图&Mod编辑器下载</a></h3>

    <h3><a href="http://bbs.ra2ol.com/thread-637-1-1.html">战队公示板</a></h3>


    
    </div>

    <div id="col2" style="margin-top: 10px; margin-bottom: 10px;">

    <h3><a href="https://cncnet.org/yuris-revenge">CnCNet</a></h3>


    
    <h3><a href="https://www.bilibili.com/video/av2375986?from=search&seid=1364520228542080247">红色警戒2苏军任务通关教学</a></h3>


    <h3><a href="https://www.bilibili.com/video/av2378848?from=search&seid=1364520228542080247">红色警戒2盟军任务通关教学</a></h3>

    <h3><a href="https://www.bilibili.com/video/av41856368?from=search&seid=379006523463213992">冰天雪地1v7冷酷教学</a></h3>

    <h3><a href="https://www.bilibili.com/video/av28568227/?p=1">冰天王月亮3vs08</a></h3>

    <h3><a href="https://www.bilibili.com/video/av23056364?from=search&seid=11763971537585658998">尤里复仇埃及3v3联赛</a></h3>

    
    <h3><a href="http://ra.afraid.org/">红色警戒95档案馆</a></h3>

    <h3><a href="https://moapyr.fandom.com/wiki/Mental_Omega_APYR_Wiki">Mod心灵终结档案馆</a></h3>

    <h3><a href="http://www.mentalomega.com/">Mod心灵终结官网</a></h3>


    <h3><a href="https://github.com/OpenRA/OpenRA">命令与征服系列开源库OpenRa</a></h3>

    </div>
    
</div>


</body>

{% endblock %}