{% extends "base.html" %}
{% load static %}

{% block page_content %}


<body>

  <p>
    <h3>盟军阵营</h3>
    美国大兵：盟军的基本作战单位。可以通过部署来增加射程和对装甲单位的攻击力，但部署会丧失匍匐能力。<br>
    工程师：支援单位。可以修缮桥梁、建筑、拆除疯狂伊文的炸弹，或者将敌方建筑占为己有。<br>
    警犬：侦察单位与反步兵单位。优秀的德国牧羊犬，能够识别间谍，秒杀步兵。<br>
    火箭飞行兵：   火箭飞行兵纯粹只是盟军美国大兵的空中攻擎版本。装备强力武器，身上捆绑一具同样火力十足的喷射包，能盘旋于战场上空。火箭飞行兵是绝佳的防空军种，也是空对地攻击脆弱目标的好选择。<br>
    间谍：间谍并不攻击敌方部队，而是选择锁定敌人之后，改变自己的外观，潜入越过敌军防线，进入敌方建筑物。间谍的功能视其所进入的建筑物而定，不过警犬并不会被间谍的伪装所惑。<br>
    海豹部队：装备了高效能的机关枪，海豹部队在对付敌人步兵单位的时候相当有效，而且在面对交通工具的时候也可以保护自己。就跟谭雅一样，海豹部队使用C4地雷来破坏敌人的建筑物。<br>
    超时空军团兵：  超时空军团兵会瞬间移动，瞬移距离会决定他需要多久时间才能进行下一次传送。超时空军团会直接将敌方部队、建筑物自时空中抹消，而不是将之摧毁。敌人的威力愈强大，所需的时间就愈久。<br>
    谭雅：      谭雅的行进速度与一般美国大兵相同，但她也具备游泳穿越河川、海洋的能力。擅长宰杀敌方步兵和摧毁建筑。<br>
    狙击手：     狙击手是英国的特殊步兵单位，能在远处秒杀步兵，进入多功能步兵车后移动速度和射速都会有所提高。苏联阵营的恐怖机器人是狙击手的克星。<br>
    心灵突击队：   特殊单位，需要侵入苏联作战实验室并拥有盟军军营。同时具备尤里的心灵控制能力和海豹部队的C4炸药。<br>
    
    超时空突击队：特殊单位，需要侵入盟军作战实验室并拥有盟军军营。是具有超时空传送能力的海豹部队。<br>

    <br>
    超时空采矿车：  盟军的采矿车，在返回矿场时可以超时空传送回去。<br>
    灰熊坦克：    盟军的主战坦克。拥有较高的机动性和较低的造价。<br>
    多功能步兵车：  盟军的防空单位。可通过进入步兵来变更武器。<br>
    幻影坦克：    幻影坦克是爱因斯坦在德国黑森林中研发的一种坦克，是盟军的王牌之一。虽然它无法隐形，但却可以利用先进的光线偏折原理伪装自己。和光棱坦克配合往往能发挥出更加强大的作用。其弱点为容易被尤里心灵控制。<br>
    光棱坦克：    盟军的王牌坦克之一，可以说是一座会移动的光棱塔。适合攻击步兵和建筑物，群攻威力十分强悍。但它的装甲薄，速度慢，对坦克单位效果差，所以不适于攻击坦克单位以及单独作战。在幻影坦克的掩护下行动起来会更加便利。<br>
    坦克杀手：    坦克杀手是德国的特色武器，坦克的克星，但是对建筑与步兵效果很不理想，因此大大削弱了它的利用价值。其原型为以色列梅卡瓦主战坦克，但是与“梅卡瓦主战坦克”不同的是它并没有可旋转炮塔。<br>
    MCV： 盟军的机动工程车，可以展开为盟军建造厂。<br>
    
    <br>
    夜鹰直升机：   盟军的空中运输单位，拥有一定的自卫能力。<br>
    入侵者战机：   盟军的空中轰炸单位，能够有效打击地面单位。<br>
    黑鹰战机：    黑鹰战机是韩国特有空军单位，停在空指部。可以有效对敌实行空对地打击。生命力、攻击力大于入侵者战机，速度、造价和入侵者相同。<br>
    
    <br>
    两栖运输艇：   两栖运输单位，没有自卫能力。<br>
    驱逐舰： 盟军海军的主要作战单位，搭载155 mm加农炮和“鱼鹰”反潜机。<br>
    神盾巡洋舰：   盟军海军的防空单位，具有优秀的防空能力。<br>
    海豚：  盟军海军的支援单位，对抗巨型乌贼的利器。<br>
    航空母舰：    顾名思义，它是于甲板上停放战机，并用以攻击目标的大型船舰。航空母舰上搭载的战机会降落，重新装载弹药，再继续攻击到完全摧毁选定目标才罢休。更棒的是，航空母舰上所有损失的战机毋须消耗任何资源即可自动补充。<br>
    <br>
    <br>
    <h3>苏军阵营</h3>
    动员兵： 苏军的基本作战单位，造价低廉易于形成 人海战术。<br>
    工程师： 支援单位。可以修缮桥梁、建筑、拆除疯狂伊文的炸弹，或者将敌方建筑占为己有。<br>
    警犬：  侦察单位与反步兵单位。优秀的西伯利亚爱斯基摩犬，能够识别间谍，秒杀步兵。<br>
    防空步兵：    苏军的防空单位，对抗步兵也十分有效。<br>
    磁爆步兵：    又称“杨永信”，这种特殊的步兵部队，以强力的磁能波攻击，这种磁能波是由其身上装备的可携式磁能线圈所产生。磁爆步兵不但不会被坦克辗毙，而且还能替基地的磁能线圈充能，并增强其攻击范围及威力。<br>
    辐射工兵：    伊拉克的特殊兵种，以强力的辐射杀死对手的步兵、装甲车辆、生物、海军、以及停靠在地面上的空军单位。可以部署，部署后在四周形成一圈绿色辐射层，能对大部分敌人造成杀伤。缺点是造价高，且容易误伤友军。<br>
    疯狂伊文：    疯狂伊文是用来称呼苏联爆破专家的代号，他可以在地图上安置炸药进行攻击。几乎所有东西都可以引爆，从敌方建筑物到个别的士兵，就连闲晃的乳牛也不例外。装置炸药之后，会先倒数计恃再引爆。疯狂伊文也能在桥头维修小屋里装置炸药，摧毁桥梁。<br>
    恐怖分子：    古巴特色兵种，通过接近敌方然后自爆来造成伤害。<br>
    超能力部队/尤里：    尤里具备心灵控制大部分敌方部队、车辆的能力。敌方车辆或人员一旦遭到心灵控制，就会立刻变成你的战力，可以如同自己建造的部队般下令他移动攻击。假如尤里遇害了，则与这个受控制的部队连系即告中止。<br>
    尤里改： 特殊单位，需要侵入苏联作战实验室并拥有苏军军营。仅限造1个（可克隆），拥有超远的心灵控制能力和心灵爆破能力。<br>
    超时空伊文：   特殊单位，需要侵入盟军作战实验室并拥有苏军军营。拥有超时空传送能力的疯狂伊文。<br>
    菁英战斗兵：   菁英战斗兵对付步兵单位相当有效率。虽然不会用C4炸药破坏建筑物，但是菁英战斗兵可以呼叫米格战斗机轰炸他用雷射指示的建筑物。<br>
    
    <br>
    武装采矿车：   苏军的采矿车，车顶搭载了一个机炮。<br>
    犀牛坦克：   苏军的主战坦克，牺牲机动性但拥有较高的装甲。<br>
    防空履带车：   苏军的防空单位，同时具备运输步兵的能力。<br>
    恐怖机器人：   恐怖机器人是坦克的克星（包括坦克杀手），速度快，攻击力强。攻击方式是跳起，钻入坦克后蓄电摇动坦克以攻击坦克或跳起飞过后秒杀步兵。被寄生的战车只能放入维修站、科技前哨站或被多功能修理车进行维修。缺点是防守差，对建筑物无攻击力。<br>
    V3火箭发射车： 苏军的攻城单位，可以从极远的距离发射给予打击。<br>
    磁能坦克：    苏俄特有的反装甲坦克，可以越过围墙发动攻击。<br>
    自爆卡车：    利比亚特有的自爆载具，通过自爆造成伤害并在一定范围洒下核辐射。<br>
    MCV： 苏军的机动工程车，可以展开为苏联建造厂。<br>
    天启坦克：    苏联的究极坦克兵种。天启本身是辆大型车辆，能承受大规模攻击，屹立不摇。这种坦克能用来攻击地面及空中目标，擅长攻击坦克和建筑。多辆天启坦克在一起防空能力较强。   <br>                       
    <br>
    基洛夫空艇：   苏军的空军单位。这款巨型苏联齐柏林飞艇以密集投掷大型炸弹来攻击，攻击力惊人。一架3级飞艇能秒杀地面建筑，并且炸毁各种设施。缺点是只能对地攻击，没有防空力量，且移动速度十分慢。<br>
    米格战机：    辅助攻击的一种单位。米格无法建造，只能通过菁英战斗兵召唤。<br>

    <br>
    装甲运兵船：   两栖运输单位，没有自卫能力。<br>
    台风级攻击潜艇： 苏联海军的主要作战单位，在没有反潜单位的情况下能够悄无声息地发动攻击。<br>
    海蝎：  苏联海军的防空单位，拥有极高的射速。<br>
    巨型乌贼：    苏联科学家掳获、并加以训练的巨型乌贼。它具有紧紧抓住敌方船舰，再用威力强大的触手将之撕裂成碎片的能力。巨型乌贼是匿踪部队，不会出现在敌方雷达上。<br>
    无畏级战舰：   这种大型战舰在攻击敌方船舰及地面设施上效果卓越。以威力强大的长程飞弹发动攻击，使得敌人难以靠近还击。  <br>
    
  </p>
  <br>
  <br>
</body>

{% endblock %}