{% extends "base.html" %}
{% load static %}
{% block page_content %}
<style type="text/css">
	p {
		color: black;
	}

	h6 {
		font-weight: bold;
	}
</style>

<div align="justify">
<br>

<h6>命令与征服：泰伯利亚的黎明（Command & Conquer:Tiberian Dawn）</h6>
<p>Release: Aug.31 1995</p>

<p>Command & Conquer is a 1995 real-time strategy video game developed by Westwood Studios and published by Virgin Interactive. Set in an alternate history of modern day, the game tells the story of a world war between two globalized factions: the Global Defense Initiative of the United Nations and a cult-like militant organization called the Brotherhood of Nod, led by the mysterious Kane. The groups compete for control of Tiberium, a mysterious substance that slowly spreads across the world.</p>

<p>《命令与征服：泰伯利亚的黎明》是由西木主导开发，并由维珍游戏发行的一款即时战略游戏，该作是《命令与征服》系列的第一作，也是《命令与征服》系列中《泰伯利亚》系列的第一作。</p>

<br>

<h6>命令与征服：隐秘行动（Command & Conquer:The Covert Operations）</h6>
<p>Release: April.30 1996</p>

<p>Command & Conquer: The Covert Operations is an expansion pack for the original Command & Conquer, released in 1996. Like many expansion packs at the time, it did not bring any changes in gameplay or options, while new units were limited to the dinosaurs in the secret Jurassic Park mode. It did use some of the previously multiplayer-only units, such as the Chem trooper and SSM launcher in its missions.</p>

<p>《命令与征服：隐秘行动》是由Westwood工作室制作，Virgin公司发行的即时战略游戏《命令与征服》的增强版。增强版在难度上比原游戏有所提高，并修正了原游戏中的一些错误，但基本操作却没有改变。增强版有15个难度很大的任务，其中GDI方面7个，nod方面8个。游戏还增加了7首游戏插曲和10幅网络对战地图。原游戏中NOD的力量比GDI稍差一些，但在此版中双方的力量基本相同，加大了游戏的难度。</p>

<br>


<h6>命令与征服：红色警戒（Command & Conquer:Red Alert）</h6>
<p>Release: Oct.31 1996</p>

<p>Command & Conquer: Red Alert is a real-time strategy video game of the Command & Conquer franchise, produced by Westwood Studios and released by Virgin Interactive Entertainment in 1996. The second game to bear the Command & Conquer title, Red Alert is the prequel to the original Command & Conquer of 1995, and takes place in the alternate early history of Command & Conquer when Allied Forces battle an aggressive Soviet Union for control over the European mainland.
</p>

<p>《命令与征服：红色警戒》（英语：Command & Conquer: Red Alert），是一款于1996年由美国西木工作室制作、Virgin Interactive发行的即时战略游戏。由于本作为1995年发行的命令与征服的续作，游戏的标题含有“命令与征服”。虽然该游戏发行于1996年，但人们有时称之为“红警95”，可以确信此简称来源于Windows版本红色警戒的起动程序──RA95，意义为红色警戒WIN95版。该游戏后续又有《反戈一击》和《劫后余生》两部资料片。</p>
<br>


<h6>命令与征服 红色警戒：反戈一击（Command & Conquer Red Alert:Counterstrike）</h6>
<p>Release: Mar.31 1997</p>

<p>Command & Conquer: Red Alert: Counterstrike is the first of two expansions for Command & Conquer: Red Alert, released in 1997 with some new missions for both the Allies and the Soviets. It was the first expansion pack to bring new units, however they were campaign only. Arguably, the main feature of this expansion was the four secret Ant missions complete with a new "faction" of enemies, the Giant Ants.</p>

<p>《红色警戒：反戈一击》是由WestWood制作，EA发行的一款即时战略游戏，是红色警戒1代的官方资料片。红色警戒：反戈一击在原版的基础上进行重制加强，使红警1这款游戏的潜力彻底发挥出来，并增添了16个全新的苏联及盟军任务，将带给玩家全新的红警体验。</p>
<br>

<h6>命令与征服 红色警戒：劫后余生（Command & Conquer Red Alert:Aftermath）</h6>
<p>Release: Sept.30 1997</p>

<p>Command & Conquer: Red Alert: The Aftermath is the second of two expansion packs for Command & Conquer: Red Alert, and was released in 1997. Unlike the previous expansion packs, The Aftermath introduced some new units to both sides in skirmish and multiplayer , as well as some new missions and soundtrack additions.</p>

<p>《红色警戒：劫后余生》又名《绝地逢生》（The Aftermath）为《命令与征服：红色警戒》（Command & Conquer: Red Alert）的第二款资料片。《红色警戒：劫后余生》讲述了在第一次红色警戒战争中，一只盟军部队遭受了苏联军队的重创，几乎全军覆没。但他们仍然不屈不挠，继续坚持对苏联作战，收容了不少部队的残部和残兵败将，终于组成一支强大的军队，参与到了对苏联的反攻之中。</p>
<br>

<h6>命令与征服：最后的幸存者（Command & Conquer:Sole Survivor）</h6>
<p>Release: Nov.30 1997</p>

<p>Command & Conquer: Sole Survivor is a multiplayer spin-off of the original Command & Conquer game. It featured a deathmatch-style game in which each player controls any unit of the original Command & Conquer, including the dinosaurs, and travels around the game arena collecting crates to increase this unit's firepower, armour, speed, attack range and reloading speed. Sole Survivor was often compared to a third-person shooter, however played with a top-down perspective of the arena. It featured no singleplayer mode aside from an offline and limited practice mode and the multiplayer had no hints of a storyline. This was the first Command & Conquer game that did not have a DOS version.</p>

<p>命令与征服：最后的幸存者（Command & Conquer: Sole Survivor Online），是一款基于命令与征服的网络多人对战游戏。西木工作室1997年发行。在游戏中，玩家操控一个来自于命令与征服游戏中的单位（包括GDI和Nod的所有单位，游戏中不能训练的特种兵也可以使用，当然基地车和空中单位等除外。此外还能控制包括暴龙（T-rex）、伶盗龙（raptor）等，在地图上探索，寻找各种箱子以增强自己的装甲、火力、速度、射程和射速以及恢复生命或是获得雷达科技、间谍卫星科技、隐形科技等，目的是尽可能地击败其他玩家。游戏中还有离子炮危险（Ion Danger）的设定，即玩家有可能被离子炮击中。还有些箱子内装的是核弹，碰到会引发爆炸。也就是说命令与征服中双方的终极武器也在这款游戏中登场。</p>
<br>


<h6>命令与征服 红色警戒：复仇（Command & Conquer: Red Alert: Retaliation）</h6>
<p>Release: Nov.30 1997</p>

<p>On August 28, 1998, Westwood Studios released Command and Conquer Red Alert: Retaliation for the PlayStation, a compilation of the two PC expansion packs, including the secret Ant Missions. It is almost identical to the PlayStation port of the original Red Alert, except it introduced some new units like Tesla Tank, Shock Trooper, Chrono Tank and Mechanic, and included 105 skirmish maps. The gameplay also included an in-game sidebar code called Soylent Green Mode. In this mode, all ore fields turn to people/civilians, and ore trucks harvest them with grisly sound effects.</p>

<p>《命令与征服红色警戒：复仇（Command & Conquer Red Alert: Retaliation）》是由Westwood Studios开发，Virgin Interactive Entertainment发行。</p>
<br>



<h6>命令与征服2：泰伯利亚之日（Command & Conquer 2:Tiberian Sun）</h6>
<p>Release: Aug.24 1999</p>

<p>Command & Conquer: Tiberian Sun is a real-time strategy video game developed by Westwood Studios and released in 1999. The main storyline follows the second major war between the Global Defense Initiative (GDI) of the United Nations, and the global terrorist organization known as the Brotherhood of Nod. The story takes place 30 years after the GDI had won the First Tiberium War in Command & Conquer.</p>
<p>《命令与征服：泰伯利亚之日》是《命令与征服》（泰伯利亚黎明）的续作。剧情设定在21世纪初，全球防御组织和NOD兄弟会为争夺对地球的控制而爆发了第二次泰伯利亚战争。本作有着史诗般的故事情节，玩家能了解到泰伯利亚在全球爆发背后的原因，以及发生在《命令与征服》中被推定为死亡的NOD领导者凯恩身上的事情。《泰伯利亚之日》提供了一个全新的引擎和改进了的控制，能让玩家更方便的指挥自己的部队。西木工作室的MegaVoxel技术用动态三维地形创造出了更加刺激和危险的战场，还有真实的物理和全活性的环境，爆炸留下的弹坑、冻结的湖泊和河流、离子风暴瘫痪高科技武器、森林大火肆虐失控、带着有毒气体云的风。GDI和NOD在全球统治的斗争中有着不同的风格、单位和技能、以及无限的战术和战略选择。</p>
<br>


<h6>命令与征服2 泰伯利亚之日：火焰风暴（Command & Conquer 2 Tiberian Sun:Firestorm）</h6>
<p>Release: Mar.8 2000</p>

<p>Command & Conquer: Tiberian Sun - Firestorm is Westwood Studios' expansion pack to Command & Conquer: Tiberian Sun, released in 2000. The expansion's plot follows the Firestorm Crisis, an attempted rebellion against humanity by the Nod AI CABAL that occurred following the Second Tiberium War.

Unlike previous C&C expansion packs, both campaigns have FMV briefings for all missions. It is also notable as the first game in the franchise where both singleplayer campaigns — GDI and Nod — are canon, occurring simultaneously and forming one connected storyline. In previous titles, only the ending for the "good" side (GDI/Allies) was considered canon. This approach would not be repeated until Command & Conquer 3: Tiberium Wars.</p>

<p>《命令与征服2 泰伯利亚之日：火焰风暴》是命令与征服2：泰伯利亚之日的官方资料片。</p>
<br>


<h6>命令与征服：红色警戒2（Command & Conquer:Red Alert 2）</h6>
<p>Release: Oct.21 2000</p>

<p>Command & Conquer: Red Alert 2 is a real-time strategy video game by Westwood Studios, which was released for Microsoft Windows on October 23, 2000[1] as the follow-up to Command & Conquer: Red Alert. Red Alert 2 picks up at the conclusion of the Allied campaign of the first game. Its expansion is Command & Conquer: Yuri's Revenge.

Command and Conquer: Red Alert 2 contains two playable factions, the Soviets and the Allies, which both previously appeared in Command & Conquer: Red Alert. The single player campaign is structured in an alternate-ending mode as opposed to a progressive story mode. Like its predecessor, Red Alert 2 features a large amount of full motion video cutscenes between missions and during gameplay, with an ensemble cast including Ray Wise, Udo Kier, Kari Wuhrer, and Barry Corbin.</p>

<p>《命令与征服：红色警戒2》（英语：Command & Conquer: Red Alert 2），是一款由西木太平洋制作，艺电发行的2.5D实时即时战略游戏。于2000年10月23日在Windows发行，是《命令与征服：红色警戒》系列的正统续作。二代的阵营依然是由美国领导的盟军（包括美国、英国、德国、法国、韩国）和由苏俄领导的苏军（包括苏俄、伊拉克、利比亚、古巴）。红色警戒2首次推出了繁体中文版本。</p>
<br>


<h6>命令与征服 红色警戒2：尤里的复仇（Command & Conquer Red Alert 2:Yuri's Revenge）</h6>
<p>Release: Oct.10 2001</p>

<p>Command & Conquer: Yuri's Revenge is an expansion pack to Command & Conquer: Red Alert 2 developed by Westwood Studios. The game was released in North America on October 10, 2001 by EA Games. The game is centered on a shadowy ex-Soviet figure named Yuri who has established a secret army of his own and poses a threat to the free will of the world.</p>

<p>《尤里的复仇》是《命令与征服：红色警戒2》的正统资料片，讲及苏联在红色警戒2中战败后，尤里意欲使用自己发明的心灵控制科技来统治全世界和苏联和盟军亦敌亦友的关系。</p>
<br>


<h6>命令与征服：叛逆者（Command & Conquer:Renegade）</h6>
<p>Release: Feb.25 2002</p>

<p>Command & Conquer: Renegade is a first- and third-person shooter video game developed by Westwood Studios and is part of the Command & Conquer series. It is the only Command & Conquer game that uses the first-person view. It was released on February 27, 2002 by EA Games.</p>

<p>《命令与征服：叛逆者》是由西木工作室开发的第一人称射击游戏，也是命令与征服系列中唯一一个第一人称射击游戏，由艺电在2002年2月26日发行。《叛逆者》最初的故事描述于第一次泰伯利亚之战的最后一天，三名GDI顶尖的科学家被NOD俘虏。玩家要扮演尼克派克队长(Nick Parker，代号Havoc)，去拯救这三名科学家，过程中会经历12个关卡。</p>
<br>


<h6>命令与征服：将军（Command & Conquer:Generals）</h6>
<p>Release: Feb.10 2003</p>

<p>Command & Conquer: Generals is a real-time strategy video game and the seventh installment in the Command & Conquer series.[1] It was released for Microsoft Windows and Mac OS operating systems in 2003 and 2004. While the Windows version of Generals was developed by EA Pacific and published by EA Games, the Mac OS X version was developed and published by Aspyr Media. The Mac OS X version was re-released by Aspyr for the Mac App Store on March 12, 2015. In the game, the player can choose from three different factions: the United States, China and the Global Liberation Army (GLA).</p>

<p>《命令与征服：将军》（英语：Command and Conquer: Generals，港台译作“终极动员令：将军”），于2003年2月10日发行。艺电从本游戏开拓了一条新系列，剧情与泰伯利亚系列和红色警戒系列毫无关联。游戏使用SAGE引擎，为命令与征服系列中首套具备三维画面的即时战略游戏。</p>
<br>


<h6>命令与征服 将军：绝命时刻（Command & Conquer Generals:Zero Hour）</h6>
<p>Release: Sept.22 2003</p>

<p>Command and Conquer: Generals – Zero Hour is the expansion pack for the 2003 video game Command & Conquer: Generals. Zero Hour added several new abilities and units to each side, and a new mode of play called Generals' Challenge, along with a lot more changes, new features and bug/glitch fixes.</p>

<p>《命令与征服：将军 绝命时刻》（英语：Command & Conquer: Generals – Zero Hour）是电子游戏《命令与征服：将军》的资料片。《绝命时刻》增加了每个阵营的能力以及九个将军。除一般的战役和遭遇战之外，它还新增了一个“将军挑战”模式，在其中玩家可以扮演这几个将军并和其他将军对抗，最后打到“BOSS”：驻守西藏的中国女将军——“雌虎”凌将军。</p>
<br>



<h6>命令与征服3：泰伯利亚之战（Command & Conquer 3:Tiberian Wars）</h6>
<p>Release: Mar.26 2007</p>

<p>Command & Conquer 3: Tiberium Wars is a military science fiction real-time strategy video game developed and published by Electronic Arts for the Windows, Mac OS X and Xbox 360 platforms, and released internationally in March 2007.[2] The direct sequel to 1999's Command & Conquer: Tiberian Sun by Westwood Studios which was taken over and liquidated by EA in 2003, Tiberium Wars returns the Command & Conquer series to its roots in the Tiberium story arc of the franchise, again featuring the factions of the Global Defense Initiative and the Brotherhood of Nod, and also introducing a new extraterrestrial faction known as the Scrin. An expansion pack to Tiberium Wars, titled Command & Conquer 3: Kane's Wrath, was released on March 24, 2008.</p>

<p>《命令与征服3：泰伯利亚之战》（英语：Command & Conquer 3: Tiberium Wars）是一款由EA洛杉矶于2007年3月制作与发行于视窗及Xbox 360平台的即时战略游戏，是自1999年由Westwood Studios制作的即时战略游戏《命令与征服：泰伯利亚之日》以及其资料片《命令与征服：火线风暴》的续集。故事是发生在“第三次泰伯利亚战争”的时候，NOD兄弟会以出其不意的攻势在世界各地展开对付全球防御组织（Global Defensive Initiative，GDI），这也代表结束了长达17年的寂静并在各地摧毁GDI的兵力。在NOD占据优势的时候，GDI总司令为了挽救失去的希望，开始率领其军队并与Nod部队的第二次复归展开抗战。此游戏也将会为《命令与征服》系列的泰伯利亚系列追加第三个势力，并且是第二套《命令与征服》游戏系列里面可以让玩家自由升级其军队的作品。</p>
<br>


<h6>命令与征服3：凯恩之怒（Command & Conquer:Kane's wrath）</h6>
<p>Release: Mar.24 2008</p>

<p>Command & Conquer 3: Kane's Wrath is an expansion pack for the 2007 real-time strategy video game Command & Conquer 3: Tiberium Wars. Developed by EA Los Angeles studios and BreakAway Games studios, it was released on March 24, 2008 in the United States and on March 28, 2008 in Europe by publisher Electronic Arts, and was also released on June 24 for the Xbox 360.</p>

<p>《命令与征服3：凯恩之怒》（英语：Command & Conquer 3: Kane's Wrath，港台译作“终极动员令3：肯恩之怒”）是即时战略类电子游戏《命令与征服3：泰伯利亚之战》的官方资料片。由美国艺电洛杉矶和BreakAway Games工作室开发，于2008年3月24日由美国艺电发行，6月24日在Xbox 360上发行。《命令与征服3：凯恩之怒》填补了先前游戏中的一些不足之处。其故事情节跨越了整整20年——从第二次泰伯利亚战争后NOD兄弟会的重生到第三次泰伯利亚战争以及之后的事情。</p>
<br>


<h6>命令与征服：红色警戒3（Command & Conquer:Red Alert 3）</h6>
<p>Release: Oct.28 2008</p>

<p>Command & Conquer: Red Alert 3 is a real-time strategy video game developed by EA Los Angeles and published by Electronic Arts. It was released on October 28, 2008 in the United States for Microsoft Windows and October 30, 2008 in Europe. An Xbox 360 version was released on November 11. On January 21, 2009 EA announced Command & Conquer: Red Alert 3 – Ultimate Edition, the PlayStation 3 version which contains additional material was released on March 23, 2009 along with the OS X version by TransGaming. The game is a continuation of the Red Alert games within the Command & Conquer series. Command & Conquer: Red Alert 3 – Uprising, a stand-alone expansion pack, was released for Microsoft Windows in March 2009. It was offered via digital distribution.</p>

<p>《命令与征服：红色警戒3》（英语：Command & Conquer: Red Alert 3）为红色警戒系列于2008年发布之作品，艺电于2008年2月15日宣布推出PS3、XBox及个人电脑3种版本，在官方预告片中表示本游戏于同年10月推出。2008年7月中旬，艺电宣布中止PS3版本的开发，并且撤出开发人员，其理由是“PS3异乎寻常难以开发，红色警戒3的引擎当初未考虑PS3”；但是在个人电脑版本发售一段时间后，艺电又宣布恢复其PS3版本的开发。剧情接续红色警戒2，与红色警戒2：尤里的复仇互为平行时空，由于罗曼诺夫主席被盟军逮捕，苏联即将面临溃败亡国的危机，但在这时候苏联的科学家泽林斯基成功研发时间机器，于是苏联领导人用时光机回到1927年，在布鲁塞尔国际物理会议时把爱因斯坦从时间中消去，盟军就这样失去了例如光棱科技、天气控制机等的科技优势（没有爱因斯坦的理论质能等价便没有原子弹），苏联成功扭转局势，避免了崩溃，甚至当苏联领导人回到正常的时间时，苏联，已经快要征服整个欧洲了。但对于过去的改变通过蝴蝶效应使得之后历史发生了天翻地覆的变化，直接造成了一个全新强大的势力：昇阳帝国（即日本或大日本帝国）的崛起。升阳帝国对苏联和盟军不宣而战，企图实现他们的“天命”——即征服全世界。</p>
<br>


<h6>命令与征服红色警戒3：起义时刻（Command & Conquer Red Alert 3：Uprising）</h6>
<p>Release: Mar.16 2009</p>

<p>Command & Conquer: Red Alert 3 – Uprising is a 2009 real-time strategy video game developed by EA Los Angeles and published by Electronic Arts. It is a stand-alone expansion to Command & Conquer: Red Alert 3 released for Microsoft Windows and offered via digital distribution. It does not require Red Alert 3 to play. It features about 30 new maps for traditional skirmish with many of these taking place in new environments. It does not contain any multiplayer elements such as cooperative play, online play or network play.</p>

<p>《命令与征服：红色警戒3 – 起义时刻》是美国艺电官方在2009年1月宣布于2009年3月推出的《命令与征服：红色警戒3》首部资料片。</p>
<br>


<h6>命令与征服4：泰伯利亚的黄昏（Command & Conquer 4:Tiberian Twilight）</h6>
<p>Release: March 16, 2010</p>

<p>Command & Conquer 4: Tiberian Twilight is a real-time strategy video game, part of the Command & Conquer franchise, released March 16, 2010. It constitutes a final chapter in the Tiberium saga. The game was originally started as an Asian market online-only version of Command & Conquer 3. The game was released for download via online gaming distribution service Steam on March 19, 2010. Command & Conquer 4 also uses EA's own servers for online play, rather than GameSpy Servers which EA has relied on for previous Command & Conquer games. A closed beta of the game was released by EA to contest winners on November 21, 2009.</p>

<p>《命令与征服4：泰伯利亚的黄昏》（英语：Command & Conquer 4: Tiberium Twilight）是一款于2010年3月16日推出的即时战略游戏 并且将会是命令与征服系列最新的一款游戏。艺电洛杉矶正在进行此游戏的开发工作。此游戏亦是泰伯利亚系列的最后一款游戏。此游戏的详情和一段预告片已在2009年7月24日在艺电的网站上发布。</p>
<br>

</div>

{% endblock %}
