{% extends "base.html" %}
{% load static %}
{% block page_content %}


<div align="justify">
<br>

<h6>命令与征服：泰伯利亚的黎明（Command & Conquer:Tiberian Dawn）</h6>
<p>Release: Aug.31 1995</p>

<p>Command & Conquer is a 1995 real-time strategy video game developed by Westwood Studios and published by Virgin Interactive. Set in an alternate history of modern day, the game tells the story of a world war between two globalized factions: the Global Defense Initiative of the United Nations and a cult-like militant organization called the Brotherhood of Nod, led by the mysterious Kane. The groups compete for control of Tiberium, a mysterious substance that slowly spreads across the world.</p>
<br>

<h6>命令与征服：隐秘行动（Command & Conquer:The Covert Operations）</h6>
<p>Release: April.30 1996</p>

<p>Command & Conquer: The Covert Operations is an expansion pack for the original Command & Conquer, released in 1996. Like many expansion packs at the time, it did not bring any changes in gameplay or options, while new units were limited to the dinosaurs in the secret Jurassic Park mode. It did use some of the previously multiplayer-only units, such as the Chem trooper and SSM launcher in its missions.</p>
<br>


<h6>命令与征服：红色警戒（Command & Conquer:Red Alert）</h6>
<p>Release: Oct.31 1996</p>

<p>Command & Conquer: Red Alert is a real-time strategy video game of the Command & Conquer franchise, produced by Westwood Studios and released by Virgin Interactive Entertainment in 1996. The second game to bear the Command & Conquer title, Red Alert is the prequel to the original Command & Conquer of 1995, and takes place in the alternate early history of Command & Conquer when Allied Forces battle an aggressive Soviet Union for control over the European mainland.
</p>
<br>


<h6>命令与征服 红色警戒：反戈一击（Command & Conquer Red Alert:Counterstrike）</h6>
<p>Release: Mar.31 1997</p>

<p>Command & Conquer: Red Alert: Counterstrike is the first of two expansions for Command & Conquer: Red Alert, released in 1997 with some new missions for both the Allies and the Soviets. It was the first expansion pack to bring new units, however they were campaign only. Arguably, the main feature of this expansion was the four secret Ant missions complete with a new "faction" of enemies, the Giant Ants.</p>
<br>

<h6>命令与征服 红色警戒：劫后余生（Command & Conquer Red Alert:Aftermath）</h6>
<p>Release: Sept.30 1997</p>

<p>Command & Conquer: Red Alert: The Aftermath is the second of two expansion packs for Command & Conquer: Red Alert, and was released in 1997. Unlike the previous expansion packs, The Aftermath introduced some new units to both sides in skirmish and multiplayer , as well as some new missions and soundtrack additions.</p>
<br>

<h6>命令与征服：最后的幸存者（Command & Conquer:Sole Survivor）</h6>
<p>Release: Nov.30 1997</p>

<p>Command & Conquer: Sole Survivor is a multiplayer spin-off of the original Command & Conquer game. It featured a deathmatch-style game in which each player controls any unit of the original Command & Conquer, including the dinosaurs, and travels around the game arena collecting crates to increase this unit's firepower, armour, speed, attack range and reloading speed. Sole Survivor was often compared to a third-person shooter, however played with a top-down perspective of the arena. It featured no singleplayer mode aside from an offline and limited practice mode and the multiplayer had no hints of a storyline. This was the first Command & Conquer game that did not have a DOS version.</p>
<br>

<h6>命令与征服2：泰伯利亚之日（Command & Conquer 2:Tiberian Sun）</h6>
<p>Release: Aug.24 1999</p>

<p>Command & Conquer: Tiberian Sun is a real-time strategy video game developed by Westwood Studios and released in 1999. The main storyline follows the second major war between the Global Defense Initiative (GDI) of the United Nations, and the global terrorist organization known as the Brotherhood of Nod. The story takes place 30 years after the GDI had won the First Tiberium War in Command & Conquer.</p>
<br>


<h6>命令与征服2 泰伯利亚之日：火焰风暴（Command & Conquer 2 Tiberian Sun:Firestorm）</h6>
<p>Release: Mar.8 2000</p>

<p>Command & Conquer: Tiberian Sun - Firestorm is Westwood Studios' expansion pack to Command & Conquer: Tiberian Sun, released in 2000. The expansion's plot follows the Firestorm Crisis, an attempted rebellion against humanity by the Nod AI CABAL that occurred following the Second Tiberium War.

Unlike previous C&C expansion packs, both campaigns have FMV briefings for all missions. It is also notable as the first game in the franchise where both singleplayer campaigns — GDI and Nod — are canon, occurring simultaneously and forming one connected storyline. In previous titles, only the ending for the "good" side (GDI/Allies) was considered canon. This approach would not be repeated until Command & Conquer 3: Tiberium Wars.</p>
<br>


<h6>命令与征服：红色警戒2（Command & Conquer:Red Alert 2）</h6>
<p>Release: Oct.21 2000</p>

<p>Command & Conquer: Red Alert 2 is a real-time strategy video game by Westwood Studios, which was released for Microsoft Windows on October 23, 2000[1] as the follow-up to Command & Conquer: Red Alert. Red Alert 2 picks up at the conclusion of the Allied campaign of the first game. Its expansion is Command & Conquer: Yuri's Revenge.

Command and Conquer: Red Alert 2 contains two playable factions, the Soviets and the Allies, which both previously appeared in Command & Conquer: Red Alert. The single player campaign is structured in an alternate-ending mode as opposed to a progressive story mode. Like its predecessor, Red Alert 2 features a large amount of full motion video cutscenes between missions and during gameplay, with an ensemble cast including Ray Wise, Udo Kier, Kari Wuhrer, and Barry Corbin.</p>
<br>


<h6>命令与征服 红色警戒2：尤里的复仇（Command & Conquer Red Alert 2:Yuri's Revenge）</h6>
<p>Release: Oct.10 2001</p>

<p>Command & Conquer: Yuri's Revenge is an expansion pack to Command & Conquer: Red Alert 2 developed by Westwood Studios. The game was released in North America on October 10, 2001 by EA Games. The game is centered on a shadowy ex-Soviet figure named Yuri who has established a secret army of his own and poses a threat to the free will of the world.</p>
<br>


<h6>命令与征服：叛逆者（Command & Conquer:Renegade）</h6>
<p>Release: Feb.25 2002</p>

<p>Command & Conquer: Renegade is a first- and third-person shooter video game developed by Westwood Studios and is part of the Command & Conquer series. It is the only Command & Conquer game that uses the first-person view. It was released on February 27, 2002 by EA Games.</p>
<br>


<h6>命令与征服：将军（Command & Conquer:Generals）</h6>
<p>Release: Feb.10 2003</p>

<p>Command & Conquer: Generals is a real-time strategy video game and the seventh installment in the Command & Conquer series.[1] It was released for Microsoft Windows and Mac OS operating systems in 2003 and 2004. While the Windows version of Generals was developed by EA Pacific and published by EA Games, the Mac OS X version was developed and published by Aspyr Media. The Mac OS X version was re-released by Aspyr for the Mac App Store on March 12, 2015. In the game, the player can choose from three different factions: the United States, China and the Global Liberation Army (GLA).</p>
<br>


<h6>命令与征服 将军：绝命时刻（Command & Conquer Generals:Zero Hour）</h6>
<p>Release: Sept.22 2003</p>

<p>Command and Conquer: Generals – Zero Hour is the expansion pack for the 2003 video game Command & Conquer: Generals. Zero Hour added several new abilities and units to each side, and a new mode of play called Generals' Challenge, along with a lot more changes, new features and bug/glitch fixes.</p>
<br>



<h6>命令与征服3：泰伯利亚之战（Command & Conquer 3:Tiberian Wars）</h6>
<p>Release: Mar.26 2007</p>

<p>Command & Conquer 3: Tiberium Wars is a military science fiction real-time strategy video game developed and published by Electronic Arts for the Windows, Mac OS X and Xbox 360 platforms, and released internationally in March 2007.[2] The direct sequel to 1999's Command & Conquer: Tiberian Sun by Westwood Studios which was taken over and liquidated by EA in 2003, Tiberium Wars returns the Command & Conquer series to its roots in the Tiberium story arc of the franchise, again featuring the factions of the Global Defense Initiative and the Brotherhood of Nod, and also introducing a new extraterrestrial faction known as the Scrin. An expansion pack to Tiberium Wars, titled Command & Conquer 3: Kane's Wrath, was released on March 24, 2008.</p>
<br>


<h6>命令与征服3：凯恩之怒（Command & Conquer:Kane's wrath）</h6>
<p>Release: Mar.24 2008</p>

<p>Command & Conquer 3: Kane's Wrath is an expansion pack for the 2007 real-time strategy video game Command & Conquer 3: Tiberium Wars. Developed by EA Los Angeles studios and BreakAway Games studios, it was released on March 24, 2008 in the United States and on March 28, 2008 in Europe by publisher Electronic Arts, and was also released on June 24 for the Xbox 360.</p>
<br>


<h6>命令与征服：红色警戒3（Command & Conquer:Red Alert 3）</h6>
<p>Release: Oct.28 2008</p>

<p>Command & Conquer: Red Alert 3 is a real-time strategy video game developed by EA Los Angeles and published by Electronic Arts. It was released on October 28, 2008 in the United States for Microsoft Windows and October 30, 2008 in Europe. An Xbox 360 version was released on November 11. On January 21, 2009 EA announced Command & Conquer: Red Alert 3 – Ultimate Edition, the PlayStation 3 version which contains additional material was released on March 23, 2009 along with the OS X version by TransGaming. The game is a continuation of the Red Alert games within the Command & Conquer series. Command & Conquer: Red Alert 3 – Uprising, a stand-alone expansion pack, was released for Microsoft Windows in March 2009. It was offered via digital distribution.</p>
<br>


<h6>命令与征服红色警戒3：起义时刻（Command & Conquer Red Alert 3：Uprising）</h6>
<p>Release: Mar.16 2009</p>

<p>Command & Conquer: Red Alert 3 – Uprising is a 2009 real-time strategy video game developed by EA Los Angeles and published by Electronic Arts. It is a stand-alone expansion to Command & Conquer: Red Alert 3 released for Microsoft Windows and offered via digital distribution. It does not require Red Alert 3 to play. It features about 30 new maps for traditional skirmish with many of these taking place in new environments. It does not contain any multiplayer elements such as cooperative play, online play or network play.</p>
<br>


<h6>命令与征服4：泰伯利亚的黄昏（Command & Conquer 4:Tiberian Twilight）</h6>
<p>Release: March 16, 2010</p>

<p>Command & Conquer 4: Tiberian Twilight is a real-time strategy video game, part of the Command & Conquer franchise, released March 16, 2010. It constitutes a final chapter in the Tiberium saga. The game was originally started as an Asian market online-only version of Command & Conquer 3. The game was released for download via online gaming distribution service Steam on March 19, 2010. Command & Conquer 4 also uses EA's own servers for online play, rather than GameSpy Servers which EA has relied on for previous Command & Conquer games. A closed beta of the game was released by EA to contest winners on November 21, 2009.</p>
<br>

</div>

{% endblock %}
