{% extends "base.html" %}
{% load static %}

{% block page_content %}

<style type="text/css">
  #m1 img {
    width: 100%;
  }
</style>

<br>
<div id="m1" style="border:groove; border-color: black;">
<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-01.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-02.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-03.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-04.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-05.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-06.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-07.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-08.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-09.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-10.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-11.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-12.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-13.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-14.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-15.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-16.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-17.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-18.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-19.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-20.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-21.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-22.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-23.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-24.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-25.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-26.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-27.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-28.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-29.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-30.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-31.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-32.png' %}">

<img id = "p_2" class="card-img-top" src="{% static 'img/Red_Alert_2_-_English/Red_Alert_2_-_English-33.png' %}">


</div>
{% endblock %}
