{% extends "base.html" %}
{% load static %}
{% block page_content %}

<html lang="zh">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <head>
    <meta charset="utf-8" />

    <style>

    img
    {
        width: 100%; 
      
    }

    </style>

  </head>

  <body>
    </br>
    <div class="container" align="justify">
    
    <div>
      
    <table>
      <h1>常用地图</h1>
      <tr>
        <td><img align="left" src="{% static "img/map/bingtianxuedi.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">冰天雪地（2-8）：红色警戒国内第一地图，无论是单挑还是混战，出镜率都极高。国内每年都会有冰天雪地的比赛，玩家们称为冰天王。该地图资源丰富，地图广阔，对玩家的综合能力如分兵，探路，运营等能力要求较高。地图共有8个位置，每个位置均有不同的打法。<br><br>

        冰天雪地战术介绍 (作者：亡魂)：<br><br>原地发展：兵营后出3条狗，有的人喜欢出2条和4条，2条的人感觉自己探路比较有信心，想把钱用在战斗上，出4条的人用2条探路，2条守俩个路口，我建议还是出3条狗，3个方向探开，这样即使被对方咬到1条也还有机会探开对手，探路的时候要注意的是特别中间的那条狗到路口时一定要停下来试探对方有没有守主路口，可以小步前进，重工后出1，2蜘蛛2，3矿车我建议出3个矿车，这样攻防具备，而且对后面的发展不会卡钱，然后一直出坦克，矿厂再出2个，然后就可以出第2个重工6牛2重，6牛的时候一定要出第2个重工，不要等到有7牛才出第2重，那样坦克会比对手少，7牛3重这样一直推理下去，当然有的人会说5牛可以2重，这样也可以但是你经济必须控制好，前期随时指挥矿车倒矿，避免卡钱，一般有5，6个矿车的时候就开始分矿区了，如果你在的位置可以延伸就延伸建筑，如果不可以延伸就拉基地到另个矿区发展，拉2.3个矿车过去，一个矿区只应许2，3个矿车采矿，多了矿车会挤经济会卡，一般正常的都是3个矿区5重左右基本是可以结束战斗了，感觉不好还是打不下来继续拉基地发展其他矿区，再拉牛过去采新矿区，前期和中期金钱在1000的时候就可以开始手动指挥他倒矿了，不能卡钱，后期的话你在没有指挥坦克剩余的时间就看着矿车跑远了就必须指挥他采离矿厂最近的矿，记住6牛2重可以带狗，如果你5牛就出2个重工还带狗那样就会卡钱的，一般都是8，9牛5，6重这样的话基本是可以结束战斗了，没必要发展了，有的人喜欢4，5牛2重工拉中，如果看到对手这样的战术你直接6牛3重拉基地到中间出大兵和他对抗，或者是6牛4重卖基地，爆狗和大兵压到中部，也可以分几个坦克打他的后方。
        <br><br>伊破伊拉中：1.一牛二重破中：狗探开对手后看到他拉中后，立即改变你2边探路的狗回来守住他要往你家探路的路口，如果你中间那只狗被他干掉了，你可以再出个狗继续守住中间，如果对方探不开路，那他是很蛋疼的，你重工后看他地堡多不多如果地堡和大兵多，可以使用1个防空车里放一个蜘蛛，蜘蛛路径进他的矿车，防空车拉到他的矿车旁边用防空车吸引身边所有火力，立刻把蜘蛛放出来他自动进对方的矿车，如果不用防空车装蜘蛛也可以先出一个坦克和一个蜘蛛，用坦克吸引对方火力，蜘蛛上他的矿车，然后哪个坦克直接点打矿车，然后一直出坦克，出第2个重工，卖基地，比如上方位置我建议拉基地到第2层出第2个重工在第3层再卖基地，把卖的大兵全部拉到中部配合坦克攻击，工程师可以饶到对手的后方偷他的建筑。 2.一牛一重破中：重工后出1蜘蛛，然后一直出坦克，基地立即拉中，看下合适的话蜘蛛上牛车，上不了也没事，坦克一直路径到中部，基地在中间打开，出个兵营在中间出一个地堡在兵营前面，然后中间的兵营爆大兵然后卖基地，中间的大兵配合坦克攻击，这个破法说实话不是那么实在，如果双方实力都相同，想破中确实有点困难。3.三牛一重破中：重工后一直不断的出坦克，再出2个矿厂就有3牛了，然后拉基地到中间打开，在拉中时坦克要保护好基地被对方的蜘蛛上，到中间后，坦克一直路径到中部，基地打开出兵营，爆大兵出1，2个地堡在前面，这里要注意的是你在爆大兵的时候可能会卡钱，你可以先停止出坦克10秒左右先爆兵，再出坦克，这样的话兵多了少出1，2个坦克也没事，如果对方卖基地你也卖，他不卖你继续出2，3个地堡控制矿区，然后再卖基地，你坦克不断的骚扰吸引他的大兵过来干掉消耗他或者打掉矿区的金钱，机会好时点他露头的坦克，一直这样消耗找机会，感觉合适的机会就可以点他的坦克，点矿车，打到最后如果还是僵持，那他中间也没什么矿了，基本矿都被坦克打掉的，这个战术其实最主要的是要防好对手的蜘蛛，你卡钱也手动倒下矿，而且需要坦克的操作相当的高，不过这也是我个人看到很多高手中最为好的破中战术。<br><br></h5></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/aijizhilv.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">埃及之旅（2-6）：经典3v3团队配合地图，在尤里复仇中出镜率极高。该地图共有6个位置，每个位置都有相应的团队配合战术。<br><br>
        埃及之旅3v3战术介绍 (作者：Dogking, Beefcat)：<br><br>
        3vs3是多人游戏，队友之间要相互配合，最好把游戏分辨率调到显示器允许的最大分辨率，这样对观察是有很大帮助的。多观察局势，对方的坦克离家就去偷袭，不要送坦克，队友受攻击要去帮忙。这是最基本的内容
        3.埃及这个地图，本身矿产资源有限，不要多出矿车和重工，这些东西在采完矿之后全会变成废物。重工有一个就行，牛车，建议不要超过4个。 33的重点在于高科，在于铁幕，而不是比谁的坦克多。
        4.正常的情况，3vs3是要速高科的。可以二牛高科，三牛高科，四牛高科。 不推荐新手使用二牛高科。三牛和四牛，我会在下面具体说。
        5.一般情况下，埃及3vs3是禁止法国、禁止尤里的。一号位：电厂和兵营中间的那个地堡，是用来开图的，造出兵营后即可卖掉。
        第一个矿场最好不要紧贴金字塔，不然矿车出来后会绕路；也不要远离金字塔，不然重工就摆放不到那个位置了。
        重工后，一矿车然后一直点犀牛坦克不要停。若对方是盟军，则要注意出履带车；而在一些情况下，需要先造几个犀牛坦克再出一个矿车（补牛）。
        把第二矿场得到的牛（矿车）和重工出来的矿车全拉去采富矿。用犀牛打掉山上的三格金矿，就可以把第三矿场放在山上了。注：2vs2时1号位要上山，而3vs3一号位是不上山的，因为较之1号位，二号位上山要更快捷一些。二号位：这个位置是比较穷的位置。现在主流的发展方式是 第一个矿车去一号位采一车富矿，然后到前面的矿区采贫矿。再强调一遍，不属于自己   的矿不要乱动。
        Q：为什么不多采几车富矿呢
        A：多采几车富矿一号位就会卡钱，出铁幕会慢的。三号位：3vs3时3号位的矿区和2vs2基本相同：一片富矿，一片前线的金矿和一片后方的贫矿。
        我这里用的是3牛铁幕，出了核电后补一个矿场。 
        同2vs2，第二矿场前置还是后置，要依据对面的强弱，自己的操作和意识而决定。四号位：重工可以放在金字塔的右上方。
        优点是可以尽快摆放前置矿场；缺点是容易受到V3攻击，如果技术不好，此重工也有可能遭到偷袭，被打爆。五号位：5号也是比较穷的，且牛车容易被偷袭。先采前矿还是先采家里的矿，依个人水平而定。
        其他注意事项基本与2号相似。给盟军金字塔进兵，注意看好牛车，没钱不要造铁幕。六号位：6号位可以选择三牛铁幕或4牛铁幕。 前面提到，如果你对经济控制比较差，就重后连造两个矿场。如果你对经济有一定把握，可以先出高科铁幕，然后矿场上山。 另：如果觉得有一定防守压力，可以在路口处放个碉堡，对于防守很有帮助。
        鲍里斯在悬崖边缘打坦克很给力，放在山上可以有效防御（要设有防空火力来保护鲍里斯。）
        <br><br>

        </h5></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/zhichitianya.png" %}">
        </td>
      </tr>
      <tr>

        <td><br><h5>咫尺天涯（2-8）:
        国内4v4玩家所钟爱的一个地图。该地图共有8个位置，以河为界，分成两个阵营，随即国家开箱子使得该地图具有很强的随机性及趣味性。<br><br>

        咫尺天涯4v4随机简介(作者：Mckaikai)：4v4随机早在很久之前就已经出现，这种模式并不太正规，它的关键就在于它的随机性，它提供的更多是多人组队的乐趣。队友国家位置和箱子的随机使对战丰富多彩，减少局势严重偏向性的问题，毕竟玩家水平参差不齐，而随机可以弥补上来使游戏更加公平。44随机主要进行后期对战，但仍不影响其他方法进行前期或中期的战斗。咫尺天涯这张地图虽没有高度差的地形，但核心就在他的桥和水面以及桥边的房子，断桥即是远隔天涯，修桥即是近如咫尺。<br><br></h5></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/zhuluowan.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>猪猡湾（2-6）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/b2.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>正式锦标赛地图B（2）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/beijiquan.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>北极圈（2-8）</h4></td>
      </tr>
   

      <tr>
        <td><h1>官方地图列表</h1></td>
      </tr>
      
      <tr>
        <td><img align="left" src="{% static "img/map/daoyuzhizhan.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>岛屿之战（2）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/chengshitujizhan.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>城市突击战（2）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/jingyaoguantou.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>紧要关头（2）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/huangjinguo.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>黄金国（2）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/huoxianchongtu.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>火线冲突（2）</h4></td>
      </tr>


      <tr>
        <td><img align="left" src="{% static "img/map/lengzhan.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>冷战（2-3）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/daoyuzhanzheng.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>岛屿战争（3）</h4></td>
      </tr>


      <tr>
        <td><img align="left" src="{% static "img/map/nantaipingyang.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>南太平洋（2-4）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/meiguoxiaozhen.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>美国小镇（2-4）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/xinzangdidai.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>心脏地带（2-4）</h4></td>
      </tr>
  

      <tr>
        <td><img align="left" src="{% static "img/map/bulieziranhu.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>不列兹然湖（2-4）</h4></td>
      </tr>
  
      <tr>
        <td><img align="left" src="{% static "img/map/mengdana.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>蒙大拿非军事区（2-4）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/jiazhougaosu.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>加州高速公路（2-4）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/xuegu.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>雪谷（2-4）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/xuedishengji.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>雪地生机（2-4）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/zhengmianchongtu.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>正面冲突（2-4）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/chongfanbali.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>重返巴黎（2-4）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/tequbaodong.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>特区暴动（2-4）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/malibu.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>马里布悬崖（2-6）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/kuangyezhanqu.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>狂野战区（2-6）</h4></td>
      </tr>
  
      <tr>
        <td><img align="left" src="{% static "img/map/fangweiqu.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>防卫区争夺（2-6）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/xiboliya.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>西伯利亚荒原（2-6）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/changzheng.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>长征（2-8）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/a2.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>正式锦标赛地图A（2）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/c4.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>正式锦标赛地图（4）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/bailinghaixia.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>白令海峡（2-6）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/zhengjiuxingdong.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>拯救行动（2）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/baofengtian.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>暴风天（2-4）</h4></td>
      </tr>
  
      <tr>
        <td><img align="left" src="{% static "img/map/jingjichang.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>竞技场（2-4）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/baimuda.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>百慕大三角州（2-6）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/taotuo.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>逃脱（2-3）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/lanzhaungji.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>缆桩脊（2）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/weixianchangsuo.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>危险场所（2-8）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/zainanbianyuan.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>灾难边缘（2-4）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/huangchen.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>黄尘地带（2）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/weigongzhidu.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>围攻之都（2-4）</h4></td>
      </tr>
  
      <tr>
        <td><img align="left" src="{% static "img/map/wushuikeng.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>污水坑（2-4）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/qiansulian.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>前苏联大陆（2）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/xiangcun.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>乡村乐（2-4）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/qimatiantang.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>骑马天堂（2-4）</h4></td>
      </tr>


      <tr>
        <td><img align="left" src="{% static "img/map/shengsidou.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>生死斗（2）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/wanfumaliya.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>万福玛丽亚（2）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/shanquiduijue.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>山丘对决（2-4）</h4></td>
      </tr>
      
      <tr>
        <td><img align="left" src="{% static "img/map/qinlue.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>侵略消息获得证实（2-4）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/shenshuizhadan.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>深水炸弹（2-4）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/alasijia.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>阿拉斯加油井（2）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/eastbest.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>当东方遇上最佳（2-6）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/kongbudao.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>恐怖岛屿（2-4）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/jinggongyufangyu.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>进攻与防御（2-4）</h4></td>
      </tr>

      <tr>
        <td><img align="left" src="{% static "img/map/shiluozhihu.png" %}">
        </td>
      </tr>
      <tr>
        <td><h4>失落之湖（2-4）</h4></td>
      </tr>
  
  
  
  

      
    </table>

      

    </div>
    
    </div>
    


  </body>

</html>
{% endblock %}
