{% extends "base.html" %}
{% load static %}
{% block page_content %}

<html lang="zh">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <head>
    <meta charset="utf-8" />
    <style>

    img
    {
        width: 100%;
    }

    #start {
        border-collapse: separate;
        border-spacing: 2px 2px;
    }

    a {
      color: #00008B;
    }

    #start td {
      width: 12% ;
    }

    #shapeofyoubutton {
      margin-left: 10px;
      width: 30px;
      height: 30px;
      font-size: 20px;
      text-transform: uppercase;
      text-decoration: none;
      background: white;
      border-radius: 5px;
      display: inline-block;
    }

    </style>

  </head>

  <body>
    </br>
    <div class="container" align="justify">

      <div class="row">
        <div>

        </div>
      </div>

      <table id="start">
      <tr>
      <td><h5><a href="#bt">冰天雪地</a></h5></td>
      <td><h5><a href="#aiji">埃及之旅</a></h5></td>
      <td><h5><a href="#zhichi">咫尺天涯</a></h5></td>
      <td><h5><a href="#b2">正式锦标赛地图B</a></h5></td>
      <td><h5><a href="#beiji">北极圈</a></h5></td>
      <td><h5><a href="#daoyu2">岛屿之战</a></h5></td>

      </tr>

      <tr>
      <td><h5><a href="#chengshituji">城市突击战</a></h5></td>
      <td><h5><a href="#jinyao">紧要关头</a></h5></td>
      <td><h5><a href="#huangjinguo">黄金国</a></h5></td>
      <td><h5><a href="#huoxian">火线冲突</a></h5></td>
      <td><h5><a href="#lengzhan">冷战</a></h5></td>
      <td><h5><a href="#daoyu3">岛屿战争</a></h5></td>

      </tr>

      <tr>
      <td><h5><a href="#nantaipingyang">南太平洋</a></h5></td>
      <td><h5><a href="#meiguoxiaozhen">美国小镇</a></h5></td>
      <td><h5><a href="#xinzang">心脏地带</a></h5></td>
      <td><h5><a href="#buliezi">不列兹然湖</a></h5></td>
      <td><h5><a href="#mengdana">蒙大拿非军事区</a></h5></td>
      <td><h5><a href="#jiazhou">加州高速公路</a></h5></td>

      </tr>

      <tr>
      <td><h5><a href="#xuegu">雪谷</a></h5></td>
      <td><h5><a href="#xuedishengji">雪地生机</a></h5></td>
      <td><h5><a href="#zhengmian">正面冲突</a></h5></td>
      <td><h5><a href="#chongfanbali">重返巴黎</a></h5></td>
      <td><h5><a href="#tequbaodong">特区暴动</a></h5></td>
      <td><h5><a href="#malibu">马里布悬崖</a></h5></td>

      </tr>

      <tr>
      <td><h5><a href="#kuangye">狂野战区</a></h5></td>
      <td><h5><a href="#fangweiqu">防卫区争夺</a></h5></td>
      <td><h5><a href="#xiboliya">西伯利亚荒原</a></h5></td>
      <td><h5><a href="#changzheng">长征</a></h5></td>
      <td><h5><a href="#a2">正式锦标赛地图A</a></h5></td>
      <td><h5><a href="#c4">正式锦标赛地图</a></h5></td>

      </tr>

      <tr>
      <td><h5><a href="#bailinghaixia">白令海峡</a></h5></td>
      <td><h5><a href="#zhengjiuxingdong">拯救行动</a></h5></td>
      <td><h5><a href="#baofengtian">暴风天</a></h5></td>
      <td><h5><a href="#jingjichang">竞技场</a></h5></td>
      <td><h5><a href="#baimuda">百慕大三角州</a></h5></td>
      <td><h5><a href="#taotuo">逃脱</a></h5></td>

      </tr>
      <tr>
      <td><h5><a href="#lanzhaungji">缆桩脊</a></h5></td>
      <td><h5><a href="#weixianchangsuo">危险场所</a></h5></td>
      <td><h5><a href="#zainanbianyuan">灾难边缘</a></h5></td>
      <td><h5><a href="#huangchen">黄尘地带</a></h5></td>
      <td><h5><a href="#weigongzhidu">围攻之都</a></h5></td>
      <td><h5><a href="#wushuikeng">污水坑</a></h5></td>
      </tr>

      <tr>
      <td><h5><a href="#qiansulian">君王大陆</a></h5></td>
      <td><h5><a href="#xiangcun">乡村乐</a></h5></td>
      <td><h5><a href="#qimatiantang">骑马天堂</a></h5></td>
      <td><h5><a href="#shengsidou">生死斗</a></h5></td>
      <td><h5><a href="#wanfumaliya">万福玛丽亚</a></h5></td>
      <td><h5><a href="#shanquiduijue">山丘对决</a></h5></td>
      </tr>

      <tr>
      <td><h5><a href="#qinlue">侵略消息获得证实</a></h5></td>
      <td><h5><a href="#shenshuizhadan">深水炸弹</a></h5></td>
      <td><h5><a href="#alasijia">阿拉斯加油井</a></h5></td>
      <td><h5><a href="#eastbest">当东方遇上最佳</a></h5></td>
      <td><h5><a href="#zhuluowan">猪猡湾</a></h5></td>
      <td><h5><a href="#kongbudao">恐怖岛屿</a></h5></td>
      </tr>

      <tr>
      <td><h5><a href="#jinggongyufangyu">进攻与防御</a></h5></td>
      <td><h5><a href="#shiluozhihu">失落之湖</a></h5></td>
      <td><h5><a href="#jiniangu">纪念谷</a></h5></td>
      <td><h5><a href="#kureganhan">酷热干旱</a></h5></td>
      <td><h5><a href="#shaqiuxunli">沙丘巡礼</a></h5></td>
      <td><h5><a href="#mimishangu">秘密山谷</a></h5></td>
      </tr>


      <tr>
      <td><h5><a href="#qiaofeng">桥缝</a></h5></td>
      <td><h5><a href="#baoshishangu">宝石山谷</a></h5></td>
      <td><h5><a href="#yuriplot">尤里的阴谋</a></h5></td>
      <td><h5><a href="#arenaforever">永远的竞技场</a></h5></td>
      <td><h5><a href="#hupozhizhan">湖泊之战</a></h5></td>
      <td><h5><a href="#happytrail">快乐踪迹</a></h5></td>
      </tr>

      <tr>
      <td><h5><a href="#shuangfeng">双峰</a></h5></td>
      <td><h5><a href="#dianta">电塔</a></h5></td>
      <td><h5><a href="#liudan">榴霰弹堆</a></h5></td>
      <td><h5><a href="#isolation">孤立之海</a></h5></td>
      <td><h5><a href="#rocket">发射中的火箭</a></h5></td>
      <td><h5><a href="#ocean">海滩</a></h5></td>
      </tr>

      <tr>
      <td><h5><a href="#pacific">太平洋顶点</a></h5></td>
      <td><h5><a href="#newheights">新顶点</a></h5></td>
      <td><h5><a href="#loaded">满载的油桶</a></h5></td>
      <td><h5><a href="#gold">黄金之街</a></h5></td>
      <td><h5><a href="#jiazhou2">加州</a></h5></td>
      <td><h5><a href="#killer">杀手本能</a></h5></td>
      </tr>


      <tr>
      <td><h5><a href="#jueduidianfeng">绝对巅峰</a></h5></td>
      <td><h5><a href="#austin">德州奥斯汀</a></h5></td>
      <td><h5><a href="#girl">死亡谷之女</a></h5></td>
      <td><h5><a href="#shanduona">山多纳海峡</a></h5></td>
      <td><h5><a href="#chengshizairen">成事在人</a></h5></td>
      <td><h5><a href="#zhongrushenshan">重入深山</a></h5></td>
      </tr>

      <tr>
      <td><h5><a href="#shichou">世仇</a></h5></td>
      <td><h5><a href="#haixiao">海啸</a></h5></td>
      <td><h5><a href="#lunpan">俄国轮盘</a></h5></td>
      <td><h5><a href="#tanya">谭雅的训练场</a></h5></td>
      <td><h5><a href="#baoliewu">爆裂物</a></h5></td>
      <td><h5><a href="#sanchalukou">三岔路口</a></h5></td>
      </tr>


      <tr>
      <td><h5><a href="#mingwanbuling">冥顽不灵</a></h5></td>
      <td><h5><a href="#eliewusheng">恶劣无剩</a></h5></td>
      <td><h5><a href="#boduomake">波多马克之师</a></h5></td>
      <td><h5><a href="#monstermovie">怪兽电影</a></h5></td>
      <td><h5><a href="#jianshoulingtu">坚守领土</a></h5></td>
      <td><h5><a href="#tuochewu">拖车屋停驻场</a></h5></td>
      </tr>

      </table>

      <br>
     
      <div class="row">
        <h1>经典官方地图</h1>
        <audio id = "shapeofyou" src="{% static "music/shapeofyou.mp3" %}"></audio></td>
        <button id = "shapeofyoubutton" onclick="play()">&#9836;</button>
        </div>

      </div>
    
    <table>
      
      
      <tr>
        <td id="bt"><img align="left" src="{% static "img/map/bingtianxuedi.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">冰天雪地（2-8）：红色警戒国内第一地图，无论是单挑还是混战，出镜率都极高。国内每年都会有冰天雪地的比赛，玩家们称为冰天王。该地图资源丰富，地图广阔，对玩家的综合能力如分兵，探路，运营等能力要求较高。地图共有8个位置，每个位置均有不同的打法。<br><br>

        冰天雪地战术介绍 (作者：亡魂)：<br><br>原地发展：兵营后出3条狗，有的人喜欢出2条和4条，2条的人感觉自己探路比较有信心，想把钱用在战斗上，出4条的人用2条探路，2条守俩个路口，我建议还是出3条狗，3个方向探开，这样即使被对方咬到1条也还有机会探开对手，探路的时候要注意的是特别中间的那条狗到路口时一定要停下来试探对方有没有守主路口，可以小步前进，重工后出1，2蜘蛛2，3矿车我建议出3个矿车，这样攻防具备，而且对后面的发展不会卡钱，然后一直出坦克，矿厂再出2个，然后就可以出第2个重工6牛2重，6牛的时候一定要出第2个重工，不要等到有7牛才出第2重，那样坦克会比对手少，7牛3重这样一直推理下去，当然有的人会说5牛可以2重，这样也可以但是你经济必须控制好，前期随时指挥矿车倒矿，避免卡钱，一般有5，6个矿车的时候就开始分矿区了，如果你在的位置可以延伸就延伸建筑，如果不可以延伸就拉基地到另个矿区发展，拉2，3个矿车过去，一个矿区只应许2，3个矿车采矿，多了矿车会挤经济会卡，一般正常的都是3个矿区5重左右基本是可以结束战斗了，感觉不好还是打不下来继续拉基地发展其他矿区，再拉牛过去采新矿区，前期和中期金钱在1000的时候就可以开始手动指挥他倒矿了，不能卡钱，后期的话你在没有指挥坦克剩余的时间就看着矿车跑远了就必须指挥他采离矿厂最近的矿，记住6牛2重可以带狗，如果你5牛就出2个重工还带狗那样就会卡钱的，一般都是8，9牛5，6重这样的话基本是可以结束战斗了，没必要发展了，有的人喜欢4，5牛2重工拉中，如果看到对手这样的战术你直接6牛3重拉基地到中间出大兵和他对抗，或者是6牛4重卖基地，爆狗和大兵压到中部，也可以分几个坦克打他的后方。

        <br><br>
        伊破伊拉中：1.一牛二重破中：狗探开对手后看到他拉中后，立即改变你2边探路的狗回来守住他要往你家探路的路口，如果你中间那只狗被他干掉了，你可以再出个狗继续守住中间，如果对方探不开路，那他是很蛋疼的，你重工后看他地堡多不多如果地堡和大兵多，可以使用1个防空车里放一个蜘蛛，蜘蛛路径进他的矿车，防空车拉到他的矿车旁边用防空车吸引身边所有火力，立刻把蜘蛛放出来他自动进对方的矿车，如果不用防空车装蜘蛛也可以先出一个坦克和一个蜘蛛，用坦克吸引对方火力，蜘蛛上他的矿车，然后哪个坦克直接点打矿车，然后一直出坦克，出第2个重工，卖基地，比如上方位置我建议拉基地到第2层出第2个重工在第3层再卖基地，把卖的大兵全部拉到中部配合坦克攻击，工程师可以饶到对手的后方偷他的建筑。 2.一牛一重破中：重工后出1蜘蛛，然后一直出坦克，基地立即拉中，看下合适的话蜘蛛上牛车，上不了也没事，坦克一直路径到中部，基地在中间打开，出个兵营在中间出一个地堡在兵营前面，然后中间的兵营爆大兵然后卖基地，中间的大兵配合坦克攻击，这个破法说实话不是那么实在，如果双方实力都相同，想破中确实有点困难。3.三牛一重破中：重工后一直不断的出坦克，再出2个矿厂就有3牛了，然后拉基地到中间打开，在拉中时坦克要保护好基地被对方的蜘蛛上，到中间后，坦克一直路径到中部，基地打开出兵营，爆大兵出1，2个地堡在前面，这里要注意的是你在爆大兵的时候可能会卡钱，你可以先停止出坦克10秒左右先爆兵，再出坦克，这样的话兵多了少出1，2个坦克也没事，如果对方卖基地你也卖，他不卖你继续出2，3个地堡控制矿区，然后再卖基地，你坦克不断的骚扰吸引他的大兵过来干掉消耗他或者打掉矿区的金钱，机会好时点他露头的坦克，一直这样消耗找机会，感觉合适的机会就可以点他的坦克，点矿车，打到最后如果还是僵持，那他中间也没什么矿了，基本矿都被坦克打掉的，这个战术其实最主要的是要防好对手的蜘蛛，你卡钱也手动倒下矿，而且需要坦克的操作相当的高，不过这也是我个人看到很多高手中最为好的破中战术。

        <br><br>
        冰天拉中的种种战术：
        拉中，是红色警戒2冰天雪地图中，占踞中矿，利用中矿巨大的矿产资源而立于不败之地的一种战略战术。
        这里把冰天拉中的各种情况为大家分析一下，仅供参考：
        当我《一电厂后拉中》时，(联军)对家可能主要会有如下几种形式：
        1、对家也拉中，并出双重工卖基地；
        2、对家也拉中，并出双矿厂并不停哨炮及小兵；
        3、对家没拉中，一矿厂后双重工卖基地；
        4、对家没拉中，一矿厂后一重工拉基地到中再一重工；
        5、对家没拉中，一矿厂后一重工拉基地到中再一兵营；
        6、对家没拉中，一矿厂后一重工再出1至N个矿车；
        建议对策1:只要对家拉中，那么放下二个哨炮后就双重工卖基地。看微操吧，要是能先打了对家牛而不让自已坦克落后就OK了。
        建议对策2:只要对家拉中，那么放下二个哨炮后就双重工卖基地。不要与小兵正面打，不停地转，因为坦克数量优先与速度快，可以到后面进攻，如有对家坦克接近就先打坦克，首要目标是打重工或电厂，对家由于哨炮与小兵，这时会卡钱，最好机会，把握住。。。
        建议对策3:出一个哨炮与5到十个小兵，保护矿车，同时一重工后(出三个ZZ)出第二重工（这时是试造，在对家放下第二重工时放下，如果没有放下，就取消出矿厂吧），对家出第二重工，你就一会也放下第二重工，卖基地吧，这是必然的，晚卖不如早卖。。。用造出的小兵加卖出的，保护好矿车，对家肯定压上来了。。。
        建议对策4:出一个哨炮与5到十个小兵，保护矿车，同时一重工后(出三个ZZ)出第二重工(必然的)，卖基地，正常应可推了的。。。
        建议对策5:出一个哨炮与5到十个小兵，保护矿车，同时一重工后(出三个ZZ)出第二重工(必然的)，卖基地，正常应可推了的。。。
        建议对策6:基本胜了。。。出一个哨炮与5到十个小兵，保护矿车，直接三矿厂后三重工，推土机战术，要注意不到三重工不要出去，此后一电厂再老家矿厂，矿厂，再重工，重工。。。。。。一般在富矿没采完前就可推了对家的。。。
        至于对付红警中的盟军玩家，个人感觉比较方便。。。要是能把联军这些应付下来，应付盟军更容易些了，因为盟军前期进攻性弱。。。





        <br><br></h5></td>
      </tr>

      <tr>
        <td id="aiji"><img align="left" src="{% static "img/map/aijizhilv.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">埃及之旅（2-6）：经典3v3团队配合地图，在尤里复仇中出镜率极高。该地图共有6个位置，每个位置都有相应的团队配合战术。<br><br>
        埃及之旅3v3战术介绍 (作者：Dogking, Beefcat)：<br><br>
        3vs3是多人游戏，队友之间要相互配合，最好把游戏分辨率调到显示器允许的最大分辨率，这样对观察是有很大帮助的。多观察局势，对方的坦克离家就去偷袭，不要送坦克，队友受攻击要去帮忙。这是最基本的内容
        3.埃及这个地图，本身矿产资源有限，不要多出矿车和重工，这些东西在采完矿之后全会变成废物。重工有一个就行，牛车，建议不要超过4个。 33的重点在于高科，在于铁幕，而不是比谁的坦克多。
        4.正常的情况，3vs3是要速高科的。可以二牛高科，三牛高科，四牛高科。 不推荐新手使用二牛高科。三牛和四牛，我会在下面具体说。
        5.一般情况下，埃及3vs3是禁止法国、禁止尤里的。一号位：电厂和兵营中间的那个地堡，是用来开图的，造出兵营后即可卖掉。
        第一个矿场最好不要紧贴金字塔，不然矿车出来后会绕路；也不要远离金字塔，不然重工就摆放不到那个位置了。
        重工后，一矿车然后一直点犀牛坦克不要停。若对方是盟军，则要注意出履带车；而在一些情况下，需要先造几个犀牛坦克再出一个矿车（补牛）。
        把第二矿场得到的牛（矿车）和重工出来的矿车全拉去采富矿。用犀牛打掉山上的三格金矿，就可以把第三矿场放在山上了。注：2vs2时1号位要上山，而3vs3一号位是不上山的，因为较之1号位，二号位上山要更快捷一些。二号位：这个位置是比较穷的位置。现在主流的发展方式是 第一个矿车去一号位采一车富矿，然后到前面的矿区采贫矿。再强调一遍，不属于自己   的矿不要乱动。
        Q：为什么不多采几车富矿呢
        A：多采几车富矿一号位就会卡钱，出铁幕会慢的。三号位：3vs3时3号位的矿区和2vs2基本相同：一片富矿，一片前线的金矿和一片后方的贫矿。
        我这里用的是3牛铁幕，出了核电后补一个矿场。
        同2vs2，第二矿场前置还是后置，要依据对面的强弱，自己的操作和意识而决定。四号位：重工可以放在金字塔的右上方。
        优点是可以尽快摆放前置矿场；缺点是容易受到V3攻击，如果技术不好，此重工也有可能遭到偷袭，被打爆。五号位：5号也是比较穷的，且牛车容易被偷袭。先采前矿还是先采家里的矿，依个人水平而定。
        其他注意事项基本与2号相似。给盟军金字塔进兵，注意看好牛车，没钱不要造铁幕。六号位：6号位可以选择三牛铁幕或4牛铁幕。 前面提到，如果你对经济控制比较差，就重后连造两个矿场。如果你对经济有一定把握，可以先出高科铁幕，然后矿场上山。 另：如果觉得有一定防守压力，可以在路口处放个碉堡，对于防守很有帮助。
        鲍里斯在悬崖边缘打坦克很给力，放在山上可以有效防御（要设有防空火力来保护鲍里斯。）
        <br><br>
        埃及之旅要塞流战术介绍 (作者：企鹅)：<br><br>要塞流优势在何处？
        1：红警重工产能最重要，要塞流只有要塞部分占用重工产能，运营较快
        2：萌新追要塞时队形不好 往往4犀牛打不掉1要塞
        3：要塞流成群时怎么追都是亏
        4：追完要塞兵回去继续组装，经济亏
        细致分析：
        1：要塞2000元，4犀牛3600 故要塞流1重时建造速度为犀牛0.5倍，苏军需要3重才能运营平衡。而要塞2重时，建造时间只乘0.8。因此苏军只需要时刻比要塞流运营多2重即可

        所以要点为
        1.运营保持平衡 2.追要塞不能亏 3.不要让兵回去

        故打法为
        1 速铁幕
        开局1牛出3矿4牛速铁幕
        2 爆重 
        利用要塞速度慢的缺点，保证运营平衡的同时补牛进行运营反超 利用速度优势多线风筝要塞打牛打建筑 趁机包饺子，包围要塞。

        无论哪种打法 都有如下要点
        1.二矿必须开富矿
        2.想压制 需要占对面金字塔
        3.必须绿到要塞流第一波伞兵

        <br><br>
        具体操作如下：

        埃及（来自高科大神视频）

        一、运营
        1.开局可比对方多出1牛。对方开几个矿场，苏军就可以开几个矿场后爆2重（例如盟军开局直接坦克开3矿3牛高科，苏军就可以开局1牛，开3矿后爆二重工）。之后一矿一重运营。

        二、操作（高科经典操作）
        1.动员兵/辐射放山上挡要塞炮弹，并且出一个煤球保护。这样基本可以断对方2条路。
        2.打掉前矿，这样追的时候就没有矿的阻碍。
        3.坦克先从边上靠近，再a上去（而不是正面追）。这样队形比较好，留给对方后退的空间也更小。
        4.在合适的位置放地堡，能挡住对方要塞走位最好
        5.侦察机挡炮弹，犀牛追要塞
        6.极限操狗（狗只负责挡ggi的炮弹，到了gi的射程时候拉走）
        7.开局若对方爆较多大兵，则拉围墙，出5动员兵，手中拿一碉堡，以此来拖延时间。重后雷达出辐射。

        三、意识
        1.利用要塞走的慢的缺陷去拆一些建筑
        2.要塞装兵的时候可以a，打完一波要塞的时候见对方家里比较空虚可以a
        3.多和对方多线拉扯，拖铁幕时间

        <br><br>

        2019年对要塞流的新的理解

        由于超时空要塞的出现，以及我学会了要塞流，对要塞流运营与苏军运营进行了评估
        容易发现，如果苏军不出铁幕，那么1-4重（1-2重领先是因为对方没有要塞，1重重工产能还是1重），4-6重，6-8重……以此类推都是运营领先的。

        1-2重时盟军重工产能、坦克质量都是落后的，如果没有进行压制或者压制不到位（苏军拉了500块钱的围墙和1200的雷达辐射就防住了，而盟军出了15个大兵）其实是亏的.
        所以1-2重时双方需要尽可能压制对方，谁能进行压制谁就有优势。
        苏军应该利用机动性与辐射车压制，盟军应该兵种配合，但不要打成换家。换家盟军劣势。

        2-4重时，盟军需要补2矿场（如果牛没操作好，这段时间是最容易卡钱的），另外这段时间车辆价值相对于总价值调度很大，很容易被苏军压制。
        苏军应该逼迫盟军出地堡、光棱塔等，但不要头铁，最好三路都能逼出来，那经济压制就到位了。
        盟军如果没有上一阶段的优势，那这一阶段要么gg，要么大劣势

        4-6重时，盟军可以选择出重工或者出超时空+精炼厂，但是精炼厂短时间会造成运营缓慢。这两种运营都必须在山上开矿。如果出超时空去面对爆重，很可能出现1重对4重的情况，爆狗一波就死了。
        苏军可以选择在这一阶段补牛（补4牛盟军都不一定打得进来），然后利用爆发去爆重工。赢的希望就非常大。如果对方出超时空，那就别出铁幕了，就爆重，继续进行经济压制（自己也别补牛），然后到合适时机一波。如果对方爆重，那就要猥琐一点，想办法牵制对方经济（v3等），这个阶段分兵也很重要，利用自己牛不会乱飞的优势去压制对方，然后对方又很难有空手牛，再加上要塞速度缓慢需要提前反应，那很有可能打掉什么。
        盟军要看苏军怎么打，苏军爆重就爆重，苏军铁幕就超时空。精炼厂最好要出一下。

        6-8重时，大后期，苏军盟军必须出超武，就看超武与分兵了
        苏军要坦克分散一些，围在铁幕周围。对方超时空进来一a就可以包围打掉（见weilong vs gaoke）

        </h5><br><br></td>
      </tr>

      <tr>
        <td id="zhichi"><img align="left" src="{% static "img/map/zhichitianya.png" %}">
        </td>
      </tr>
      <tr>

        <td><br><h5 align="justify">咫尺天涯（2-8）:
        国内4v4玩家所钟爱的一个地图。该地图共有8个位置，以河为界，分成两个阵营，随即国家开箱子使得该地图具有很强的随机性及趣味性。<br><br>

        咫尺天涯4v4随机简介（作者：Mckaikai）：4v4随机早在很久之前就已经出现，这种模式并不太正规，它的关键就在于它的随机性，它提供的更多是多人组队的乐趣。队友国家位置和箱子的随机使对战丰富多彩，减少局势严重偏向性的问题，毕竟玩家水平参差不齐，而随机可以弥补上来使游戏更加公平。44随机主要进行后期对战，但仍不影响其他方法进行前期或中期的战斗。咫尺天涯这张地图虽没有高度差的地形，但核心就在他的桥和水面以及桥边的房子，断桥即是远隔天涯，修桥即是近如咫尺。<br><br></h5></td>
      </tr>

      </tr>

      <tr>
        <td id="b2"><img align="left" src="{% static "img/map/b2.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">正式锦标赛地图B（2）：正式锦标赛地图B经常出现于各大赛事中，上下对称，包含海陆，附带油井。地图整体较小，资源却不差，战术也较为丰富，很考验玩家的综合能力。<br><br>
        B2战术简介（作者：Fledgling）：

        1.双重工-三矿厂战术 开局建筑顺序：电场-兵营-矿厂-重工-矿厂(卖)-重工-矿厂-电场
        后期看情况出雷达或者发展海军。个人建议是，此类小地图，如果你不打算出辐射兵或者发展高科技的话，那么还是省下钱出坦克，雷达真的没有必要出。
        2.双重工，双矿厂战术 开局建筑顺序：电场-兵营-矿厂-重工-矿产(卖)-重工-造狗和动员兵，卖基地推过去。优势在于你的大量辅助兵种，如果运用的好，可以凭借辅助兵种的优势重创对方;如果前期推不掉，那么随着时间的推移，情况会对你越来越不利。
        3.三重工，三矿厂战术 开局建筑顺序:电场-兵营-矿厂-重工-矿厂-重工-矿厂-电场-重工-卖基地.优势在于相同时间内可以积累更多的坦克,凭借陆地优势击溃对方。
        4.①开局拉基地a战术 开局迅速判断己方位置，如果在下方，直接拉基地去对方的富矿处，出碉堡和小兵强攻，霸占富矿;如果基地车在上方，因为要拉动的话，还需要调个头，一般情况下不推荐拉基地 ②开局拉基地b战术 开局迅速判断位置，拉动基地去对方基地后侧，出工程师占领对方建筑，然后出碉堡和小兵强攻。这种战术隐蔽性很好，一般对手都有固定思维习惯，总把注意力放在狗的探路和工程师占油井那里，而对自己的后方往往一无所知，我们如果充分利用对手思维上的漏洞，可以达到出其不意，攻其不备的效果! 5.攀高科技打法 开局建筑顺序电场-兵营-矿厂-重工-雷达-船场-电场-高科技-电场-同时出无畏。<br><br></h5></td>
      </tr>

      <tr>
        <td id="beiji"><img align="left" src="{% static "img/map/beijiquan.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">北极圈（2-8）：红色警戒经典大型地图，有大量的资源和油井，并拥有大量桥梁，很多玩家是从北极圈的1打7冷酷电脑开始接触红色警戒，北极圈也因此被称为经典虐电图。该地图有8个位置，地图广阔，水陆混合，对玩家的观察能力及海陆空配合能力要求较高。
        <br><br>
        北极圈原版11思路简述（作者：烧饼）：
        从前有一个噬天，他与我一同入坑红警对战，他曾在腾讯对战平台和浩方对战平台与我度过了无数的日日夜夜，可惜啊，自从2017年以后，他就不怎么玩红警了，后来偶尔也会找咱联机，但是他已经打不过咱了。
        记得当年和他打11，打的第二多的就是这个北极圈。当时我俩的理解还有很大的问题，打的也是乱七八糟，我还记得当年英勇的烧饼用铁幕基洛夫大破SB噬天的巨炮阵…跑题了，我们还是言归正传。
        今天我的女仆和惹不起烧碱想要让咱写地图介绍，那咱就写一写，这张充满了回忆的地图——北极圈。
        开局简介：这图最好讲的就是开局惹。因为有油井的缘故，本图经济较好，故兵营可以多出几只狗，把守好狭窄的桥梁防止敌人探开地图，必要的话可以起一个碉堡，开图的同时记得用狗守住距离你基地最近的那个油井，同时用工程师占领这个油井，把重工放到这个油井旁边。前期尽量占领这至少一个油井（能占领两个以上当然是更好），否则后面拓展基地会比较困难。
        重工造好后，立刻出一个兵营，苏军的重工要造一个履带和蜘蛛，盟军则要出2IFV同时空指部出蚊子。苏军不建议太早出运兵船去抢两侧的油井，先把中间的油井抢了再说。
        而盟军可以将2IFV换成1夜莺，然后抢海上的4个油井和机场，但是至少要保住开局占领的那个油井。
        按理来说苏军抢油井是比盟军厉害的，但是无论如何，苏军都抢不了海上那四个油井，所以尽快占据陆地才是主要任务，本图易守难攻，爆重常常无法打穿敌人，建议苏军速铁幕。
        盟军的话，超时空就好了，非法国阵营玩的不多所以不好说，但是法国有巨炮的情况下是可以稳稳守住大陆的，合理利用超时空传送进行攻击，同时确保自己不会被铁幕一波打穿。城市化也不错，反正这个图没超武法国就基本无敌了。
        后期：
        伊拉克/古巴：铁幕一波打不赢还可以出核弹，如果核弹不能炸崩敌人请酌情GG。
        法国：巨炮满地，注意防空。
        其他阵营：玩的少，不好评价。
        后期的打法就不固定了，但是一定要尽早出超武，并且保护好超武，否则很难打破僵局。
        关于阵营选择：
        这图法国绝对是最强的，因为桥梁的缘故，巨炮基本上能够守住一切地面单位了，而超时空传送则是进攻利器，再加上盟军的海军本身也挺强，所以选法国吧。<br><br></h5></td>
      </tr>


      <tr>
        <td id="daoyu2"><img align="left" src="{% static "img/map/daoyuzhizhan.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">岛屿之战（2）：经典2人对战图，经常出现在各种比赛中。前期只有一条通道，易守难攻，到后期战术会逐渐多样化。
        <br><br>
        岛屿之战11战术简介（作者：烧碱）：开局出狗探路时可以多出几条狗埋伏在中间的灌木丛守图。注意这个图是有宝石的，左侧建筑向上延伸，右侧建筑向左延伸，先采宝石。因为地形的原因，此图是易守难攻的。但是，如果守图成功，可以选择快攻战术，苏军1牛2重卖基地，出其不意。正常状态下，可以选择出高科，之后可以选择海军出无畏，也可以选择出铁幕，但是要做好防守，占据有利地形，同时可以出几个辐射辅助防守，防止对方在发现高科技后疯狂反扑。值得注意的是如果一方率先出了无畏战舰，则没有海军的一方则会相当被动，在这个地图无畏战舰并不十分容易被发觉，而且无畏战舰不是几个煤球就能防的住的，如果对方无畏开到家里了才发现，基本可以认输。另一个值得注意的细节是双方都可以占领高地从而限制对手的矿区，盟军出一个超时空多功能步兵车去吸苏军矿车会令苏军非常的难受。虽然这个地图的初始状态下，桥是断裂状态，修桥进攻同样是一种出其不意的打法，如果渡桥成功则会直接占领高地优势，令对手陷入被动，但修桥的同时要注意对手是否有埋伏，如果盟军在楼房的后面藏了一个海豹或谭雅，在对手渡桥期间炸掉桥梁，则渡桥一方会直接全军覆没。<br><br></h5></td>
      </tr>


      <tr>
        <td id="daoyu3"><img align="left" src="{% static "img/map/daoyuzhanzheng.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">岛屿战争（3）：经典3人混战图，此图较为不平衡，但可玩性较高，混战中经常会出现1v2的局面。
        <br><br>
        岛屿战争战斗指南（作者：烧饼）：岛屿战争，一张又穷又自闭的小图，3人总资源不过十万，且大部分资金都集中在中路富矿地区。所以，如何抢中就成了岛屿战争的一个重要研究课题，获得了中路的富矿，就得到了极其丰富的资源。且岛屿战争常常用于混战而不是11，要做好1打2的准备。
        阵营选择：混战不都是随机阵营嘛，而且这个图要选阵营的话，答案就只有一个惹——法国。
        不过如果在这个图随机到法国也未必是好事，毕竟这样的玩家一开始就要做好1打2的准备惹。如果有一个人是法国，那就一定要联合另一个人围殴法国，先打残了再说否则没法玩。
        开局：探路。探路是必须的，不过在岛屿战争还是不要期盼自己能够探开全部的地图——只有狗的话能探开自己家的视野就不错惹。开局记得在低地造一个地堡锁图，并且我相信你的对手也会这样做的。
        盟军可以用一个蚊子探开剩余的地图，苏军就比较尴尬惹，如果对手锁图不严密的话用履带开一下 野吧。
        如何延伸到低地吃矿？可以自己找找延伸教程，如果不会延伸的话还有第二个办法，就是修桥。反正富矿是尽量要抢的，当然抢不过也没必要硬抢，别抢不到富矿还赔了矿车。
        本图地形比较狭窄，坦克海很难平推敌人，如果开了超武可以使用超武突破，没有超武的话也可使用海军。
        混战一般都是开箱子的，如果没有抢到中矿，尽快出海军抢走海上的箱子也可以获得大量的经济。
        总而言之，海军NB！<br><br></h5></td>
      </tr>


      <tr>
        <td id="weigongzhidu"><img align="left" src="{% static "img/map/weigongzhidu.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">围攻之都（2-4）：一张有政治意义的地图，柏林墙将地图分成东西两个部分。该地图较为平衡，经常作为比赛用图之一。<br><br>
        围攻之都11战术简介（作者：烧碱）：地图上下各有三个油井，开局要率先占领，之后可以先吃中间的宝石。该地图苏军较有优势，地图有大量的房屋和围墙，快攻较为不易，因此常常要起高科技出铁幕才能攻入。因为此图的性质，早期的视野可能较差，有的玩家会选择履带车装工程师强行冲卡，一来探路，二来可以偷取对方建筑。或者也可以选择履带车带疯狂译文去炸掉对方的油井。因为此图的围墙是可以炸开的，所以要时刻注意防偷防炸。高科技完成之后，进攻时可以配上一个基洛夫，配合铁幕进行总攻。如果资源较少且久攻不下，可以选择铁幕蜘蛛的方式来逐渐消耗对手从而获得优势。油井一定要保护好，因为该图易守难攻，常常会发展成后期高科技消耗战，在资源耗尽时，没有油井的劣势则会被无限放大。<br><br></h5></td>
      </tr>


      <tr>
        <td id="xuegu"><img align="left" src="{% static "img/map/xuegu.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">雪谷（2-4）：经典1v1，2v2地图，经常作为比赛用图。<br><br>

        雪谷1v1战术简介（来源：红警之家）：苏军内战，一般重后2牛，此图还不是很容易RUSH，挺适合分兵骚扰。重后1牛破重后2牛，重后1牛,手牛可以做到不卡钱，4牛后拉中，小心对面ZZ，先第二重工，再出矿场，同时家里来2矿车到中间采矿。之后补个兵营，连爆2重，中间矿采完了，卖基地4重2兵营带3矿车RUSH。不管怎么样，一定要去压制，不要想着在啦基地发展，卡钱了，就卖重工，不然你重后1牛的劣势出来了就输了。</h5><br><br></td>
      </tr>


      <tr>
        <td id="nantaipingyang"><img align="left" src="{% static "img/map/nantaipingyang.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">南太平洋（2-4）：经典1v1，2v2地图，经常出现于各种比赛中。<br><br>

        南太平洋1v1战术简介（作者：企鹅）：一个非常经典的对战图，两边各有2油井1伞兵站，开局需要出5狗保护工程师占领自己科技建筑，重后直接坦克，连开4矿，第一波伞兵跳中间抢富矿。抢到富矿者即有优势。然后可选择出高科。</h5><br><br></td>
      </tr>



      <tr>
        <td id="baofengtian"><img align="left" src="{% static "img/map/baofengtian.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5>暴风天（2-4）：经典1v1 2v2地图，经常出现于各种比赛中。<br><br>暴风天战术简介（作者：企鹅）：非常经典的11图。两边个1油井，中间2油井+1维修工厂。开局应出5-8狗保护2工程师抢到科技建筑（2油井），然后在边油井处开矿场。重工放家里，二矿仍开在边油井处。重后一定要直接坦克 否则中间油井多半保不住。开完家里贫矿3-4矿后（4-5牛）可选择一重铁。这个图一重铁胜率极高，以至于爆重胜率几乎为0。赢点在于：1.是否抢到自己2油井 2.是否打掉对方油井 3.铁幕谁先出 4.铁幕用的好坏</h5><br><br></td>
      </tr>


      <tr>
        <td id="c4"><img align="left" src="{% static "img/map/c4.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">正式锦标赛地图（4）：标准对战地图。地图有油井，中间有宝石和机场，资源较为充足。该地图相对公平，常出现于比赛之中。
        <br><br>

        战术简介（来源：红警之家）：开局先用鼠标确定基地车方位：基地车会分布在左上，左下，右上，右下四个位置中的一个随机位置。1v1时一旦己方基地车位置确定，那么对方基地车的位置也随之确定：在地图对角线位置。

        电场后置是为了使矿厂更接近矿区，从而缩短矿车采矿距离，提高效率。而由于地理位置的特殊性，我们把兵营前置，这样做是为了使狗尽快到达中间机场，占据有利位置，获得先机！
        所谓矿场前置，也就是把矿场往前摆，摆到路口位置，然后手控矿车采中间富矿，这样做的好处是：
        ①工程师在武装采矿车的保护下前去占领机场，保险系数更大。
        ②武装采矿车可以乘机消灭对方在桥上、桥下探路的狗
        ③抢先采集富矿，获得前期经济优势
        顺利抢占机场后，接着将第2矿场摆在机场旁，2矿车采富矿，同时坦克前压保护，经济上一帆风顺。
        矿场前置战术的优点在于：原地发展时往往需要出矿车，否则经济容易断，而此战术直接将矿车手动到中间采富矿，结合第2矿车的资源补给优势，经济上十分顺利。
        缺点是必须确保工程师顺利占到机场，一旦失手，没有富矿的接济，经济上会很被动。
        矿场前置战术适用于基地车位置在左下或右上的时候，此时抢占机场后可以直接放置矿场，如果位置在左上或右下，矿场无法放置在机场旁，此战术无法发挥出最大功效。<br><br></h5></td>
      </tr>


      <tr>
        <td id="bailinghaixia"><img align="left" src="{% static "img/map/bailinghaixia.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">白令海峡（2-6）：该地图共六个位置，常出现于混战之中，中间小岛有油井，并且桥梁较多，需要水陆空同时配合。<br><br>

        白令海峡战术简介（来源：红警之家）：该地图选择美国可谓先机占尽，主要是美国的免费伞兵了，初期发展大家都差不多，就是：兵营（1、2狗探路，2工程师，并开始准备防空炮）－矿厂－重工，接着直接一架直升机，速度要快载上工程师去占中间油井，稳妥了，就直接在岛上出一兵营，一来可以直接出工程师占另两油田，而来可以防御对手来抢油田，当然你也可以将直升机返回接两个工程师过来。如果对方建筑也没抢到，那就守好地图，然后不停的出矿车和飞兵，用飞行兵海（不要以为用飞兵海就是菜鸟和弱智行为，在守好地图的情况下，偶尔用一次还是很管用的），拼掉对方基地，让他出不了海军，你陆地充分利用地形和伞兵守好，用海军取胜。或者打掉桥（关于守桥，可用谭亚mm），不停的发展经济（出矿车、转移基地分矿），并第一时间出海军，控制海域，陆地上尽量利用地形和伞兵＋g光能坦克防守好，取胜还是要靠海军的。本图的开局讲的就是速度，速度跟不上自然就不可能抢到中间的油田了，如果抢到立马上放下防空炮，接着做一个地堡，放在几个油井中间的位置，以免被反占，同时也可以保护几个未被占的油井。如果你和对手各抢占两两油井，那接下来将是一场恶战，这时除了地堡还要利用上直升机，尽最大的努力干掉对方的工程师，还有地堡。如果你的夜鹰到达中间岛屿上空时，发现油井已被对方占领，那就只能投机了。夜鹰回飞，迷惑对方，以为你回家了，再马上绕到对方基地后，抢建筑吧。这时对方一般都是忙着加固中间岛屿的防守，很少顾及老家，抢建筑是比较容易的，抢到后，就应该拼命放地堡，扫啊扫，让他气绝身亡。如果对方建筑也没抢到，那就守好地图，然后不停的出矿车和飞兵，用飞行兵海（不要以为用飞兵海就是菜鸟和弱智行为，在守好地图的情况下，偶尔用一次还是很管用的），拼掉对方基地，让他出不了海军，你陆地充分利用地形和伞兵守好，用海军取胜。或者打掉桥（关于守桥，可用谭亚mm），不停的发展经济（出矿车、转移基地分矿），并第一时间出海军，控制海域，陆地上尽量利用地形和伞兵＋g光能坦克防守好，取胜还是要靠海军的。<br><br></h5></td>
      </tr>

      <tr>
        <td id="wushuikeng"><img align="left" src="{% static "img/map/wushuikeng.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5>污水坑（2-4）：自带天然大面积辐射。<br><br>
        污水坑战术简介（作者：烧碱）：由于污水坑自带辐射并且中间有宝石，可以选择法国开局将基地拉到中间，地图自带的辐射对法国是天然的防守，不过也会带来无法用大兵防守，无法工程师抢修基地，无法出火箭飞行兵的弊端。伊拉克则可以采用高科技出铁幕的方式，不过可能会因为法国的延伸而无法控制矿区，资源会出现卡钱的情况。
        <br><br></h5></td>
      </tr>


      <tr>
        <td id="xiangcun"><img align="left" src="{% static "img/map/xiangcun.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">乡村乐（2-4）：经典1v1及2v2地图，经常作为比赛用图。值得注意的是此图的经济并不平衡。
        <br><br>
        乡村乐战术简介（来源：红警之家）：如果你对自己的zz操作很有信心，可以两zz三牛开局，但是这样开局有些冒险，两个zz必须都成功，否则很容易被rush。接下来我就说下这种开局的操作与思路。出完两zz后，编号12，一个先去杀探路狗，一个去对方家里找时机上牛。上牛的好时机有三个，一个是牛刚从重工出来的一瞬间(如果把握不好时机，这条可以无视)；一个是牛车倒矿时；最后一个是从牛车左后或右后方45°的地方上牛(时机把握准确上牛率接近100%)。上牛成功后，另一个zz留着上坦克。因为乡村这张图大部分人都会选择两牛开局，你是三牛，所以坦克你会比对方少一两个。用这个zz来降低坦克劣势，防rush。中期有两种发展方向，一个是出铁幕，另一个就是爆重工。先说铁幕战术，一般是四牛一重铁幕(两牛开局)和六牛二重铁幕(三牛开局，延伸至第二矿区)第一种的优势是铁幕出得快，经济也不会太吃紧。劣势是容易被重工流一波打死。第二种优势是坦克差距不会太大，后期经济爆发。劣势是铁幕慢，稍有不慎就会被分兵搞死。我本人比较习惯用第二种，所以具体说下它吧。这种战术的主要思路就是熬过铁幕cd期，防止被一波。

      </h5><br><br></td>
      </tr>

      <tr>
        <td id="shenshuizhadan"><img align="left" src="{% static "img/map/shenshuizhadan.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">深水炸弹（2-4）：经典海战地图，经常出现在比赛中。<br><br>


        深水炸弹战术简介（作者：烧碱）：这个图很多国家其实都可以选择，选择盟军的玩家会多一些。开局先出船厂，然后带狗，带工程师去中间抢油井。胃口大的玩家可能还会考虑放狗去抢对方油井，抢到之后放一些碉堡防守。

        法国可以考虑巨炮延伸抢对方油井，不过相对很容易丧失制海权。而这个图没有制海权基本可以GG。所以，一切战术从制海权出发。老家可以双矿，也可以三矿，注意防止对方运输船偷家。<br><br></h5></td>
      </tr>


      <tr>
        <td id="shichou"><img align="left" src="{% static "img/map/shichou.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">世仇（2）：尤里复仇热门小图，此图为苏军大优势图，此图矿稀少。都为平矿，所以拖后期是不妥当的，需要速战速决。矿场分布于出生地的左下和右上，还有两片较远的矿。对玩家操作和意识要求高。<br><br>

        世仇11简介（作者：猥琐）：1.辐射带兵，此战术打非伊拉克与（盟军英国除外）都十分无敌，运营方法为，电兵（二狗，观察对方有无爆兵，对方爆你也爆，同等爆）矿重（一牛一直出坦克）雷达出辐射，卖本，如果前期没有爆兵，可以过一会出一个二矿，然后一直出兵➕辐射进攻。进攻多考验操作。【辐射操作，不要绿自己，不要走最前方，走在兵里面。给兵辐射编号，打地堡时兵去打辐射后拉，注意躲zz。辐射很肉，小规模坦克交火是点坦克和第一轮炮，这里辐射可以吸引对方第一轮炮和炮管旋转，给自己坦克提供大量的操作时间。这种局打建筑先打电厂再打牛，重工可以放在后面打。之后就是意识了。2.重工二连，出了矿场直接坦克出二重，卖本，靠操作。

        <br><br></h5></td>
      </tr>


      <tr>
        <td id="girl"><img align="left" src="{% static "img/map/girl.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5>死亡谷之女（2-4）：经典1v1 2v2地图，经常出现于各种比赛中。<br><br>死亡谷之女战术简介（作者：企鹅）：22、11皆可，两边各2油井。前期极易守图，矿区非常集中，矿非常多。因此这个图考察的是双方的发展、铁幕的使用以及套路。你可以选择补4牛然后爆5重，也可以选择一重速铁幕断桥。个人认为出铁幕胜率略高一些，如果双方都出铁幕，很容易发展成这样一个尴尬的局势——双方用坦克、牛或者zz堵桥，进攻全靠核弹。</h5><br><br></td>
      </tr>


      <tr>
        <td id="mimishangu"><img align="left" src="{% static "img/map/mimishangu.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">秘密山谷（2）：秘密山谷是尤里复仇于红色警戒原版的一张热门小图，出生地都设在山体旁边，进攻路线只有一个峡谷。每个出生地有两个油井一个坦克修理厂一个医院，周围有较为丰富但唯一的一片平矿，对玩家运营的把握和理解程度要求较高。
        <br><br>
        秘密山谷尤里复仇11思路简述（作者：猥琐）：此图在当前版本为尤里优势图，其次为苏军，盟军最弱（法国除外）但是尤里主要依靠强大的微操与随机应变能力取胜，对于新手与普通选手上手较难容错率低，这里不做讲解。主要是学习苏军的打法：1.猥琐打法，电兵（三狗三工程师，医院随意）矿重工二牛（后一直出犀牛）补一矿，雷达后出辐射出高科（两个武直）大电铁幕工业工厂，武直去对方上山坐下，可以打到很多东西，出两个是因为对方有可能会出，所以越多越好。对面被逼出防空车和防空炮时，可以趁机补牛补一个矿车，等铁幕好用铁幕zz去打。僵持情况下出核弹，之后需要操作和意识来打。2.封视野爆重，前期出狗封住视野，可以直接出四个重工，重工里面出三牛，补二矿，但是出的时候要把握时间，不然会卡钱，注意手牛，如果顺利运营，基本可以一波了。3.占医院爆兵，占掉医院出前线兵营，然后重工出一牛补二矿雷达爆兵，需要微操和意识。最容易的是第一种，有详细的运营，不需要特别的操作，还强。实战使用最多，所以第一种打法是最好的最有用的。<br><br></h5></td>
      </tr>

      <tr>
        <td id="dianta"><img align="left" src="{% static "img/map/dianta.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5>电塔（2-4）：经典对战地图。<br><br>
        电塔战术简介（作者：企鹅）：中间有4油井和富矿，旁边只有贫矿。因此开局必拉中，不拉中没法打。而这个图拉中的距离还不一样，右上位置拉中比左下位置快1电场的时间。因此是个运气图。拉中后抢油井，然后暴兵tr。重后直接麦基地，打掉对方任意一个建筑（前提是坦克不送）基本都赢了。</h5><br><br></td>
      </tr>


      <tr>
        <td id="haixiao"><img align="left" src="{% static "img/map/haixiao.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">海啸（2-4）：一张经典海战地图，有时会作为比赛用图出现，有些高手海战经验不足，遇到此图往往会翻车。<br><br>

        海啸战术简介（来源：红警之家）：苏军打不过盟军，苏军开局一般都是双运输船碰运气，苏内战要早点出潜艇，船厂先出运输占油井，立马出潜艇。盟内战：兵营先2工程师再出1狗，重工出飞机占领油井，在之后的油井旁边放第二矿场，第二电厂等等。。然后出2个多功能避免对手空军RUSH,连出5个矿车，遇到突发事件当然要取消，之后先船厂和先空指没什么大碍，觉得先空指可以早点出空军伞兵更好，如果对面先船厂后重工开局，那就肯定先船厂了。有优势优先打爆对面油井，驱逐舰除了右下都够得到。钱多尽量出一些飞行兵，不要被对手飞行兵牵着鼻子走，船厂不停出驱逐舰，尽早出高科后爆海豚。之后在出几个船厂，遥控坦克看上去海陆两栖，但没什么用。陆地上要防守好，不要被伞兵+飞行兵偷袭。</h5><br><br></td>
      </tr>



      <tr>
        <td id="boduomake"><img align="left" src="{% static "img/map/boduomake.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5>波多马克之师（2-6）：经典3v3图。此图经常要用超级武器。<br><br>波多马克之师战术简介（作者：企鹅）：一个非常好的33图 每个位置都有富矿 和油井。一般33时选2伊拉克1法国 法国处在中间位置对炮。伊拉克速铁幕，可用无畏、基洛夫支援法国的对炮。后期是否赢则在于铁幕用的好坏。</h5><br><br></td>
      </tr>


      <tr>
        <td id="eliewusheng"><img align="left" src="{% static "img/map/eliewusheng.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5>恶劣无剩（2-4）：被称为最猥琐的地图。<br><br>恶劣无剩战术简介（作者：企鹅）：一个非常猥琐的11图 盟军胜率最高 开局需出8工程师抢油井 然后再出8工程师抢其他小岛的油井。飞行兵、伞兵、遥控、要塞、光棱、超时空需要配合好。盟军内战飞行兵最重要，要多用飞行兵找对面防守漏洞、拆油井。后期需要极其关注超时空，用得好可以一击致命。</h5><br><br></td>
      </tr>


      <tr>
        <td id="lanzhaungji"><img align="left" src="{% static "img/map/lanzhaungji.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">

        缆桩脊（2）：经典2人对战图，此图较为冷门，前期只有一条通道，易守难攻，家里地形复杂，双方很难获得视野，中立科技建筑较多。油井多，矿少，适合持久战打后期。主要考验玩家的应对能力，考验玩家对此图的理解能力。<br><br>

        缆桩脊11战术简介（作者：滑稽）：
        开局出2狗探路，往中路爆兵，大致3-6个为宜，然后出5个工程师占领中立建筑，如果速抢高地要再出3或6个。1狗探路1狗蹲中路路口，兵进中路碉堡，最好能抢到对方碉堡，狗到中路要多留意，尽可能咬掉对方的狗上去开视野，开到对面的视野并守住自己的视野，抢到对方视野和碉堡就已经赢了一半。中路由于碉堡火力或射程不够，可能会让对方的狗擦边过来，最好在左边也放几个兵。当然，如果对方防御有问题，也可以擦边过去探视野。
        因为有机场，所以要用伞兵偷家以及防伞兵偷家，最好造好一个碉堡防突发事故，伞兵好了就往对方家里放，放对方中立建筑旁和家里，也可以提前抢高地或者偷袭高地。
        两路高地有油井，稳住局势后建议快速抢下两路的油井，盟军可以中期直升机，但要稍慢一点，苏军尤里就只能工程师修桥了。抢下高地时可以突然修桥突袭。当对方抢下高地时，一定要留意高地，对方可能突然修桥大部队冲过来。
        <br><br>
        盟军战术：
        此图盟军大优，伞兵强。前期最好只守视野，等T2用飞兵和飞机探路，用大兵蹲路口憋高科出要塞，如果对面是苏军尤里，没拿到视野也不注意防空的话可以爆蚊子偷袭，小心对面伞兵，侦察机和心灵探测开到视野，最好不要用，如果对面拿到视野看见了你的意图就大亏，直升机海豹配合伞兵偷家有奇效。
        如果是法国可以抢到高地在高地上造巨炮打掉对面的油井并封路，前期抢到对面的碉堡和油井可以重后拉基地起巨炮，步兵和坦克要跟着基地车往前压，这样对面经济就差不多崩了。
        英国可以快速抢下两高地油井，放狙击手封桥，如果对面是苏军或尤里就只能等高科或者一波伞兵，打盟军狙击手封路没有意义，因为盟军有直升机。如果对面已经修好了桥，那狙击手封桥基本就没有意义了。
        美国意义不大，伞兵多点，或许可以考虑一波放下14伞兵（机场+美国伞兵）偷家
        韩国也能勉强打打，经济好点，好防守，黑鹰骚扰，封高地（苏军尤里）重后少量坦克直奔高科，但4黑鹰炸不了油井和机场，所以不要尝试炸了。
        对德国不发表任何意见，或许可以打娱乐局。<br><br>
        伊拉克战术：
        建议直接奔高科铁幕，当然多重也行，如果对面有准备有视野冲过去有些难。就算对面是法国，抢了前边的碉堡油井，还是很难威胁到家里，所以心态不能崩，继续苟铁幕。重后出少量坦克，和对面保持同步，辐射加碉堡可以轻松守住路口，在家里备几个可以放伞兵。高科后出基洛夫炸对面油井，铁幕好了就上去一波。合理利用侦察机和伞兵开视野。
        <br><br>
        尤里战术：
        可以考虑双狂兽开局，当然只是扩大战果，更容易保住视野，更容易探到视野，兵营后1或2狂兽分散蹲路，必要时手A对方的狗，尤里新兵一到，狂兽就上去探路，尤里相比较苏盟比较容易暴露视野，当然也更容易获得视野。
        最好打后期，中前期只是防住对面，后期直接飞碟脑车一波流。
        尤里应对伞兵能力较差，所以多留意伞兵。
        <br><br>
        特殊摆位：
        这个图矿不重要，都是平矿，重要的是抢油井，所以1号位苏军尤里可以直接利用碉堡/地板开视野把兵营放下去，比正常运营抢油井、碉堡，封中路稍快，苏军可能会稍微影响矿场的放置，可以考虑拉一下基地，不拉也可以。尤里没多大问题。如果是盟军拉基地的话，运营会稍慢些，而且难掌握，因此不建议。此摆位除了抢中，速抢高地矿意义稍大，其他意义不大，而且出碉堡/地板开视野，经济会少一点点（苏军尤里），比正常运营稍慢（盟军）。当然，比起正常运营，更容易守住视野和抢到视野，由于兵营在下面，也比较好防伞兵。
        <br><br>
        提示：有时候先不急着占自己家的油井，而去抢高地油井是明智的选择，当然你要守得住中路和自己的油井，兵营后狗，兵，工程师直接修高地桥，抢高地油井，当然要派几个兵守住，万一对方也速抢高地可以防。
        运营规则可以打破，可以先工程师，或者狗后工程师，也可以多狗开局。
        <br><br></h5></td>
      </tr>


      <tr>
        <td><h1>官方地图汇总</h1></td>
      </tr>


      <tr>
        <td id="chengshituji"><img align="left" src="{% static "img/map/chengshitujizhan.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">城市突击战（2）：一张不错的二人图，中间的楼和机场是一定要抢的。<br><br></h5></td>
      </tr>

      <tr>
        <td id="jinyao"><img align="left" src="{% static "img/map/jingyaoguantou.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">紧要关头（2）：资源不多，出镜率很低的一个二人图。<br><br></h5></td>
      </tr>

      <tr>
        <td id="huangjinguo"><img align="left" src="{% static "img/map/huangjinguo.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">黄金国（2）：这可能是最复杂的一个二人图，摆位有讲究，而且有不少Tech Building，资源也非常丰富，左右各有优劣势。<br><br></h5></td>
      </tr>

      <tr>
        <td id="huoxian"><img align="left" src="{% static "img/map/huoxianchongtu.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">火线冲突（2）：不错的二人图，因为资源有限，中间的宝石一定要抢的。<br><br></h5></td>
      </tr>


      <tr>
        <td id="lengzhan"><img align="left" src="{% static "img/map/lengzhan.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">冷战（2-3）：没什么平衡性，3人娱乐图。<br><br></h5></td>
      </tr>



      <tr>
        <td id="meiguoxiaozhen"><img align="left" src="{% static "img/map/meiguoxiaozhen.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">美国小镇（2-4）：房屋较多的一个4人图，平衡性一般，下方的防守建筑更多些。<br><br></h5></td>
      </tr>

      <tr>
        <td id="xinzang"><img align="left" src="{% static "img/map/xinzangdidai.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">心脏地带（2-4）：较公平的地图，有时会出现在比赛中。<br><br></h5></td>
      </tr>


      <tr>
        <td id="buliezi"><img align="left" src="{% static "img/map/bulieziranhu.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">不列兹然湖（2-4）：娱乐图，海上有油井。<br><br></h5></td>
      </tr>

      <tr>
        <td id="mengdana"><img align="left" src="{% static "img/map/mengdana.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">蒙大拿非军事区（2-4）：相对公平的地图，1v1 2v2均可，有时会出现在比赛中。<br><br></h5></td>
      </tr>

      <tr>
        <td id="jiazhou"><img align="left" src="{% static "img/map/jiazhougaosu.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">加州高速公路（2-4）：相对公平的地图，1v1 2v2均可，有时会出现在比赛中。<br><br></h5></td>
      </tr>



      <tr>
        <td id="xuedishengji"><img align="left" src="{% static "img/map/xuedishengji.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">雪地生机（2-4）：娱乐图，出镜率很少。<br><br></h5></td>
      </tr>

      <tr>
        <td id="zhengmian"><img align="left" src="{% static "img/map/zhengmianchongtu.png" %}">
        </td>
      </tr>
      <tr>
        <td><h5 align="justify">正面冲突（2-4）：桥梁对战图，一般不会作为比赛用图。</h5></td>
      </tr>

      <tr>
        <td id="chongfanbali"><img align="left" src="{% static "img/map/chongfanbali.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">重返巴黎（2-4）：一张有政治色彩的图。<br><br></h5></td>
      </tr>

      <tr>
        <td id="tequbaodong"><img align="left" src="{% static "img/map/tequbaodong.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">特区暴动（2-4）：苏联任务图，有白宫，资源丰富。<br><br></h5></td>
      </tr>

      <tr>
        <td id="malibu"><img align="left" src="{% static "img/map/malibu.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">马里布悬崖（2-6）：6人图，地势从高到低。<br><br></h5></td>
      </tr>

      <tr>
        <td id="kuangye"><img align="left" src="{% static "img/map/kuangyezhanqu.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">狂野战区（2-6）：六人图，资源还可以。<br><br></h5></td>
      </tr>

      <tr>
        <td id="fangweiqu"><img align="left" src="{% static "img/map/fangweiqu.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">防卫区争夺（2-6）：有时会出现在比赛中，中间有一些宝石，大多数情况是近战。<br><br></h5></td>
      </tr>

      <tr>
        <td id="xiboliya"><img align="left" src="{% static "img/map/xiboliya.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">西伯利亚荒原（2-6）：6人图，油井不少，不过出镜率不高。<br><br></h5></td>
      </tr>

      <tr>
        <td id="changzheng"><img align="left" src="{% static "img/map/changzheng.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">长征（2-8）：虽然同为几大8人图之一，和冰天北极相比，长征的热度并不高，一般出现在混战中。<br><br></h5></td>
      </tr>

      <tr>
        <td id="a2"><img align="left" src="{% static "img/map/a2.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5>正式锦标赛地图A（2）：有时会作为比赛用图，不过出镜率和B2相比相差较远。基本所有的好东西都在中间。<br><br></h5></td>
      </tr>

      


      <tr>
        <td id="zhengjiuxingdong"><img align="left" src="{% static "img/map/zhengjiuxingdong.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">拯救行动（2）：16个油井，虽然是2人图，打法却极其复杂多样，海陆空均有自己的战术，有时会作为比赛用图。<br><br></h5></td>
      </tr>


      <tr>
        <td id="jingjichang"><img align="left" src="{% static "img/map/jingjichang.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">竞技场（2-4）：外表很漂亮的一个图，易守难攻，不过出镜率不高。<br><br></h5></td>
      </tr>

      <tr>
        <td id="baimuda"><img align="left" src="{% static "img/map/baimuda.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">百慕大三角州（2-6）：娱乐6人图，可以2v2v2。<br><br></h5></td>
      </tr>

      <tr>
        <td id="taotuo"><img align="left" src="{% static "img/map/taotuo.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">逃脱（2-3）：娱乐3人图，资源较好。<br><br></h5></td>
      </tr>

      <tr>
        <td id="weixianchangsuo"><img align="left" src="{% static "img/map/weixianchangsuo.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">危险场所（2-8）：混战图，此图有大量的油井。<br><br></h5></td>
      </tr>

      <tr>
        <td id="zainanbianyuan"><img align="left" src="{% static "img/map/zainanbianyuan.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">灾难边缘（2-4）：一个不错的4人图，地势相对复杂。<br><br></h5></td>
      </tr>

      <tr>
        <td id="huangchen"><img align="left" src="{% static "img/map/huangchen.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">黄尘地带（2）：2人图，房屋很多。<br><br></h5></td>
      </tr>


      <tr>
        <td id="qiansulian"><img align="left" src="{% static "img/map/qiansulian.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">君王大陆（2）：也有翻译成前苏联大陆，很有特点的图，不过出镜率很低。<br><br></h5></td>
      </tr>


      <tr>
        <td id="qimatiantang"><img align="left" src="{% static "img/map/qimatiantang.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">骑马天堂（2-4）：4人图，有时出现在混战中。<br><br></h5></td>
      </tr>


      <tr>
        <td id="shengsidou"><img align="left" src="{% static "img/map/shengsidou.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">生死斗（2）：虽然是2人图，不过这个图长得有点像猪猡湾，中间两侧都有油井。<br><br></h5></td>
      </tr>

      <tr>
        <td id="wanfumaliya"><img align="left" src="{% static "img/map/wanfumaliya.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">万福玛丽亚（2）：尤里复仇内知名度很高，经常作为比赛用图，中间宝石，直接拼中是一种选择，不过抢占油井也至关重要。<br><br></h5></td>
      </tr>

      <tr>
        <td id="shanquiduijue"><img align="left" src="{% static "img/map/shanquiduijue.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">山丘对决（2-4）：资源不错但出镜率较低的4人图。<br><br></h5></td>
      </tr>

      <tr>
        <td id="qinlue"><img align="left" src="{% static "img/map/qinlue.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">侵略消息获得证实（2-4）：娱乐性质的图。<br><br></h5></td>
      </tr>

      

      <tr>
        <td id="alasijia"><img align="left" src="{% static "img/map/alasijia.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">阿拉斯加油井（2）：挺有特点的图，可能打起来太麻烦，几乎没什么出镜率。<br><br></h5></td>
      </tr>

      <tr>
        <td id="eastbest"><img align="left" src="{% static "img/map/eastbest.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">当东方遇上最佳（2-6）：尤里复仇3v3知名地图，经常作为比赛用图。一般双方都会带法国，在上方位置对炮，如果右边对炮输了，则会丧失对矿区的控制权，陷入被动。<br><br></h5></td>
      </tr>

      <tr>
        <td id="zhuluowan"><img align="left" src="{% static "img/map/zhuluowan.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">猪猡湾（2-6）：尤里复仇经典3v3地图，经常作为比赛用图。油井多，海陆空均得注意，可玩性高。此图在CNCNET的出镜率也非常的高。<br><br></h5></td>
      </tr>

      <tr>
        <td id="kongbudao"><img align="left" src="{% static "img/map/kongbudao.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">恐怖岛屿（2-4）：有时会作为比赛用图，开局对拉中比较常见。<br><br></h5></td>
      </tr>

      <tr>
        <td id="jinggongyufangyu"><img align="left" src="{% static "img/map/jinggongyufangyu.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">进攻与防御（2-4）：经典1v1 2v2地图，经济好，经常作为比赛用图。<br><br></h5></td>
      </tr>

      <tr>
        <td id="shiluozhihu"><img align="left" src="{% static "img/map/shiluozhihu.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">失落之湖（2-4）：4人版北极圈，换了个地表。<br><br></h5></td>
      </tr>

      <tr>
        <td id="jiniangu"><img align="left" src="{% static "img/map/jiniangu.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">纪念谷（2-6）：混战6人图<br><br></h5></td>
      </tr>

      <tr>
        <td id="kureganhan"><img align="left" src="{% static "img/map/kureganhan.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">酷热干旱（2-4）：相对公平，有时会作为比赛用图。<br><br></h5></td>
      </tr>

      <tr>
        <td id="shaqiuxunli"><img align="left" src="{% static "img/map/shaqiuxunli.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">沙丘巡礼（2）：经典2人图，和世仇比较类似。<br><br></h5></td>
      </tr>



      <tr>
        <td id="qiaofeng"><img align="left" src="{% static "img/map/qiaofeng.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">桥缝（2-6）：6人图，地势有高走低。<br><br></h5></td>
      </tr>

      <tr>
        <td id="baoshishangu"><img align="left" src="{% static "img/map/baoshishangu.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">宝石山谷（2-4）：有宝石，油井够，挺有钱的地图，不过出镜率较低。<br><br></h5></td>
      </tr>

      <tr>
        <td id="yuriplot"><img align="left" src="{% static "img/map/yuriplot.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">尤里的阴谋（2-3）：娱乐型3人图。<br><br></h5></td>
      </tr>

      <tr>
        <td id="arenaforever"><img align="left" src="{% static "img/map/arenaforever.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">永远的竞技场（2-6）：尤里复仇3v3比赛图之一，平衡性较高，地势也不复杂。<br><br></h5></td>
      </tr>

      <tr>
        <td id="hupozhizhan"><img align="left" src="{% static "img/map/hupozhizhan.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">湖泊之战（2）：经典2人图，这图打起来要比看起来复杂，战场一般在左边，所以右侧的分兵不太容易被注意到。<br><br></h5></td>
      </tr>

      <tr>
        <td id="happytrail"><img align="left" src="{% static "img/map/happytrails.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">快乐踪迹（2）：中间有一个圣诞树，此图出镜率很低。<br><br></h5></td>
      </tr>



      <tr>
        <td id="shuangfeng"><img align="left" src="{% static "img/map/shuangfeng.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">双峰（2）：也是一个还不错但出镜率很低的2人图。<br><br></h5></td>
      </tr>

      <tr>
        <td id="liudan"><img align="left" src="{% static "img/map/liudan.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">榴霰弹堆（2-4）：4人图，可能玩过这个图的人不多。<br><br></h5></td>
      </tr>

      <tr>
        <td id="isolation"><img align="left" src="{% static "img/map/isolation.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">孤立之海（2-4）：一条大桥横跨南北，2v2娱乐性还挺高的。<br><br></h5></td>
      </tr>

      <tr>
        <td id="rocket"><img align="left" src="{% static "img/map/rocket.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">发射中的火箭（2-4）：很漂亮的图，不过出镜率很低。<br><br></h5></td>
      </tr>

      <tr>
        <td id="ocean"><img align="left" src="{% static "img/map/ocean.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">海滩（2-4）：桥多房子也多。<br><br></h5></td>
      </tr>

      <tr>
        <td id="pacific"><img align="left" src="{% static "img/map/pacific.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">太平洋顶点（2-4）：房屋整齐划一。<br><br></h5></td>
      </tr>


      <tr>
        <td id="newheights"><img align="left" src="{% static "img/map/newheights.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">新顶点（2）：房屋的平均海拔非常高。<br><br></h5></td>
      </tr>

      <tr>
        <td id="loaded"><img align="left" src="{% static "img/map/loaded.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">满载的油桶（2）：2人图，玩过的人也很少。<br><br></h5></td>
      </tr>

      <tr>
        <td id="gold"><img align="left" src="{% static "img/map/gold.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">黄金之街（2-6）：可以用来3v3的地图，不过几乎没出现过。<br><br></h5></td>
      </tr>

      <tr>
        <td id="jiazhou2"><img align="left" src="{% static "img/map/jiazhou.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">加州（2-6）：和黄金街有相似之处，也是相对公平不过无人问津的图。<br><br></h5></td>
      </tr>


      <tr>
        <td id="killer"><img align="left" src="{% static "img/map/killer.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">杀手本能（2-3）：3人娱乐图。<br><br></h5></td>
      </tr>


      <tr>
        <td id="jueduidianfeng"><img align="left" src="{% static "img/map/jueduidianfeng.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">绝对巅峰（2-3）：经典1v2地图，适合凑不齐4人22时用来娱乐，上面很富，下面很穷。不过2打1一般来说上面顶不住。<br><br></h5></td>
      </tr>

      <tr>
        <td id="austin"><img align="left" src="{% static "img/map/austin.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">德州奥斯汀（2-4）：中间的楼封死了所有道路。<br><br></h5></td>
      </tr>

      <tr>
        <td id="shanduona"><img align="left" src="{% static "img/map/sedona.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">山多纳海峡（2-6）：CNCNET出镜率极高的混战图。算上高地延伸，法国会很棘手。<br><br></h5></td>
      </tr>

      <tr>
        <td id="chengshizairen"><img align="left" src="{% static "img/map/chengshizairen.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">成事在人（2-4）：开始每隔一段时间地图会自动扩张，娱乐性很高的地图。<br><br></h5></td>
      </tr>

      <tr>
        <td id="zhongrushenshan"><img align="left" src="{% static "img/map/zhongrushenshan.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">重入深山（2-5）：经典2v3地图，下方要去抢第二层的矿区。人少的一方的胜率和绝对巅峰比要大大增加。<br><br></h5></td>
      </tr>


      <tr>
        <td id="lunpan"><img align="left" src="{% static "img/map/lunpan.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">俄国轮盘（2-8）：很大的图，不过出镜率也不是很高。<br><br></h5></td>
      </tr>


      <tr>
        <td id="tanya"><img align="left" src="{% static "img/map/tanya.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">谭雅的训练场（2-4）：风格和大多数地图不太一样，也算是冷门地图。<br><br></h5></td>
      </tr>

      <tr>
        <td id="baoliewu"><img align="left" src="{% static "img/map/baoliewu.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">爆裂物（2-8）：在混战中的出镜率还可以，娱乐性也不错。<br><br></h5></td>
      </tr>

       <tr>
        <td id="sanchalukou"><img align="left" src="{% static "img/map/sanchalukou.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">三岔路口（2-6）：尤里复仇3v3比赛用图之一，地图比较大，一般会用到超级武器。<br><br></h5></td>
      </tr>


      <tr>
        <td id="mingwanbuling"><img align="left" src="{% static "img/map/mingwanbuling.png" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">冥顽不灵（2-6）：尤里复仇3v3比赛用图之一，战场一般集中在中间。<br><br></h5></td>
      </tr>



      <tr>
        <td id="monstermovie"><img align="left" src="{% static "img/map/monstermovie.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">怪兽电影（2-8）：尤里复仇知名混战图，图里有一些有小恐龙。<br><br></h5></td>
      </tr>

      <tr>
        <td id="jianshoulingtu"><img align="left" src="{% static "img/map/jianshoulingtu.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">坚守领土（2-8）：有时会出现在4v4娱乐局中。<br><br></h5></td>
      </tr>

      <tr>
        <td id="tuochewu"><img align="left" src="{% static "img/map/tuochewu.jpg" %}">
        </td>
      </tr>
      <tr>
        <td><br><h5 align="justify">拖车屋停驻场（2-8）：有时会出现在4v4娱乐局中，中期由于人数较多，所以中间常常会很乱，带上法国和尤里对搅局会很有帮助。<br><br></h5></td>
      </tr>

    </table>

    </div>

  </body>

</html>


<script type="text/javascript">
    function play() {
      var shapeofyou = document.getElementById("shapeofyou");
      shapeofyou.loop = true;
      if (shapeofyou.paused){
        shapeofyou.play();
      }
      else {
        shapeofyou.pause();
      }
    }
</script>
{% endblock %}
