{% extends "base.html" %}
{% load static %}
{% block page_content %}


<style type="text/css">
	img {
		width: 100%;
	}
	p {
		color: black;
	}
</style>

<br>
<h1 align="center" style="font-weight: bold;">Allied Mission</h1>

<br>

<div>
<h2 align="center" style="font-weight: bold;">Lone Guardian</h2>
<img align="left" src="{% static "img/mission/ally1.png" %}">
<h3  style="font-weight: bold;">Background</h3>
<p align="justify">The Soviet invasion of the American mainland took the USA by surprise but not the European leaders. As Soviet invaders pour into the country from every conceivable direction, the Allied military desperately tried to defend itself from the aggressors. One of the key elements of the invasion was New York City, hit especially hard due to its strong propaganda values.

With most of the military commanders dead, only one was able to respond to the President's Lazarus Protocol, an emergency directive to be activated in the event of an invasion. Coming under the command of General Carville, the Commander was placed in command of every man, woman and child in the Eastern United States and sent to New York City to blunt the Soviet invasion.</p>

<h3  style="font-weight: bold;">Guide</h3>
<p align="justify">The mission opens with Soviet Dreadnoughts assaulting the Statue of Liberty. Immediately select Tanya and and have her target the Dreadnoughts one after the other. She'll dispatch them in short order. Next the Statue will be assaulted by a group of Conscripts followed by a group of Paratroopers. While the GIs will be able to fend off these troops, the Statue of Liberty is a goner and there's nothing you can do about it.

After you fend off this assault, un-deploy the GIs and head across the bridge to the northwest. You'll find some GIs under attack by some Conscripts - take them out. The quickest way to do this is to use Tanya to target each Conscript one by one. Don't worry if you don't save the GIs, it is not vital to the mission.

Head to the northeast, where you'll find more Paratroopers. Kill them off and head east.

You'll soon reach an ore field - deploy your GIs near the field to protect your Chrono Miner. Send Tanya into the base just to the southeast of the ore field. This will give you control of the base and complete one of your objectives.

Immediately build a barracks and when it is ready, create an Engineer and then start cranking out GIs. When the Engineer is ready, use him to repair the bridge by left-clicking on one of the small buildings at the bridge's entrance.

Send Tanya and your newly created GIs across the bridge. Use Tanya to target the Conscripts and have your GIs take out the V3s. Target the oil barrels next and let them do their damage. Use your GIs en masse to take out the two Sentry Guns while Tanya targets the buildings in the Soviet base one by one. When all the buildings are destroyed, the mission is complete.</p>

</div>

<br>


<div>

<h2 align="center" style="font-weight: bold;">Eagle Dawn</h2>
<img align="left" src="{% static "img/mission/ally2.png" %}">
<h3  style="font-weight: bold;">Background</h3>

<p align="justify">Although the operation in New York blunts the invasion and the Allies bought some time to establish a foothold against the ongoing invasion, elsewhere Soviet forces continues to occupy more and more American territory. No help from America's European allies was to be expected, as they were being held hostage by Soviet nuclear warheads targeting their cities. The President makes a move to ask for help from the Allied leaders in Europe to convince them to come to the aid of the American people, a move not too well received by the patriotic General Carville who does not love the idea of the US asking for help. Despite his misgivings, he knew that this might tip the scales in their favor, but he had other concerns about the Soviets.

General Vladimir's forces were freely rampaging through inland America. As General Carville briefs the commander on the need to defend the Air Force Academy in Colorado Springs, Tanya interrupts, informing that the base had been captured by the Soviets. Subsequently, the General orders the base to be recaptured, making a small jab at Tanya, just to see her rage (to his own amusement).</p>

<h3 style="font-weight: bold;">Guide</h3>
<p align="justify">As the mission opens, you'll immediately see a few Conscripts running along a road just to the northeast. You can take them out quickly with Tanya. You will then be joined by a group of Rocketeers. Leave the Rocketeers, GIs, and Engineers behind for now and take Tanya to the northwest along the road.

Soon you will reach a Soviet base, but don't head right for it. There are Sentry Guns posted at its corners that will shred Tanya apart. Instead send her into the small lake at the front of the base (Tanya can swim and apparently is immune to hypothermia). From the lake, you can pick off the Conscripts near the base's entrance. Next swim to the other side, and plant charges on the two Flak Cannons just inside the base's entrance. After they are destroyed, send Tanya back into the safety of the lake.

With the Flak Cannons out of the picture, you can now bring up your Rocketeers to take out the Sentry Guns and any remaining Conscripts. Be careful that they do not begin to shoots at the other structures in the base - you'll want to capture those with your Engineers.

At this point, more Engineers will be air dropped into your base. Use these and the Engineers that you had from the start of the mission to capture all of the buildings in the base. Once you have done this, immediately begin creating GIs. As the GIs are ready, send them to just outside the base's southeast entrance and have them deploy. They should be able to handle the initial Soviet Conscript assaults and protect your base.

While building GIs, take your Rocketeers and fly them to the map's far northwest corner. Here you will find a small encampment of Conscripts that will be easy pickings for your Rocketeers. After you clear out the Conscripts, fly your Rocketeers back to base.

Once you have ten or so GIs, switch to Rocketeer production. Create another five or so and have them join your existing Rocketeers. Next take your Rocketeers to the east edge of the map. There is a Soviet base near this edge of the map, but all of its Flak defense is at the west entrance to the base. Fly your Rocketeers to the base's east side and begin to destroy the base's buildings and any Conscripts and tanks you happen to see. Have them move slowly westward, destroying the base as they move along.

While your Rocketeers are at work, build a group of three or four Grizzlies and then send them toward the base. Have them take out the base's wall near the west most Flak Cannon and then the Cannon itself. Fly some Rocketeers in from this direction to take out the Sentry Gun, but be careful to keep out of range of the other Flak Cannon. With the Sentry Gun eliminated, you can now maneuver the Grizzlies to work on the other Flak Cannon. The base is now safe for your Rocketeers to mop up. Soon there will be a massive airdrop of GIs and the mission will end.

There are some trucks in the map's southeast corner which can be destroyed to reveal power-up creates, but there's no real need to waste your time trying to reach them.

</p>

</div>

<br>



<div>

<h2 align="center" style="font-weight: bold;">Hail to the Chief</h2>
<img align="left" src="{% static "img/mission/ally3.jpg" %}">
<h3  style="font-weight: bold;">Background</h3>

<p align="justify">Although the Soviets had suffered a number of setbacks in their initial invasion of the United States, their momentum continued largely undeterred. While they lost ground in Colorado Springs, they struck yet another major blow against the U.S. government. During their invasion of the U.S. East Coast, the Soviets managed assert their full control over the capital through psychic control. In an attempt to win the war without any further resistance, Yuri and his Psychic Corps deployed a Psychic Beacon in front of the White House, placing the President, his cabinet, and all surviving military staff under firm mind control. The President declared that the American people pledge allegiance to Premier Romanov and General Ben Carville informed the Commander (who had not been brainwashed) that the war was over.

Fortunately for the unaffected American forces, the Commander and Lt. Eva Lee were unaffected by the Psychic Beacon, as they had been outside of the city at the time of its capture. Eva informed the Commander that if they could destroy the Beacon, they could safely evacuate the President and his staff to a secure location. She put him in touch with the unaffected American troops and the Commander moved swiftly to launch an attack on the Beacon.</p>

<h3 style="font-weight: bold;">Guide</h3>
<p align="justify">You begin this mission with a lot of GIs, a few Engineers, and an MCV. Deploy your MCV immediately and have it create an Ore Refinery, a Power Plant, a Barracks, a War Factory, and an Air Force Command, in that order. While creating these structures, take you GIs and garrison the buildings out side your base. Concentrate on the buildings on the east side, near the river, because most assaults will originate across the bridges leading to your base.

Use you Engineers to repair the heavily damaged buildings, so that your GIs can continue to receive the benefit of their protection. Use one Engineer to repair the Jefferson Memorial, too. This mission rewards your patriotic restoration of war damaged memorials with cash, so repair each monument you come across (Smithsonian Museum and Castle, Lincoln and Jefferson Memorials, and the Washington Monument).

Concentrate on building Rocketeers and Grizzlies at first, with some GIs thrown in to replace those on the frontlines defending your base. When you have a good sized Rocketeer force (ten or more), move them across the river to the east of the northern bridge where you will find a small Soviet base. Concentrate on destroying the Soviet forces first, and try to get some Engineers into the base to capture some of the buildings there. Once you've eliminated the the threat of this base, move some GIs in and deploy them in the area. A lot of the assaults on your base move through here first, so you'll be able to eliminate the threat before it even gets to your base.

Now you are ready to advance to the Washington Monument with your Rocketeers and Grizzlies. Use the Rocketeers to take out garrisoned structures and the Conscripts within and quickly move the Grizzlies in to eliminate any Flak Tracks which come by. Make sure that you keep producing units back at your base and sending them up to the frontlines.

Once past the Memorial, use your Rocketeers to take out everything that comes their way, with the Grizzlies continuing to watch for anti air units and defenses. When you near the beacon, have your Grizzlies approach it from the southeast and eliminate the Flak Cannon stationed there. You can then move your Rocketeers in from the southeast and eliminate the beacon. With the beacon destroyed, you will win the mission.

</p>

</div>

<br>





<div>

<h2 align="center" style="font-weight: bold;">Last Chance</h2>
<img align="left" src="{% static "img/mission/ally4.jpg" %}">
<h3  style="font-weight: bold;">Background</h3>

<p align="justify">After all crucial military and civilian personnel were evacuated from Washington, D.C. to Canada (including General Carville and President Michael Dugan), critical intel came in - General Vladimir just hit the city of Chicago, Illinois hard. In order to retake the city, an amphibious assault over Lake Michigan was suggested, using forces from Canada. It was odd though that the Soviets would strike at Chicago and the American High Command wanted to find out why.

The real reason for the immense Soviet presence was the Psychic Amplifier, a massive structure devised by Yuri to act as a beacon on a country-wide scale. Destroying this structure became a top priority when this was discovered by the American forces. They were not going to lose their homeland to Yuri and Romanov's psionic weapons, no matter what happened.</p>

<h3 style="font-weight: bold;">Guide</h3>
<p align="justify">This mission opens with you in command of a force consisting of Destroyers, Transports, and Rocketeers. You will need to immediately select the Rocketeers and have them destroy the Grand Cannons guarding the entrance to the harbor. Once these have been cleared out, send in your destroyers. You'll run into a few Submarines in the harbor, so target these first as they are the greatest threat to your Destroyers. Concentrate the firepower of the Destroyers on a single Submarine and take them out one by one. Next use the Destroyers to eliminate the Flack Tracks on the shoreline.

With the Flack Tracks gone, you can now bring in your Rocketeers. Use them and the Destroyers to take out all of the Soviet units and structures near the shoreline. Once you have secured the immediate beach area, bring in your transports and unload them on the shore.

Deploy the MCV as quickly as possible and get the Construction Yard working on a Power Plant, Refinery, Barracks, and War Factory. Use the GIs to clear out the remaining forces in the base area. The Grizzlies should move to the surrounding streets and concentrate on eliminating the V3s and Flack Tracks in the area. Use your Rocketeers to provide back-up for your tanks, but keep them away from anti-air units at all costs.

The fighting may be bloody at first, so make sure that your base is producing a steady stream of GIs and Grizzlies.

Before too long, you will receive reinforcements - first in the form of more troop-filled Transports and then later as more Rocketeers. Unload the Transports and use the troops to bolster up your army. Bring the Rocketeers in to join up with your current Rocketeer force.

You are now ready for the final push. Use your Rocketeers to clear out the garrisoned buildings to the northeast of your base, protecting them from Flack Tracks with your Grizzlies. Next take them past the amplifier an hit the Flack Cannon stationed to its east. Your Rocketeers are now free to move in and take out the amplifier.

There are other features on the map such as an airbase which can be captured with an Engineer and the Sears Tower which when garrisoned will reveal the entire map. However, it's not worth it to bother with these things. Using the strategy I outlined above, I was able to win this mission in less than half of the par time.

</p>

</div>
<br>



<div>

<h2 align="center" style="font-weight: bold;">Dark Night</h2>
<img align="left" src="{% static "img/mission/ally5.png" %}">
<h3 style="font-weight: bold;">Background</h3>

<p align="justify">The destruction of Chicago had a severe impact on the course of the war. For the Soviets, it was a major setback in their plans to conquer America, but expressed little remorse for destroying a major American city home to millions of people. The United States was demoralized by the loss of Chicago, and the US Army suffered massive losses during the explosion.

Fortunately, the nuclear attack on Chicago would hold severe consequences for the Soviet war machine. The Europeans agreed to supply the Americans reinforcements and additional supplies if they agreed to do them a favor: the destruction of the Soviet Nuclear Missile Silos in communist Poland.

If they attempted to aid the Americans in any manner, they risked the nuclear destruction of their cities at the hands of the enemy, and refused to lend any direct support until this threat was neutralized. The American President agreed to these terms, but dispatched the Commander and Special Agent Tanya to Poland to deal with the Soviets. It was here that Tanya began to show some level of respect and trust towards the Commander who had led them this far in the war against the Soviets back home.</p>

<h3 style="font-weight: bold;">Guide</h3>
<p align="justify">This is more of an espionage and stealth mission. Begin by moving Tanya to the north and leaving your spies where they are. Pay close attention and as soon as you see an Attack Dog target it immediately. They can take out Tanya quickly and end your mission instantly. After taking out the first Soviet patrol, head to the northwest and detonate the oil barrels there. This will result in a 'bovine rescue' and give you control of three cows. Use these cows as scouts - send them ahead of you to alert you to patrols and Soviet installations.

Keep following the road and soon Tanya will come across a Soviet base. Keep her back and out of range of the Tesla coils as you bring your spies forward to join her. Select a spy and then left click on a Conscript to disguise the spy. Walk him into the base and capture a Tesla Reactor to shut down the base's power - there will only be a pair of dogs that will pose a threat to your spy, but they circle the Battle Lab in a pretty regular pattern and can be easily avoided. When the power is down, have Tanya destroy the two coils near the base entrance. She will then be free to wreck a little havoc in the base - watch for the Tesla Coils at the northeast exit form the base, though. Bring another of your spies into the Battle Lab to complete your first objective.

Now bring your last spy into the base and have him enter a Tesla Reactor to shut down power again. When the power is down, Tanya can get close enough to the coils to shoot the oil barrels surrounding them. You will receive additional spies at this point. Bring them up from the landing zone to join Tanya.

Follow the road north - remember to use your cows to scout ahead and to have Tanya target dogs as soon as they appear. Move Tanya across the bridge and then along the base's west wall. You will find some barrels there that can be destroyed to blow a hole in the base's wall. Enter the base and target the Conscripts and Attack Dogs within the base. There will also be some more barrels to help you knock out the wall around the nuke. Have Tanya destroy the nuke then take her out of the base the way she came in.

Bring your remaining spies up to join Tanya and then proceed along the river to the west. Climb up the hill to the last base's west wall and send a spy through the entrance into a Tesla Reactor. When the power goes down, Tanya can make a break for the final nuke and take it out to win the mission.


</p>

</div>

<br>



<div>

<h2 align="center" style="font-weight: bold;">Liberty</h2>
<img align="left" src="{% static "img/mission/ally6.png" %}">
<h3 style="font-weight: bold;">Background</h3>

<p align="justify">With the success of Dark Night in Eastern Europe, the Soviet Union's nuclear threat against Western Europe was neutralized, allowing the European Union to enter the war against the Soviets. Apart from troops and supplies, the German Chancellor granted the Americans permission to utilize the talents of Germany's most brilliant scientist - Albert Einstein. With his new technologies (prism technology in particular), the U.S. was able to strengthen its foothold in those parts of the country it still controlled, forcing the Soviets to back off as their forces were now being countered by newly reinforced and supplied American forces.

The Americans began their campaign to retake America with an amphibious landing on the Arlington side of the Potomac River, intending to establish a base of operations at the Pentagon. By this point, the Soviet Union had heavily fortified Washington, D.C., and had fortified almost every major landmark in the city for their own purposes. In addition to this, the occupation dealt devastating damage to the city's infrastructure, with much of the city leveled and its landmarks desecrated.

The Soviets went so far as to install Stalin's head on the statue of Honest Abe at the Lincoln Memorial, a clear insult to the American people. This did nothing more than enrage the Americans even further, making their counter attack all the more telling as they had every intention of kicking the Soviets out of their nation's capital, forever.</p>

<h3 style="font-weight: bold;">Guide</h3>
<p align="justify">This mission is a hard-fought one and will take a bit of time to play through. It opens with the Pentagon under heavy attack, but luckily it is also heavily defended. Immediately lead your transports to the base surrounding the Pentagon, unload their troops, and send the troops into the fray. Make sure that you repair damaged defensive structures before they are destroyed.

After fending off the initial assault, pull back your troops under the protection of the Prism Towers. It is best to keep them under protection on your base's eastern flank while you build up an offensive force, otherwise you will expend a lot of resources replacing your losses. The only time you should venture forth is when you are being hit by V3s. Send a couple of Grizzlies out to dispatch them and then withdraw back to the base again.

To protect your base's west flank, garrison the nearby buildings with GIs. Keep a few Engineers handy to repair the buildings if they get too damaged.

While all of this is going on, deploy your MCV and immediately build a Refinery, Barracks, War Factory, and an Air Force Command. After that, concentrate on defensive structures. Add more Prism Towers, Pillboxes, and Patriots.

Concentrate on building GIs and Grizzlies at first. Send some of the GIs out to garrison the buildings near the bridges to the southeast of your base. Continue to keep your other units protected as you build up a sizable force.

Build a few IFVs to use to cross the bridges and scout out the Soviet positions. It also helps at this time to build another Air Force Command or two. When your IFVs uncover Soviet structures, send your Harriers in en masse to take them out. You'll soon find a small base just across the river from yours. When you've weakened it significantly with your Harriers, send in your Grizzlies and GIs to mop it up.

Next build up a force of Rocketeers. Use them to scout ahead of your forces as you move towards the other Soviet base to the northeast. You will encounter numerous garrisoned buildings along the way and the Rocketeers will be able to clean them out for you. When you reach the base, send your Grizzlies to the north and then bring them to the wall at the northern corner of the base. Have them blast through the wall and take out the Soviet Construction Yard and then the Flak Cannons at the back of the base. You can now take out the remaining structures with your Rocketeers and end the mission.


</p>

</div>

<br>



<div>

<h2 align="center" style="font-weight: bold;">Deep Sea</h2>
<img align="left" src="{% static "img/mission/ally7.png" %}">
<h3 style="font-weight: bold;">Background</h3>

<p align="justify">As the American military and civilian leadership return to Washington, DC from Canada, the Soviet Union was becoming increasingly desperate as they were losing their gains in the American homeland and were now facing attacks from the European Allies. In order to safeguard their presence in the Pacific, they decided to attack and secure the American naval base at Pearl Harbor, apparently trying to replicate the Japanese success of the Pacific War from the original WWII. This time American intelligence knew of this beforehand and set up outposts across the islands to defend against the invasion and dispatched their best commander to lead the defense.

The invasion did not take the Americans by surprise due to their intel beating the Soviets to the punch, but proved overwhelming to the Niihau outpost, which was leveled by Dreadnoughts and used as a staging point for the attack on Oahu, followed by a direct strike against the Pearl Harbor naval base. The loss of the outpost served to warn the Americans of the scope of the invasion and thus, they prepared for the assault and also began to build their navy to counter the Soviets, namely with their Aegis Cruisers to fight the Dreadnoughts' missiles and their Aircraft Carriers to pound the Soviets in retaliation.</p>

<h3 style="font-weight: bold;">Guide</h3>
<p align="justify">

This is another mission that will place you under heavy assault early on. Fear not, though, because using the following strategy I was able to finish the mission almost a half hour under par. First of all, don't worry about the base on the island in the west. You can't control it and have no hope of defending it.

Be sure to immediately move all of your Destroyer to the front of the harbor. Place your Cruisers behind them and your Carriers behind the Cruisers. You'll then be ready for the naval assault which will soon hit you. In the mean time, build a transport and then queue up a lot of Destroyers.

Also, begin building a lot of GIs. Have them first garrison the buildings just north of your base. Then send a bunch of them over to the buildings on the eastern side of the harbor - the Soviets love to drop Paratroopers there. Also, leave a few GIs deployed in the middle of your base to handle any Paratroopers or Engineers that the Soviets will try to drop on your base.

When the large naval assault comes, direct your Destroyers to take out the Submarines first. Use the Grizzlies that started in your base to harass the ships that come close to shore. When the sub threat has subsided, hit the Scorpions with your Destroyers and direct your Carriers to destroy the Dreadnoughts.

When this threat has been met, load your Transport with an Engineer and a group of GIs. Send it to the island at the top of the map. Deploy your GIs to the buildings there and use your Engineer to take control of the airfield. You will soon gain the benefit of Paratroopers. When available, use them to bolster your defenses around the island.

By this time you should have a sizable fleet of Destroyers, send them out towards the west with the Carriers and Cruisers as backup. Switch your Barracks production to Rocketeers.

About halfway to the Soviet base, you will probably meet some Submarine opposition - hit them hard with your destroyer and keep sailing on.

By this time the Soviets will most likely will have started a nuclear countdown. You'll probably have to eat the first nuke, but can get to him before a second is launched. The two most likely targets are your Refinery and Naval Yard, so when the missile is close to launch, clear you units away from these structures.

When you reach the island, you will find more naval units. Take care of them first and then direct your Destroyers to destroy every anti-air weapon you can see on the east end of the island. When you've done that, move along the island's north coast and keep hitting the anti-aircraft assets. When cleared, move your Destroyers to the south coast to clean up any remaining naval units and to destroy the Naval Yard there.

When the Destroyers have completed their sweep of the anti-air units, target the Nuclear Silo with Rocketeers and your Carriers. The Soviets will still have a lot of anti-air protection so it will be bloody, but you will end the nuclear threat for good.

Now you can begin the slow process of clearing out the Soviet base with your naval units. Concentrate on the Construction Yard at the east end first and work your way west. Before you know it, you'll win the mission.

</p>

</div>

<br>


<div>

<h2 align="center" style="font-weight: bold;">Free Gateway</h2>
<img align="left" src="{% static "img/mission/ally8.png" %}">
<h3 style="font-weight: bold;">Background</h3>

<p align="justify">With the defense of Pearl Harbor successful, the American military finally held a firm grip on the Pacific. The Allied commander responsible for the successful defence was even looking forward to some R&R at Hawaii, but the Soviet Union soon came up with another plan altogether.

St. Louis, the heart of ground control for the Missouri state, came under psychic control of the Soviets, from a psychic beacon deployed by Yuri's adepts in the bombed out Busch Stadium. Reluctantly, President Michael Dugan ordered an attack on the city, permitting the commander to open fire on American citizens if it's necessary for the destruction of the threat. Agent Tanya was to lead the attack, racing against time as the psychic influence bore through her training and mental resistance.

The city itself was under full control - all American soldiers and citizens were obedient Soviet slaves. This made the mission hard for the American strike team as they were facing the same situation as before in Washington when forced to kill their fellow Americans who were used as cannon fodder by the Soviets. This made them also all the more eager to finally fight the Soviets and make them pay for their invasion.

</p>

<h3 style="font-weight: bold;">Guide</h3>
<p align="justify">
This is a two-phased mission - the first is stealth and espionage and the second is a base to base battle to the death. So, ready to complete this mission in under half of par time? Select Tanya and have her head a short way to the north. There will be a Soviet patrol heading your way with a couple of Attack Dogs and you'll want to have Tanya take the dogs out pronto.

Next head towards the elevated highway just to the southwest of your starting position. There will be an Attack Dog nearby, so make sure Tanya is ready to shoot it.

Proceed along the highway, using Tanya to target passing patrols, especially any Attack Dogs. Also be ready for troops ahead of and sneaking up behind you on the highway. If tanks or IFVs pass on the streets below you, immediately deploy your GIs and they will eliminate the armor without taking much damage.

When you reach the end of the highway, send your GIs into a nearby building. Have Tanya move slowly to the northwest towards the base's entrance. There will be patrols in the area, so make sure you concentrate on eliminating local ground forces first. Shoot the oil barrels at the base's northeast corner to eliminate a couple Tesla Coils and some Soviet troopers. Be careful of any War Miners in the resource field to the north of the base - they'll make short work of Tonya and end your mission. Next, destroy the Tesla Reactors to power down the base. Now bring one of your engineers up to capture the psychic beacon.

With this done, reinforcements will arrive at the St. Louis Arch. Move all of the troops out in front of the Arch and deploy your MCV behind it. Immediately build a Refinery, a Barracks, and a War Factory.

Meanwhile, use Tanya to destroy the the remnants of the base around Busch Stadium. Hit the reactors first - if you don't you might eliminate some of the power drain on the base, bringing the remaining Tesla Coils online and frying Tonya. Once the stadium is cleared, take Tanya and the GIs back towards your base. Have Tanya stop on the highway just west of your base. Whenever Desolators approach, have her pick them off long before they get near your base.

Concentrate on building GIs, Grizzlies, and base defenses. Keep your Prism Tanks in your second rank - they'll do a great job of helping to defend your base, but are too fragile to risk offensively in this mission.

When you have about ten GI's, send them under the highway and garrison the first building there. Keep building GIs and garrisoning more buildings near the Soviet base. Keep a couple of Engineers in reserve, though, to repair buildings that have taken too much damage.

Once you have a fairly stable foothold in the buildings, take your Grizzlies north along the far east edge of the map. Bring them down on the Soviet base's northeast wall and punch a hole through it. Start taking out the Tesla Reactors there and then move on to the other structures. Send GIs through the broken wall and deploy them within range of a structure or two. When they have destroyed those structures, move them forward a bit and then re-deploy them. Between the GIs and Grizzlies, you'll soon wipe out the Soviet base. When the end is near, the Soviets will sell all of their remaining buildings and make one last mad rush at your forces. You should easily wipe them out though and win the mission.



</p>

</div>


<br>


<div>

<h2 align="center" style="font-weight: bold;">Sun Temple</h2>
<img align="left" src="{% static "img/mission/ally9.png" %}">
<h3 style="font-weight: bold;">Background</h3>

<p align="justify">While the popular opinion was that the Allies have the upper hand in their battle against the Soviet Union (in particular the WarWatch programme), the war was far from over. The Reds still had strength and cunning, enough to tip the scales. The Soviets managed to capture one of the Allies' west coast bases, and a Prism Tower with it. In order to mitigate the increasing Allied usage of Prism technology, they attempted to replicate it, establishing a research base in the ruined Mayan city of Tulum, Mexico in the Yucatan Peninsula.

In order to prevent them from reverse-engineering this technology, the Allies deployed a SEAL strike team to the location, to cut short any attempts to replicate the biggest advantage, the Allied war machine ever had. They were also informed that there could be resistance forces there to aid them in the battle. These forces would be bolstered by other units coming in, and if possible, turn the Soviets' latest attempt of making Prism technology against them.

</p>

<h3 style="font-weight: bold;">Guide</h3>
<p align="justify">
You open this mission with a squad of Navy Seals which are air dropped into Mexico. Move your Seals along the shoreline to the west until you reach a squad of Soviet troops and Attack Dogs. Eliminate them making sure to take out the dogs first.

Now follow the tire tracks north up onto the hill. You'll find several groups of Conscripts and a few Attack Dogs guarding pens filled with GIs, Engineers, and a couple of Grizzlies. When the Soviet troops have been eliminated, the penned-up troops will join your cause and you'll gain the use of a NightHawk as well. Move the GIs into the huts just to the west of the pens and place your Grizzlies next to the huts. Place one Engineer in the NightHawk and transport him the northwest corner of the map. You'll find an airstrip here to capture and provide you with periodic reinforcements for the rest of the mission. Now fly your NightHawk back to your troops and then south to the north wall of the Soviet compound. Use it to destroy the Sentry Gun you'll find there.

Now send your Seals into the base and clear out any opposition around the Soviet Prism Tower. Use one Engineer to capture the tower and another to take the Tesla Reactor right next to it. The tower will now come on line and take out any Soviet Troops that come near. Now move your Seals slowly into the base shooting any barrels you see and taking out the Soviet structures one by one. Destroy the second Prism Tower instead of capturing it. IF you capture it the power drain will be too high and your towers will fail to function.

When you have paratrooper reinforcements ready, drop them near your prism tower and deploy them. Once the Seals have taken care of a lot of the opposition, move the GIs into the base and have them help clean up the remaining structures and units. You can also use your NightHawk in the mopping up operations once the Flak Cannons have been destroyed.

Once again, these strategies should help you complete this level in under half of par time.


</p>

</div>

<br>

<div>

<h2 align="center" style="font-weight: bold;">Mirage</h2>
<img align="left" src="{% static "img/mission/ally10.png" %}">
<h3 style="font-weight: bold;">Background</h3>

<p align="justify">Although the invasion of the United States was failing, the Soviets did not relent. They invaded Western Europe and pushed deeper into Germany towards Einstein's laboratory, located at Black Forest (Schwarzwald). Their ultimate goal was to kill the acclaimed scientist in an attempt to end his supplement of weapons and technology to the Allies, as it was his alliance with the West that ultimately turned the tide against the Soviet Union.

Additional U.S. forces began deploying to Europe and the Allies perceived victory to be the likelier outcome. General George Carville, along with the Commander, was ordered to Germany to help defend the laboratory. The Germans feared defeat without their strategic skills. However, before Carville could leave the Pentagon, he was killed by a Crazy Ivan in a suicide attack on his quarters.
</p>

<h3 style="font-weight: bold;">Guide</h3>
<p align="justify">

When this mission opens, you must move quickly to ready yourself for the large Soviet onslaught that is soon to come. Order your MCV to deploy on the hill near Einstein's lab. Immediately build a Refinery and create a couple more Chronominers. You'll also want to send an Engineer to the area north of Einstein's lab - there is a derrick there which you can capture to increase your income.

Now concentrate on building your base's defenses. Build a lot of Prism Towers and the Power Plants to keep them going. Also build Rocketeers, GIs, and Grizzlies. Deploy your GIs around your base's perimeter to supplement your Prism tower defenses. When the Soviet onslaught comes, let your Prism Towers do their work and use the Rocketeers and Grizzlies to take out any V3 Launchers that come by.

After the onslaught, you will face only minor attacks, and so can concentrate on building an offensive force. I found that a large force of Prism Tanks do an excellent job of clearing out the Soviet bases in this mission. Also, build a few Grizzlies to help defend the Prism Tanks when things get a little hot.

While creating your offensive force, build the remaining available base structures, including an Ore Purifier, and place them Einstein's lab. Send an Engineer to the southwest to repair the Refinery you'll find there. At this point you should have a very robust economy and will have no troubles creating a large offensive force.

When you have ten or more Prism tanks, send them to the southwest to clear out the first Soviet base. Advance them slowly so that the Soviet forces can not get too close to your fragile tanks. Also, keep back from the Nuclear Reactor when it blows, or some of your units will be affected by the fallout. Proceed to the next two Soviet bases in similar fashion and victory will be yours.

</p>

</div>

<br>


<div>

<h2 align="center" style="font-weight: bold;">Fallout</h2>
<img align="left" src="{% static "img/mission/ally11.png" %}">
<h3 style="font-weight: bold;">Background</h3>

<p align="justify">
By this point in the war, the Americans had successfully liberated their homeland despite the loss of General Carville by a suicide strike of a Crazy Ivan, and with the help of the Allies began to focus their attention on those nations the Soviets still controlled. With the Black Forest and Albert Einstein's lab secured after a botched Soviet attempt to destroy it, the brilliant mind of the Allies presented the Commander his secret weapon - the Chronosphere.

With it, the Allies could literally launch an attack anywhere on the globe they wish by moving any army through time and space. However, Einstein only found one suitable location to build it - the island of Key West in the Florida Keys, "only a few short kilometers" close to Soviet-controlled Cuba.

When the Soviets received this news, they rallied their forces and prepared themselves - if the Chronosphere was successfully deployed, they knew their chances of winning the war after that are slim to none. Premier Romanov knew this as well and ordered the deployment of Nuclear Missile Silos on Cuba to smash the Allied forces to submission and to deal with the Commander who had been a thorn on his and the Soviet Union's side for too long.


</p>

<h3 style="font-weight: bold;">Guide</h3>
<p align="justify">
Make sure you're nice and comfortable, because this mission will be a long one. Your first order of business is to secure your base from attack. Garrison the lighthouse on your island to the southwest, the hotels east of your base, and the buildings near your Refinery to the northwest with GIs.

Next began producing a few Seals and GIs. Keep the Seals near the beach at your main base's southeast corner. Also produce Destroyers and move some of them to the east of your base. Produce Prism Towers (and the Power Plants to run them) and place a couple near your isolated Refineries to the southwest and northwest.

You will soon be assaulted by Dreadnaughts - take them out quickly with your Seals and Destroyers. After this, you'll mostly face small assaults by foot soldiers that your base defenses should be able to handle. Continue to add base structures and build the Chronosphere as soon as it is available. Begin building a force of Grizzlies.

Build several Destroyers and Dolphins and send them south to Cuba. Engage any naval forces you encounter on the way and then destroy the two Soviet Shipyards. This will relieve your forces from future Soviet naval strikes.

Now build a transport and load it with a Spy and Seals. Take it to the west edge of the map and then south to Cuba. It is a good idea to escort it with Dolphins and Destroyers to prevent its loss in transit. When you reach the shoreline, disguise the spy and send him into the Nuclear Reactor. Next send your Seals due north of the reactor and then order them to destroy it. You'll take some heavy fire from the Sentry Guns, but one Seal should be able to make it through and take out the reactor. Send the Transport back to your base to pick up another couple of Spies and a few Seals.

By now you should be ready to transport using the Chronosphere. Select your Grizzlies and send them behind the Soviet base at the map's southern edge. There are barrels here which they should destroy as quickly as possible to take out more of the Soviet power grid. At this point, the nuclear countdown should halt due to lack of power. If it doesn't send a spy into one of the launchers to reset the countdown and buy yourself more time.

At this point, switch your production to Prism Tanks and continue to ferry Spies and Seals down to the west edge of Cuba. Use the Spies to infiltrate Soviet structures, allowing you to steal money and to begin producing veteran units. Sneak your Seals along the southern edge of the map and try to get them close enough to plant charges on the Nuclear Silos. Also use the Chronosphere to send Prism Tanks at the silos. You are now locked in a war of attrition, but you have the upper hand in resources. Continue to hammer at the south edge of the base with Prism Tanks and Seals until all of the silos have been destroyed and you win the mission.

If you find yourself harassed by Soviet Apocalypse Tanks, then use the Chronosphere to target them and transport them to sea. They'll sink below the waves and bother you no more.

</p>

</div>

<br>


<div>

<h2 align="center" style="font-weight: bold;">Chrono Storm</h2>
<img align="left" src="{% static "img/mission/ally12.png" %}">
<h3 style="font-weight: bold;">Background</h3>

<p align="justify">
In order to seal the fate of the USSR, the Allies have to capture Romanov and behead the Soviet war machine. However an invasion of Russia by conventional means will take months to complete and cost massive Allied lives.

The Chronosphere in Florida Keys is the key to victory - a full scale invasion of Moscow will be performed by troops teleported from all over the world into the heart of the city. The teleported troops will consist of IFVs, Grizzly, and Prism tanks, beside the MCV. President Michael Dugan appointed the Allied Commander as General Carville's successor to spearhead the invasion at General Carville's funeral.

The odds are not in favor - the Soviets still outnumber the Allies 10 to 1 and the Kremlin is protected by a fortified city and the hardiest Soviet troops, including Romanov's personal elite unit, the Black Guard.

Of course, the Soviets also have the Iron Curtain at their disposal and are not ashamed to use a tactical nuclear missile on their own soil. To counter the Soviet nuclear threat, Allied scientists created the Weather Control Device, a machine that allows Allied commanders to create fierce lightning storms over enemy positions.
</p>

<h3 style="font-weight: bold;">Guide</h3>
<p align="justify">
As soon as this mission opens, use your Seals to clear out the Conscripts near the Tesla Reactor and then destroy it. This will cause reinforcements to be sent in - while they're arriving use the Seals to mop up the remaining Conscripts. Free the troops in the compound in the northeast corner of the area and send the Engineers to capture two of the nearby derricks.

Your first order of business is to get your base up and to do it quickly. You'll need all of the possible structures, but try to spread them out a bit. Your Construction Yard is the primary target of Soviet nukes, so you'll want to minimize collateral damage. Also be sure to build Prism Towers and Patriots for defense.

When you have a Barracks, start creating GIs and Engineers. Use the Engineers to capture the remaining derricks. Garrison the bunkers at your base's gates and as many of the surrounding buildings as you can.

There is an isolated Soviet Refinery to the west of your base. Periodically send a Spy into it to steal money from the Soviets. Also, if you head out of your base's east gate and follow the road to the south you will come to an airfield that you can capture with an Engineer.

When available, build the Spy Satellite Uplink and begin making Chrono Legionnaires. Keep a couple around your base in case of a nuke attack. If a nuke is launched, command your Legionnaires to attack your own buildings. The nuke will hit and destroy the Legionnaires, but your buildings will be saved.

Take a couple of Legionnaires to the southeast part of the map. You'll find two Nuclear Reactors there - target them with the Legionnaires. Now take two pairs of Legionnaires to the reactors at the southern edge of the map. They should be able to destroy the reactors without too much trouble, but if they catch the attention of a tank, immediately target the tank and then get back to the reactors. With the reactors out of the way, the Soviets will be out of power and the nuke strikes will cease.

Now it becomes a simple matter of taking out the Soviet bases. Grizzlies and Prism Tanks in tandem should do the trick. Use your Chronosphere to target enemy armor - including the elite Black Guards - and dump them in the river.

When you've eliminated the defenses around the Kremlin, Tanya shows up to capture Romanov and you'll win the mission ... and the war!

</p>

</div>










{% endblock %}
