{% extends "base.html" %}
{% load static %}
{% block page_content %}

<style>

#p_1 {
    width: 300px;
    height: 300px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#p_2 {
    width: 300px;
    height: 220px;
}

#base2 {

    width: 980px;
    margin: auto;
}



</style>

<html>

<body>

<br>

<div id="base">
    <div id="base2" class="row">
    {% for project in projects %}
        <div>
            <div id = "p_1" style="border:1px solid black;" >
                <img id = "p_2" class="card-img-top" src="{% static project.image %}">
                <div align="center" class="card-body">
                    
                    <a href="{% url 'project_detail' project.pk %}"
                       class="btn btn-primary">
                        {{project.title}}
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

</body>
</html>

{% endblock %}

