{% extends "base.html" %}
{% load static %}
{% block page_content %}

<style>

#p_1 {
    width: 250px;
    height: 250px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#p_2 {
    width: 248px;
    height: 180px;
}

#base2 {
    margin-left: 8vw;

}



</style>

<html>

<body>

<br>

<div id="base" align="center">
    <div id="base2" class="row" >
    
        <div>
            <div id = "p_1" style="border:1px solid black;" >
                <img id = "p_2" class="card-img-top" src="{% static 'img/background.png' %}">
                <div align="center" class="card-body">
                    <a href="{% url 'background' %}"
                       class="btn btn-primary">
                        背景资料
                    </a> 
                </div>
            </div>
        </div>

        <div>
            <div id = "p_1" style="border:1px solid black;" >
                <img id = "p_2" class="card-img-top" src="{% static 'img/a2.jpg' %}">
                <div align="center" class="card-body">
                    <a href="{% url 'game_setting' %}"
                       class="btn btn-primary">
                        游戏设定
                    </a> 
                </div>
            </div>
        </div>

        <div>
            <div id = "p_1" style="border:1px solid black;" >
                <img id = "p_2" class="card-img-top" src="{% static 'img/mod.jpg' %}">
                <div align="center" class="card-body">
                    <a href="{% url 'project_index' %}"
                       class="btn btn-primary">
                        MOD简介
                    </a> 
                </div>
            </div>
        </div>


        <div>
            <div id = "p_1" style="border:1px solid black;" >
                <img id = "p_2" class="card-img-top" src="{% static 'img/a5.jpg' %}">
                <div align="center" class="card-body">
                    <a href="{% url 'project_index' %}"
                       class="btn btn-primary">
                        任务
                    </a> 
                </div>
            </div>
        </div>

        <!-- <div>
            <div id = "p_1" style="border:1px solid black;" >
                <img id = "p_2" class="card-img-top" src="{% static 'img/heckfreeze.jpg' %}">
                <div align="center" class="card-body">
                    <a href="{% url 'map' %}"
                       class="btn btn-primary">
                        地图池
                    </a> 
                </div>
            </div>
        </div> -->

        <!-- <div>
            <div id = "p_1" style="border:1px solid black;" >
                <img id = "p_2" class="card-img-top" src="{% static 'img/a1.jpg' %}">
                <div align="center" class="card-body">
                    <a href="{% url 'project_index' %}"
                       class="btn btn-primary">
                        temp
                    </a> 
                </div>
            </div>
        </div> -->


        <div>
            <div id = "p_1" style="border:1px solid black;" >
                <img id = "p_2" class="card-img-top" src="{% static 'img/history.jpg' %}">
                <div align="center" class="card-body">
                    <a href="{% url 'project_index' %}"
                       class="btn btn-primary">
                        发展历史
                    </a> 
                </div>
            </div>
        </div>

        <div>
            <div id = "p_1" style="border:1px solid black;" >
                <img id = "p_2" class="card-img-top" src="{% static 'img/project1.png' %}">
                <div align="center" class="card-body">
                    <a href="{% url 'download' %}"
                       class="btn btn-primary">
                        资源汇总
                    </a> 
                </div>
            </div>
        </div>

        <!-- <div>
            <div id = "p_1" style="border:1px solid black;" >
                <img id = "p_2" class="card-img-top" src="{% static 'img/c2.jpg' %}">
                <div align="center" class="card-body">
                    <a href="{% url 'project_index' %}"
                       class="btn btn-primary">
                        temp
                    </a> 
                </div>
            </div>
        </div> -->

        
    </div>
</div>

</body>
</html>

{% endblock %}

