{% extends "base.html" %}
{% load static %}
{% block page_content %}

<html>
<style>
#p_1 {
    width: 22vw;
    height: 30vh;
}

#p_2 {
  height: 22vh;
}
</style>


<body>

<div id="base">
    <div class="row">
    {% for project in projects %}
        <div class="col-md-4">
            <div id = "p_1" style="border:1px solid black;" class="card mb-2">
                <img id = "p_2" class="card-img-top" src="{% static project.image %}">
                <div align="center" class="card-body">
                    
                    <a href="{% url 'project_detail' project.pk %}"
                       class="btn btn-primary">
                        {{project.title}}
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

</body>
</html>
{% endblock %}