{% extends "base.html" %}
{% load static %}

{% block page_content %}

<div style="font-size: 20px; color: black;">


	<br>
   <h4 style="font-weight: bold;">    Command & Conquer<br>
    Red Alert 2: Yuri's Revenge<br>
          Quotes list <br></h4>



<br>notes:<br>

<br>Select: What a unit will say if you select it.<br>

<br>Move: What a unit will say if you order it to move somewhere.<br>

<br>Attack: what a unit will say if you order it to attack.<br>

<br>Fear: what a unit will say if their Health drops very quickly.<br>

<br>Harvest: what a miner will say if you order it on Ore<br>

<br>Special: anything else I found<br>


<br>* Civilians<br>
============<br>

<br>Freed Slave<br>
-----------<br>
Select:<br>
 - What can I do?<br>
 - Will work for food!<br>
 - Liberty is sweet<br>
 - How can I help?<br>

<br>Move:<br>
 - Sure!<br>
 - Ohh-de-doo-de-doo<br>
 - Do I still need this shovel?<br>
 - Whatever do you say<br>
 - Hm. Okay!<br>
Attack:<br>
 - Payback time!<br>
 - Got my shovel right here!<br>
 - They pushed me too far!<br>
 - Charge!<br>
 - Swing away<br>
Fear:<br>
 - Ouch!<br>
 - Hey, quit it!<br>
 - You're hurting me!<br>
 - That's not fair!<br>
 - You bully!<br>

<br>
<br>Professor Einstein<br>
------------------<br>
Select:<br>
 - Here I am<br>
 - I have this theory<br>
 - Don't rush me, I am thinking<br>
 - Where is my ???<br>
 - Ja<br>
Move:<br>
 - Ah, I see<br>
 - Oh, ja!<br>
 - Wonderful!<br>
 - I understand<br>
 - A to B<br>
Attack:                 (does he even have a weapon in the game???)<br>
 - If it is necessary<br>
 - Hope this works<br>
 - Good in theory<br>
 - Always wanted to do this<br>
 - Cause und effect<br>
Fear:<br>
 - Back to the lab!<br>
 - Why did I ???<br>
 - I'm dying for science<br>
 - This was not smart<br>
 - Whos idea was this?<br>
Special:<br>
 - Isn't anyone coming to save me?<br>
 - Finally, it's about time<br>

<br>
<br>Premier Romanov<br>
---------------<br>
Select<br>
 - I'm Premier you know.<br>
 - I have legacy to consider!<br>
 - Which way, comrade?<br>
 - Guide me to safety<br>
Move:<br>
 - I will consider it<br>
 - At my own pace<br>
 - On to victory<br>
 - For Soviet glory<br>
 - These boots are too tight<br>
Attack:                 (does he even has a weapon in the game???)<br>
 - Finally!<br>
 - To the front lines!<br>
 - Crush and destroy<br>
 - The weak shall die<br>
 - <laughing><br>
Fear:<br>
 - How dare you?<br>
 - I'll get you for that<br>
 - Oh mother Russia!<br>
 - I must not die!<br>
 - Save me!!<br>
Special:<br>
 - uuuh... Y-Yuri is calling me...<br>
 - These are plans for Iron Curtain. Use on our Demolition Trucks<br>
    to make ultimate weapon of destruction!<br>
 - I... am in Yuri's base... Help me Comrade General...<br>
 - Ahh... I am myself once again<br>
 - Get me to airport!<br>

<br>
<br>Arnnie Frankenfurter<br>
--------------------<br>
Select:<br>
 - Your orders, give them to me.<br>
 - I'm pumped up<br>
 - Find me something to terminate<br>
 - I'm ready to rumble<br>
Move:<br>
 - Nice night full of walk<br>
 - Aaaaaa<br>
Attack:<br>
 - You're terminated!<br>
 - You've been erased<br>
 - Let me pump you up<br>
 - It's judgement day<br>
 - Take these, girly man<br>
Fear:<br>
 - We got company<br>
 - Things are not good here<br>
 - We are under attack<br>
 - More predators<br>
 - Gwah! (or something like that)<br>
Special:<br>
 - You can't control me<br>
 - I still have total recall<br>
 - My mind is my own<br>
 - Yuri sent these puny weaklings to feed me to his Grinder and<br>
    give his men ???. Harnest my rage, Commander, and show Yuris<br>
    girly man what it means to be powerful!<br>

<br>
<br>Flint Westwood<br>
--------------<br>
Select:<br>
 - I was born ready<br>
 - Call me Harry<br>
 - Meet Smith & Wesson<br>
 - 44 in the ???<br>
Move:<br>
 - Ready to go?<br>
 - Down & dirty<br>
 - Magnum on the move<br>
 - Runnin' the gauntlet<br>
 - Walkin' the tightrope<br>
Attack:<br>
 - I'll blow'em away<br>
 - In the line of fire<br>
 - Take this advice, punk!<br>
 - You're makin' my day<br>
Fear:<br>
 - It's rainin' lead!<br>
 - Deep in to the deadpool here!<br>
 - It's getting hairy (???)<br>
Special:<br>
 - Don't mess with my head!<br>
 - My head ???, but loose (???)<br>
 - Try me again, punk!<br>

<br>
<br>Sammy Stallion<br>
--------------<br>
Select:<br>
 - Yo!<br>
 - I'm their worst nightmare<br>
 - Ready for round one<br>
Move:<br>
 - I'm ???<br>
 - Yo, I'm there!<br>
 - Fancy footwork<br>
 - You know it<br>
 - Allright, sounds like a plan<br>
Attack:<br>
 - You ain't so bad<br>
 - You want war? You got it!<br>
 - Did you bring ???<br>
 - You ain't nothing!<br>
 - You're the disease - I'm the cure<br>
Fear:<br>
 - They've hittin' pretty hard (???)<br>
 - This ain't looking so good!<br>
 - Hey yo, how 'bout some help here?<br>
Special:<br>
 - Yo, you can't scramble my brains<br>
 - Yo, nice try!<br>
 - I ain't even got a headache<br>
 - Yo, my mom hits harder then that!<br>
 - I got a hard head<br>
 - Yo, thanks for getting me out Commander!<br>

<br>
<br>Secret Service<br>
--------------<br>
Select:<br>
 - I'll take the bullet.<br>
 - Agent in the field.<br>
 - Secret service here.<br>
 - Need an escort?<br>
 - Assigment sir?<br>
 - What's your clearance level?<br>
Move:<br>
 - Securing the area.<br>
 - Scanning perimeter.<br>
 - Right away sir.<br>
 - Assignment recieved.<br>
Attack:<br>
 - He's doesn't belong here.<br>
 - He's a threat.<br>
 - No witnesses.<br>
 - Shoot to kill.<br>
 - Executing assignment.<br>

<br>
<br>* Allied Infantry<br>
==================<br>

<br>G.I.<br>
----<br>
Select:<br>
 - Sir yes sir!<br>
 - Ready!<br>
 - Squared away sir!<br>
 - Orders?<br>
 - How `bout some action?<br>
 - Can do!<br>
 - Who's next?<br>
Move:<br>
 - Move'n out!<br>
 - Got it!<br>
 - On my way!<br>
 - Double time!<br>
 - On the move!<br>
 - Hooah!<br>
Attack:<br>
 - Attacking!<br>
 - You got it!<br>
 - Enemy sighted!<br>
 - Let's do it!<br>
 - Diggin' in!<br>
 - Safety first, sir!<br>
Fear:<br>
 - We're pinned down!<br>
 - We're being attacked!<br>

<br>
<br>Allied Engineer<br>
---------------<br>
Select:<br>
 - Engineering.<br>
 - I have the tools.<br>
 - I've got the knowledge.<br>
 - Need a repair?<br>
Move:<br>
 - Yes sir!<br>
 - Moving.<br>
 - I won't be late.<br>
Attack:<br>
 - Analyzing schematics.<br>
 - Studying blue prints.<br>
 - Got the plans right here.<br>
Fear:<br>
 - Get me outa here!<br>
 - I'm unarmed<br>
 - <fear sounds><br>
Special:<br>
 - We'll have the power up in 30 seconds, sir.<br>

<br>
<br>Guardian G.I.<br>
-------------<br>
Select:<br>
 - Tanks are no match<br>
 - We're uncrushable!<br>
 - Let's show'em what we got<br>
 - Solid as a rock Sir<br>
 - On the mark Sir!<br>
 - Sir, yes Sir!<br>
Move:<br>
 - Move!<br>
 - Right away, Sir<br>
 - Repositioning<br>
 - Affermative, Sir!<br>
 - Let's move out<br>
Attack:<br>
 - He's mine<br>
 - They want a scrap?<br>
 - We'll take 'em<br>
 - I'm all over him<br>
 - Let's throwdown (???)<br>
Deploy:     (unused)<br>
 - Dig 'em in (???)<br>
 - Fortify<br>
 - Barricades<br>
Fear:<br>
 - Their not ???ing up<br>
 - I need a medic<br>
 - It's too much<br>
 - I'm hit bad<br>
 - I can't take anymore<br>
 - They're right ontop of me<br>

<br>
<br>Rocketeer<br>
---------<br>
Select:<br>
 - Rockets in the sky.<br>
 - All Fired up!<br>
 - Check out the view.<br>
 - I can go anywhere!<br>
 - Gotta clear view, sir.<br>
 - Ready to soar.<br>
 - Fuel tanks are filled<br>
Move:<br>
 - Pushin' away.<br>
 - Igniting boosters.<br>
 - Riding High.<br>
 - Up and over.<br>
 - Got a steady flow.<br>
 - I'll take the high road.<br>
 - Lifting off.<br>
Attack:<br>
 - He's got no place to hide.<br>
 - I can see 'em<br>
 - I got 'em<br>
 - Clear out the place<br>
 - They won't see us comin.<br>
Fear:<br>
 - I'm losing compression!<br>
 - There's too much flak!<br>
 - My rocket's hit!<br>

<br>
<br>SEAL<br>
----<br>
"SEAL ready"<br>

<br>Select:<br>
 - SEAL ready.<br>
 - I'm your man.<br>
 - A lil' C4 knockin' at your door.<br>
 - Who's your daddy?<br>
Move:<br>
 - Hoorah!<br>
 - Cover me.<br>
 - How about a swim?<br>
Attack:<br>
 - Enemy in my sites!<br>
 - I got `em.<br>
 - This is too easy.<br>
Special:<br>
 - Special Delivery!<br>
 - Goin' down!<br>
 - Alright, the water's warm!<br>

<br>
<br>Spy<br>
---<br>
Select:<br>
 - Commander?<br>
 - Mission sir?<br>
 - Gimme a plan.<br>
 - Agent ready.<br>
Move:<br>
 - Operation underway.<br>
 - Indeed.<br>
Attack:<br>
 - Disguise ready.<br>
Fear:<br>
 - They found me out!<br>
 - I've been spotted!<br>
Special:<br>
 - Ready to infiltrate.<br>
 - Obtaining intelligence.<br>

<br>
<br>Chrono Legionnaire<br>
------------------<br>
Select:<br>
 - Yes, Commander.<br>
 - Already there.<br>
 - I'm gone.<br>
 - Pick a spot.<br>
 - Without a trace.<br>
Move:<br>
 - Yes, Commander.<br>
 - Already there.<br>
 - I'm gone.<br>
 - Pick a spot.<br>
 - Without a trace.<br>
Attack:<br>
 - They're history.<br>
 - Deconstructing<br>
 - Never existed.<br>
 - Removing.<br>
Fear:<br>
 - I don't have time for this!<br>
 - Let's get outa here!<br>
 - Cover me!<br>

<br>
<br>Tanya (RA2)<br>
-----<br>
"<maniacal laughter>"<br>

<br>Select:<br>
 - Anytime boss.<br>
 - You got an order?<br>
 - Where's the party?<br>
 - Show me the way.<br>
 - How 'bout some action.<br>
Move:<br>
 - I'm there.<br>
 - How about a target?!<br>
 - On my way.<br>
 - Moving out boss.<br>
 - I'm on it.<br>
 - Shake it baby!<br>
Attack:<br>
 - Cha-Ching!<br>

 - Locked and loaded.<br>
 - Yaah Baby!<br>

<br>
<br>Tanya (YURI)<br>
------------<br>
"Let's Rock & Roll!"<br>
 (the below 3 is never in the game for some reason,<br>
  but they should be according to the soundmd.ini file)<br>
"Waahoo!"<br>
"Nothing can stop me!"<br>
"No fear - Tanya's here"<br>

<br>Select:<br>
 - What's up?<br>
 - I'm the best there is<br>
 - Untouchable<br>
 - I hear ya<br>
 - I'm so good<br>
Move:<br>
 - Let's go<br>
 - Gotcha<br>
 - Let's get to it<br>
 - Nothing to stop me<br>
Attack:<br>
 - Bag'em up<br>
 - Yihaaa<br>
 - Another loser<br>
Fear:<br>
 - I'm hit<br>
 - Just a scratch<br>
 - That all you got?<br>
 - Heyhey, watch it<br>
Special:<br>
 - One short swim to Alcatraz, and I'll blow that Psychic<br>
    contraption sky-high!<br>
 - This time, Yuris going down!<br>
 - What? Yeah, right, Boris is skilled. Look at me, I can<br>
     call in an airstrike! Please.<br>
 - Games over Yuri, You're about to lose!<br>
 - You know, It might be easier to sneak me across the river then<br>
    to get an entire army over the bridge.<br>
 - No problen, I'm trained to resist mind control.<br>
 - Mind control? Yeah, right.<br>
 - No one mind controls Tanya<br>
 - Those psychic tricks don't work on me<br>
 - Get outta my brain!<br>
 - No fear, Tanya's here.<br>

<br>
<br>* Soviet Infantry<br>
==================<br>

<br>Conscript<br>
---------<br>
Select:<br>
 - Waiting orders.<br>
 - Comrad?<br>
 - Conscipt reporting.<br>
Move:<br>
 - Moving out.<br>
 - Order recieved.<br>
 - For the Union.<br>
 - Da!<br>
Attack:<br>
 - For home country.<br>
 - Attacking.<br>
 - You are sure?<br>
 - For mother Russia!<br>
Fear:<br>
 - Mommy!<br>
 - We're being attacked!<br>

<br>
<br>Soviet Engineer<br>
---------------<br>
Select:<br>
 - Engineering.<br>
 - Tools ready.<br>
 - I have the information.<br>
 - Need a repair?<br>
 - Something need fixing?<br>
 - I know how it works.<br>
Move:<br>
 - Yes Commander!<br>
 - Moving.<br>
 - I will go.<br>
Attack:<br>
 - Need a repair?<br>
 - Examining diagrams.<br>
Fear:<br>
 - Get me outa here!<br>
 - I'm unarmed<br>
Special<br>
 - We'll have the power up in 30 seconds, sir.<br>

<br>
<br>Flak Trooper<br>
------------<br>
Select:<br>
 - Flak trooper reporting.<br>
 - ready.<br>
 - Orders comrad?<br>
 - At least I have a job.<br>
Move:<br>
 - Da!<br>
 - I am going.<br>
 - Moving out.<br>
 - This gun is heavy.<br>
Attack:<br>
 - Flak attack!<br>
 - This will be messy.<br>
 - Clouds of death.<br>
 - A little flak?<br>
Fear:<br>
 - Can't see through the flak.<br>
 - There shooting me.<br>
 - Help me Romanov.<br>
 - I'm just one man.<br>

<br>
<br>Tesla Trooper<br>
-------------<br>
Select:<br>
 - Tesla suit ready!<br>
 - Charging up.<br>
 - Electrodes ready!<br>
 - Checking connection.<br>
 - Yes comrade.<br>
Move:<br>
 - Going to source.<br>
 - Moving out.<br>
 - Yes comrade.<br>
 - Surging forward.<br>
 - Electrician in the field.<br>
 - Rubber shoes in motion.<br>
Attack:<br>
 - 2,000 volts coming up.<br>
 - He's fried.<br>
 - Completing circuit.<br>
 - Let the juice flow.<br>
 - Commencing Shock therapy.<br>
Fear:<br>
 - Ground yourselves!<br>
 - Reinforcements!<br>
 - I'm hit!<br>

<br>
<br>Crazy Ivan<br>
----------<br>
Select:<br>
 - <br>
 - Yaah!<br>
 - K-BOOM!<br>
 - Yaah? What's that?<br>
 - Ivan's not home!<br>
 - It's too quiet here.<br>
 - <br>
Move:<br>

 - I'm goin'.<br>
 - Heh-heh-heh.<br>
 - What's over here?<br>

Attack:<br>
 - Happy Birthday!<br>
 - Here, hold this.<br>
 - I lost a bomb. Do you have it?<br>
 - Don't play with matches.<br>

<br>
<br>Boris<br>
-----<br>
"Boris has arrived!"<br>
 (the below 4 is never in the game for some reason,<br>
  but they should be according to the soundmd.ini file)<br>
"It is I, Boris!"<br>
"I have no fear" (pronounced as "hare". Boris is a funny guy.)<br>
"Let the games begin"<br>
"Your no match for Boris"<br>

<br>Select:<br>
 - Boris here<br>
 - Yes comrad general<br>
 - Let's light them up<br>
 - I'll point out the target<br>
 - Don't mess with me<br>
Move:<br>
 - There's nothing I cannot do!<br>
 - This will be easy<br>
 - Boris agrees<br>
 - I have an important mission<br>
 - Russia's fate is with me<br>
Attack:<br>

 - Die traitorous dogs!<br>
 - Eat lead<br>
 - Fools, you can't touch me! (???)<br>
 - Who is next?<br>
Fear:<br>
 - They are attacking us!<br>
 - It's very bad here comrad!<br>
 - I'm hit!<br>
 - We must have reinforcements!<br>
Special:<br>
 - Bring on the MIGs<br>
 - Boris reporting<br>
 - Have I been gone somewhere, Comrade Zofia?<br>
 - I'm not swimming out there! Get me an Armored Transport<br>
    from Shipyard<br>

<br>
<br>Cosmonaut/Lunar roceteer<br>
---------<br>
Select:<br>
 - Gravity suit secured<br>
 - Cosmonaut reporting<br>
 - Gravity? What's that?<br>
 - Pressure gauges normal<br>
 - Russian space ace<br>
Move:<br>
 - Rocketpacks fully charged<br>
 - Boosters engaged<br>
 - Shifting thrusters<br>
 - Fuelmix optimized<br>
 - Light and fast<br>
Attack:<br>
 - Tracking target<br>
 - Beam intensity locked<br>
 - Lasers at full power<br>
 - (???)<br>
 - Time for Laser show!<br>
Fear:<br>
 - We need more ???<br>
 - It's hard to manoeuvre<br>
 - Vacuum suit is failing<br>
 - Fuelcells damaged<br>
Dieing:<br>
 - Can't... breath!<br>
<5 other different screams><br>

<br>
<br>Yuri/Yuri Prime (RA2)<br>
--------<br>
Select:<br>
 - Psychic ready.<br>
 - Tell me your wish.<br>
 - I know your thoughts.<br>
 - Your mind is clear.<br>
 - The mind is quicker than the eye.<br>
Move:<br>
 - Yes, of course.<br>
 - Predictable.<br>
 - Thoughts received.<br>
 - My command is your wish.<br>
Attack:<br>
 - He belongs to us.<br>
 - His mind is weak.<br>
 - There is no resistance.<br>
 - A new comrade joins us.<br>
 - Look deeply into my eyes.<br>

<br>* Yuri Infantry<br>
================<br>

<br>Initiate<br>
--------<br>
Select:<br>
 - Yuri is master<br>
 - I am but a student<br>
 - There is much to learn!<br>
 - He has taught us well<br>
Move:<br>
 - Learning the path<br>
 - Hail to the great Yuri<br>
 - Enlighten me<br>
 - I understand<br>
Attack<br>
 - ???ing flame<br>
 - I don't need matches<br>
 - Focusing energy!<br>
 - Focusing energy!<br>
 - Look! No hands!<br>
 - Guns are too messy<br>
Fear:<br>
 - Give me strength, Yuri!<br>
 - Fire out of control!<br>
 - It's hard to focus<br>
 - My life for Yuri!<br>
 - Nonbelievers!<br>

<br>Yuri Engineer<br>
-------------<br>
Select:<br>
 - Is there problem?<br>
 - My tools are yours<br>
 - How can I assist?<br>
 - I'm your handyman<br>
 - Technician on duty<br>
Move:<br>
 - Smooth operations<br>
 - Where is trouble<br>
 - May I help?<br>
 - I will investigate<br>
 - Repairman on the move!<br>
Attack:<br>
 - Nice architecture!<br>
 - This won't take much time<br>
 - (???)<br>
 - I am working<br>
 - Inspecting foreplan<br>
Fear:<br>
 - Help us!<br>
 - I'm only engineer!<br>
 - I am wounded!<br>
 - I lost my tools!<br>
 - Hey, that hurt!<br>

<br>
<br>Virus<br>
-----<br>
Select:<br>
 - Viral agent ready<br>
 - Free inoculations<br>
 - Here comes the plague<br>
 - I am so very contagious<br>
 - Flu shots anyone?<br>
Move:<br>
 - Epidemic on the move.<br>
 - Which way is the wind blowing?<br>
 - Nasty bug going around<br>
 - Virus spreading<br>
 - Just get me in range<br>
Attack:<br>
 - Time to infect<br>
 - No cure for this<br>
 - How about a nice shot in the arm?<br>
 - This may sting a little<br>
 - Taste my venom<br>
 - Mmm, better got to the clinic<br>
Fear:<br>
 - I cannot hold them off<br>
 - I need an antidote<br>
 - I'm in to close<br>
 - I feel sick<br>
 - I'm hit<br>

<br>
<br>Brute<br>
-----<br>
Select:<br>
 - Huh?<br>
 - Give me something to brake!<br>
 - I want to play!<br>
 - I like big toys!<br>
 - Ready to crush!<br>
Move:<br>
 - Turn me loose!<br>
 - Is clobbering time, no?<br>
 - Ookay<br>
 - Goody!<br>
Attack:<br>
 - Come to Poppa!<br>
 - Them not my friend!<br>
 - Give me your lunch money!<br>
 - It's plaaaytiiime!<br>
 - I will brake you!<br>
Fear:<br>
 - Ouch! that hurt!<br>
 - I wanna go home!<br>
 - <crying><br>
 - I was only playing!<br>
 - You make me mad!<br>
Special (while attacking):<br>
 - Whoopsie!<br>


<br>
<br>Yuri Clone<br>
----------<br>
Select:<br>
 - All in the mind<br>
 - Psychic ready<br>
 - Something to think about<br>
 - Share your thoughts with me<br>
 - Perhaps I can be of assistance<br>
Move:<br>
 - Yes, good thought<br>
 - Understandable<br>
 - Makes sense<br>
 - Goes without saying<br>
 - Goes without saying<br>
Attack:<br>
 - He will do as I say<br>
 - They will obey<br>
 - Hail to me (???)<br>
 - We could use one of those<br>
 - Their will is my will<br>
Fear:<br>
 - Hah, my head hurts<br>
 - Can't hear myself think!<br>
 - Hah, I'm so confused<br>
 - Hah, what will you thinking (???)<br>
 - I can't make up my mind<br>

<br>
<br>Yuri Prime<br>
----------<br>
"There's only one true Yuri"<br>

<br>Select:<br>
 - I'm here<br>
 - You disturb me?<br>
 - You will learn from me<br>
 - Be up on mind<br>
 - Your orders - my ideas<br>
 - Yes, my exquisite mind<br>
Move:<br>
 - Your thoughts are mine<br>
 - Most unimaginated<br>
 - You will move me there<br>
 - Yes, I know<br>
 - I have taught you well<br>
 - A trivial matter<br>
 - I've seen this already<br>
Attack:<br>
 - He will be ours<br>
 - I bring you peace<br>
 - I fore saw this need (???)<br>
 - He will listen<br>
 - He shall serve me well<br>
 - Another ??? joins us<br>
 - Come to Yuri<br>
Fear:<br>
 - I sense trouble<br>
 - This could be a problem<br>
 - I did not forsee this<br>
Special:<br>
 - I cannot be overcome<br>
 - I am my own master, always<br>
 - A pathetic attempt<br>
 - Fool. You can't control me.<br>

<br>* Allied Tanks<br>
===============<br>

<br>Chrono Miner<br>
------------<br>
Select:<br>
 - Oh, hello Sir!<br>
 - Ready as ever<br>
 - Chrono miner reporting for duty<br>
 - Good day commander<br>
 - 24/7<br>
Move:<br>
 - Always on time<br>
 - Oh yes, I agree<br>
 - Okay<br>
 - Sure thing, Sir!<br>
 - Of course<br>
Harvest:<br>
 - You'll get the cash in a flash<br>
 - It's in the bank<br>
 - Mining<br>
 - Aah, there it is!<br>
 - Rolling with a Chrono Conwoy<br>
Return to refinery:<br>
 - I'll be there right away<br>
 - In the blink of an eye<br>
 - In no time at all<br>
 - Let's dump this stuff<br>
 - Comin' home!<br>

<br>
<br>Grizzly Battle Tank<br>
-------------------<br>
Select:<br>
 - Vehicle ready.<br>
 - Unit reporting!<br>
 - Yes sir.<br>
 - Ready to roll!<br>
 - Destination Commander?<br>
Move:<br>
 - Securing Position!<br>
 - Good to go!<br>
 - High speed, low drag.<br>
 - On our way, sir.<br>
 - Outstanding!<br>
 - Bound forward!<br>
Attack:<br>
 - Weapon ready.<br>
 - Commencing assault!<br>
 - Closing in!<br>
 - Driver up!<br>
 - Fire zone confirmed.<br>

<br>
<br>Infantry Fighting Vechile<br>
-------------------------<br>
Select:<br>
 - Everythings made to fit<br>
 - IFV ready<br>
 - Need a conversion?<br>
 - We can make adjustments<br>
 - Transformer panels in order<br>
 - Tools of the trade (???)<br>
Move:<br>
 - Fast and light<br>
 - Made for speed<br>
 - On the go<br>
 - Yup<br>
 - Running smooth<br>
 - Watch my dust<br>
Attack:<br>
 - It's a sure shot!<br>
 - We've got 'em<br>
 - Of course<br>
 - Takin' 'em down<br>
 - Hittin' 'em hard<br>

<br>
<br>Mirage Tank<br>
-----------<br>
Select:<br>
 - Mean, green, and unseen!<br>
 - Aren't the trees lovely?<br>
 - Perfect hideout<br>
 - Natural sanctuary<br>
 - Want some shade?<br>
 - Nobody's here but us trees!<br>
Move:<br>
 - Layin' low<br>
 - Look natural<br>
 - Creeping ahead<br>
 - On the prowl<br>
 - Tree planting<br>
 - Going mobile<br>
 - Now you see me, soon you won't<br>
Attack:<br>
 - Surprise!<br>
 - HA-HAA!<br>
 - Sneak attack!<br>
 - One more for the landfill!<br>
 - Time for an ambush<br>

<br>
<br>Prism Tank<br>
----------<br>
Select:<br>
 - Prism tank in order, Sir<br>
 - Dioptic manifold clear<br>
 - Lens shifters in working position<br>
 - Prism sensors stable<br>
 - Panels charged<br>
Move:<br>
 - Compensating for terrain flux<br>
 - Estimating distorsion error<br>
 - Positional data recieved<br>
 - New coordinates processed<br>
 - Readjusting stabilazers<br>
Attack:<br>
 - Magnifiers activated<br>
 - Calculating reflection arks<br>
 - Resolving target coordinates<br>
 - Intensifying light projectory<br>
 - Focusing light energy<br>

<br>
<br>Battle Fortress<br>
---------------<br>
Select:<br>
 - Preparing for battle<br>
 - Battle Fortress on the alert<br>
 - Let's make a warpath<br>
 - Takin' in close (???)<br>
 - We will trample our enemies!<br>
 - Let's load up the troops<br>
Move:<br>
 - Nothing can stop us<br>
 - CHARGE!!<br>
 - Mobilizing<br>
 - Rolling thundar!<br>
 - Let's see some action<br>
Attack:<br>
 - Open fire!<br>
 - Fire at will<br>
 - Wipe'em out<br>
 - We will crush'em<br>

<br>
<br>Allied MCV<br>
----------<br>
Select:<br>
 - Packed up & ready<br>
 - Materials checked and cleared<br>
 - Blueprints ready, Sir<br>
 - Allied schematics on hand<br>
 - Let's set up shop<br>
 - What's the word?<br>
Move:<br>
 - Wanna set up over there?<br>
 - Let's find some flat land!<br>
 - Location is key<br>
 - A new location, commander?<br>
 - Shows on the road<br>
 - Loaded up and truckin'<br>

<br>
<br>* Soviet Tanks<br>
===============<br>

<br>War Miner<br>
---------<br>
Select:<br>
 - War miner here<br>
 - Pride of the working class!<br>
 - Building Soviet economy<br>
 - Making Russia strong!<br>
 - We are armed!<br>
Move + Return to refinery:<br>
 - Relocating operations<br>
 - At once, comrade!<br>
 - For Soviet people<br>
 - Serving the cause<br>
 - Da, comrade general<br>
Attack:<br>
 - On the attack<br>
 - Protect the ore!<br>
 - Take them out!<br>
 - They pose a threat!<br>
 - This will show them!<br>
Harvest:<br>
 - Equal share for everyone<br>
 - Let's keep the ore moving<br>
 - Da, we will need that!<br>
 - Looks like good place to mine<br>

<br>
<br>Rhino Heavy Tank<br>
-----------------<br>
Select:<br>
 - Vehicle reporting.<br>
 - Ready comrade.<br>
 - Awaiting orders.<br>
Move:<br>
 - Location confirmed.<br>
 - Moving.<br>
 - Changing position.<br>
Attack:<br>
 - Target sighted.<br>
 - Encounting enemy.<br>
 - We will bury them.<br>
 - Attacking!<br>

<br>
<br>Flak Track<br>
----------<br>
Select:<br>
 - Armored personal carrier ready<br>
 - Ready for transport<br>
 - Let's clear the air<br>
 - Do you have a plan?<br>
 - What is the mission?<br>
Move:<br>
 - Making tracks<br>
 - I'll carry out the operation<br>
 - Getting in closer<br>
 - (???)<br>
 - Cathing path<br>
Attack:<br>
 - Firing salvo<br>
 - Flak away<br>
 - Tear them apart<br>
 - Flak them down!<br>
 - Guns loaded<br>

<br>
<br>V3 Rocket Launcher<br>
------------------<br>
Select:<br>
 - Ready for launch<br>
 - Armed for destruction<br>
 - Rockets fueled and ready<br>
 - V3 launch unit<br>
 - Let's keep up distance<br>
Move:<br>
 - Advancing to new location<br>
 - Moving to new launch site<br>
 - Not too close please<br>
 - Repositioning<br>
Attack:<br>
 - Missle launch confirmed<br>
 - Trajectory set<br>
 - We have ignition<br>
 - Sending airmail<br>
 - Warhead primed<br>

<br>
<br>Apocalypse<br>
----------<br>
Select:<br>
 - The instrument of doom<br>
 - It is day of judgement<br>
 - Armaggeddon is here<br>
 - Soviet power supreme<br>
 - Annihilating<br>
Move:<br>
 - They will roam in fear<br>
 - I cast a deadly shadow<br>
 - It will soon be a wasteland<br>
 - Excellent!<br>
 - Be patient<br>
Attack:<br>
 - Eradicate them<br>
 - The end is at hand<br>
 - These will be your last moments<br>
 - Taste your mortality<br>
 - The apocalypse has begun<br>
 - Bringing down the hammer<br>

<br>Soviet MCV<br>
----------<br>
Select:<br>
 - Soviet construction vechile<br>
 - Ready for deployment<br>
 - Building the Soviet Empire<br>
 - Mobile construction center<br>
 - MCV reporting in<br>
Move:<br>
 - As quickly as possible<br>
 - Holeing materials (???)<br>
 - Moving constuction<br>
 - Yes comrade<br>
 - Relocating<br>

<br>
<br>* Yuri Tanks<br>
=============<br>

<br>Slave Miner<br>
-----------<br>
Select:<br>
 - Yuri mining facility reporting<br>
 - Foreman here<br>
 - Let's put these maggots to work<br>
 - We get reeeal dirty around here<br>
 - Ore processors working<br>
 - My slaves are ready<br>
 - We've got a lot of work to do<br>
Move:<br>
 - Slaves are cheap, hahaha<br>
 - Mining ain't for sissy's<br>
 - Is my shift over yet?<br>
 - This is mans job!<br>
Attack:<br>
 - This all belongs to Yuri<br>
 - Go away thieves!<br>
 - Get rid of these pests!<br>
 - Defend the ore!<br>
Harvest:<br>
 - Dig, DIG!!<br>
 - Move those shovels!<br>
 - Faster, little slaves<br>
 - We need more!<br>
 - Let's get to the cash<br>
Deploy:<br>
 - Let's get to work<br>
Undeploy:<br>
 - Moving to mining operations<br>

<br>
<br>Slave Miners Slaves<br>
-------------------<br>
Select:<br>
 - Can I have a potty break?<br>
 - I've seen happier times<br>
 - I haven't eaten anything in days<br>
 - What is it now?<br>
 - Don't hurt me!<br>
 - Yes, master<br>
Move:               (You can't move them by default)<br>
 - My feet hurt<br>
 - Whatever you say<br>
 - Can I go home now?<br>
 - Allright<br>
 - Work, work, work...<br>
Attack:             (same as for moving them)<br>
 - I'm just a slave<br>
 - Will this shovel work?<br>
 - I'm not really a ??? you know<br>
 - Will this earn me my freedom?<br>
 - I thought I only have to dig!<br>
Fear:<br>
 - All I have is this shovel!<br>
 - They're attacking me!<br>
 - Somebody help me!<br>
 - This is unfair!<br>
 - Au, Aauu!<br>
 - Ouch!<br>
 - Hey, quit it!<br>
 - You're hurting me!<br>
 - That's not fair!<br>
 - You bully!<br>
Harvest:            (same as for moving them)<br>
 - Digging<br>
 - Okay, okay<br>
 - You know this stuff is heavy<br>
 - This is hard work!<br>
 - Allright, allright<br>
Special:<br>
 - We're free! We're free!!<br>

<br>Lasher Light Tank<br>
-----------<br>
Select:<br>
 - We will puncture through<br>
 - Lasher Tank ready<br>
 - Yuris tank division<br>
 - Where is battle?<br>
Move:<br>
 - Turn up the speed<br>
 - Take me to frontlines<br>
 - Yes, master Yuri<br>
 - The hunt is on<br>
Attack:<br>
 - Gonna make some scrap metal<br>
 - We can whip 'em (???)<br>
 - They will not escape<br>
 - ??? Yuri<br>
 - Prepare for your lashes<br>

<br>
<br>Gattling Tank<br>
-------------<br>
Select:<br>
 - Let's clear the air<br>
 - Barrels cooled and ready<br>
 - Loadin' up the belt<br>
 - I love the smell of gunpowder<br>
 - Guns ready for full auto<br>
Move:<br>
 - Scanning horizon (???)<br>
 - Rolling!<br>
 - I was born for this job<br>
 - Faster and faster!<br>
 - Let's take the guns for a spin<br>
Attack:<br>
 - Time for some ???<br>
 - Start up the ???<br>
 - Mown them down!<br>
 - Let the bullets fly!<br>
 - How 'bout a shellshower!<br>
 - Rev up those cylinders<br>

<br>
<br>Chaos Drone<br>
-----------<br>

<br>
<br>Magnetron<br>
---------<br>
Select:<br>
 - Magnetron on standby<br>
 - Magnetic field commencing<br>
 - Need a little force?<br>
 - Generator ready<br>
 - Point me in the right direction<br>
Move:<br>
 - Shifting polarity<br>
 - (???)<br>
 - We need no compass<br>
 - My power is irresistable<br>
 - Moving within range<br>
Attack:<br>
 - Reel them in (???)<br>
 - This is a ???<br>
 - Coils powering up<br>
 - Let's bring them closer to us!<br>
 - Maximum charge<br>
 - Enemy locked<br>
Attack buildings:<br>
 - Coils powering up<br>
 - Maximum charge<br>
 - Enemy locked<br>

<br>Master Mind<br>
-----------<br>
Select:<br>
 - I am the Mastermind<br>
 - Collective thinking<br>
 - Enter the think tank<br>
 - A mind is terrible thing to waste<br>
 - ??? ready<br>
 - Let's have a meeting of the minds<br>
Move:<br>
 - Mastermind on the move<br>
 - Let's make some friends<br>
 - Were on a diplomatic mission<br>
 - Where are the simpletons?<br>
 - Always looking for new ideas<br>
Attack:<br>
 - Time for a brainstorm<br>
 - This will be painless<br>
 - Come in ???<br>
 - They will understand<br>
 - Their mind will be addressed<br>
 - Let's collect our thoughts<br>
When overloading:<br>
 - Brainwave overload!<br>

<br>
<br>Yuri MCV<br>
--------<br>
Select:<br>
 - We build for Yuri<br>
 - Yes master<br>
 - Yuri construction company<br>
 - Yuri is the master ???<br>
 - Were shall we make base?<br>
Move:<br>
 - Relocating construction site<br>
 - Where do you want setup?<br>
 - Moving building materials<br>
 - For Yuri's army<br>
 - I hear and obey<br>

<br>
<br>* Allied Air Units<br>
===================<br>

<br>Harrier<br>
-------<br>
Select:<br>
 - Aircraft reporting.<br>
 - Channel clear.<br>
 - Destination?<br>
 - Pilot reporting.<br>
Move:<br>
 - Thrusters engaged.<br>
 - Changing vector.<br>
 - Like the wind.<br>
 - Willco.<br>
Attack:<br>
 - Ready to strike!<br>
 - Watch my six.<br>
 - We have'm on radar.<br>
 - We're goin' in.<br>
 - Instruments locked on.<br>
Die:<br>
 - Eject! Eject!<br>
 - Bail out!<br>
 - We're going down.<br>

<br>
<br>Nighthawk Transport<br>
-------------------<br>
Select:<br>
 - Need a lift?<br>
 - Air transport ready.<br>
 - Pick'm up, set'm down.<br>
 - What's your request?<br>
Move:<br>
 - Maneuvers in progress.<br>
 - Gotcha.<br>
 - Tour underway.<br>
 - Visibility clear.<br>
Attack:<br>
 - Fire on sight.<br>
 - Clearing a path.<br>
 - LZ is hot.<br>

<br>* Soviet Air Units<br>
===================<br>

<br>Siege Chopper<br>
-------------<br>
Select:<br>
 - Siege Chopper, checking in (???)<br>
 - We got the big gun<br>
 - Ready for deployment<br>
 - Airborne artillery<br>
 - All systems operational<br>
Move:<br>
 - Moving in<br>
 - Transporting siege weapon<br>
 - Let's take over the area<br>
 - Airspeed to maximum<br>
 - Looking for clearing<br>
Attack (while in the air):<br>
 - Load up the belts<br>
 - Give'em some pepper<br>
 - Target spotted<br>
 - Chop them all down (???)<br>
 - Guns unleashed<br>
Attack (while in the land):<br>
 - Time for a hellstorm<br>
 - Deploying cannon<br>
 - Coordinates confirmed<br>
 - Setting trajectory (???)<br>
 - Fire at will<br>
 - Fire at will<br>
Dieing:<br>
 - We're going to crash!<br>
 - We've been hit!<br>
 - Mayday! Mayday!<br>
 - Abort! Abort!<br>
 - Oh noooo!<br>

<br>
<br>Kirov Airship<br>
-------------<br>
"Kirov Reporting"<br>

<br>Select:<br>
 - Kirov reporting.<br>
 - Acknowledged.<br>
 - Airship ready.<br>
 - Helium mix optimal.<br>
Move:<br>
 - Setting new course.<br>
 - Maneuver props engaged.<br>
 - Bearings set.<br>
Attack:<br>
 - Bombing bays ready.<br>
 - Target acquired.<br>
 - Closing on target.<br>
 - Bombardiers to your stations.<br>
Die:<br>
 - Mayday! Mayday!<br>
 - We're losing altitude!<br>
 - She's going to blow!<br>


<br>
<br>MIG<br>
---<br>
Move:<br>
 - MIGs on the way<br>
 - Airstrike confirmed<br>
Attack:<br>
 - Missiles launched<br>
 - Target acquired<br>
Die:<br>
 - I won't make it!<br>
 - I'm going down!<br>
Special:<br>
 - Mission aborted!<br>

<br>
<br>* Yuri Air Units<br>
=================<br>

<br>Floating Disc<br>
-------------<br>
"Disc in flight!"<br>

<br>Select:<br>
 - Yuri's Collection Agency<br>
 - Let's transfer some assets!<br>
 - Syphons ready<br>
 - Accepting donations!<br>
Move:<br>
 - Levitation units online<br>
 - Smooth ride<br>
 - Spinning away!<br>
Attack:<br>
 - (???)<br>
 - They are in our way!<br>
 - Laserbeam ready!<br>
 - Set to destroy<br>
 - They have nothing of value<br>
Steal:<br>
 - Their systems are vulnerable<br>
 - I'd like to make a withdraw<br>
 - Yuri thanks them for their support<br>
 - Their taxes are ???<br>
 - They will make a generous ???<br>

<br>
<br>* Allied Navy<br>
==============<br>

<br>Destroyer<br>
---------<br>
Select:<br>
 - Allied Ship reporting.<br>
 - Navigation systems ready.<br>
 - Captain on the bridge.<br>
 - Standing by.<br>
Move:<br>
 - Speed to full.<br>
 - Main engines engaged.<br>
 - Rudder set for new heading.<br>
 - Aye commander.<br>
 - Steady as she goes.<br>
Attack:<br>
 - Enemy spotted.<br>
 - Attacking.<br>
 - Battle-stations!<br>

<br>
<br>Allied Hovercraft<br>
-----------------<br>
Select:<br>
 - Welcome aboard<br>
 - Having a nice day?<br>
 - How about an adventure<br>
 - Plenty of window seats<br>
 - See the countryside<br>
Move:<br>
 - We're on our way<br>
 - Let's take the scenic route<br>
 - Wanna stop for a picture?<br>
 - What a view<br>
 - Enjoy the ride<br>

<br>
<br>Aegis Cruiser<br>
-------------<br>
Select:<br>
 - Scanning for aircraft<br>
 - Aegis reporting<br>
 - Protector of the Allied fleet<br>
 - Allied cruiser ready<br>
 - Missle systems operational<br>
Move:<br>
 - Guiding systems set (???)<br>
 - Adjusting for current<br>
 - Navigating water space<br>
 - Plotting course<br>
 - Rudder set<br>
Attack:<br>
 - Bring 'em down<br>
 - Rockets red glare (???)<br>
 - Let loose the allied fury<br>
 - Launch the heat seekers!<br>
 - Clearin' the skies<br>
 - All hands on deck<br>
 - Launching heat seekers<br>
 - Target confirmed<br>

<br>
<br>Aircraft Carrier<br>
----------------<br>
Select:<br>
 - Aircraft Carrier responding<br>
 - Flight-deck cleared<br>
 - Prepairing jets for takeoff<br>
 - Pride of the Allied Navy<br>
 - The largest ship in the fleet<br>
Move:<br>
 - ???in path<br>
 - Slow & steady<br>
 - Hold the course<br>
 - ???ing set<br>
 - Coordinates confirmed<br>
Attack:<br>
 - Hornets in the air<br>
 - Commencing attack run<br>
 - Release the swarm!<br>
 - Naval airfleet engaging<br>
 - We have a target<br>

<br>
<br>* Soviet Navy<br>
==============<br>

<br>Typhoon Attack Submarine<br>
------------------------<br>
Select:<br>
 - Typhoon attack sub<br>
 - Caught under pressure<br>
 - Torpedos armed<br>
 - ??? , comrade<br>
 - Hush! They maybe near!<br>
Move:<br>
 - Running silent<br>
 - They won't detect our approach<br>
 - Use stealth<br>
 - Dive!<br>
 - Checking periscope<br>
Attack:<br>
 - Sink them<br>
 - Target verified<br>
 - Torpedos away!<br>
 - Fire torpedos!<br>
 - She's on our scope<br>

<br>
<br>Soviet Hovercraft<br>
-----------------<br>
Select:<br>
 - I'm not armed, you know<br>
 - Need a ride, anybody?<br>
 - Were do you need to go?<br>
 - Shuttle ready for passengers<br>
 - Let's take an excursion<br>
Move:<br>
 - Don't get too close to combat<br>
 - Let's keep it safe<br>
 - Checking with map<br>
 - Planning course<br>

<br>
<br>Sea Scorpion<br>
------------<br>
Select:<br>
 - The water's warm, yes<br>
 - Need a little speed?<br>
 - Good fishing here<br>
 - Nice day for a cruise<br>
 - I love my boat<br>
Move:<br>
 - The quicker the better<br>
 - A weekend getaway<br>
 - Riding the current<br>
 - Sounds good<br>
 - Running high!<br>
Attack:<br>
 - They want some flak, eh?<br>
 - I hope they can swim!<br>
 - I see them!<br>
 - The sea can be dangerous place<br>
 - Let's make some waves<br>

<br>
<br>Dreadnaught<br>
-----------<br>
Select:<br>
 - Ship reporting.<br>
 - Vessel ready.<br>
 - Yes Commander?<br>
Move:<br>
 - Captain confirming.<br>
 - Course set.<br>
 - Navigating.<br>
 - Engines engaged.<br>
Attack:<br>
 - Target sighted.<br>
 - Fire at will.<br>
 - Close and fire!<br>

<br>
<br>* Yuri Navy<br>
============<br>

<br>Boomer Submarine<br>
----------------<br>
Select:<br>
 - Boomer systems operational<br>
 - Maintaining position and depth<br>
 - Deep sea vessel standing by<br>
 - Engines primed<br>
 - Air pressure stabilized<br>
Move:<br>
 - Adjusting rudder<br>
 - Checking current<br>
 - Propeller systems engaged<br>
 - All ahead, full (???)<br>
 - Thrusting forward<br>
Attack on land:<br>
 - Locking missile coordinates<br>
 - Missiles ready for launch<br>
 - Guidance systems checked<br>
 - They'll never see it coming<br>
 - Yuri will be proud<br>
 - Let the missiles fly<br>
Attack on water:<br>
 - Torpedos armed<br>
 - This will be a sinker<br>
 - Fire<br>
 - Bring them down to our level<br>
 - Launch initiated<br>
 - Sharkbait!<br>

<br>Yuri Hovercraft<br>
---------------<br>
Select:<br>
 - I am loyal to Yuri<br>
 - ??? for our psychic legions<br>
 - Turbines clear<br>
 - Transport at your service<br>
 - Awaiting Yuri's thoughts<br>
Move:<br>
 - I obey<br>
 - Yes<br>
 - Transport in motion<br>
 - Yuri commands me<br>
 - Your orders<br>

<br>
<br>* Special Units<br>
================<br>

<br>Sniper<br>
------<br>
Select:<br>
 - Sniper ready.<br>
 - Give me a target.<br>
 - Gimme a job.<br>
 - Eliminate 'em.<br>
Move:<br>
 - Proceeding to vantage point.<br>
 - Just gimme a clear view.<br>
 - I love to camp.<br>
 - Just get me close enough.<br>
 - Settling in.<br>
Attack:<br>
 - Takin' 'em out.<br>
 - He's in my scope.<br>
 - He's a dead man.<br>
Fear:<br>
 - Run for cover!<br>
 - I need support!<br>
 - I'm in too close!<br>

<br>
<br>Tank Destroyer<br>
--------------<br>
Select:<br>
 - Tank destroyer reporting<br>
 - No armors too tough<br>
 - They gotta get through me first!<br>
 - Not the tank I can't break<br>
 - Deutchland's finest<br>
Move:<br>
 - Taking position<br>
 - Advancing<br>
 - In the field<br>
 - Moving forward<br>
Attack:<br>
 - Demolition Derby time<br>
 - Let's see who's tougher<br>
 - Piece by piece<br>
 - Nothing left but junk<br>
 - You call THAT armor?<br>

<br>
<br>Black Eagle<br>
-----------<br>
Select:<br>
 - Aircraft reporting.<br>
 - Standing by.<br>
 - At your service.<br>
 - Black Eagle reporting.<br>
 - Eagle squadron.<br>
 - Korea's finest.<br>
Move:<br>
 - Command received.<br>
 - In transit.<br>
 - Calibrating airspeed.<br>
Attack:<br>
 - Gunner in position.<br>
 - Easy target!<br>
 - Let's take'm out.<br>
Die:<br>
 - Eject! Eject!<br>
 - Bail out!<br>
 - We're going down.<br>
 - (descending scream)<br>
 - (descending scream)<br>

<br>
<br>Terrorist<br>
---------<br>
"I go freely!"<br>

<br>Select:<br>
 - What are your conditions?<br>
 - We must revolt.<br>
 - Need a smuggler?<br>
Move:<br>
 - Vamos Muchachos!<br>
 - On my way.<br>
 - I go freely.<br>
Attack:<br>
 - Adios amigos!<br>
 - Here's a hot papaya!<br>
 - For the republic!<br>
 - Traitors must be eliminated!<br>
Fear:<br>
 - Take me back to Havana!<br>
 - Aiiii!<br>
 - I've been discovered!<br>

<br>
<br>Desolator<br>
---------<br>
Select:<br>
 - Desolator ready.<br>
 - Ready for melt-down.<br>
 - Reactor ready.<br>
 - Mercury rising.<br>
Move:<br>
 - Find a hot spot.<br>
 - Scorched Earth.<br>
 - Spread the Doom.<br>
 - There goes the neighborhood.<br>
 - It'll be a Silent Spring.<br>
Attack:<br>
 - Tagged for extinction.<br>
 - Make it glow.<br>
 - Let's heat `em up.<br>
 - Here comes the sun.<br>
 - The end is near.<br>
 - Let's make an oasis of death.<br>

<br>
<br>Demolition Truck<br>
----------------<br>
"My truck is loaded!"<br>

<br>Select:<br>
 - My truck is loaded!<br>
 - Let's make a delivery!<br>
 - I shall avenge us!<br>
 - Why don't you drive.<br>
Move:<br>
 - One way trip.<br>
 - (solemn) As you wish.<br>
 - Watch out for the bumps.<br>
Attack:<br>
 - For my people!<br>
 - I am prepared to die!<br>
 - It will be a smoking crater.<br>
 - Don't wait up for me.<br>
 - Akkkhah!<br>

<br>
<br>Tesla Tank<br>
----------<br>
Select:<br>
 - Generators humming<br>
 - Wire for destruction<br>
 - Coils at full charge<br>
 - I have the power<br>
 - Reading meters<br>
Move:<br>
 - Positively<br>
 - Effecient and clean<br>
 - Maximum power!<br>
 - That sparks my curiousity<br>
 - Nothing wasted<br>
Attack:<br>
 - Free hook-ups<br>
 - No charge for extra power<br>
 - Prepare for rolling blackout<br>
 - Need a little boost?<br>

<br>=====================================================<br>
End of list<br>

<br>Thanks goes out to:<br>
 - JPC2000<br>
 - arbalest130<br>
 - BronzeLambReg<br>
 - everyone else who sent me emails to help<br>
 - Olaf van der Spek, for his XCC Mixer which helped me a lot<br>

<br>-eof<br>
Restore Page<br>


<br>
<br>Written by TurboKiller F.K.Á.<br>
at 2002. XI. 04.<br>


<br>============================================<br>
This FAQ is copyright of TurboKiller F.K.Á.<br>
Distribute freely, but DO NOT MODIFY!<br>
Command & Conquer, Red Alert and<br>
Yuri's Revenge are registered trademarks of<br>
Westwood, and Electronic Arts.<br>
============================================<br>


<br>Updated at 2003. X. 18.<br>
----------- Added some corrections, thx goes out to BronzeLambReg.<br>
Updated at 2003. V. 10.<br>
----------- Giga update - added each and every quote,<br>
 in the order they are in the soundmd.ini file<br><br><br><br>

</div>

<br><br><br><br>


<h4 style="font-weight: bold;">
          Quotes list Translation<br></h4>


<div style="font-size: 20px; color: black;">
  
<br>


盟军男平民回应 <br>
What should I do?我该做什么？移动时发出<br>
This is scary.这里好吓人。<br>
I’ll do it.我会干的 I see ’them.我看见他们。 <br>
You bet.你打赌（我不会死）<br>
盟军女子回应 <br>
What do you want.你想要什么。 <br>
I like a man in uniform.我喜欢穿制服的人。 <br>
Like my new hair cut?喜欢我的新发型吗？<br>
Can I bring my friends?我能带我的朋友吗？ <br>
Alright.好的。 <br>
Let's go!出发 <br>
My feet hurt.我的脚痛了。 <br>
If you say so如果你这样说（我就做） <br>
Do I have to?非要我要做？ <br>
Is this a real gun?这是支真枪吗？ <br>
Will I get hurt?我将受伤吗？<br>
I just bought this outfit.我只是买了这装备。 <br>
Hey， cut it out.嗨，让它离开。 <br>
I was only kidding!我仅仅在开玩笑！<br>
俄男平民回应 <br>

<br>Where should I go?我应该去哪？ <br>
You're wish?你愿意让我这么干？移动中发出<br>
It is, safe?是这，安全吗？ <br>
I hear and obey.我听到并且服从。攻击 <br>
Firing.开火 For the common good.为了共同的好处。 <br>
I will do as you say.我将做，正如你所说。 <br>
俄妇女回应 <br>
Da俄语的是<br>
What is it?这是什么？ <br>
I'm cold.我很冷。 <br>
Are you KGB?你是克格勃（成员）吗？（苏联类似FBI的特工组织） <br>
What a society.多好的社会。移动 <br>
I'll be late for bread line.（这样）我排粮队会迟到的。 <br>
But I was working.但是我还在工作呀。 <br>
No rest for Soviet women.苏维埃妇女不休息。 <br>
Where are we going?我们正在去哪？ <br>
If I must.如果我必须这么做。 <br>
Will you watch my children?你照看我的孩子吗？ <br>
It is my duty.它是我的责任。 <br>
For Romanov.为了诺曼罗夫（RA2中的苏联总理）。<br>

<br>受伤语句 <br>
I'm just a woman.我只是一个女人呀。 <br>
I knew this would happen.我就知道会这样<br>
牛仔回应 <br>
I ain't yeller.我忍不住大叫（依~~~哈~~~） 。 <br>
Like my belt buckle.喜欢我的“带扣环”。<br>
Hey partner!嗨，伙伴！移动 <br>
Where's my horse?我的马在哪里？<br>
Let's mosey.让我们闲逛。 <br>
Gittin'along.孤独的向前 <br>
Hittin'the trail.发现蛛丝马迹。（找到敌人并作出攻击） <br>
Time for a showdown.对决的时间到了。 <br>
Fastest gun in the west.西部最快的枪。 <br>
Ready to draw.我准备好同归于尽了。（他受伤） <br>
I'm being bushwhacked!我被伏击！ <br>
Varmit shot me!那混蛋射击我！ <br>
Gonna die in my boots!死哪里也不如死在我靴子里！（他要挂了）<br>
超级保镖回应 <br>
I'll take the bullet.我将带上子弹。 <br>
Agent in the field.目标在场上。 <br>
Secret service here.这里是“经情局”（美特务机构）。 <br>
Need an escort?需要护卫吗？ <br>
Assigment sir?委派，长官？ <br>
What's your clearance level?你的“清理”水平怎样？移动 <br>
Securing the area.警戒这区域。 <br>
Scanning perimeter.扫描周边（情况）。 <br>
Right away sir.马上，长官。 <br>
Assignment recieved.任务收到。攻击 <br>
He's doesn't belong here.他不属于这儿。（发现的人了） <br>
He's a threat.他是个威胁。 <br>
No witnesses.我会干得漂亮点，不留活口——不留目击者嘛<br>
Shoot to kill.枪毙。 <br>
Executing assignment.执行任务。 *<br>
恐怖分子回应 <br>
What are your conditions?你开的条件是？ <br>
We must revolt.我们必须反抗。 <br>
Need a smuggler?需要秘密运输船吗？移动 <br>
Vamos Muchachos! 瓦莫斯（古巴英雄）式痛宰他们！<br>
I go freely.我自由地去。攻击 <br>
Adios amigos!再见，朋友！ <br>
Here's a hot papaya!（敌人）（爷）这有个火热的番木瓜等你！（蘑菇云） <br>
For the republic!为了共和国！ <br>
Traitors must be eliminated!叛徒必须被清除！<br>

<br>
<br>受伤语句<br>
Take me back to Havana!把我遗体带回到哈瓦那（古巴首都）！要冲了 <br>
I've been discovered!我被发现了！<br>
美国大兵回应 <br>
Sir yes sir!长官，是长官！ <br>
Ready!准备好了！ Squared away sir!成方队远征，长官！<br>
Orders！下令吧<br>
How'about some action?来一些行动，怎么样？<br>
Can do!我做的到！ <br>
Who's next?下一个是谁（目标）？移动 <br>
Move out!出发<br>
Got it!没问题。指你下的命令他明确了。 <br>
On my way!正在路上！ <br>
Double time!赶紧 <br>
On the move!在移动中！攻击 <br>
Attacking!正在攻击！ <br>
You got it!没问题，你下的命令我明确了，会干掉他。 <br>
Enemy sighted!发现敌人<br>
Let's do it!让我们干吧！<br>
Diggin'in!（冒着活力冲进去）渗透中<br>
Safety first， sir!安全第一，长官！<br>

<br>
<br>受伤语句<br>
We're pinned down!我们被压制了！（大兵有人挂了 ）<br>
We're being attacked!我们正在被攻击！ * <br>
动员兵回应 <br>
Waiting orders.等待命令中。 <br>
Commrad?同志？ <br>
Conscript reporting.动员兵报告。（造出来了）<br>
Moving out.开始行动 <br>
Order received.命令收到。 <br>
For the Union.为了（苏维埃）联盟。攻击 <br>
For home country.为祖国。 <br>
You are sure?你肯定？（攻击等级高于他的建筑或战车） <br>
For mother Russia!为母亲俄罗斯！<br>

<br>受伤语句<br>

<br>Mommy!妈妈呀！ <br>
We're being attacked!我们正被攻击！ * <br>
盟军工程师回应 <br>
Engineering.工程中。 <br>
I have the tools.我有工具。 <br>
I've got the knowledge.我有知识。 <br>
Need a repair?需要修理吗？移动 <br>
Yes sir!是，长官！ <br>
Moving.移动中。 <br>
I won't be late.我不会迟到的。某些RA2扩展包中 <br>
We’ll have the power up in 30 seconds， sir.我们将在30秒内供电，长官。攻击 <br>
Analyzing schematics.分析图表中。 <br>
Studying blue prints.正在学习蓝图。 <br>
Got the plans right here.我脑袋里有计划。<br>

<br>
<br>受伤语句<br>
Get me outa here!让我离开这！（最后2格血）<br>
I'm unarmed!我是徒手的!（还说别人不人道？） <br>
苏军工程师回应 <br>
Tools ready.工具已备齐。 <br>
I have the information.我知道信息。 <br>
Something need fixing?有些东西需要修理？ <br>
I know how it works.我知道它怎么工作。移动 <br>
Yes Commander! 是的，指挥官！ <br>
I will go.我就去。攻击 <br>
Checking designs.检查方案。 <br>
Examining diagrams.正在检验图表。<br>
磁暴步兵回应 <br>
Tesla suit ready!磁暴服装穿好！ <br>
Extra crispy.非常脆。<br>
Charging up.充能中。 <br>
Electrodes ready!电极就绪！ <br>
Checking connection.检查连接。移动 <br>
Going to source.去发目的地。移动中<br>

<br>Yes comrade.是的，同志。 <br>
Surging forward.群体涌动向前挺进。 <br>
Electrician in the field.战场上的“电工”。 <br>
Rubber shoes in motion.穿着橡胶鞋子运动（走着别扭？）。<br>
2，000 volts coming up.2000伏高压来了。攻击（我怕怕……） <br>
He’s fried.他被“油炸”了。 <br>
Completing circuit.完成电路。[要放电了] <br>
Let the juice flow.让液体流动起来。 <br>
Commencing Shock therapy.开始电震疗法。 <br>
Congratulations!祝贺！ <br>
You’ve been discharged.你被放电了。<br>

<br>
<br>语句受伤 ，两格血<br>
Ground yourselves!土地是你们自己的！ <br>
Reinforcements!增援！ <br>
I'm hit!我被打了！ （挂了！）<br>

<br>飞行兵回应 <br>
Rockets in the sky.在天空飞升。 <br>
All Fired up!全部点火！ <br>
Check out the view.检查视野。 <br>
I can go anywhere!我能去任何地方！ <br>
Gotta clear view,sir.必须视野广阔，长官。（意思是他和直升机一样，越过高耸的建筑要先怕生高度。他喜欢平原） <br>
Ready to soar.准备好了滑翔。 <br>
Fuel tanks are filled.燃料罐是充满的。移动 <br>
Pushing away.开始清理他们 <br>
Igniting boosters.推进器点火。 <br>
Riding High.高空乘骑。 <br>
Up and over.升高并越过。 <br>
Got a steady flow.得到了稳定的漂移。定点悬空了<br>
I'll take the high road.我将取得制空权。<br>
Lifting off.停止上升。攻击 <br>
He’s got no place to hide.他没地方隐蔽。 <br>
I can see them.我能看见他们。 <br>
I got them Clear out the place.我把他们清除出这区域。 <br>
They won’t see us coming.他们不会看见我们来了。<br>

<br>
<br>受伤语句，两格血<br>
I’m losing compression!我的压缩机正在受损！（接近挂）<br>
There’s too much flak!那儿的防空火力太猛！ <br>
My rocket’s hit!我的推进器被打中了！ （挂了）<br>
防空兵回应 <br>
Flak trooper reporting.防空兵报到。（造出来了） <br>
ready.就绪。 <br>
Orders comrad?命令？同志。 <br>
At least I have a job.至少我有一个工作了。移动 <br>
I am going.我正在去。 <br>
Moving out.移过去。 <br>
This gun is heavy.这支枪很沉呀攻击（你催他到某地）<br>
Flak_attack.对空攻击。 <br>
This will be messy.这将是你（敌人）的恶梦<br>
Clouds of death.死亡之云。 <br>
Flak you.射下你。（受伤2格血）<br>
Can’t see through the flak.看不到高射炮火后（的东西）。（视线被“死亡之云”挡了） <br>
There shooting me.那里在射击我。 <br>
Help me Romanov.救我，诺曼罗夫（RA2中的苏联总理）。 <br>
I'm just one man.我只是个人而已。（快挂或者让他执行不可及任务，比如目标隔海相望）<br>
间谍回应 <br>
Commander?指挥官？ <br>
Mission sir?任务，长官？ <br>
Give me a plan.给我一个计划。 <br>
Agent ready.化装完毕。<br>
For King and Country.为总统和国家。 <br>
Indeed.当然。 Under cover.隐藏着。（他看到机动车辆了，可能压他）<br>
Operation underway.实施行动。 <br>
Disguise ready.伪装好了。 <br>
Ready to infiltrate.准备好了渗透。 <br>
Obtaining intelligence.获取谍报中。<br>

<br>
<br>受伤语句，2格血<br>
They found me out!他们发现了我！快挂了 <br>
I've been spotted!我被揭穿了！挂了<br>

<br>
<br>
<br>
<br>



疯狂伊文<br>
Happy Birthday!生日快乐！（送你一个爱的礼物：） <br>
Here， hold this.这儿，拿好。按了炸弹 <br>
I lost a bomb.我少了一个炸弹。（送一个，少一个） <br>
Do you have it?你有它吗？（没有就送你一个） <br>
Don't play with matches.别玩火柴。（这还了得……）移动 <br>
I'm going.我正在过去。 <br>
What's over here?那是什么，你想用炸弹干什么？绑炸弹时说的 <br>
K-BOOM!（响声词，表示得以，他在模爆炸的声音，帮炸弹时说） <br>
What's that?那是什么？ （蔑视，那算个啥，我一炸弹灭了他）<br>
Ivan's not home!伊文不在家！（长时间不理他的回应，可爱吧）<br>
It’s too quiet here.这里就是太安静了吧。（不如让我按个炸弹弄点响声）<br>
海豹部队回应 <br>
seal ready.“海豹”准备好了。（造出来了） <br>
I'm your man.我是你的利器。 <br>
A little C4 knocking at your door.一个小C4炸弹在敲你（敌人）的门。（攻击建筑或船只语句，幽默吧）<br>
Who's your daddy?你以为谁是你老子？（移动攻击，意思是我才是你（敌人）老子）<br>
Cover me.掩护我。 <br>
How about a swim?游泳怎么样？ <br>
Alright'the water's warm!好的，水挺温暖！攻击 <br>
Enemy in my sites!敌人居然在我的地盘上！ <br>
I got them.我干掉了他们。 <br>
This is too easy.这是太容易啦。 <br>
Special Delivery!（炸弹）专递！（攻击建筑，幽默不？） <br>
Going down!下沉吧！（攻击船只）<br>
Let’s get it on!让我们送他一程吧！（多出现在目标进入视野但海豹未来得及消灭又跑了）<br>
辐射工兵回应 <br>
Desolator ready.辐射炮准备就绪。（造出来了）<br>
Ready for melt-down.准备好了去溶化。 <br>
Reactor ready.反应堆就绪。 <br>
Mercury rising.水银上升。移动 <br>
Find a hot spot.找一个热闹的区域。 <br>
Scorched Earth.全部烧焦。 <br>
Spread the Doom.展开末日。 <br>
There goes the neighborhood.还有人在这附近。指杀了一部分敌人，还未清理干净。<br>
It'll be a Silent Spring.我的攻击如晴天霹雳！ <br>
Tagged for extinction.消灭目标。 <br>
Make it glow.让它发光。（变绿） <br>
Let’s heat them up.让我们使他们热起来。 <br>
Here comes the sun.这里出太阳了。（攻击，幽默语） <br>
The end is near.死期将近。 <br>
Let’s make an oasis of death.让我们造个“死亡绿洲”。 * <br>
阻击手回应 <br>
Sniper ready.狙击手就绪。造出来了 <br>
Give me a target.给我一个目标。 <br>
Give me a job.给我一个工作。 <br>
Eliminate them.清除他们。移动 <br>
Proceeding to vantage point.跑到有利地势去。（他要高地） <br>
Just give me a clear view.只要给我一个广阔的视野。 <br>
I love to camp.我喜欢“蹲点”。<br>
Just get me close enough.只须让我靠的足够近。 <br>
Settling in.迁入中。攻击 <br>
Taking them out.拿下他们。 <br>
He's in my scope.他在我的射程内。 <br>
He's a dead man.他死定了 <br>
Run for cover!为保命撤退！<br>

<br>
<br>受伤语句两格血<br>
I need support!我需要支援！接近挂<br>
I'm in too close!我靠的太近了！ 挂了 <br>
超时空军团兵回应 <br>
Yes， Commander.是的，指挥官。 <br>
Already there.已经在那里。 <br>
I'm gone.我去了。 <br>
Pick a spot.挑一个地点。 <br>
Without a trace.没有踪迹。（他自夸来无影，去无踪）攻击 <br>

<br>They're history.他们成为历史。成功击杀目标<br>
Deconstructing Never existed.分解中决不存在。（目标被定住了） <br>
Removing.消除中。（送进“超时空”啦）<br>
I don’t have time for this!我没时间干这个！（频繁点击他）<br>
Let’s get out here!让我们离开这！ 快挂了<br>
潭雅回应 <br>
Anytime boss.随时听令，老板。 <br>
You got an order?你给我有命令？ <br>
Where’s the party?“聚会”在哪儿？ <br>
Show me the way.给我指路。 <br>
How about some action.来一些行动，如何？移动 <br>
I'm there.我在去那里。 <br>
How about a target?!找个目标怎样?！ <br>
Moving out boss.移过去，老板。 <br>
I'm on it.我在处理这任务。<br>
Shake it baby!发抖吧，宝贝。（她要给船按c4了！）<br>
Cha-Ching! 响声词，她在自己模仿她成功毁灭建筑船只的那种声音。<br>
Locked and loaded.锁定并装弹。 <br>
Yaah Baby!呀~宝贝儿！ <br>
尤里回应 <br>
Psychic ready.心灵控制准备就绪。 <br>
I know your thoughts.我知道你的想法。 <br>
Tell me your wish.告诉我你的愿望。（知道了还问？） <br>
Your mind is clear.你的头脑很清晰。 <br>
The mind is quicker than the eye.精神比眼来的快。移动 <br>
Yes,of course.是的，当然。 <br>
Predictable.可预测的。 <br>
Thoughts received.命令收到了。 <br>
My command is your wish。你的愿望就是我的命令。攻击 <br>
He belongs to us.他将属于我们。 <br>
His mind is weak.他的精神力很弱。 <br>
There is no resistance.这没有反抗。 <br>
A new comrade joins us.一个新同志加入我们了。（他自动俘获了一个单位 ）<br>
Look deeply into my eyes 深深地看着我的眼睛。（类似于催眠术） <br>
YGYL--Just in CoolEmu嘿嘿，你将和行尸走肉无二<br>
盟军车辆回应 <br>
Destination Commander?目的地？指挥官 <br>
Ready to roll!准备好了展开！ <br>
Yes sir.是，长官。 <br>
Unit reporting!部队报到！ <br>
Vehicle ready.车辆就绪。移动 <br>
Bound forward!往前开 <br>
understanding!明白了  <br>
On our way,sir.正在路上，长官。 <br>
High speed， low drag.高速度，低拖延。（这句话在WW官方BBS上是笑料之一） <br>
Good to go!可以走了！ <br>
Securing Position!加强防御地点！ 它挨打了<br>
攻击 <br>
Fire zone confirmed.开火区域确认。 <br>
Driver up!驱动器开动！ <br>
Closing in!接近中！ <br>
Commencing assault!开始袭击！ <br>
Weapon ready.武器就绪。 <br>
苏军车辆回应 <br>
Awaiting orders.等候命令中。 <br>
Ready comrade.准备好了，同志。 <br>
Vehicle reporting.车辆报到。移动 <br>
Changing position.改变位置中。 <br>
Moving.移动中。 <br>
Location confirmed.地点已确认。攻击 <br>
Attacking!攻击！ <br>
We will bury them.我们将埋葬他们。 <br>
Encounting enemy.遭遇敌人！挨打了<br>
自爆卡车回应 <br>
Why don't you drive.为什么你不来开。 频繁更改路线（自爆卡车不愿意爆）<br>
I shall avenge us!我将替我们报仇！ <br>
Let's make a delivery!让我们去“交货”！ <br>
My truck is loaded!我的卡车已装载！移动 <br>
Watch out for the bumps.小心碰撞。[易燃、易爆、轻举轻放] <br>
As you wish.如你所愿。 <br>
One way trip.单程旅途（我再也回不来了）。 <br>
攻击 <br>
Don’t wait up for me.别等我。 <br>
It will be a smoking crater.它将成为冒烟的弹坑。 <br>
I am prepared to die!我准备好就义！ <br>
For my people!为我的人民（自爆）！ <br>
入侵者战机回应 <br>
Pilot reporting.飞行员报告。 <br>
Destination?目的地？ <br>
Channel clear.频道清晰。 <br>
Aircraft reporting.飞机报告。移动 <br>
Like the wind.象风一般。 <br>
Changing vector.改变矢量。<br>
（与飞行坐标有关） <br>
Thrusters engaged.推进器开动了。 <br>
Willco.再联系。攻击 <br>
Instruments locked on.已锁定（目标）。 <br>
We’re going in.我们过去了。（对着目标） <br>
We have them on radar.他们在雷达上出现了。 <br>
Watch my six.看我的“6” 。 美国俚语，意思是瞧好吧。<br>
Ready to strike!准备好打击！（它重读受伤，准备毁灭战机冲向敌人——壮烈）<br>
We're going down.我们正在坠落。 <br>
Bail out!跳伞！ <br>
Eject! Eject!弹出！快弹出！ <br>
黑鹰战机回应 <br>
Korea's finest.韩国最佳产品。 （这句话在WW官方BBS上是笑料之一） <br>
Eagle squadron.黑鹰中队 <br>
Black Eagle reporting.黑鹰报告。 <br>
At your service.为你服务。 <br>
Standing by.待命中。移动 <br>
Calibrating airspeed.校准飞行速度。 <br>
In transit.通信中。 <br>
Command received.命令收到。攻击 <br>
Easy target!简单的目标！ <br>
Gunner in position.炮手就位。归西 <br>
Let's take them out。让他们去见阎王。 <br>
基洛夫空艇回应 <br>
Helium mix optimal.氦已最佳混合。 <br>
Airship ready.飞艇就绪 <br>
Acknowledged.收到（指示）。 <br>
Kirov reporting.基洛夫报到。移动 <br>
Bearings set.方向已定。 *<br>
Maneuver props engaged.螺旋桨已开动。 *<br>
Setting new course.设定新航线。攻击 <br>
Bombardiers to your stations.投弹手各就各位。 <br>
Closing on target.正在接近目标。  <br>
Target acquired.目标已确认。 <br>
Bombing bays ready.炸弹舱就绪。 <br>

<br>Duck and cover!躲避和保护。（挨打了！）<br>
She's gonna blow!她要爆炸了！（快挂了！）<br>
We’re losing altitude!我们正在失去高度！（挂了，在掉）<br>
Mayday! Mayday!求救！求救（信号）！ 同上<br>
夜鹰运兵机回应 <br>
What’s your request?你的要求？ <br>
Pick them up' set'm down. 装上他们，放下他们。（他在报告他的功能）<br>

<br>
<br>Air transport ready.空运准备好了。 <br>
Need a lift?需要载一程吗？移动中<br>
Visibility clear.能见度开阔。 <br>
Tour underway.航行中。 <br>
Gotcha.收到了。 <br>
Maneuvers in progress.前进中。攻击 <br>
LZ is hot.着陆区是“火热”的。意思是他看见着陆区域有攻击部队或建筑 <br>
Clearing a path.清除出一条路径。 <br>
Fire on sight.看见就打。 （他在报告你他也能攻击）<br>
盟军战舰回应 <br>
Standing by.待命中。 <br>
Captain on the bridge.船长在甲板上。（在掉头或转向） <br>
Navigation systems ready.航行系统就绪。 <br>
Allied Ship reporting.盟军舰只报告。移动 <br>
Steady as she goes.移动待命一样对待。意思是它随时听命<br>

<br>Yes commander.是，司令。 <br>
Rudder set for new heading.已转舵向新目标。 <br>
Main engines engaged.主引擎开动。 <br>
Speed to full.全速（前进）。攻击 <br>
Battle-stations!进入战斗岗位！ <br>
Attacking.攻击中。 <br>
Enemy spotted.发现敌人。 <br>
苏军战舰回应 <br>
Yes Commander?什么？指挥官。 <br>
Vessel ready.舰只准备好了。 <br>
Ship reporting.舰船报告。移动 <br>
Engines engaged.引擎已发动。 <br>
Navigating.航行中。 <br>
Course set.路线已设定。 <br>
Captain confirming.船长确认中。攻击 <br>
Close and fire!接近并开火！ <br>
Fire at will.自由开火。<br>
Target sighted.目标进入视野<br>

<br>
</div>

{% endblock %}
