{% extends "base.html" %}
{% load static %}

{% block page_content %}
<style>
	

/* The container must be positioned relative: */
.custom-select {
  width: 80px;
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
} 

input[type=submit] {
    border-radius: 5px;
    border: 0;
    width: 60px;
    height: 32px;
    font-family: Tahoma;
    background: #f4f4f4;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f4f4f4), color-stop(100%, #ededed));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f4f4f4 1%, #ededed 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ededed', GradientType=0);
    /* IE6-9 */
}

</style>

<body>
<br>
{% if language == "English" %}
<h3>Current : English</h3>
<br>
<form action="" method="post">
	{% csrf_token %}

<select class="custom-select" name="selection">
  <option value="English">English</option>
  <option value="Chinese">中文</option>
</select> 

<input type="submit" value="select">
</form>
{% else %}
<h3>当前语言 : 简体中文</h3>
<br>
<form action="" method="post">
	{% csrf_token %}
<select class="custom-select" name="selection" name="selection">
  <option value="Chinese">中文</option>
  <option value="English">English</option>
</select> 
<input type="submit" value="选择">
</form>

<br>
<h3>当前等级：{{level}}</h3>
<br>
<h3>当前经验：{{experience}}</h3>
<br>

<h3><a style="color: #00008B;" href="{% url 'my_post' %}">我的帖子</a></h3>

<br>

<h3><a style="color: #00008B;" href="{% url 'my_column' %}">我的专栏</a></h3>

{% endif %}

</body>

<script>
	
</script>

{% endblock %}