{% extends "base.html" %}
{% load static %}

{% block page_content %}
<style type="text/css">
    p {
        color: black;
    }

    h3 {
    	font-weight: bold;
    }
</style>

<body>

<br>

<h3>第二次红色战争开始</h3>
<br>
<p>
“今天我们将创造历史，同志。我们将一起摧毁美国，他们的城市，他们的家园，他们的梦想以及也许更多。”——亚历山大·罗曼诺夫
<br><br>

1971年早春，北美防空司令部向五角大楼报告苏联的几支护航队突然掉头向美国驶来。索恩·卡维尔将军得到了这一报告并立即汇报了总统。杜根总统与莫斯科通了电话，他和罗曼诺夫总理进行了一番关于这次入侵的争论。虽然被威胁将受到全面的战略核打击，但是罗曼诺夫最后仍然警告说“不要太确定了，总统先生”。于是杜根总统下令攻击，核导弹已经准备就绪。与此同时在莫斯科，尤里命令他的心灵军团开始行动。心灵波干扰了与发射指挥官的联络，于是大部分核导弹在发射井中炸成了一堆废铁。卡维尔将军现在唯一能做的就是召集整个美国的军队，抵御苏联的进攻。
<br><br>
索恩·卡维尔将军是德克萨斯人，负责管理国土防御。作为乔治·卡维尔将军的儿子，索恩的军旅生涯被寄予很高的期望。与他的副手波特上校一样，卡维尔相信美军能处理好任何情况。他的通讯官伊娃中尉、一位西点军校的高才毕业生，帮助他向战场上的士兵传递命令。谭雅依然是顶尖的突击队员，当苏联开始入侵时，她正在曼哈顿进行综合训练。<br><br>

领导苏联入侵的是弗拉基米尔将军（不是弗拉基米尔·柯西金）。他的部队正在墨西哥和东海岸推进。索菲亚中尉负责为进攻确定坐标。索菲亚驻扎在莫斯科，参与过五十次成功的模拟战役。西海岸的入侵部队主要由尤里的心灵军团和一些苏联军队组成。负责苏联军队与总理办公室之间的军事连线的是一名叫尤尔申科的年轻军官。在入侵的同时，罗曼诺夫下令重建苏联空军。米格战斗机开始不断地开下生产线。由于战争开始时能够使用的米格战斗机数量有限，因此呼叫由新造米格机执行的空袭往往被看作一种殊荣。罗曼诺夫也下令重建苏联的特有科技：铁幕。进行建造开发的苏联工程师们成功地重建并升级了整个系统，使它拥有了更大的作用半径和较短的充电时间。<br><br>

苏联入侵的开始是令人惊讶的。苏联军队和心灵军团一起，潮水般地涌进了圣弗朗西斯科。苏联特种部队的英雄鲍里斯领导着一部分苏联进攻。带着一把改造过的AKM机枪，鲍里斯以他的勇敢和在战场上的冷静著称。在苏联入侵欧洲的战斗中，关于他潜入盟军基地召唤空军支援的故事已经成为传奇。鲍里斯天生对心灵控制免疫，但他对罗曼诺夫总理和祖国俄罗斯的忠诚是毫无疑问的。与他的朋友，疯狂伊凡，一个炸药专家一起，两人攻无不克。苏联部队迅速地占领了圣弗朗西斯科湾。<br><br>

在华盛顿，苏联士兵向五角大楼发起攻击。同时，弗拉基米尔的海军舰队与美国海军在佛罗里达外海展开战斗。巨大的基洛夫飞艇,这种飞艇在原先的和平条约中并未被禁止建造，向美国城市投下巨大的炸弹；苏联伞兵则肃清关键区域。苏联海军以坚定的决心攻击了曼哈顿岛并成功摧毁了自由女神像。以入侵者的姿态，罗曼诺夫向美国民众广播了一条消息：“我代表伟大的苏联向美国人民提供一个特殊的邀请。看看你们的自由女神吧，她现在就是你们面前的一堆废铁。只要一瞬间，你们曾经强大的纽约城也将步她的后尘。你们可以选择，是继续为你们的过去而悲哀，或者是投降并且加入我们伟大的苏联革命中来吧。”在罗曼诺夫讲话的同时，谭雅集中了分散在纽约的士兵，并在布拉德利要塞集合以拖延苏联的进攻。<br><br>

在苏联师源源不断的增援之下束手无策的卡维尔将军命令谭雅撤离纽约。苏联占领并控制了联合国，联合国的所有功能都中止了。<br><br>

罗曼诺夫当然不是傻瓜，当他的大部分部队在攻击美国的同时，他惧怕欧洲结成新的同盟来抵抗苏联。罗曼诺夫迅速在波兰重新部署了他的短程核武器来威胁欧洲的同盟国。幸运的是，由于对苏联的迅速推进感到害怕，没有一个欧洲国家对苏联采取任何形式的进攻。虽然弗拉基米尔没能在佛罗里达海域成功地摧毁美国海军，但罗曼诺夫还是给了他俄罗斯的随高荣誉——斯大林勋章。同时，心灵军团也开始了对圣弗朗西斯科的占领。<br><br>

杜根总统，为了表示对苏联的蔑视，依然与联席会议官员们一起留在华盛顿指挥美国的防御。卡维尔将军愚蠢地建议杜根总统：他认为美国不需要任何欧洲同盟国的帮助。弗拉基米尔的军队穿过中部的几个州，占领了科罗拉多的空军学院。卡维尔将军刚刚将谭雅派到了美国中部，于是命令她夺回基地。在与火箭飞行兵——配备有喷气飞行背包的美国士兵——会合后，谭雅成功地夺回了基地并将苏联的坦克师赶出了科罗拉多。<br><br>

与此同时，尤里的心灵军团发动了入侵的第二步。当谭雅夺回空军学院时，心灵军团部署了他们的第一个心灵信标。在一段命令简报中，尤里解释：“人类的大脑是一个我们才刚刚开始了解的充满电荷的潘多拉魔盒。大部分的大脑都是‘接收器’，但是有些更发达的能够自由地选择发送和接收。这就是我的心灵信标。有了它我们就能发送我们想要的信息。我们将在美国各处建立这个装置，最终，美国人将是我们的，他们的思想、身体，如果你想要还有灵魂。”<br><br>

心灵信标是尤里的第一代心灵军团科技。心灵信标可以使指定目标非常高兴，这样就使他们很容易被说服。加入苏联，这是杜根总统在入侵开始后的第一次讲话中建议国民所做的事。<br><br>

但是心灵科技的一个严重缺陷很快就显示出来，一些人天生的对心灵控制免疫。爱因斯坦教授就是其中之一。如果他协助美国，这对苏联就是一个很大的威胁。华盛顿未受心灵信标影响的人们冲过了苏联的防线，摧毁了心灵信标。总统和其他人员撤离了华盛顿逃到了加拿大。尤里的心灵军团没有时间和材料去重建第二座信标，于是把华盛顿的控制交给了苏联占领军。苏联和心灵军团组成的联军也几乎占领了整个西海岸。<br><br>

在苏联占领区，媒体嘲弄杜根总统逃离了他的国家。趾高气扬的苏联步兵在华尔街游行、苏联坦克穿过金门大桥的图片在世界各地播出。罗曼诺夫总理在国家电视台里讲话，把现有的胜利归功于尤里和他的心灵军团。这件事激怒了最近回到美国管理在华盛顿部署特斯拉线圈的弗拉基米尔将军。<br><br>

杜根总统害怕战争将以美国的失败告终，发出了一份声明请求欧洲同盟国的支援。法国将军罗利·里昂开始了一场为美国在欧洲争取支持的战役。大韩民国也向符拉迪沃斯托克发起了进攻，但很快被击退。这样使得与欧洲同盟的希望更加艰难。<br><br>

尤里和弗拉基米尔将军之间的分歧变得越发明显，他们开始争论战争的过程。弗拉基米尔指控尤里用苏联军队为尤里的心灵军团和野心工作。由于没有证据支持他的指控，弗拉基米尔将军只好不情愿地领着他的部队推进到了芝加哥，在那里，心灵部队正在部署心灵增幅器。增幅器将使心灵军团能够实质上地控制所有的美国公民。<br><br>

虽然卡维尔将军对于撤退到加拿大的决定感到极度失望，但还是很快在他的新办公室里安顿下来。美国和加拿大的联军迅速地发起了一次进攻，以摧毁心灵增幅器。心灵增幅器在它即将起作用的前几分钟被摧毁。这使弗拉基米尔将军怒不可遏。他向芝加哥市中心发射了一枚核弹，将整座城市夷为平地。<br><br><br>

</p>


<h3>欧洲同盟国扭转战争潮流</h3>
<br>
<p>
“我现在请求你们的帮助。美国是罗曼诺夫的第一个目标。加入我们的战斗，因为我们不会是他的最后目标。”——迈克尔·杜根<br><br>

欧洲同盟国对苏联在入侵中使用核武器感到震惊，于是同意与杜根总统会面。1971年冬天，欧洲同盟国与杜根总统会面，商讨了与美国结盟和提供一个援助计划。杜根总统很快同意并派遣谭雅深入波兰去解除苏联的核威胁。在威胁解除后，同盟完全获得了新生。里昂将军统率着欧洲军队，卡维尔将军则负责指挥北美的军队。美国终于有了可以与庞大苏联军队抗衡的力量。
<br><br>


阿尔伯特·爱因斯坦意识到同盟国再一次需要他的科技支持，于是开发了光棱塔。光棱科技是为了抗衡苏联军队掌握的一直以来占优势的特斯拉科技。与特斯拉科技的那种复杂混乱的基本原理不同的是，光棱塔仅仅是简单地将聚焦的光束射向它们的目标。<br><br>

卡维尔将军感觉现在是反击的时候了，于是下令夺回华盛顿。当同盟国部队攻入华盛顿时，苏联入侵的深度显露出来：林肯纪念堂中的林肯头像被换成了斯大林像；硫黄岛胜利纪念碑上飘扬的是苏联国旗；由于反复争夺五角大楼而造成的巨大破坏遍布整个城市。尽管遭到全副武装的苏联士兵和恐怖机器人的顽强抵抗，同盟国部队还是肃清了五角大楼周围的区域，到1972年春，夺回了白宫。法国技术人员开始在海岸安装巨炮以击退苏联的任何增援部队。巨炮由马其诺防线上的火炮部件改装而成，能将威力巨大的炮弹射到很远的地方。纽约被解放，联合国立即宣布支持盟军的行动。<br><br>

在莫斯科，一切就不是那么好了。由于未能成功地部署心灵增幅器，罗曼诺夫下令尽可能快的击败美军。弗拉基米尔将军被命令立即起航，去摧毁部署在珍珠港的美国海军舰队，以防止它们对苏联东海岸发动更多的进攻。虽然苏联一开始很快成功地占领了尼豪岛，但美国的航空母舰和鹞式战斗机迅速进行了反击，把苏联在那里的基地夷为平地。弗拉基米尔的舰队只得灰溜溜地逃回了美国。<br><br>

与此同时，尽管心灵军团被缓慢地被美军击退撤出西海岸地区，但是他们还是成功地在圣路易斯部署了一座心灵信标。圣路易斯位于美国中部，是一个重要的中转中心，盟军部队收复南部各州的必经之路，战略地位十分重要。谭雅和她的小分队被派出，执行摧毁心灵信标的任务。在那里谭雅发现，那些天生对心灵控制免疫的市民们正遭到一队伊拉克辐射兵的屠杀。在几乎屈服于心灵信标的力量时，谭雅摧毁了它，解放了城市。之后，谭雅参加了特别训练，使她能对心灵控制免疫，因为“对于一个士兵来说，失去他的思想，是最糟糕的事”。
 <br><br>
苏联部队全面地向墨西哥撤退。在那里，尤卡坦半岛，苏联的科学家正在研究爱因斯坦的光棱科技。由于光棱科技可能和特斯拉科技结合，研制出更强力的武器，愤怒的卡维尔将军派出了海豹突击队摧毁了所有相关实验的痕迹。
<br><br>
由于惧怕爱因斯坦和上一次一样向同盟国提供优势科技，罗曼诺夫最终下令他的欧洲部队发动大规模进攻，目标是俘虏爱因斯坦。虽然有人建议爱因斯坦离开他在黑森林的家乡，爱因斯坦仍然坚持要呆在那里。于是他的实验室附近迅速地建立起了一条防线。苏联新服役的天启坦克打头阵向德国进发。这种巨大的坦克由乌拉尔山脉中的苏联科技人员开发出来，拥有双联装炮塔。伪装成树木的幻影坦克部署在丛林中伏击苏联部队，大大延缓了苏联的进攻。突破了优势数量盟军守军的防御来到爱因斯坦实验室附近的苏军最终被那里的守军击退。这样，爱因斯坦就获得了足够的时间来完善他的空间转移发生器科技。改进的空间转移发生器比原来的充能时间更短、一次的传输量更大，而且消除了困扰原来型号已久的很多问题。
<br><br>
与此同时，在华盛顿，卡维尔将军在准备与盟军的主要顾问商讨最终向莫斯科进攻的方案前遭到暗杀。尽管如此，由此造成的权利真空并未对盟军的会谈产生多大的影响。会议得出的方案是，放弃传统的大部队地面推进的方式，而采用空间转移发生器绕过苏联防线直接进攻莫斯科。最优的发起进攻的地点是佛罗里达。不过存在的问题是，苏联在临近的古巴地区部署了数枚核武器。
<br><br>
美国部队攻击墨西哥，长驱直入，摧毁了战争前苏联建立在那里的所有军事基地。曾经协助苏联部队作战的心灵军团突然消失无踪，只留下苏联军队孤军负隅顽抗。
<br><br>
尤里意识到苏联已经无法取胜，于是悄悄地离开了莫斯科。只有一个小队的心灵军团留在莫斯科协助防御。这些人都完全效忠于祖国俄罗斯，这也制造了尤里仍然在支持罗曼诺夫总理的假相。当然，罗曼诺夫也准备好了一座完好无损的铁幕装置和大量核武器来试图对抗。
<br><br>
1972年夏，美国海军对古巴发动了猛烈的进攻。尽管遇到了苏联的精神控制乌贼的阻挠，美国还是成功地封锁了该岛。在盟军部署空间转移部队时，罗曼诺夫下令发射部署在古巴的核导弹。但是美国舰队很快摧毁了导弹发射台，而且所有的超时空进攻的准备都已就绪。
<br><br>
7月4日，同盟国从苏联部队手中收复并占领了墨西哥全境。尽管已经全力反击盟军的进攻，但鲍里斯和其余的苏联士兵只得撤离，并试图与弗拉基米尔的舰队会合，但舰队根本没有前来支援墨西哥。同时，美国将他的大部分部队部署在佛罗里达准备对莫斯科的最终一击。为了避免消耗一兵一卒，杜根总统选择了封锁古巴而不是拿下它。
<br><br>
在卡维尔将军的葬礼之后，杜根总统下令对莫斯科的总攻开始。盟军部队首先攻击了城外的一个战俘营，在冰雪覆盖的莫斯科站住了脚。顶着苏联猛烈的反扑，美军迅速在战俘营部署好了它的部队。爱因斯坦和其他科学家一起部署了天气控制装置，以对抗苏联的核威胁。这个机器能在短时间内在一片地区内制造猛烈的闪电风暴。光棱坦克以远程光束攻击核武器发射台，盟军的飞机则对苏联坦克群展开不间断空袭。在先进的光棱坦克面前，老旧的特斯拉坦克完全不是对手。最艰难的战斗发生在歼灭罗曼诺夫的黑色精英卫队时。装备有可以将任何物体从历史上抹去的武器的超时空军团士兵承担了这项任务。当防守部队被最终歼灭时，谭雅和她的攻击小队通过空间转移到达克里姆林宫。1972年7月31日，谭雅和她的小队进入克里姆林宫搜索罗曼诺夫。在罗曼诺夫的办公室，他们发现尤尔申科正无助地试图乔装打扮成罗曼诺夫。把他修理一番后，谭雅搜索了整个屋子，发现了在桌子底下缩成一团的罗曼诺夫。
<br><br>
抓住罗曼诺夫之后，同盟国在伦敦迫使他签订了和平条约。在找到更合适的地方之前，罗曼诺夫被囚禁在伦敦塔中。胆小鬼尤尔申科招认了他所知的一切以求从轻处罚。在发表胜利演说后不久，杜根总统发布了9A66行政命令。爱因斯坦教授被委托研究心灵军团的科技并协助抓捕尤里。谭雅和伊娃中尉也被派往圣弗朗西斯科执行这一任务。圣弗朗西斯科是战争中心灵军团的第一个目标。
<br><br>
大部分美国军队占领着莫斯科。弗拉基米尔舰队的残部被下令驶往圣弗朗西斯科向美国部队投降，全世界的俄罗斯部队被要求放下武器，停止抵抗。
<br><br><br>

</p>


<h3>尤里进攻</h3>
<br>
<p>
“将不再会有自由的意志；只有我的意志。”——尤里<br><br>

为搜捕尤里而组建的特遣部队刚刚在圣弗朗西斯科集合，爱因斯坦突然发现从恶魔岛上传来了奇怪的波动。杜根总统和他的顾问们立刻召开了一次紧急会议，由伊娃中尉向他简要地汇报情况。她刚说完，尤里干扰了通讯，出现在与会者面前的屏幕上。尤里要求美国和盟军方面向他投降。尤里解释说恶魔岛上的装置是他最新的心灵科技的产物——心灵控制器。杜根总统停了一下，对尤里说可以让他做俄罗斯的新的领导人，此时他的将军们正在准备对心灵控制器发动空袭。尤里看穿了杜根的计策，回答说：“为什么我要满足于一个国家······当我可以控制整个世界时，总统先生？”接着尤里切断了通信，开始准备启动心灵控制器。杜根总统下令立即发动空袭。
<br><br>
等盟军的鹞式飞机接近恶魔岛的时候，尤里的心灵军团早已部署好了防空火力。尤里的新兵们拼命地对空射击。加特林机关炮防空火力极其优秀，击落了多架飞机。幸运的是，其中一架飞机坠落时损坏了为心灵控制器供电的核反应堆，使心灵控制器失效了。
<br><br>
尤里对这一个心灵控制器的失效毫不在意，他随即启动了设在世界各地的其他的心灵控制器，使世界上大多数人们成为没有思想的尤里的奴仆。和第一代的心灵信标和心灵增幅器所使用的科技不同，心灵控制器使用的是一种严格的心灵控制。第一代心灵控制器是使目标兴高采烈而变得易于说服，而第二代科技则是把目标变成没有思想的奴隶。	
<br><br>


正当盟军特遣部队在圣弗朗西斯科艰难抵抗尤里的一波又一波的进攻时，爱因斯坦提出了一个大胆的计划。为了防止这场灾难，他改装了一台空间转移发生器使之成为了一台时间机器。不过此时时间机器和整个圣弗朗西斯科市区都处于电力中断的状态，盟军和尤里都在试图控制市内的发电站。盟军最近部署的守护大兵消灭了心灵军团的坦克，与此同时盟军的工程师在城内寻找可用的发电站。就在尤里的工程师重新开启心灵控制器，并马上就要启动它来控制盟军时，时间机器及时启动了，同盟国回到了过去。据说在盟军和尤里打的热火朝天时，弗拉基米尔的特遣部队也到达圣弗朗西斯科湾，并且偷乘时间机器希望能同时改变战争的结果。爱因斯坦令人吃惊地选择留下来，留在原来的时间线继续他的使命。<br><br>

到达的时间是苏联军队刚刚向内陆推进时的1971年春。谭雅溜过城中少量的苏联守军后将恶魔岛上正在建设中的心灵控制器摧毁。<br><br>

意识到情况紧急，特遣部队向索恩·卡维尔将军汇报了未来的情况。卡维尔将军立刻同意帮助他们，以防止苏联和尤里带来的更多灾难。同时，同盟国将未来会出现的心灵控制灾难通知了在德国的爱因斯坦。<br><br>

解放在心灵军团控制下的西海岸地区现在成了盟军特遣部队的首要任务。尤里利用好莱坞的市民们作为一种资源。他将他们心灵控制，让他们走进城市各处的粉碎机里。其他市民则自愿进入生物反应器。这种发电站利用人体的生物电荷来提高输出。在尤里士兵的监视下，那些天生对心灵控制免疫的市民则被命令去采矿。卡维尔将军将新的战斗要塞的原型机从主要的战事中抽调出来以援助特遣部队。遥控坦克也在对苏联战争的末期开发出来，他们是完全对心灵控制免疫的。在战斗中，好莱坞明星弗林特·韦斯特伍德，阿尼·弗兰肯福特和萨米·施塔尔艾恩帮助了同盟国，收到了出乎意料的好效果。<br><br>

紧接着的战斗发生在西雅图。由于受到核武器摧毁城市的威胁，宾总裁和他的巨软公司被迫为心灵控制器编写控制软件。在这场超级武器的对抗中，一台天气控制装置被用来对抗尤里的核武器。不过尤里抢先发射了一枚短程核导弹摧毁了给天气控制装置供电的发电站而得了先手。同盟国迅速在整个城市与尤里展开巷战。英国狙击手和尤里的病毒狙击手在城中猫捉耗子似的生死相斗。最终，同盟国利用西雅图太空针塔来开拓视野，并重新启动了天气控制装置切断了核武器发射井的电力。特遣部队解放了巨软工业园，并摧毁了核武器发射井。<br><br>

在未通知罗曼诺夫的情况下，尤里的军队绑架了爱因斯坦，强迫他在埃及帮助建立一座心灵控制器。由于爱因斯坦对心灵控制免疫，所以他实在强迫下帮助完成了那台心灵控制器。谭雅和德国部队一起开赴埃及解救爱因斯坦博士。由于受过训练，谭雅现在也对心灵控制免疫。她溜过几座心灵塔和一些尤里士兵找到并解救了爱因斯坦。爱因斯坦告诉她，在建设心灵控制器时他动了一些手脚，所以现在同盟国可以短时间利用它，不久之后它将自毁。同盟国于是用这台心灵控制器对付尤里，击溃了埃及境内的所有尤里的心灵军团。虽然卡维尔将军百般恳求，爱因斯坦还是回到了他在黑森林的实验室继续研究空间转移发生器。<br><br>

利比亚和伊拉克对盟军在圣路易斯的胜利和即将展开的对墨西哥的进攻很是关注，要求罗曼诺夫与其他的世界社会主义同盟领导人进行面对面会谈。在离开莫斯科前，罗曼诺夫签署了命令，要求在古巴训练的恐怖分子开始进攻美国。<br><br>

在澳大利亚悉尼记录到了奇怪的信号。在那里发现了尤里的主要的克隆设施。在心灵控制器的部署受到显著的延迟后，尤里的新计划是用克隆体代替盟军的领导人。尤里希望借此控制那些国家，不是用心灵控制，而是组建傀儡政权。盟军特遣部队抵达悉尼开始了与尤里的激战。从珍珠港来的盟军海军舰队帮助攻击尤里的核潜艇。韩国也派出了黑鹰战斗机编队空袭了尤里在悉尼港中的潜艇生产设施。同盟国占领了整个城市，摧毁了尤里的克隆设施和克隆士兵。
<br><br>
在悉尼激战的同时，苏联的坦克师向爱因斯坦的黑森林实验室进发。当罗曼诺夫从世界社会主义同盟的会议返回时，他的专机在摩洛哥上空被击落。利比亚和伊拉克立刻出兵救援罗曼诺夫，并且发现是心灵军团击落了罗曼诺夫的专机。回到莫斯科，罗曼诺夫发现尤里已经不知去向，于是大发雷霆。
<br><br>
苏联最近派往墨西哥的补给运输舰队都神秘地消失了，罗曼诺夫命令弗拉基米尔率领他的舰队前去调查。在珍珠港遭遇失败后，弗拉基米尔的舰队又得到了重建。本来他们是要被派往支援墨西哥驻军的。得到了罗曼诺夫的命令后，他们立即出发，在太平洋上发现了一个以前未发现的小岛，上面建立着一个心灵军团的基地。本来用于支援墨西哥的绝望的守军的苏联新式的攻城直升机被用于炮轰尤里的基地。这种直升机在展开后便成为一门155毫米火炮。弗拉基米尔的舰队怀着极大的仇恨猛攻尤里的心灵军团。心灵军团完全没有预料到会遭到如此猛烈的打击，尤里剩余的核潜艇也被苏联舰队悉数击沉。苏联部队搜索了整个岛屿，发现了一个火箭发射台，和一枚准备就绪飞往月球的火箭。<br><br>

苏联的工程师们乘坐那枚火箭飞抵月球。在那里他们发现了一个心灵军团的基地。他们发现早在刚开始部署心灵控制器的攻击时尤里就计划逃到月球，因为甚至他自己也不知道巨大的心灵能量波横扫地球将带来什么后果。利用在那个太平洋小岛找到的激光武器，苏联部队荡平了尤里的月球基地，随后把自己的国旗插在了尤里基地的废墟上。苏联由此成为了世界上第二个把人送上月球的国家。与此同时，不顾他的众多顾问的反对，罗曼诺夫并没有让他的部队退回苏联境内，而是让从黑森林进攻撤回的部队转向攻击特兰西瓦尼亚的尤里的家乡。<br><br>

由于弗拉基米尔的舰队和许诺要运来的攻城直升机迟迟不到，苏联在墨西哥的守军最终溃败。美国在1972年7月4日占领了墨西哥。<br><br>

从莫斯科逃出来后，尤里就呆在特兰西瓦尼亚。当他听说月球基地被摧毁的消息后甚至比得知苏联部队向特兰西瓦尼亚进攻更惊讶。虽然尤里建立了良好的防御，并且用心灵信标控制了一个盟军和一个苏联的要塞，进攻的苏联部队还是摧毁了两个心灵信标，开始攻击尤里位于山顶的城堡。尤里只得率领剩下的心灵军团逃离。
<br><br>
罗曼诺夫确信他已经在对尤里的战争中取得了胜利，于是准备一劳永逸地把盟军部队处理掉。仍然留在莫斯科的心灵军团一再向罗曼诺夫重申他们是忠于国家的，并且不停地在准备防御，防备即将进攻的盟军。罗曼诺夫命令弗拉基米尔的舰队重新开始对美国大陆的进攻，并召开了与他的顾问们的会议。虽然古巴已经被美国封锁，但罗曼诺夫依然很有信心。但是，正当它在视察克里姆林宫外重建的铁幕时，他听见从莫斯科城外的盟军战俘营中传来了枪炮声······
<br><br>
1972年8月初，针对卡维尔将军的暗杀被挫败。不过为了保密他和他最信任的几个顾问到一个秘密基地继续指挥特遣部队。因为背叛了苏联，尤里并不知道和平条约将在哪里签署。于是他命令心灵军团闯入了伊娃中尉的指挥系统，暂时控制了伊娃中尉，获得了和约即将在伦敦签订的情报。
<br><br>
卡维尔将军立即出动了他手头的所有部队到伦敦建立起了防御。当杜根总统、罗曼诺夫总理和其他盟军领导人在英国国会内会面的时候，尤里出动了他所有的欧洲军队攻击国会，试图俘虏那些领导人或者将他们精神控制。虽然尤里出动了飞碟和心灵控制坦克，但尤里军队很快就发现他们远不是久经战火考验的盟军部队的对手。和平条约得以顺利地签署，对抗尤里的新的联盟形成了。苏联军队加入了战斗，迅速摧毁了尤里在伦敦的基地。
<br><br>

无路可逃的尤里退回了他在南极洲的基地。心灵控制器的力量比原先那条时间线的削弱很多，全世界都在追捕尤里。尤里集合了他所有的剩余部队，准备在南极基地决一死战。<br><br>

伊娃中尉认为她背叛了自己的职责，于是递交了辞职申请。卡维尔将军平静地拒绝了。他说，她不是唯一被那个疯子扭曲精神的军官，劝说伊娃中尉继续她的工作。伊娃中尉对尤里最近的通信信号进行了三角计算，得出了尤里南极基地的位置。<br><br>

同盟国被部署到苏联在火地岛的一个旧基地，随即用位于佛罗里达的空间转移发生器将军队转移至南极洲。同盟国和尤里的部队在南极广阔的冰原上展开激烈战斗。尤里试图用基因突变器将盟军士兵变成野蛮人，但依然被盟军和苏联的联合科技打得大败。他的基地被摧毁，心灵控制器成了一堆废墟，大部分军队都被消灭，他自己也成了俘虏。
<br><br>

尤里被囚禁在了由爱因斯坦特别设计的心灵隔离房间里，从此他的心灵能力再也没有用了。但是又一次，改变的历史总有它的结果，卡维尔将军还活着，时间线开始改变自己······
<br><br>

杜根总统被伊娃中尉通知来开一个紧急会议。然而，这一次的消息并不是尤里在威胁世界，而是卡维尔将军表示自己还活着。杜根总统很迷惑，但依然很高兴。接着卡维尔将军讲述了一个包括时间旅行、基因和空间转移的迷人故事。
<br><br>
罗曼诺夫依然被囚禁在伦敦塔，尤里被关押在一个秘密的地方。和平与民主至高无上。战争已经结束了······或者真的吗？

<br><br>


</p>




<br>
<br>
</body>

{% endblock %}