{% extends "base.html" %}
{% load static %}

{% block page_content %}
<style type="text/css">
    #unit_data p {
        color: black;
        border:groove;
        padding: 10px;
        border-color: black;
    }
</style>

<body>

<div id="unit_data">

<br>
<h3 align="center" style="font-weight: bold;">盟军阵营</h3>

<p>
超时空采矿车<br>
盟军采矿车，采矿量小，采完矿后超时空传送回矿厂<br>
价格：1400<br>
攻击力：0<br>
防御力：中甲<br>
生命力：1000（坦克）<br>
速度：去矿区：4<br>
回矿场 --（超时空）<br>
矿石运载量：20<br>
特殊能力：无<br>
无心智：不受心灵控制和神经突击车的毒气。<br>
攻略：最好派几个幻影坦克保护，按Alt+Ctrl，点矿车。<br><br>

坦克杀手　 (德国特色单位，对装甲部队有高破坏力，对小兵与建筑几乎无效，无转动炮塔。)<br>
价格：900；<br>
生命：400；<br>
装甲：重甲；<br>
视野：8；<br>
速度：5；<br>
专属：德国；<br>
建造条件：盟军战车工厂+空指部/雷达/心灵探测器；<br>
老兵级强化：生命强化，伤害强化，视野强化，速度上升；<br>
精英级强化：生命恢复，生命强化，伤害强化，攻击间隔降低；<br><br>

灰熊坦克 盟军主战坦克<br>
价格：700；<br>
灰熊坦克生命：300；<br>
装甲：轻甲；<br>
视野：8；<br>
速度：7；<br>
制造时间：1.5分制造1000资金部分；<br>
建造条件：盟军战车工厂；<br>
老兵级强化：生命强化，伤害强化，视野强化，速度上升；<br>
精英级强化：生命恢复，生命强化，伤害强化，攻击间隔降低； 主武器[105mm]<br>
伤害：65；<br>
攻击间隔：60；<br>
射程：5（地面）；<br>
对匍匐步兵伤害：50%；<br>
杀伤半径：0.3；<br>
最远处伤害比例：50%；<br>
伤害对装甲：25%，25%，15%，75%，100%，100%，65%，45%，60%，60%，100%；<br><br>

多功能步兵车<br>
快速，对空，对地，运输，能根据内置步兵的不同而改变武器的的战车。<br>
制造费用：600；<br>
生命值：200；<br>
视野：8；<br>
速度：10；<br>
运载位：1个步兵 单位；<br>
装甲厚度：轻型；<br>
升级能力：增加耐久能力、火力、攻击速率、自我治疗；<br>
武器装备：盘旋飞弹，多变的；<br>
建造条件：盟军战车工厂；<br>
老兵级强化：生命强化，伤害强化，视野强化，速度上升；<br>
精英级强化：生命恢复，生命强化，伤害强化，攻击间隔降低；<br><br>

幻影坦克<br>
能够伪装成树，对坦克和士兵杀伤力高的坦克。<br>
制造费用：1000；<br>
生命值：200；<br>
移动速度：7；<br>
视野：9；<br>
装甲厚度：轻型；<br>
武器装备：热能射线炮；<br>
升级能力：增加耐久能力、火力、攻击速率、自我修复；<br>
建造条件：盟军战车工厂+盟军作战实验室<br>
特殊能力：1：幻影：变化为周围的树（有高有胖）；<br>
主武器[MirageGun]<br>
伤害：125；<br>
攻击间隔：70；<br>
射程：7；（地面、海面）<br>
对匍匐步兵伤害：100%；<br>
伤害对装甲：100%，100%，80%，100%，100%，100%，30%，20%，20%，100%，100%；<br>
精英主武器[MirageGunE]<br>
伤害：200；<br>
攻击间隔：80；<br>
射程：9；（地面、海面）<br>
对匍匐步兵伤害比例：100%；<br>
伤害对装甲：100%，100%，80%，100%，100%，100%，30%，20%，20%，100%，100%；<br><br>

光棱坦克<br>
速度和天启坦克一样，攻击距离远，对建筑和士兵杀伤力强的坦克。<br>
价格：1200；<br>
生命：150；<br>
光棱坦克速度：4；<br>
视野：8；<br>
装甲类型：轻甲；<br>
建造条件：盟军战车工厂+盟军作战实验室；<br>
老兵级强化：生命强化，伤害强化，视野强化，速度上升；<br>
精英级强化：生命恢复，生命强化，伤害强化，攻击间隔降低；<br>
主武器[Comet]<br>
伤害：100；<br>
攻击间隔：100；<br>
射程：10（地面）；<br>
对匍匐步兵伤害：100%；<br>
伤害对装甲：100%，100%，100%，75%，50%，50%，200%，200%，200%，100%，100%；<br>
精英主武器[SuperComet]<br>
伤害：150；<br>
攻击间隔：100；<br>
射程：10（地面）；<br>
对匍匐步兵伤害比例：100%；<br>
伤害对装甲：100%，100%，100%，75%，50%，50%，200%，200%，200%，100%，100%；<br>
特殊能力：1.散射：攻击非建筑单位时产生5个分光；<br>
伤害：30；<br>
扩散范围：3（地面、海面）；<br>
伤害对装甲：100%，100%，100%，75%，50%，50%，200%，200%，200%，100%，100%；<br>
2.精英散射：精英级攻击非建筑单位时产生5个分光；<br>
伤害：50；<br>
扩散范围：5（地面、海面）；<br>
每个分光攻击非建筑单位时产生3个分光；<br>
伤害：30；<br>
扩散范围：3（地面、海面）；<br>
伤害对装甲：100%，100%，100%，75%，50%，50%，200%，200%，200%，100%，100%；<br><br>

战斗要塞<br>
(仅尤里的复仇)体积巨大的战车，能内置不同的步兵从里面向外面攻击，能压毁其他战车和围墙。<br>
价格：2000；<br>
生命值：600；<br>
装甲：重甲；<br>
视野：6；<br>
速度：4；<br>
运载位：5（步兵,不可用狗）；<br>
主武器[20mmRapid]<br>
伤害：30；<br>
攻击间隔：20；<br>
射程：5.75（地面）；<br>
对匍匐步兵伤害：50%；<br>
伤害对装甲：100%，80%，70%，50%，20%，20%，20%，15%，10%，400%，100%；<br>
特殊能力：1、巨大：能碾压车辆及围墙。但不可以碾压另一个战斗要塞、基地车和尤里的矿车（车辆形态），并且战斗要塞可以碾压除暴龙、英雄以外的任何步兵单位.<br>
2、堡垒：让装载的步兵对外射击（射程+2，伤害×120%）。<br>
3、活动炮塔：炮塔能够旋转。<br>
4、动态瞄准：能在移动中瞄准并攻击敌对单位。<br>
5、当战斗要塞被心灵控制后，里面的步兵也会被控制。<br><br>

遥控坦克<br>
(仅尤里的复仇)无人控制，漂浮移动，水陆两栖，不同地形对速度不影响，对心灵武器免疫的坦克。<br>
价格：600<br>
生命：200<br>
装甲：重甲<br>
视野：6<br>
速度：10<br>
制造时间：30秒<br>
装甲厚度：中型<br>
武器装备：近距离小口径双管炮<br>
必要建筑：战车工厂 + 控制中心<br>
主武器：双管炮<br>
伤害：65X2<br>
攻击间隔：60<br>
射程：5（地面）<br>
对匍匐步兵伤害：50%<br>
杀伤半径：0.3<br>
最远处伤害比例：50%<br>
伤害对装甲：25%,25%,15%,75%,100%,100%,65%,45%,60%,60%,100%<br>
特殊能力：<br>
1.无心智：不受心灵控制和神经突击车的毒气。<br>
2.辐射免疫：不受辐射攻击伤害。<br>
3.悬浮：水陆两用，且移动力不受地形影响,无须浪费转弯时间，可穿越过水域。<br>
4.遥控指挥：需要遥控中心支持，否则将失去运动能力。<br>
5.活动炮塔：炮塔能够旋转。<br>
6.动态瞄准：能在移动中瞄准并攻击敌对单位。<br><br>


盟军基地车<br>
制造费用：3000 装甲厚度：重型<br>
耐久能力：1000 行动速度：4<br>
视野范围：6<br>
武器装备：没有<br>
<br><br>

美国大兵<br>
价格：200；<br>
生命：100；<br>
装甲：布甲；<br>
视野：5；<br>
速度：4；<br>
特殊能力：1、防御姿态：激活后，无法进入匍匐姿态，武器切换为副武器；<br>
2、驻扎：占领民用建筑、战斗碉堡作为防御设施；<br><br>

警犬<br>
造价：200<br>
生命：100（不确定）<br>
视野：5<br>
装甲：无甲<br>
速度：6<br>
升级能力：自愈能力、增加生命耐久力、增加速度、增加视野范围<br>
建造条件：兵营<br>
主武器（撕咬）<br>
伤害：125（随步兵单位生命变化而变化）<br>
攻击间隔：随步兵单位的位置变化而变化<br>
射程：0（行进到步兵单位处进行撕咬）<br>
对匍匐步兵伤害：100%<br>
伤害对装甲：0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%（无任何攻击力）<br>
精英主武器（撕咬）<br>
伤害：125（随步兵单位生命变化而变化）<br>
攻击间隔：随步兵单位的位置变化而变化<br>
射程：0（行进到步兵单位处进行撕咬）<br>
对匍匐步兵伤害：100%<br>
伤害对装甲：0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%（无任何攻击力）<br>
步兵战车：还是发导弹可攻击间谍。<br>
灵敏：不受车辆碾压。<br>
（可以互相撕咬）（警犬咬警犬）<br>
警觉：发现并攻击间谍。<br>
忠诚：不被尤里复制人一类的东西控制，不怕神经突击车。<br><br>


重装大兵（仅尤里的复仇）<br>
价格：400；<br>
生命：100；<br>
装甲：轻视野：6；<br>
速度：1.5；<br>
装甲厚度：轻型；<br>
武器装备：M60、Missile Launcher（火箭筒）；<br>
必要建筑：盟军兵营；<br>
特殊能力：防御姿态：激活后，无法进入匍匐姿态，不被车辆碾压，武器切换为防御姿态武器；<br><br>

狙击手 (英国特色单位，可在远程狙杀步兵。)<br>
费用：600；<br>
生命：100；<br>
装甲厚度：布甲；<br>
熟练级加强：射击距离，射击伤害，射击速度，视野；<br>
精英级加强：射击距离，射击伤害，射击速度，自我医疗，装甲，视野；<br>
建造条件：盟军兵营+空指部；<br>
是否专署：英国专署；<br><br>

工程师虽然并未装备武器，却是十分有效的部队。精确使用工程师小队，能迅速扭转战场的局面。请注意只要使用了工程师，这名工程师就会消失。工程师能用来修护遭摧毁的桥梁/进入桥头维修小屋，和 窃取敌方建筑物，修理自己所属建筑物，还能占领中立的高科技建筑物。<br>
制造费用：500 <br>
耐久能力：75 <br>
装甲厚度：无甲<br>
升级能力：不能升级<br>
建造条件：兵营、矿石精炼场<br>
特殊能力：<br>
1、占领：占领敌军或科技建筑。<br>
2、修理：瞬间修复一我军建筑，将工程师放入多功能步兵车内可直接修复坦克和矿车。<br>
3、炸弹视野：能探测4格内的伊文炸弹并拆除。<br>
【注：此类工程师属于游戏中的工程师，特别是网络游戏中，与现实工程师有区别，需要区分开来。】<br>
装入多功能步兵车后的属性：<br>
武器：RepairBullet<br>
恢复力:50<br>
恢复间隔:80<br>
射程:1.8（车辆）<br>
恢复对装甲：0%,0%,0%,100%,100%,100%,0%,0%,0%,100%,100%<br><br>

间谍<br>
价钱：1000<br>
装甲：无甲<br>
生命：125<br>
视野：6<br>
速度：5<br>
攻击：0（只能模仿但没有攻击能力）<br>
特殊能力<br>
1、可以变成敌军的模样，不过不要变成火箭飞行兵，火箭飞行兵是在天上飞的，而间谍只能在地上走；也不要变成超时空军团兵，与前者同样的道理。在尤里的复仇中，也不要变成英雄单位，因为英雄单位只有一个（有复制中心的两个）。<br>
2、进入敌方空指部或雷达，能使对方地图上一片空白。<br>
3、进入敌方兵营，你的兵出来都是1级兵。<br>
4、进入战车工厂，你的坦克出来都是1级坦克。<br>
5、进入发电厂，能使对方停电1分5秒。<br>
6、进入矿石精炼厂，可以偷去敌人五分之一金钱。<br>
7、进入对方超级武器，使其重新开始倒计时。<br>
8、进入作战实验室，不同的国家可得到不同的兵种：<br>
原版中：<br>
盟军进入苏军的作战实验室，可得到心灵突击队；<br>
盟军进入盟军的作战实验室，可得到超时空突击队；<br>
苏军进入盟军的作战实验室，可得到超时空伊文 ；<br>
苏军进入苏军的作战实验室，可得到尤里改；<br>
尤里的复仇中：<br>
进入盟军的作战实验室，可得到超时空突击队；<br>
进入苏军的作战实验室，可得到超时空伊文；<br>
进入尤里的作战实验室，可得到心灵突击队；<br><br>

心灵队 全名：心灵突击队；<br>
(原版中间谍潜入苏联作战实验室后盟军兵营可训练，尤里的复仇中间谍潜入尤里作战实验室后任何兵营可训练)<br>
价格：1000<br>
生命：100<br>
装甲：无甲<br>
视野：8<br>
速度：2.5<br>
1、强健：不受车辆的碾压。<br>
2、无心智：不受心灵控制和神经突击车的毒气。<br>
3、C4攻击:能进入并直接摧毁敌方建筑。<br>
4、射程问题：升级成精英以后控制能力的射程会增加。<br>
5、没有心灵气波：虽然窃取了心灵控制的秘密，但是没有学会气波<br><br>

超时空兵<br>
(原版中间谍潜入盟军作战实验室后盟军兵营可训练，尤里的复仇中间谍潜入盟军作战实验室后任何兵营可训练。造价为2000，与尤里改一样，是最贵的兵种)<br>
价格：2000<br>
生命：100<br>
装甲：无甲<br>
视野：8<br>
速度：-- (超时空移动)<br>
主武器[ChronoMP5]<br>
伤害：125<br>
攻击间隔：10<br>
射程：6（对地面非建筑）<br>
对匍匐步兵伤害：100%<br>
伤害对装甲：200%,100%,100%,1%,1%,1%,1%,1%,1%,1%,100%<br>
副武器[FakeC4]<br>
伤害：5000<br>
攻击间隔：10<br>
射程：1.5（对建筑）<br>
对匍匐步兵伤害：100%<br>
伤害对装甲：0%,0%,0%,0%,0%,0%,100%,100%,100%,0%,100%<br>
特殊能力：<br>
1、强健：不受车辆的碾压。<br>
2、超时空移动：瞬间传送到目的地，但传送后会一定时间内无法运动（冷却时间）。<br><br>


火箭飞行兵<br>
价格：600；<br>
生命：125；<br>
装甲：无甲；<br>
视野：8；<br>
速度：8；<br>
升级能力：增加耐久能力、火力、攻击速率、自我治疗、隐形；<br>
建造条件：盟军兵营+ 空指部/雷达/心灵探测器；入侵者战机<br><br>

谭雅 <br>（原版中可狙杀步兵及用C4炸弹炸毁建筑物与船只，在尤里的复仇中不受碾压，心灵免疫，增加爆破 战车的能力）<br>
制造费用：1000<br>
耐久能力：125<br>
装甲厚度：超轻型<br>
升级能力：增加耐久能力、火力、攻击速率、自我治疗、视野范围、散射能力<br>
建造条件：兵营 + 盟军作战实验室<br>
超时空兵 全名：超时空军团兵；<br>
建造费用：1500；建造条件: 盟军兵营 + 盟军作战实验室；<br>
升级能力：增加耐久能力、火力、攻击速率、自我治疗、视野范围；<br>
生命值：125；<br>
装甲厚度：超轻型；<br>
视野：8；<br>
速度：5（RulesMD说该速度无用）；<br>
老兵级强化：生命强化，伤害强化，攻击间隔降低，视野强化，速度上升；<br>
精英级强化：生命恢复，生命强化，伤害强化，攻击间隔降低；美国大兵<br><br>

海豹部队（仅盟军任务及尤里的复仇）<br>
需求：盟军兵营+空指部/雷达/心灵探测器；<br>
造价：1000；<br>
生命：125；<br>
移动速度：5；<br>
视野：8；<br>
主要武器：MP5；<br>
附注武器：Sapper；<br>
装甲：flak；<br>
对单兵伤害：100%；<br>
对建筑物伤害：100%；<br>
特殊能力：1.秒杀敌方步兵；<br>
2.爆破敌方建筑；<br>
3.两栖<br>
此外，冰天雪地等雪地地图的海豹突击队外貌则是白色的。<br><br>

伊文 全名：超时空伊文；<br>
(原版中间谍潜入盟军作战实验室后苏联兵营可训练，尤里的复仇中间谍潜入苏联作战实验室后任何兵营可训练)<br>
价格：1750<br>
生命：100<br>
装甲：无甲<br>
视野：8<br>
速度-- (超时空移动)<br>
主武器[IvanBomber]<br>
伤害：450<br>
攻击间隔：50<br>
射程：1.5（地面）<br>
对匍匐步兵伤害：100%<br>
杀伤半径：1.5<br>
最远处伤害比例：25%<br>
伤害对装甲：100%,100%,100%,100%,100%,100%,100%,250%,20%,100%,100%<br>
1、强健：不受车辆的碾压。<br>
2、超时空移动：瞬间传送到目的地，但传送后会一定时间内无法运动，其无法运动的时间与一次性传输 的距离成正比。<br>


</p>

<br>
<br>


<h3 style="font-weight: bold;" align="center">苏军阵营</h3>

<p>

武装采矿车 <br>
苏军采矿车。拥有20毫米机枪。在升至j精英级时，能发炮弹。<br><br>

犀牛坦克 <br>
苏军主战坦克，比盟军灰熊坦克 尤里狂风坦克都要强大 但价格比两者都贵。<br><br>


防空履带车 <br>
能发射防空炮弹的战车，也能对地攻击（十分弱），还能运输5名士兵。<br><br>

V3火箭发射车<br>
能发射威力强大射程极远的V3火箭。<br><br>

天启坦克 <br>
攻击防御都非常高的坦克，同时拥有防空导弹，但不能移动中攻击。<br><br>

恐怖机器人 <br>
能将敌方坦克撕碎的机器人，秒杀步兵。<br><br>

自爆卡车 (利比亚特色单位，自杀式武器，爆炸伤害很高，并带辐射。)<br>

磁能坦克 (苏俄特色单位，使用磁暴攻击，不可移动攻击。)<br><br>

苏联机动基地车 <br>
苏军基地车。<br><br><br>

动员兵<br>
价格：100 ； 动员兵<br>
生命：125；<br>
装甲：布甲；视野：5；<br>
速度：4；<br>
老兵级强化：生命强化，伤害强化，攻击间隔降低，视野强化，速度上升；<br>
精英级强化：生命恢复，生命强化，伤害强化，攻击间隔降低；<br>
建造条件：苏联兵营； 特殊能力：1.驻扎：占领民用建筑、战斗碉堡作为防御设施；<br><br>

工程师<br><br>

警犬<br>
造价：200<br>
生命：100<br>
视野：5<br>
装甲：无<br>
速度：6<br>
升级能力：自愈能力、增加生命耐久力、增加速度、增加视野范围<br>
建造条件：兵营<br><br>


磁暴步兵<br>

制造费用：500；<br>
耐久能力（生命）：130<br>
装甲类型：金属<br>
升级能力：增加耐久能力，火力，攻击速率，自我治疗；<br>
建造条件：磁能反应炉+苏联兵营；<br>
特殊能力：<br>
1.强健：不被碾压；<br>
⒉替磁暴线圈充能；<br>
主武器[ElectricBolt]<br>
伤害：50<br>
攻击间隔：60<br>
射程：3（地面）<br>
对匍匐步兵伤害：100%<br>
伤害对装甲：100%,100%,100%,85%,100%,100%,50%,50%,50%,200%,100%<br>
精英主武器[ElectricBoltE]<br>
伤害：50<br>
攻击间隔：40<br>
射程：5（地面）<br>
对匍匐步兵伤害比例：100%<br>
伤害对装甲：100%,100%,100%,85%,100%,100%,50%,50%,50%,200%,100%<br><br>



疯狂伊文<br>
伤害：400<br>
攻击间隔：50<br>
射程：1.5（地面）<br>
对匍匐步兵伤害：100%<br>
杀伤半径：1.5<br>
最远处伤害比例：0.25<br>
装入多功能步兵车后的属性<br>
疯狂伊文可装入多功能步兵车，<br>
变动属性如下：<br>
武器：CRNuke；<br>
伤害：200（自杀）；<br>
射程：1（地面）；<br>
对匍匐步兵伤害：100%；<br>
伤害对装甲：100%，100%，100%，90%，50%，50%，100%，150%，20%，100%，100%；<br>
杀伤半径：5；<br>
最远处伤害比例：25%；<br>
特殊能力：1、自杀兵种：被击毁时产生攻击效果。<br>
2、核污染：攻击时产生500浓度的辐射，范围5。<br><br>


恐怖分子 (古巴特色单位，自杀式武器。)<br><br>

辐射工兵 (伊拉克特色单位，能放出有毒的辐射，对步兵极为有效，也可对坦克，但不能对建筑物、矿车、蜘蛛，部署后形成辐射区。)<br><br>

尤里 (仅原版)<br><br>

尤里改<br>
生命：200<br>
护甲：flak<br>
科技限制：9<br>
视野：8<br>
速度：6<br>
所属阵营：苏联<br>
造价：2000<br>
卖出价格：250<br>
积分：50（用于遭遇战积分计算）<br>
建造限制：只能造1个<br>
对心灵攻击：免疫<br>
首武器：SuperMindControl<br>
射程：30<br>
攻击间隔：100<br>
弹头对护甲伤害百分比：100%,100%,100%,100%,100%,100%,0%,0%,0%,100%,100%<br>
副武器：PsiWave<br>
伤害：250<br>
射程：1<br>
攻击范围：50<br>
弹头对护甲伤害百分比：100%,100%,100%,0%,0%,0%,0%,0%,0%,0%,0%<br><br>


菁英战斗兵 (仅尤里的复仇)<br>
与盟军谭雅对应的英雄单位，步兵杀手，打坦克也很快，用红外线召唤米格战机来攻击建筑物。<br>

1、强健：不受车辆的碾压（不包括战斗要塞）。<br>
2、自愈：受伤后能自动恢复生命，每50的时间恢复20。<br>
3、马克思主义：不受心灵控制和神经毒气。<br><br>

登月火箭兵 （仅尤里的复仇倒数第二关）发射镭射光线攻击。<br>




</p>

</div>

<br>
<br>
</body>

{% endblock %}