{% extends "base.html" %}
{% load static %}

{% block page_content %}
<style type="text/css">
    #yuri p {
    	color: black;
    }
</style>
<div id="yuri">
    <br>
    <h1 align="center" style="font-weight: bold;">Yuri</h1>

    <h4 align="center" style="font-weight: bold;">The human brain is a Pandora's box of electrical charges we can only begin to understand. Most brains are but receivers; however, some are advanced, sending and receiving charges as they choose. - Yuri</h4>


<br><br>

<img id = "p_2" class="card-img-top" src="{% static 'img/yuri.png' %}" style="width: 160px; float: left; margin-right: 20px;" >

<p align="justify">Yuri is a powerful psychic that was once Premier Romanov's chief advisor and later turned against the world in a bid to take over with his secretly organized personal army. Most likely, he, not Romanov, was the true ruler of the USSR in the 1970s.

His appearance bears an uncanny resemblance to Vladimir Lenin and Kane, with a bald head and goatee. On his forehead are tattooed three Hebrew letters "resh" (ר), "vav" (ו), and "yod" (י), while psi stimulators linked to a psi collar underneath his clothes is surgically implanted into his skull. Professor Albert Einstein translated a Soviet poster for Agent Tanya at one point, on it was a reference to Yuri as "hostis humani generis", Latin for "the enemy of mankind".</p>


<br>
<h3>Background</h3>

<p align="justify">Much of Yuri's past remains unknown. He is of Romanian ancestry and inherited a castle in Transylvania from his family. During the Second World War, he took part in Stalin's secret project, whose aim was to create an army of psychically-gifted soldiers to guarantee victory. However, the war ended with the Soviet Union's defeat and Stalin's death, although this likely did not stop Yuri, who single-handedly continued it. It is possible that his implant is the original World War II model initially created by Soviet scientists.

Following the war, Yuri joined Premier Romanov, whom he helped in rearming the USSR, developing psychic technology and forming the backbone of the Psychic Corps.</p>

<p align="justify">尤里的大部分过去仍然未知。 他具有罗马尼亚血统，并从家人那里继承了特兰西瓦尼亚的一座城堡。 在第二次世界大战期间，他参加了斯大林的秘密项目，该项目的目的是建立一支精通天赋的士兵部队，以确保胜利。 然而，战争以苏联的失败和斯大林的死而结束，尽管这可能并没有阻止尤里一人继续下去。 他的植入物很可能是最初由苏联科学家创造的第二次世界大战模型。 战后，尤里（Yuri）加入总理罗曼诺夫（Romanov），他协助苏联复兴，发展了心理技术并形成了心理军团的骨干。</p>

<h3>Third World War</h3>

<p align="justify">Yuri played a key part in both the preparation and execution of the Soviet invasion of the USA, using his mind-control technology to prevent nuclear retaliation, and later to turn the American population into mindless slaves via giant Psychic beacons.

During the war, little was seen of Yuri from the Allied side, although the Allied commanders knew that he was a key advisor to Romanov, and few ventured to guess that his influence on Romanov was more than just that of an advisor. As Moscow fell, he disappeared for a time.

Although Yuri himself did not join combat during the Great World War III in any of the campaigns, there existed a number of units bearing his name. These 'Psi-Corps troopers' (referred to as 'Yuris' in multiplayer) had an uncanny resemblance to Yuri himself, later proven to be his clones.</p>

<p align="justify">尤里在苏维埃入侵美国的准备和执行过程中发挥了关键作用，利用他的思维控制技术防止核打击报复，后来通过巨大的心灵信标将美国人变成了无意识的奴隶。 在战争中，盟军指挥官们知道尤里是罗曼诺夫的重要顾问，尽管盟军指挥官知道他是罗曼诺夫的重要顾问，很少有人敢猜测他对罗曼诺夫的影响不仅仅是顾问。 莫斯科沦陷时，他消失了一段时间。 尽管尤里本人在第三次世界大战期间没有参加任何战役，但仍有许多单位以他的名字命名。 这些“ Psi-Corps士兵”（在多人游戏中被称为“ Yuris”）与Yuri本人有着不可思议的相似之处，后来被证明是他的克隆人。</p>


<h5>Alternative Fate</h5>

<p align="justify">When the Soviets were marching against the Allies, Yuri appeared sympathetic to an up-and-coming Soviet commander after General Vladmir took credit for the commander's victory in Florida. Yuri grew increasingly impressed with the commander's skills and began sending him on important missions. However, he later assassinated Premier Romanov using mind-control and declared himself the premier. Yuri also dismissed general Vladimir, who was leader of the Red Navy and put this function in charge of the Commander.

After the Soviet Commander successfully defeated the Allied navy in Pearl Harbor, Yuri accused general Vladimir of the murder of Romanov. Vladimir was later captured by the naive Commander.

After the destruction of the Weather Control Device in the US Virgin Islands, Yuri realised that the commander was proving "even more tenacious than he thought" and managed to invite the Commander to Moscow to "congratulate" him for his success personally. However the Commander found out what Yuri did to Romanov and assaulted the Kremlin with a huge army. Despite Yuri's taunts and the very great threat posed by his Psychic Corps he was killed by the collapse of the building.

The Soviets went on to secure the rest of the world for themselves, destroying the last Allied stronghold in Alaska that housed the Chronosphere. The Soviet Commander soon became the new Premier.

Shortly after his victory, he inexplicably heard the voice of Yuri in his mind...</p>

<p align="justify">当苏联军队向盟军进发时，弗拉德米尔将军因指挥官在佛罗里达州的胜利而获得赞誉，尤里对这位刚起步的苏联指挥官表示同情。尤里对指挥官的技能印象越来越深刻，并开始派他执行重要任务。但是，他后来利用头脑控制暗杀了罗曼诺夫总理，并宣布自己为总理。尤里（Yuri）还解雇了担任红海军首领的弗拉基米尔（Vladimir）将军，并由该司令部司令负责。在苏联指挥官成功击败珍珠港的盟军海军之后，尤里（Yuri）指控弗拉基米尔（Vladimir）将军谋杀了罗曼诺夫（Romanov）。弗拉基米尔后来被幼稚的司令俘虏。在美属维尔京群岛的天气控制装置被摧毁后，尤里意识到指挥官已证明“比他想像的还要坚韧”，并设法邀请指挥官亲自到莫斯科“祝贺”他的成功。但是，指挥官发现尤里对罗曼诺夫做了什么，并用一支庞大的军队进攻了克里姆林宫。尽管尤里（Yuri）受到了嘲讽，并且他的通灵军团构成了巨大威胁，但他还是被建筑物倒塌打死了。苏联人继续为自己保护世界其他地方，摧毁了在阿拉斯加容纳时空圈的最后一个盟军据点。苏联指挥官很快成为新总理。获胜后不久，他莫名其妙地听到了尤里的声音。</p>



<h3>Psychic Dominator Disaster</h3>

<p align="justify">During the Psychic Dominator Disaster, Yuri had stolen Soviet cloning technology; using it to create a number of clones. However, to protect himself from any clone plotting against him, Yuri engineered his clones to have inferior psychic abilities. Yuri himself was seen on the battlefield once or twice; he stood upon a hovering platform which rendered him immune to being trampled, and allowed him to cross over water. His powers were so well developed that he could mind control entire enemy structures, through the personnel within.

After the Allies had finally defeated Romanov's forces through a surprise Chronosphere invasion of Moscow, Yuri resurfaced. However, he had abandoned his former employers, and revealed that during the war, he had raised an army of his own and a planned to take over the world with mind-controlling Psychic Dominators in specific points all over the world. Yuri personally contacted President Dugan to gloat over this plan. Dugan originally tried to dissuade Yuri with an amnesty offer and leadership of Russia, however, Yuri preferred to rule the entire world over one country. At that point President Dugan ordered an airstrike which failed to destroy the Dominator in San Francisco, but damaged the nearby nuclear power plant providing power to the machine, allowing some Allied and Soviet command centers to avoid falling under Yuri's control. However, an overwhelming majority of humanity succumbed to Yuri's dominance permanently.

Albert Einstein invented a new time machine which allowed the Allies to travel back to a point in time when the Dominators were incomplete. They destroyed most of Yuri's bases and, after convincing the Soviets that Yuri was an enemy of everyone on the planet, the Allies and Soviets took up arms against Yuri together.</p>


<p align="justify">在精神控制者灾难期间，尤里（Yuri）窃取了苏联的克隆技术。使用它来创建许多克隆。但是，为了保护自己免受任何克隆对他的阴谋，尤里（Yuri）设计了他的克隆，使其心理能力较差。尤里本人曾在战场上见过一两次。他站在一个盘旋的平台上，使他免于被践踏，并让他越过水面。他的能力非常发达，他可以通过内部人员控制整个敌人的结构。在盟军通过意外的时空入侵莫斯科最终击败罗曼诺夫的部队之后，尤里浮出水面。但是，他放弃了以前的雇主，并透露在战争期间，他已经组建了一支自己的军队，并计划在世界各地的特定地点与控制心灵的“精神统治者”接管世界。尤里亲自与杜根总统取得联系，为这项计划感到高兴。杜甘最初试图通过大赦提议和对俄罗斯的领导来劝阻尤里，但尤里宁愿将整个世界统治一个国家。当时，杜根总统下令进行空中打击，但未能摧毁旧金山的“统治者”，但损坏了附近为该机器提供动力的核电站，从而使一些盟军和苏联指挥中心能够避免落入尤里的控制之下。但是，绝大多数人永久屈服于尤里的统治地位。阿尔伯特·爱因斯坦（Albert Einstein）发明了一种新的时光机，使盟国可以回到统治者不完整的时间点。他们摧毁了尤里的大部分基地，并说服苏维埃人尤里是地球上每个人的敌人之后，盟军和苏维埃一起对尤里采取了武器。</p>





<h3>Downfall</h3>

<p align="justify">After his final defeat in Antarctica, in the Allied account Yuri was captured and put into a Psychic Isolation Chamber, which was used to strip him of his mind control abilities. As General Carville put it best: "He won't be able to mind control a fly.". He would have stayed in his chamber for the rest of his life, had there not been the merging of the timelines caused by the time-travel...</p>


<p align="justify">在南极最终失败之后，尤里因盟军身份被捕，并被送入了一个心理隔离室，该隔离室被用来剥夺他的心理控制能力。 正如卡维尔将军所说的那样：“他将无法控制苍蝇。” 如果没有时间旅行引起的时间线合并，他将在他的余生中待在他的房间里。</p>




<h5>Alternate Fate</h5>

<p align="justify">Soviets used Einstein's time machine to revert the disaster and to punish Yuri by Soviet hands. After destroying the Chronosphere to prevent the war-ending chrono-attack, Moscow then fought against Yuri and his uncompleted Dominators.

It appeared that Yuri had a base on the Moon where he'd stay after the successful Psychic Dominator Disaster. However the base was destroyed, thus Yuri had to retreat to his ancestral family castle in Transylvania.

The castle was guarded by Yuri's forces as well as bases of Allies and Soviets loyal to him due to the fact that they were under control of his old, operational Psychic beacons. Fortunately, the beacons were destroyed and the castle, surrounded from all sides, was an easy target for the Red Army.

However, Yuri still had one surprise. Under the ruins of the structure he had a time machine, the same one which the Soviets used to revert the Psychic Domination Disaster. Yuri wanted to time-travel back in past to revert the reverting of Psychic Dominator Disaster. He was just commencing time-travel with tense: "The world will be mine to Command and Conquer."

However, Zofia used the machine command-codes to overload the machine's power by overloading its circuits. This caused Yuri to travel way too far into the past - to the age of dinosaurs. From there, Yuri is attacked, and presumably slain, by a Tyrannosaurus Rex (or he mind controlled it, but that is unlikely).</p>



<p align="justify">苏联人使用爱因斯坦的时间机器来挽救灾难并用苏联人的手惩罚尤里。在破坏了时空层以防止战争结束的计时攻击之后，莫斯科随后与尤里及其未完成的统治者作战。看来尤里（Yuri）在月球上有一个基地，在成功的《精神统治者》灾难之后他将留在那里。但是基地被摧毁了，因此尤里不得不撤退到他在特兰西瓦尼亚的祖传城堡。这座城堡由尤里（Yuri）的部队以及忠于他的盟军和苏维埃基地控制，原因是他们受到了他古老的，可操作的Psycha信标的控制。幸运的是，灯塔被摧毁，城堡四周四面环绕，是红军的轻易目标。然而，尤里仍然有一个惊喜。在建筑物的废墟下，他有一台时间机器，与苏联人用来恢复精神统治灾难的机器相同。尤里（Yuri）想回溯过去，以扭转精神支配者灾难的重演。他只是紧张地开始时间旅行：“世界将成为指挥与征服的世界。”但是，Zofia使用机器命令代码通过使机器电路过载来使机器功率过载。这导致尤里（Yuri）走过了很久，直到恐龙时代。从那里，尤里被霸王龙攻击（大概被杀死）（或者他控制住了霸王龙，但是那不太可能）。</p>




<h3>Military Strength</h3>

<p align="justify">
	"Yuri" sometimes refers to the army under Yuri's command rather than the man himself.

Yuri was the leader of a very versatile and efficient army. Yuri and his mad scientists conducted secret researches which resulted in great scientific advances, which Yuri exploited to the full.

Yuri relied on mind-control, cloning, advanced magnetic weapons, and laser technology, as well as speed, maneuverability and flexibility to bring him victory on the battlefield.

Among the players, Yuri's faction is considered both unbalanced and overpowered. Although he does not have as many units as his enemies, those that he possesses are very easy to mass early in the game, such as the Boomer submarine.
</p>

<p align="justify">“尤里”有时是指尤里指挥下的军队，而不是该人本人。 尤里（Yuri）是一支非常多才多艺，高效的军队的领导人。 尤里和他疯狂的科学家进行了秘密研究，从而产生了巨大的科学进步，尤里对此加以了充分利用。 尤里依靠思想控制，克隆，先进的磁性武器和激光技术，以及速度，机动性和灵活性来使他在战场上取得胜利。 在球员中，尤里的派系被认为既不平衡，又过于强大。 尽管他的敌人数量不及他，但他拥有的单位在游戏初期很容易被集结，例如Boomer潜水艇。</p>




<h3>The army</h3>

<p align="justify">Yuri is most notorious for his mind-control and brainwashing abilities. His secret army used many psychic units like the Yuri clone, the Mastermind and the Psychic Tower. Yuri commanders would use these to turn enemy units against each other. If powerful units were captured, then they would fight for the Yuri player to help defend his base. Captured units could also be sent into a grinder for a extra funding, supplementing the income from Slave Miners. Slave Miner refineries, unlike Allied or Soviet Ore Refineries, can freely move around the battlefield to mine any available ore. This can significantly save time in transporting ore back to the refinery, and eliminates the need to build extra refineries in far away mining locations. Using the Slave Miners alongside the Genetic Mutator and sending mind-controlled units into the Grinder can build a super-stable economy, and experienced players find that money is rarely (if ever) a problem.</p>


<p align="justify">尤里（Yuri）因其思维控制和洗脑能力而臭名昭著。 他的秘密部队使用了许多精神部队，例如尤里克隆人，策划者和精神塔。 尤里（Yuri）指挥官将利用这些武器使敌军相互对抗。 如果抓获了强大的部队，那么他们将为尤里球员而战，以帮助保卫自己的基地。 被俘虏的单位也可以被送入磨床以获得额外的资金，以补充奴隶矿工的收入。 与盟军或苏联矿石精炼厂不同，奴隶矿工精炼厂可以在战场上自由移动以开采任何可用的矿石。 这可以大大节省将矿石运回精炼厂的时间，并且无需在遥远的采矿地点建造额外的精炼厂。 将奴隶矿工与基因突变者一起使用，并将心智控制的部队派遣到磨床可以建立超级稳定的经济体系，而经验丰富的参与者发现，钱几乎（如果有的话）不是问题。</p>





<h5>Infantry</h5>

<p align="justify">Yuri's initiates were more powerful than either the Allied G.I. or the Soviet Conscript, being able to start fires with only their minds. They were very effective against infantry and structures, as well as vehicles when garrisoned in a building.
Yuri had his own engineers, identical to Allied and Soviet ones.
The Brute was Yuri's tank hunter. It is a huge mutant who can smash almost anything with its powerful fists. They are specially designed to take out enemy tanks, because tank weapons are almost useless against Brutes. Brutes are immune to dogs, because their veins are embedded too deeply in their bodies for a dog to tear out - not to mention, canines are simply to scared of them to attack. Terror Drones, however, are still a problem. They are also immune to Yuri's mind control, because their psychology differed so greatly from a normal human.
The Virus was Yuri's sniper unit. Much like the British sniper, these female soldiers could kill infantry from a great range. While the British snipers had greater attack range, the Virus was armed with deadly toxins that could quickly kill infantry units, causing them to explode in a cloud of toxic viral fumes. Even structures and tanks were slightly damaged when coming into contact with these clouds, while infantry would explode and die, creating a chain reaction.
Yuri deployed a slightly cheaper mind-control unit called the Yuri clone. It cost 800 credits and works the same way as the old Psi-Corps trooper. Although it maintains the original Yuri model, it has a different dialogue.
Yuri's last unit required a Battle Lab to train, and was Yuri himself, riding a hovering platform. A player may train only one Yuri Prime at a time in multiplayer (unless a Cloning vat is built). He could mind-control most base defenses, structures, infantry units, tanks, or ships. Yuri Prime's secondary weapon was much more useful than his clones, as his psychic shockwave did not harm friendly infantry. He also had a shorter cooldown time than his clones.</p>


<p align="justify">尤里的同修比盟军G.I.或苏联应征者，只能用他们的思想开火。它们对驻扎在建筑物中的步兵和建筑物以及车辆非常有效。尤里拥有自己的工程师，与盟军和苏联的工程师相同。蛮族是尤里的坦克猎人。它是一个巨大的变种，可以用其强大的拳头粉碎几乎所有东西。它们是专门用来消灭敌方坦克的，因为坦克武器对付蛮族几乎是无用的。野蛮人对狗免疫，因为它们的静脉太深地埋在他们的体内，以至于狗无法撕裂-更不用说，犬只简直害怕它们攻击。然而，恐怖无人机仍然是一个问题。他们也不受尤里（Yuri）精神控制的影响，因为他们的心理与正常人有很大差异。病毒是尤里的狙击部队。这些女兵很像英国的狙击手，可以在很大范围内杀死步兵。尽管英国狙击手的攻击范围更大，但该病毒却带有致命毒素，可以迅速杀死步兵单位，使它们在有毒的病毒烟雾中爆炸。当与这些云层接触时，甚至建筑物和坦克也会受到轻微损坏，而步兵会爆炸并死亡，造成连锁反应。尤里（Yuri）部署了一个价格便宜的心理控制单元，称为尤里克隆（Yuri clone）。它花费了800个学分，其工作方式与旧的Psi-Corps士兵相同。尽管它保留了原始的Yuri模型，但对话方式却有所不同。尤里（Yuri）的最后一个部队需要战斗实验室训练，而尤里本人则是在悬停的平台上训练。玩家一次只能在多人游戏中训练一个Yuri Prime（除非建造了克隆缸）。他可以控制大多数基础防御工事，建筑物，步兵部队，坦克或船只。尤里·普里姆（Yuri Prime）的次要武器比其克隆人有用得多，因为他的心灵冲击波不会伤害友军步兵。与克隆人相比，他的冷却时间更短。</p>




<h5>Vehicles</h5>

<p align="justify">His main battle tank was the Lasher Light Tank. Although it was not as strong as heavier tanks, such as the Rhino Heavy Tank, it was very fast and matched the Grizzly Battle Tank. When stationed in a tank bunker, it was heavily armoured versus ground attacks and made a very effective base defense.
Chaos Drones could deploy to emit a special toxin which drove enemy infantry berserk, turning them temporarily against their comrades. It could remain in this state for an extended period or redeploy at will.
His Gattling tanks were very fast and could easily kill infantry and shoot down aircraft. Once their guns spun up fully, they would do heavy damage even to Kirov Airships and some light tanks. These two vehicles comprised the bulk of Yuri's armoured divisions and allow Yuri's forces to conduct very fast offensives.
They were supported by various high-tech units including the Magnetron, which was useful against vehicles. While they did not damage vehicles, they allowed Yuri commanders to lift and drag enemy vehicles toward Yuri clones or Masterminds. Magnetized vehicles could not attack, but were vulnerable to anti-air fire, while airborne, helping to destroy them. The Magnetron acted as the Yuri artillery and could be used to tear buildings apart from afar.
The Mastermind was Yuri's ultimate mind-control unit. It was the near equivalent of a mobile psychic tower, being able to control up to three units safely. However it could not stop at a safe number. Instead, they controlled anything they could target in the vicinity. This resulted in a "brainwave overload" that could severely damage and even destroy the Mastermind, requiring near-constant supervision by its commander, lest it be lost.</p>


<p align="justify">他的主战坦克是Lasher轻型坦克尽管它不如Rhino重型坦克那样重，但速度却非常快，与Grizzly Battle Tank相当。当驻扎在坦克掩体中时，它是重装甲部队，可抵抗地面攻击，并具有非常有效的基础防御能力。混沌无人机可能会散发出特殊的毒素，这种毒素会驱使敌人的步兵发疯，使他们暂时无法战胜同志。它可以长期处于此状态或随意重新部署。他的加特林坦克非常快，可以轻易杀死步兵并击落飞机。一旦他们的枪完全旋转，他们甚至会对基洛夫飞艇和一些轻型坦克造成严重伤害。这两辆车组成了尤里的大部分装甲师，并允许尤里的部队进行非常快速的进攻。它们得到了包括磁控管在内的各种高科技部门的支持，这对车辆很有用。尽管他们没有损坏车辆，但允许尤里指挥官将敌方车辆抬起并拖向尤里克隆人或策划者。磁化的车辆无法攻击，但在空中时容易受到防空火的伤害，有助于摧毁它们。磁控管充当了尤里大炮，可以用来撕毁远处的建筑物。策划者是尤里的终极精神控制部门。它几乎相当于一座移动精神塔楼，能够安全地控制多达三个单位。但是，它不能停在一个安全的数字上。取而代之的是，他们控制了可能在附近瞄准的任何东西。这导致了“脑波超载”，可能会严重损坏甚至摧毁“策划者”，需要其指挥官近乎不断的监督，以免迷失。</p>




<h5>Aircraft</h5>

<p align="justify">Yuri did not use conventional aircraft like the Allied Harrier and the Soviet MiG. He possessed the Floating Disc, a flying saucer that could destroy infantry and vehicles with its powerful laser. Yuri's Floating Disc had a secondary ability, the siphon, such that when ordered to attack a power plant, it could drain its power. Used against an enemy Refinery, it could steal credits, giving them to Yuri, until there were none left or the Disc was shot down. If the Floating Disc was ordered to attack a base defense, it would instead power it down, with the exception of the Allied pillboxes, Gap Generator, Grand Cannon; Soviet battle bunker, sentry gun; and Yuri tank bunker. These exceptions and all factions' superweapons would be fired upon like regular structures. Floating Discs may continue to fire their lasers when syphoning, so are far from defenseless.</p>


<p align="justify">尤里没有使用传统的飞机，如盟军Har和苏联米格。 他拥有浮盘，这是一种飞碟，可以用强大的激光摧毁步兵和车辆。 尤里的浮动圆盘具有辅助功能，即虹吸管，因此当受命攻击发电厂时，它可能会耗尽其动力。 用于对付敌人的炼油厂，它可以窃取信用额度，将其赠送给尤里，直到剩下的信用额度或光盘被击落为止。 如果命令浮动碟攻击基本防御，它会掉电，但盟军的药盒，裂隙发生器，大炮除外； 苏联战斗bun堡，哨兵； 和尤里坦克掩体 这些例外情况和所有派系的超级武器都将像常规结构一样被发射。 虹吸管时，浮动光盘可能会继续发射激光，因此远非无可辩驳。</p>





<h5>Navy</h5>

<p align="justify">Yuri had his own amphibious transports, identical to Soviet ones in armour and similar to Allied ones in appearance.
The Boomer Submarine was Yuri's only combatant naval unit. It was a stronger version of the Soviet Typhoon attack submarine, able to fire two torpedoes at once, it could also launched ballistic missiles on land targets like the Soviet Dreadnought.</p>



<p align="justify">尤里（Yuri）有自己的两栖交通工具，与苏联的装甲车相同，在外观上与盟军的相似。 婴儿潮潜艇是尤里唯一的海军作战单位。 它是苏联台风攻击潜水艇的更强版本，能够一次发射两枚鱼雷，还可以在苏联无畏舰等陆上目标上发射弹道导弹。</p>




<h5>Superweapons</h5>

<p align="justify">The Genetic mutator turned any infantry, either friendly, hostile, or neutral into loyal Brutes. (Animals - such as dogs, squid, and dolphins - cannot be mutated, they simply die.)
The Psychic dominator was Yuri's ultimate weapon, capable of permanently mind-controlling any units within a 3x3 area. It would unleash raw psychic energies capable of damaging or destroying structures. Units garrisoned inside a structure would be mind-controlled, if the power was used on the building. Using the Psychic Dominator in combination with the Genetic Mutator could turn many enemy units against their allies even in the heart of an enemy base, causing immense chaos.</p>


<p align="justify">基因变异器将任何友军，敌对或中立的步兵变成忠诚的蛮族。 （动物，例如狗，乌贼和海豚，不能变异，它们只会死亡。）心灵控制者是尤里的终极武器，能够永久地控制3x3区域内的任何单位。 它将释放出可能破坏或破坏建筑物的原始精神能量。 如果建筑物上使用了电源，则驻守在建筑物内的单位将受到思想控制。 将Psychic Dominator与Genetic Mutator结合使用，即使在敌人基地的心脏地带，也会使许多敌军单位对阵其盟友，从而造成巨大混乱。</p>

<br><br>


</div>

{% endblock %}


