{% extends "base.html" %}
{% block page_content %}
{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style type="text/css">
    #p_1 {
        margin-left: 15px;
        margin-right: 15px;

    }

    #base2, .row {
        margin-left: 100px;

        width: 950px;
        margin: 0 auto;
    }


    .pagination a  {
      
      color: black;
      padding: 6px 16px;
    }

    .pagination .active  {
      background-color: lightgray;
      padding: 1px 16px;
      color: white;

    }

    #page h3 {
      margin-top: 6px;
      
    }


    /* Style the search field */
    form.example input[type=text] {
      padding: 10px;
      font-size: 17px;
      border: 1px solid grey;
      float: left;
      width: 60%;
      height: 80%;
      background: #f1f1f1;

      margin-top: 12px;
    }

    /* Style the submit button */
    form.example button {
      float: left;
      width: 20%;
      height: 80%;
      padding: 10px;
      background: #2196F3;
      color: white;
      font-size: 17px;
      border: 2.5px solid #2196F3;
      border-left: none; /* Prevent double borders */
      cursor: pointer;

      margin-top: 12px;

    }

    form.example button:hover {
      background: #0b7dda;
    }

    /* Clear floats */
    form.example::after {
      content: "";
      clear: both;
      display: table;
    }


</style>

<br>

<div id="main">

{% if user.is_authenticated %}

  {% if language == "Chinese" %}
    <div class="row">
        <h1 style="margin-left: 72px; margin-right: 50px; font-weight: bold;">分享你的游戏体验!</h1>


          {% if user.is_staff %}                      

            {% if user.is_authenticated %}
                <a style="color: #00008B; margin-top: 5px;margin-right: 183px;" class="navbar-brand" href="{% url 'post_video' %}">投稿</a>
            {% else %}
                <a style="color: #00008B; margin-top: 5px;margin-right: 160px;" class="navbar-brand" href="{% url 'login' %}">登录投稿</a>
            {% endif %}

          {% endif %}
        

        <form class="example" action="{% url 'video_search' %}" method="get">
            <input type="text" placeholder="Search.." name="search_result">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>

    </div>

    <hr>

  {% else %}
    <div class="row">
        <h1 style=" margin-left: 72px; margin-right: 50px; font-weight: bold;">Share your story!</h1>

        {% if user.is_staff %}          

        {% if user.is_authenticated %}
            <a style="color: #00008B; margin-top: 5px; margin-right: 160px;" class="navbar-brand" href="{% url 'post_video' %}">Upload</a>
        {% else %}
            <a style="color: #00008B; margin-top: 5px;margin-right: 120px;" class="navbar-brand" href="{% url 'login' %}">Login First</a>
        {% endif %}

        {% endif %}

        <form class="example" action="{% url 'video_search' %}" method="get">
            <input type="text" placeholder="Search.." name="search_result">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>

    </div>

    <hr>

  {% endif %}

{% else %}

    <div class="row">
        <h1 style="margin-left: 72px; margin-right: 50px; font-weight: bold;">Share your story!</h1>

        {% if user.is_staff %}          

        {% if user.is_authenticated %}
            <a style="color: #00008B; margin-top: 5px;margin-right: 160px;" class="navbar-brand" href="{% url 'post_video' %}">Upload</a>
        {% else %}
            <a style="color: #00008B; margin-top: 5px;margin-right: 120px;" class="navbar-brand" href="{% url 'login' %}">Login First</a>
        {% endif %}

        {% endif %}

        <form class="example" action="{% url 'video_search' %}" method="get">
            <input type="text" placeholder="Search.." name="search_result">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>

    </div>

    <hr>

{% endif %}


<div id="base" >
<div id="base2" class="row" style="width: 840px; margin: 0 auto;">

    {% for item in posts %}

    <div id = "p_1">
        
        <video width="250" height="210" playsinline controls="true">
          <source src="{{item.1.video.url}}" >
          
        </video>
        <div style="width:250px;" align="center">
            <h5>{{ item.0.title }} </h5>
        </div>

        <div align="center" >
            <h6>{{ item.0.user }} |&nbsp;{{ item.0.created_on.date }}</h6>
        </div>
    </div>
    <br>
      
    {% endfor %}

</div>
</div>


<br><br>

<div id="page" style="width: 840px; margin: 0 auto; ">
{% if posts.has_other_pages %}
  <ul class="pagination" style="margin-left: 30px;">
    {% if posts.has_previous %}
     <h3> <li><a href="?page={{ posts.previous_page_number }}">Prev</a></li></h3>
    {% else %}
      <h3><li class="disabled"><span>Prev&nbsp;</span></li></h3>
    {% endif %}


    {% if posts.number|add:'-4' > 1 %}
    <h3><li><a href="?page={{ posts.number|add:'-5' }}">&hellip;</a></li></h3>
    {% endif %}

    {% for i in posts.paginator.page_range %}
        {% if posts.number == i %}
            <h3 style="border-style: groove; border-color: black;"><li class="active"><span>{{ i }}</span></li></h3>
        {% elif i > posts.number|add:'-5' and i < posts.number|add:'5' %}
            <h3><li><a href="?page={{ i }}">{{ i }}</a></li></h3>
        {% endif %}
    {% endfor %}

    {% if posts.paginator.num_pages > posts.number|add:'4' %}
        <h3><li><a href="?page={{ posts.number|add:'5' }}">&hellip;</a></li></h3>
    {% endif %}


    {% if posts.has_next %}
       <h3><li><a href="?page={{ posts.next_page_number }}">Next</a></li></h3>
    {% else %}
       <h3><li class="disabled"><span>&nbsp;Next</span></li></h3>
    {% endif %}
  </ul>
{% endif %}

</div>



</div>


{% endblock %}
