{% extends "base.html" %}
{% block page_content %}
{% load static %}
<html lang="zh">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
    
</head>
<body>
<br>
<br>

	{% ifequal finished False %}
    <h3>&nbsp;&nbsp;请回答以下问题：</h3>

    <form action="/data/predict/" method="post">
        {% csrf_token %}
        <div class="form-group col-md-6">
            {{ form.q1 }}
        </div>
        <div class="form-group col-md-6">
            {{ form.q2 }}
        </div><div class="form-group col-md-6">
            {{ form.q3 }}
        </div>
        <div class="form-group col-md-6">
            {{ form.q4 }}
        </div>
        <div class="form-group col-md-6">
            {{ form.q5 }}
        </div>
        <div class="form-group col-md-6">
            {{ form.q6 }}
        </div>
        <div class="form-group col-md-6">
            {{ form.q7 }}
        </div>
        <div class="form-group col-md-6">
            {{ form.q8 }}
        </div>
        <div class="form-group col-md-6">
            {{ form.q9 }}
        </div>
        <div class="form-group col-md-6">
            {{ form.q10 }}
        </div>
        <div class="form-group col-md-6">
            {{ form.q11 }}
        </div>
        <div class="form-group col-md-6">
            {{ form.q12 }}
        </div>
        <div class="form-group col-md-6">
            {{ form.q13 }}
        </div>
        <div class="form-group col-md-6">
            {{ form.q14 }}
        </div>

       &nbsp;&nbsp;
       <button type="submit" class="btn btn-primary">提交</button>
    </form>
    {% else %}
    <h4>您的等级预测结果：{{level}}</h4>
    <br><br>
    <h4>您的回答：</h4>
    <br>
    <p>{{question.0}} {{ contents.q1 }} &nbsp;&nbsp;&nbsp;&nbsp;<b>{{answer.0}}</b> </p>
    <p>{{question.1}} {{ contents.q2 }} &nbsp;&nbsp;&nbsp;&nbsp;<b>{{answer.1}}</b></p>
    <p>{{question.2}} {{ contents.q3 }} &nbsp;&nbsp;&nbsp;&nbsp;<b>{{answer.2}}</b></p>
    <p>{{question.3}} {{ contents.q4 }} &nbsp;&nbsp;&nbsp;&nbsp;<b>{{answer.3}}</b></p>
    <p>{{question.4}} {{ contents.q5 }} &nbsp;&nbsp;&nbsp;&nbsp;<b>{{answer.4}}</b></p>
    <p>{{question.5}} {{ contents.q6 }} &nbsp;&nbsp;&nbsp;&nbsp;<b>{{answer.5}}</b></p>
    <p>{{question.6}} {{ contents.q7 }} &nbsp;&nbsp;&nbsp;&nbsp;<b>{{answer.6}}</b></p>
    <p>{{question.7}} {{ contents.q8 }} &nbsp;&nbsp;&nbsp;&nbsp;<b>{{answer.7}}</b></p>
    <p>{{question.8}} {{ contents.q9 }} &nbsp;&nbsp;&nbsp;&nbsp;<b>{{answer.8}}</b></p>
    <p>{{question.9}} {{ contents.q10 }} &nbsp;&nbsp;&nbsp;&nbsp;<b>{{answer.9}}</b></p>
    <p>{{question.10}} {{ contents.q11 }} &nbsp;&nbsp;&nbsp;&nbsp;<b>{{answer.10}}</b></p>
    <p>{{question.11}} {{ contents.q12 }} &nbsp;&nbsp;&nbsp;&nbsp;<b>{{answer.11}}</b></p>
    <p>{{question.12}} {{ contents.q13 }} &nbsp;&nbsp;&nbsp;&nbsp;<b>{{answer.12}}</b></p>
    <p>{{question.13}} {{ contents.q14 }} &nbsp;&nbsp;&nbsp;&nbsp;<b>{{answer.13}}</b></p>

    <br>
    <a style="font-weight: bold; font-size: 25px; color: #00008B;" href="{% url 'data_predict' %}">
            重新评估
        </a>

    {% endifequal %}

    <br/>
    <br/>
    <br/>
    <br/>
    <hr>


<div style="width: 1000px;">

<i class="fa fa-wechat" style="font-size:48px;color:#00FF00;margin-right:30px"></i>
<i class="fa fa-qq" style="font-size:48px;color:black;margin-right:30px"></i>
<i class="fa fa-facebook-official" style="font-size:48px;color:blue;margin-right:30px"></i>

<i class="fa fa-twitter" style="font-size:48px;color:#A9D8FF;margin-right:30px"></i>

<i class='fa fa-amazon' style="font-size:48px;color:black;margin-right:30px"></i>

<i class='fa fa-linkedin' style="font-size:48px;color:#3498db;margin-right:30px"></i>

<i class='fa fa-apple' style="font-size:48px;color:black;margin-right:30px"></i>

<i class='fa fa-instagram' style="font-size:48px;color:purple;margin-right:30px"></i>

<i class='fa fa-google' style="font-size:48px;color:blue;margin-right:30px"></i>

<i class='fa fa-snapchat' style="font-size:48px;color:#FFFF00;margin-right:30px"></i>

<i class='fa fa-git-square' style="font-size:48px;color:black;margin-right:30px"></i>

<i class='fa fa-imdb' style="font-size:48px;color:#CCCC00;margin-right:30px"></i>



<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

</body>
</html>
{% endblock %}
