{% extends "base.html" %}
{% load static %}
{% block page_content %}

<html lang="zh">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<h1>该板块尚未开放，敬请期待</h1>


	    </br>
		</br>

	    </br>
		</br>

		<i class="fa fa-wechat" style="font-size:48px;color:#00FF00;margin-right:30px"></i>
		<i class="fa fa-qq" style="font-size:48px;color:black;margin-right:30px"></i>
		<i class="fa fa-facebook-official" style="font-size:48px;color:blue;margin-right:30px"></i>

		<i class="fa fa-twitter" style="font-size:48px;color:#A9D8FF;margin-right:30px"></i>

		<i class='fa fa-amazon' style="font-size:48px;color:black;margin-right:30px"></i>

		<i class='fa fa-apple' style="font-size:48px;color:black;margin-right:30px"></i>

		<i class='fa fa-instagram' style="font-size:48px;color:purple;margin-right:30px"></i>

		<i class='fa fa-google' style="font-size:48px;color:blue;margin-right:30px"></i>

		<i class='fa fa-snapchat' style="font-size:48px;color:#FFFF00;margin-right:30px"></i>

		<i class='fa fa-git-square' style="font-size:48px;color:black;margin-right:30px"></i>

		<i class='fa fa-imdb' style="font-size:48px;color:#CCCC00;margin-right:30px"></i>

		<i class='fa fa-linkedin' style="font-size:48px;color:#3498db;"></i>

		</br>
		</br>
		</br>

	</body>
</html>
{% endblock %}
