{% extends "base.html" %}
{% block page_content %}
{% load static %}

<style type="text/css">
    
    input[type=submit] {

    border-radius: 3px;
    border: 0;
    width: 70px;
    height: 30px;

    margin-right: 10vw;

    font-family: Tahoma;
    background: #f4f4f4;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f4f4f4), color-stop(100%, #ededed));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f4f4f4 1%, #ededed 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ededed', GradientType=0);
    /* IE6-9 */

    }

</style>

{% if user.is_authenticated %}

  {% if language == "Chinese" %}
      <form id="post_form" method="post" action="" enctype="multipart/form-data">

        <br />

        {% csrf_token %}
        {% for hidden in postForm.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <h3>标题</h3>
        {% for field in postForm %}
            {{ field }} <br /><br />
        {% endfor %}
        <h3>最多上传3张图片：</h3>

        {{ formset.management_form }}
        {% for form in formset %}
            {{ form }} <br />
        {% endfor %}
        <br />

        <input type="submit" name="submit" value="提交" />
      </form>

  {% else %}
    <form id="post_form" method="post" action="" enctype="multipart/form-data">

        <br />

        {% csrf_token %}
        {% for hidden in postForm.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <h3>Title</h3>
        {% for field in postForm %}
            {{ field }} <br /><br />
        {% endfor %}
        <h3>Maximum 3 pictures：</h3>

        {{ formset.management_form }}
        {% for form in formset %}
            {{ form }} <br />
        {% endfor %}
        <br />

        <input type="submit" name="submit" value="Submit" />
    </form>

  {% endif %}

{% else %}
    <form id="post_form" method="post" action="" enctype="multipart/form-data">
        <br />

        {% csrf_token %}
        {% for hidden in postForm.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <h3>Title</h3>
        {% for field in postForm %}
            {{ field }} <br /><br />
        {% endfor %}
        <h3>Maximum 3 pictures：</h3>

        {{ formset.management_form }}
        {% for form in formset %}
            {{ form }} <br />
        {% endfor %}
        <br />

        <input type="submit" name="submit" value="Submit" />

    </form>

{% endif %}


{% for message in messages %}

    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>

        {{ message }}

    </div>

{% endfor %}


{% endblock %}
